Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

support mixed natoms training (#2366)
  deepmd/utils/data.py
  deepmd/utils/neighbor_stat.py
  doc/model/train-se-atten.md
  source/op/neighbor_stat.cc
  source/tests/common.py
  source/tests/test_virtual_type.py
Due: Python, OP

Fix incompatibility after fixing the incontinuity of se_atten (#2397)
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
Due: Python

fix the version of pypa/gh-action-pypi-publish (#2389)
  .github/workflows/build_wheel.yml
Due: none

link op library with protobuf (#2391)
  source/op/CMakeLists.txt
Due: OP

atype_filter should have the shape of nloc (#2390)
  deepmd/fit/ener.py
Due: Python

clean old handlers before adding new one (#2400)
  deepmd/loggers/loggers.py
Due: Python

fix typo (#2404)
  deepmd/descriptor/descriptor.py
  deepmd/utils/argcheck.py
Due: Python

C API: support fparam and aparam for DeepPot (#2415)
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam_nframes.cc
Due: C API

support mixed systems training (#2372)
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  examples/nopbc/mixed/input.json
  source/tests/test_deepmd_data_sys.py
Due: Python

fix pdf docs (#2401)
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_mask.py
  deepmd/fit/ener.py
  deepmd/utils/network.py
  doc/conf.py
Due: Python

keep the file permission when `make lammps` (#2414)
  source/cmake/cmake_lammps.cmake.in
Due: none

fix lmp_version.sh (#2417)
  source/lmp/lmp_version.sh
Due: LAMMPS

Add docs for 'None' activation functions. (#2376)
  deepmd/common.py
  deepmd/utils/argcheck.py
Due: Python

enable openmp for gelu (#2375)
  source/lib/src/gelu.cc
Due: Core

Support different learning rate settings for each fitting net in multi-task mode (#2348)
  deepmd/entrypoints/freeze.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/multi_init.py
  source/tests/test_init_frz_model_multi.py
  source/tests/water_multi.json
Due: Python

bump to TF 2.12 (#2422)
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  setup.py
  source/install/build_cc.sh
  source/install/docker_package_c.sh
  source/install/package_c.sh
  source/install/test_cc_local.sh
Due: none

set mixed_type to True for mixed systems (#2428)
  deepmd/descriptor/se_atten.py
  deepmd/utils/data_system.py
Due: Python

fix C API documentation (#2424)
  doc/environment.yml
Due: none

fix: descriptor function doc (#2440)
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
Due: Python

nvnmd: fix some warnings about matmul_flt_nvnmd (#2430)
  source/op/matmul_flt_nvnmd.cc
  source/tests/test_nvnmd_op.py
  source/tests/test_nvnmd_se_a.py
Due: OP

Docs: Fix typo in parallel-training.md (#2438)
  doc/train/parallel-training.md
Due: none

fix: avoid `using namespace std;` in header files (#2437)
  source/api_cc/include/AtomMap.h
  source/api_cc/include/version.h.in
  source/ipi/include/Convert.h
  source/ipi/include/XyzFileManager.h
  source/lib/include/SimulationRegion_Impl.h
  source/md/include/AdWeight.h
  source/md/include/Convert.h
  source/md/include/Gaussian.h
  source/md/include/HarmonicAngle.h
  source/md/include/HarmonicBond.h
  source/md/include/Integrator.h
  source/md/include/LJInter.h
  source/md/include/LJTab.h
  source/md/include/MaxShift.h
  source/md/include/Statistics.h
  source/md/include/TF.h
  source/md/include/Tabulated.h
  source/md/include/Trajectory.h
  source/md/include/UnitManager.h
  source/md/include/XyzFileManager.h
  source/md/include/ZM.h
  source/md/include/ZMFunctions.h
  source/md/include/common.h
Due: Core, C++ API

`source` a relative path (#2420)
  source/lmp/Install.sh
Due: LAMMPS

support xla for CUDA pip packages (#2427)
  deepmd/env.py
  setup.py
Due: Python

add read_file_to_string to C API (#2412)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_read_file_to_string.cc
Due: C API

docs: add links to documentation in LAMMPS input
  examples/water/lmp/in.lammps
  examples/water/lmp/in.plugin.lammps
Due: none

remove redundant code
  deepmd/descriptor/se_atten.py
Due: Python

modify deepmd/utils/convertpy to solve error "tensorflow.python.framework.errors_impl.InvalidArgumentError: Node 'model_attr/model_version' is not unique" when convert from TF1.x to TF2.x
  deepmd/utils/convert.py
Due: Python

add tf.compat.v1.gfile.GFile in deepmd/utils/convert.py
  deepmd/utils/convert.py
Due: Python

add DOSFitting test
  deepmd/fit/dos.py
  source/tests/test_fitting_dos.py
  source/tests/train_dos.json
Due: Python

add unit test for `DOSmodel`
  source/tests/test_model_dos.py
Due: none

rename the suffix in `model.build`
  source/tests/test_fitting_dos.py
  source/tests/test_model_dos.py
Due: none

Create DeePMD-kit_Quick_Start_Tutorial_EN.ipynb with Open in Bohrium Logo
  doc/getting-started/DeePMD-kit_Quick_Start_Tutorial_EN.ipynb
Due: none

Update DeePMD-kit_Quick_Start_Tutorial_EN.ipynb
  doc/getting-started/DeePMD-kit_Quick_Start_Tutorial_EN.ipynb
Due: none

add comments for pair_coeff
  examples/water/lmp/in.lammps
  examples/water/lmp/in.plugin.lammps
Due: none

support the DOS (electronic density of states) fitting (#2449)
  deepmd/entrypoints/freeze.py
  deepmd/entrypoints/test.py
  deepmd/fit/__init__.py
  deepmd/fit/dos.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dos.py
  deepmd/loss/__init__.py
  deepmd/loss/dos.py
  deepmd/model/__init__.py
  deepmd/model/dos.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  doc/model/train-fitting-dos.md
  examples/dos/data/heat-221/set.000/atom_dos.npy
  examples/dos/data/heat-221/set.000/box.npy
  examples/dos/data/heat-221/set.000/coord.npy
  examples/dos/data/heat-221/set.000/dos.npy
  examples/dos/data/heat-221/type.raw
  examples/dos/data/heat-221/type_map.raw
  examples/dos/train/input.json
  source/tests/infer/deepdos.pbtxt
  source/tests/test_deepdos.py
  source/tests/test_fitting_dos.py
  source/tests/test_model_dos.py
  source/tests/train_dos.json
Due: Python

docs: add links to documentation in LAMMPS input (#2453)
  examples/water/lmp/in.lammps
  examples/water/lmp/in.plugin.lammps
Due: none

write and delete lammps data file in setup and teardown
  source/lmp/tests/data.lmp
  source/lmp/tests/data2.lmp
  source/lmp/tests/data_type_map.lmp
  source/lmp/tests/data_type_map2.lmp
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
Due: LAMMPS

add a function to write lammps data
  source/lmp/tests/write_lmp_data.py
Due: LAMMPS

Update deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, but not: source/**/tests
  OP: any of: source/op/**, but not: source/**/tests
  Core: any of: source/lib/**, but not: source/**/tests
  C++ API: any of: source/api_cc/**, but not: source/**/tests
  C API: any of: source/api_c/**, but not: source/**/tests
  LAMMPS: any of: source/lmp/**, but not: source/**/tests
