Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix
  source/tests/common/test_uni_infer.py
Due: none

add __init__.py
  source/tests/tf/__init__.py
Due: none

fix the path of test_lammps.py
  pyproject.toml
Due: none

fix infer_path in test_lammps
  source/tests/tf/test_lammps.py
Due: none

drop tqdm (#3194)
  backend/dynamic_metadata.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/stat.py
Due: Python

fix import
  source/tests/tf/test_tab_nonsmth.py
  source/tests/tf/test_tab_smooth.py
Due: none

breaking: pt: unify the output of descriptors. (#3190)
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/task/ener.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_trans_denoise.py
Due: Python

chore: refactor common method to PairTab
  deepmd/pt/model/model/pair_tab.py
  deepmd/utils/pair_tab.py
  source/tests/pt/test_pairtab.py
  source/tests/test_pairtab_preprocess.py
Due: Python

fix: update unit tests
  deepmd/utils/pair_tab.py
  source/tests/test_pairtab_preprocess.py
Due: Python

install cu11 pytorch in the cu11 image
  source/install/docker/Dockerfile
Due: none

fix: revert padding zero mask change
  deepmd/utils/pair_tab.py
  source/tests/tf/test_pairtab_preprocess.py
Due: Python

add missing \
  source/install/docker/Dockerfile
Due: none

add a quote
  source/install/docker/Dockerfile
Due: none

it looks `--index-url` will override the original index
  doc/install/easy-install.md
Due: none

it looks `--index-url` will override the original one
  source/install/docker/Dockerfile
Due: none

add testing cases
  source/tests/test_model_format_utils.py
Due: none

fix bug
  deepmd/model_format/se_e2_a.py
Due: Python

docs: document PyTorch backend (#3193)
  CITATIONS.bib
  backend/dynamic_metadata.py
  doc/backend.md
  doc/conf.py
  doc/credits.rst
  doc/index.rst
  doc/inference/python.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/index.rst
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Due: none

fix: install CU11 PyTorch in the CU11 docker image (#3198)
  source/install/docker/Dockerfile
Due: none

add missing file for the model format
  deepmd/model_format/fitting.py
Due: Python

mlp should only use idt when a skip connection is available
  deepmd/model_format/network.py
  deepmd/pt/model/network/mlp.py
Due: Python

refactor the torch implementation of the fitting net
  deepmd/model_format/__init__.py
  deepmd/model_format/fitting.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/task.py
  deepmd/pt/utils/utils.py
  source/tests/pt/test_ener_fitting.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_se_e2_a.py
Due: Python

allow disabling TensorFlow backend during Python installation
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/tf/env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/lib/src/gpu/CMakeLists.txt
Due: Python, Core

remove debug line
  deepmd/tf/env.py
Due: Python

throw errors when PyTorch CXX11 ABI is different from TensorFlow
  source/CMakeLists.txt
Due: none

fix duplicated lines. fix use_tebd that is deprecated.
  deepmd/pt/model/model/dp_atomic_model.py
Due: Python

find element in list rather than tuple, which easily makes bugs
  deepmd/model_format/fitting.py
  deepmd/pt/model/task/ener.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_ener_fitting.py
Due: Python

reverse map for dtypes. add uts
  deepmd/pt/utils/utils.py
  source/tests/pt/test_utils.py
Due: Python

rm unused vars
  deepmd/pt/model/task/ener.py
Due: Python

throw errors when PyTorch CXX11 ABI is different from TensorFlow (#3201)
  source/CMakeLists.txt
Due: none

allow disabling TensorFlow backend during Python installation (#3200)
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/tf/env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/lib/src/gpu/CMakeLists.txt
Due: Python, Core

feat: redo extrapolation with cubic spline for smoothness
  deepmd/pt/model/model/pair_tab.py
  deepmd/utils/pair_tab.py
  source/tests/pt/test_pairtab.py
Due: Python

breaking: pt: add dp model format and refactor pt impl for the fitting net. (#3199)
  deepmd/model_format/__init__.py
  deepmd/model_format/fitting.py
  deepmd/model_format/network.py
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/task.py
  deepmd/pt/utils/utils.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_ener_fitting.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_utils.py
Due: Python

remove duplicated fitting output check. fix codeql
  deepmd/pt/model/task/ener.py
Due: Python

chore: refactor _make_data in PairTab
  deepmd/pt/model/model/pair_tab.py
  deepmd/utils/pair_tab.py
Due: Python

chore: move file
  source/tests/common/test_pairtab_preprocess.py
Due: none

remove duplicated fitting output check. fix codeql (#3202)
  deepmd/pt/model/task/ener.py
Due: Python

Fix GPU UTs
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_descriptor_dpa1.py
  source/tests/pt/test_descriptor_dpa2.py
  source/tests/pt/test_mlp.py
Due: Python

Update env.py
  deepmd/pt/utils/env.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
