Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

checkpoint
  deepmd/utils/type_embed.py
Due: Python

fix se_a_ebd_v2 when nloc != nall
  deepmd/descriptor/se_a.py
Due: Python

type_embed serialize
  deepmd/descriptor/se.py
  deepmd/env.py
  deepmd/utils/type_embed.py
Due: Python

bump scikit-build-core to 0.7
  pyproject.toml
Due: none

bump scikit-build-core to 0.7 (#3038)
  pyproject.toml
Due: none

breaking(lmp): do not apply scale factor to model deviation (#3036)
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

build neighbor list with external Python program
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Due: Python

kk
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Due: Python

fix: set all_nlocal as atom->natoms
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

fix se_a_ebd_v2 when nloc != nall (#3037)
  deepmd/descriptor/se_a.py
Due: Python

skip pushing when an action is triggered by dependeabot (#3035)
  .github/workflows/build_wheel.yml
Due: none

chore: replace `all_nlocal` as `atom->natoms`
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix bugs
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Due: Python

add docstring
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
Due: Python

test with -fsanitize=leak
  .github/workflows/test_cc.yml
Due: none

add support for deep dipole
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_tensor.py
  source/tests/test_deepdipole.py
Due: Python

support deeppolar; support ase
  deepmd/calculator.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_polar.py
  source/tests/test_deepdipole.py
  source/tests/test_deeppolar.py
Due: Python

print NaN loss when labeled data is not found
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/loss/loss.py
  deepmd/loss/tensor.py
Due: Python

fix GPU mapping error for Horovod + finetune
  deepmd/utils/batch_size.py
Due: Python

remove unused codes
  deepmd/descriptor/se_a.py
Due: Python

fix: invalid read and write when natom grows (#3031)
  source/api_cc/src/common.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: C++ API, LAMMPS

build neighbor list with external Python program (#3046)
  deepmd/calculator.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  source/tests/test_deepdipole.py
  source/tests/test_deeppolar.py
  source/tests/test_deeppot_a.py
Due: Python

fix GPU mapping error for Horovod + finetune (#3048)
  deepmd/utils/batch_size.py
Due: Python

docs: document external neighbor list
  doc/inference/python.md
Due: none

add comment for nan
  deepmd/train/trainer.py
Due: Python

remove unused codes in se_a.py (#3049)
  deepmd/descriptor/se_a.py
Due: Python

docs: document external neighbor list (#3056)
  doc/inference/python.md
Due: none

print NaN loss when labeled data is not found (#3047)
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/loss/loss.py
  deepmd/loss/tensor.py
  deepmd/train/trainer.py
Due: Python

add water tensor dipole
  deepmd/entrypoints/test.py
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Due: Python

fix
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Due: Python

nvnmd
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/nvnmd/utils/config.py
  doc/nvnmd/nvnmd.md
  examples/nvnmd/train/train_cnn.json
  examples/nvnmd/train/train_qnn.json
  source/tests/test_nvnmd_entrypoints.py
Due: Python

fix
  deepmd/entrypoints/test.py
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Due: Python

fix memory leak of DeepPot
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Due: C API

fix labeler.yml with actions/labeler v5
  .github/labeler.yml
Due: none

fix labeler.yml with actions/labeler v5 (#3059)
  .github/labeler.yml
Due: none

nvnmd: init-model feature and 256 neighbors (#3058)
  deepmd/fit/ener.py
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/descriptor/se_a.py
  deepmd/nvnmd/descriptor/se_atten.py
  deepmd/nvnmd/entrypoints/freeze.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/entrypoints/train.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/nvnmd/utils/config.py
  deepmd_utils/main.py
  doc/nvnmd/nvnmd.md
  examples/nvnmd/train/train_cnn.json
  examples/nvnmd/train/train_qnn.json
  source/op/prod_env_mat_multi_device_nvnmd.cc
  source/tests/test_nvnmd_entrypoints.py
Due: Python, OP

fix possible memory leak in DeepPot::DeepPot
  source/api_cc/src/DeepPot.cc
Due: C++ API

apply to all structor
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/tests/test_deepmd_exception.cc
Due: C++ API

fix sytax issue
  source/api_cc/tests/test_deepmd_exception.cc
Due: C++ API

fix std::vector<std::string>
  source/api_cc/tests/test_deepmd_exception.cc
Due: C++ API

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
