Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

pt: add tensorboard and profiler support
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  doc/train/tensorboard.md
Due: Python

Devel update (#30)
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/model_format/__init__.py
  deepmd/model_format/fitting.py
  deepmd/model_format/network.py
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/task.py
  deepmd/pt/utils/utils.py
  deepmd/tf/env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/lib/src/gpu/CMakeLists.txt
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_ener_fitting.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_utils.py
Due: Python, Core

Revert "Devel update (#30)"
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/model_format/__init__.py
  deepmd/model_format/fitting.py
  deepmd/model_format/network.py
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/task.py
  deepmd/pt/utils/utils.py
  deepmd/tf/env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/lib/src/gpu/CMakeLists.txt
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_ener_fitting.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_utils.py
Due: Python, Core

Fix dataloader stuck on GPU
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Due: Python

Update test_fitting_net.py
  source/tests/pt/test_fitting_net.py
Due: none

add chatgpt translated code
  deepmd/model_format/nlist.py
  deepmd/model_format/region.py
Due: Python

set NUM_WORKERS to 0
  .github/workflows/test_cuda.yml
Due: none

add task_key to scalar name
  deepmd/pt/train/training.py
Due: Python

pt: set nthreads
  deepmd/env.py
  deepmd/pt/utils/env.py
  deepmd/tf/env.py
  doc/troubleshooting/howtoset_num_nodes.md
  source/api_cc/include/common.h
  source/api_cc/src/common.cc
Due: Python, C++ API

fix test
  source/tests/tf/test_env.py
Due: none

build macos-arm64 wheel on M1 runners
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  pyproject.toml
Due: none

Fix GPU UTs (#3203)
  .github/workflows/test_cuda.yml
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_descriptor_dpa1.py
  source/tests/pt/test_descriptor_dpa2.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_mlp.py
  source/tests/pt/test_model.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Due: Python

build macos-arm64 wheel on M1 runners (#3206)
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  pyproject.toml
Due: none

fix bugs of nlist and add uts
  deepmd/model_format/nlist.py
  source/tests/common/test_model_format_utils.py
Due: Python

fix GPU test OOM problem
  deepmd/tf/env.py
  source/tests/pt/conftest.py
Due: Python

pin torch to >=2.2
  .github/workflows/test_cuda.yml
Due: none

change PyPI index for torch 2.2
  .github/workflows/test_cuda.yml
Due: none

fix GPU test OOM problem (#3207)
  .github/workflows/test_cuda.yml
  deepmd/tf/env.py
  source/tests/pt/conftest.py
Due: Python

fix wrapper class name
  deepmd/model_format/output_def.py
Due: Python

support int types in type dict
  deepmd/model_format/common.py
  deepmd/pt/utils/env.py
Due: Python

fix descriptor interfaces (abs class should be introduced later)
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_a.py
Due: Python

add missing file
  source/tests/pt/test_utils.py
Due: none

add dp model def for atomic model
  deepmd/model_format/__init__.py
  deepmd/model_format/atomic_model.py
  deepmd/model_format/base_atomic_model.py
  deepmd/model_format/dp_atomic_model.py
  source/tests/common/test_model_format_utils.py
Due: Python

refactor torch atomic model. implement serialize and deserialize. add UT for consistency
  deepmd/model_format/dp_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/task/ener.py
  source/tests/pt/test_dp_atomic_model.py
Due: Python

dp model format for dp models.
  deepmd/model_format/__init__.py
  deepmd/model_format/atomic_model.py
  deepmd/model_format/se_e2_a.py
  source/tests/common/test_model_format_utils.py
Due: Python

dp model format for dp models. add missing files...
  deepmd/model_format/dp_model.py
  deepmd/model_format/make_model.py
  deepmd/model_format/transform_output.py
Due: Python

torch support for the dp model format
  deepmd/pt/model/model/make_model.py
  source/tests/pt/test_dp_atomic_model.py
  source/tests/pt/test_dp_mode.py
  source/tests/pt/test_env_mat.py
Due: Python

add ut for the open boundary condition. fix bugs
  deepmd/model_format/make_model.py
  deepmd/model_format/nlist.py
  deepmd/model_format/region.py
  source/tests/pt/test_dp_mode.py
Due: Python

chore: refactor extrapolation code
  deepmd/pt/model/model/pair_tab.py
  deepmd/utils/pair_tab.py
  source/tests/common/test_pairtab_preprocess.py
  source/tests/pt/test_pairtab.py
Due: Python

Feat: add pair table model to pytorch (#3192)
  deepmd/pt/model/model/pair_tab.py
  deepmd/utils/pair_tab.py
  source/tests/common/test_pairtab_preprocess.py
  source/tests/pt/test_pairtab.py
Due: Python

support fparam and aparam for atomic model and model. add doc str for pt code
  deepmd/model_format/atomic_model.py
  deepmd/model_format/dp_atomic_model.py
  deepmd/model_format/fitting.py
  deepmd/model_format/make_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/ener.py
  source/tests/pt/test_dp_mode.py
Due: Python

clean up unused code
  deepmd/pt/model/model/ener.py
Due: Python

fix bugs
  deepmd/pt/model/model/ener.py
  deepmd/pt/model/task/ener.py
Due: Python

add doc strings
  deepmd/model_format/dp_atomic_model.py
  deepmd/model_format/make_model.py
  deepmd/model_format/nlist.py
  deepmd/pt/model/model/atomic_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

rm unused code
  deepmd/model_format/nlist.py
  deepmd/pt/utils/nlist.py
Due: Python

pt: set nthreads from env (#3205)
  deepmd/env.py
  deepmd/pt/utils/env.py
  deepmd/tf/env.py
  doc/troubleshooting/howtoset_num_nodes.md
  source/api_cc/include/common.h
  source/api_cc/src/common.cc
  source/tests/tf/test_env.py
Due: Python, C++ API

pt: add tensorboard and profiler support (#3204)
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  doc/train/tensorboard.md
Due: Python

fix type hint
  deepmd/model_format/atomic_model.py
Due: Python

add format nlist to model
  deepmd/model_format/make_model.py
  deepmd/model_format/nlist.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/utils/nlist.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_dp_mode.py
  source/tests/pt/test_env_mat.py
Due: Python

add place holders to PairTab. fix test: asserting equal between floats
  deepmd/pt/model/model/pair_tab.py
  source/tests/pt/test_rotation.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
