Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

reside WCs on their corresponding real atoms in pre_exchange
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

reside WCs on their corresponding real atoms in setup_pre_exchange
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

restore .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

move to a seperated module
  deepmd/backend/jax2tf.py
  deepmd/jax/jax2tf/__init__.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/utils/serialization.py
Due: Python

remove redundant file
  deepmd/pd/utils/no_use_init.py
Due: Python

refactor
  deepmd/backend/jax.py
  deepmd/backend/jax2tf.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/utils/serialization.py
Due: Python

fix bugs
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/utils/serialization.py
Due: Python

test
  source/tests/consistent/io/test_io.py
Due: none

add an error message
  deepmd/jax/jax2tf/__init__.py
  doc/backend.md
Due: Python

revert
  source/tests/consistent/io/test_io.py
Due: none

Update deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/jax2tf/tfmodel.py
Due: Python

revert make_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

Skip bfloat16 for some cases
  source/tests/consistent/fitting/test_ener.py
Due: none

enable prim by default in unitest
  source/tests/pd/__init__.py
Due: none

revert changes in build_wheel.yml
  .github/workflows/build_wheel.yml
Due: none

use functions to store constants so it can be read by C++
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
Due: Python

name functions
  deepmd/jax/jax2tf/serialization.py
Due: Python

feat(jax): zbl (#4301)
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/utils/safe_gradient.py
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/model/model.py
  source/tests/consistent/model/test_zbl_ener.py
Due: Python

test test_io in a seperated run
  .github/workflows/test_python.yml
  source/tests/consistent/io/test_io.py
  source/tests/utils.py
Due: none

bump tensorflow
  .github/workflows/test_python.yml
Due: none

no-build-isolation
  .github/workflows/test_python.yml
Due: none

typo
  .github/workflows/test_python.yml
Due: none

fix eval argument in the test
  source/tests/consistent/io/test_io.py
Due: none

fix(jax): calculate virial in call_lower
  deepmd/jax/model/base_model.py
Due: Python

change to openmpi
  .github/workflows/test_python.yml
  pyproject.toml
Due: none

add setup_post_neighbor function for fix_dplr
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/tests/data.si
  source/lmp/tests/dump
  source/lmp/tests/in.read
  source/lmp/tests/pytest.yml
  source/lmp/tests/test_dplr/01.xyz
  source/lmp/tests/test_dplr/data.si
  source/lmp/tests/test_dplr/in.lammps
  source/lmp/tests/test_dplr/lmp.py
  source/lmp/tests/test_dplr/out.py
  source/lmp/tests/test_idx.py
  source/lmp/tests/test_write_full.py
  source/lmp/tests/write.out
Due: LAMMPS

feat: saved model C++ interface
  doc/backend.md
  doc/install/install-from-source.md
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/cmake/googletest.cmake.in
Due: C++ API

model
  source/tests/infer/deeppot_sea.savedmodel/.gitignore
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_sea.savedmodel/variables/variables.index
Due: none

update test data
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

need CPU model
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/variables/variables.index
Due: none

skip memory check
  .github/workflows/test_cc.yml
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

fix
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_sea.savedmodel/deeppot_sea.savedmodel2/variables/variables.index
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
Due: none

Apply suggestions from code review
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

reformat C/C++ interface
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
  source/api_cc/include/DeepBaseModel.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepSpin.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/include/DeepSpinTF.h
  source/api_cc/src/DeepBaseModel.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepSpin.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinTF.cc
  source/api_cc/tests/test_deeppot_dpa1_pt_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/pair_base.cpp
  source/lmp/pair_base.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/pair_deepspin.cpp
  source/lmp/pair_deepspin.h
Due: C++ API, C API, LAMMPS

rm dead code
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/plugin/deepmdplugin.cpp
Due: C++ API, LAMMPS

fix ut
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/DeepSpinTF.h
  source/api_cc/src/DeepSpin.cc
Due: C++ API

add virtual methods
  source/api_cc/include/DeepBaseModel.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpin.h
  source/api_cc/include/DeepSpinPT.h
Due: C++ API

Update source/api_cc/src/DeepPotJAX.cc
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

feat(jax): export call_lower to SavedModel via jax2tf (#4254)
  .github/workflows/test_python.yml
  deepmd/backend/jax.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/__init__.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/utils/serialization.py
  doc/backend.md
  pyproject.toml
  source/tests/consistent/io/test_io.py
  source/tests/utils.py
Due: Python

adujst the coordinates of WC to the coordinates of corresponding atoms during initialization
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS
