Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

add paddle inference lib into 'LD_LIBRARY_PATH' in test_cc
  .github/workflows/test_cc.yml
  source/lmp/tests/test_lammps_pd.py
Due: LAMMPS

fix 29814 typo
  .github/workflows/test_cc.yml
Due: none

update mkl and onednn lib in test_cc
  .github/workflows/test_cc.yml
Due: none

last
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
Due: Python

q
  deepmd/pt/utils/stat.py
Due: Python

ll
  deepmd/pt/utils/stat.py
Due: Python

l
  source/tests/pt/test_make_stat_input.py
Due: none

add n_multi_edge_message
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_dpa3.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Due: Python

Update stat.py
  deepmd/pt/utils/stat.py
Due: Python

output more details in fsanitize
  .github/workflows/test_cc.yml
Due: none

add huber loss
  deepmd/pt/loss/ener.py
  deepmd/utils/argcheck.py
Due: Python

feat: dpmodel energy loss & consistent tests
  deepmd/dpmodel/loss/__init__.py
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/loss.py
  deepmd/pt/loss/ener.py
  deepmd/tf/loss/ener.py
  deepmd/tf/loss/loss.py
  source/tests/consistent/loss/__init__.py
  source/tests/consistent/loss/common.py
  source/tests/consistent/loss/test_ener.py
Due: Python

pt
  source/tests/consistent/loss/test_ener.py
Due: none

fix
  deepmd/dpmodel/loss/ener.py
Due: Python

fix codeql
  deepmd/dpmodel/loss/ener.py
Due: Python

fix pd
  source/tests/consistent/loss/test_ener.py
Due: none

add serialization to pd
  deepmd/pd/loss/ener.py
Due: Python

Update deepmd/pt/utils/stat.py
  deepmd/pt/utils/stat.py
Due: Python

Simplify logic and remove "not"
  deepmd/pt/utils/stat.py
Due: Python

check import
  deepmd/pt/utils/stat.py
Due: Python

Add assert to ensure that the new frame contains the required elements
  deepmd/pt/utils/stat.py
Due: Python

check test.py
  source/tests/pt/test_make_stat_input.py
Due: none

test for line number
  .github/workflows/test_cc.yml
Due: none

fix(pt): fix clearing the list in set_eval_descriptor_hook
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  source/tests/infer/test_models.py
Due: Python

fix: lower `num_workers` to 4
  deepmd/pt/utils/env.py
Due: Python

update docs
  doc/env.md
Due: none

check ut
  source/tests/pt/test_make_stat_input.py
Due: none

fix bug in tf tensor loss
  deepmd/tf/loss/tensor.py
  deepmd/tf/train/trainer.py
Due: Python

fix(pt): fix clearing the list in set_eval_descriptor_hook (#4534)
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  source/tests/infer/test_models.py
Due: Python

[fix bug] load atomic_*.npy for tf tensor model (#4538)
  deepmd/tf/loss/tensor.py
  deepmd/tf/train/trainer.py
Due: Python

Update deepmd/utils/argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
