Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix rtol to 1e-6 and atol to 1e-9
  .pre-commit-config.yaml
  source/lmp/tests/test_lammps_pd.py
Due: LAMMPS

update rtol and atol for python unitest
  source/lmp/tests/test_lammps_pd.py
Due: LAMMPS

skip test_pair_deepmd_mpi
  source/lmp/tests/test_lammps_pd.py
Due: LAMMPS

make changebias control minframes
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
Due: Python

check merge
  deepmd/pt/entrypoints/main.py
Due: Python

improve ut with all frames
  source/tests/pt/test_make_stat_input.py
Due: none

check ut
  source/tests/pt/test_make_stat_input.py
Due: none

check
  source/tests/pt/test_make_stat_input.py
Due: none

check skip logic and def name
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
Due: Python

improve warning readable
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/stat.py
  deepmd/utils/data.py
Due: Python

check args
  deepmd/pt/utils/dataset.py
  deepmd/utils/data.py
Due: Python

check stat.py
  deepmd/pt/utils/stat.py
Due: Python

feat(tf): support tensor fitting with hybrid descriptor (#4542)
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/model/model.py
  source/tests/tf/test_dipole_hybrid_descrpt.py
Due: Python

feat(pt): support spin virial
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/model/transform_output.py
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepSpinPT.cc
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/pt/model/test_model.py
Due: Python, C++ API, C API

Fix PATH export location in test workflow
  .github/workflows/test_cc.yml
Due: none

fix(pt): detach computed descriptor tensor to prevent OOM
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

download paddle inference for cuda12 in CMAKEList.txt
  .github/workflows/test_cuda.yml
  source/CMakeLists.txt
Due: none

use instead of github.workspace
  .github/workflows/test_cuda.yml
Due: none

add paddle inference path to BACKEND_LIBRARY_PATH and BACKEND_INCLUDE_DIRS
  source/CMakeLists.txt
Due: none

chore: test consistency of rotation matrix
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_hybrid.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: none

pd: add CPP inference with LAMMPS (#4467)
  .devcontainer/build_cxx.sh
  .github/workflows/suppr.txt
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .pre-commit-config.yaml
  deepmd/pd/utils/serialization.py
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/DeepPotPD.h
  source/api_cc/include/version.h.in
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/install/test_cc_local.sh
  source/lib/include/ewald.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/tests/test_lammps_pd.py
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
  source/tests/infer/deeppot_sea.pdiparams
Due: Python, Core, C++ API, LAMMPS

update paddle related content in document
  doc/backend.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
Due: none

chore: test consistency of rotation matrix (#4550)
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_hybrid.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: none

fix RUF034 Useless `if`-`else` condition
  backend/find_paddle.py
Due: none

docs: add `sphinx.configuration` to .readthedocs.yml
  .readthedocs.yml
Due: none

remove two FLAGs that are not used currently
  doc/install/install-from-source.md
Due: none

pd: update paddle doc (#4489)
  README.md
  doc/_static/paddle.svg
  doc/backend.md
  doc/conf.py
  doc/freeze/freeze.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/sel.md
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training.md
Due: none

docs: add `sphinx.configuration` to .readthedocs.yml (#4553)
  .readthedocs.yml
Due: none

explicitly specify dtype of mean and stddev to avoid dtype inconsistency when using fp32
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  examples/water/se_atten/input_torch.json
  source/api_cc/src/DeepPotPD.cc
Due: Python, C++ API

Perf: use F.linear for MLP (#4513)
  deepmd/pt/model/network/mlp.py
Due: Python

CI: switch linux_aarch64 to GitHub hosted runners
  .github/workflows/build_wheel.yml
Due: none

CI: switch linux_aarch64 to GitHub hosted runners (#4557)
  .github/workflows/build_wheel.yml
Due: none

remove oneline
  .pre-commit-config.yaml
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

feat(pd): add se_atten_v2
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/se_atten_v2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
Due: Python

Update source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
Due: none

Fix tensor conversion device argument
  deepmd/pd/model/descriptor/se_atten_v2.py
Due: Python

chore: improve neighbor stat log
  deepmd/utils/neighbor_stat.py
Due: Python

chore: improve neighbor stat log (#4561)
  deepmd/utils/neighbor_stat.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
