Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

cc: refactor DataModifier for multiple-backend framework
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
Due: C++ API

remove commented out codes
  source/api_cc/src/DataModifierTF.cc
Due: C++ API

fix output def issues (some restrictions from torch.jit)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
Due: none

allow the final dim of shape def to be -1. add UTs for check_var
  source/tests/test_output_def.py
Due: none

add missing files
  deepmd_utils/model_format/output_def.py
Due: none

cc: refactor DeepTensor for multiple-backend framework
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

fix codeql alerts
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

cc: refactor DeepTensor for multiple-backend framework (#3151)
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

cc: refactor DataModifier for multiple-backend framework (#3148)
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
Due: C++ API

clean DeepPotTF
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

clean DeepTensor
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

change public members to private
  source/api_cc/include/DataModifierTF.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/DeepTensorTF.h
Due: C++ API

remove variable def, not help in jit
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Due: none

change nloc to nall in dervs. they are defined for extended atoms
  source/tests/test_output_def.py
Due: none

fix list[int]
  source/tests/test_output_def.py
Due: none

fix: some issue of the output def (#3152)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Due: none

cc: merge `DeepPotBase` and `DeepTensor` member functions (#3145)
  source/api_cc/include/DataModifierTF.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

move `OutOfMemoryError` from `deepmd` to `deepmd_utils`
  deepmd/utils/errors.py
  deepmd_utils/utils/batch_size.py
  deepmd_utils/utils/errors.py
Due: Python

Fix https://github.com/deepmodeling/deepmd-kit/discussions/2523#discussioncomment-8176469.
  source/lib/src/gpu/CMakeLists.txt
Due: Core

resolve alerts
  source/api_c/include/deepmd.hpp
  source/api_cc/include/common.h
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/op/ewald_recp.cc
  source/op/pair_tab.cc
  source/op/prod_force_grad.cc
  source/op/prod_force_se_a_grad.cc
  source/op/prod_force_se_a_mask_grad.cc
  source/op/prod_force_se_r_grad.cc
  source/op/prod_virial.cc
  source/op/prod_virial_grad.cc
  source/op/prod_virial_se_a_grad.cc
  source/op/prod_virial_se_r_grad.cc
  source/op/soft_min.cc
  source/op/soft_min_force_grad.cc
  source/op/soft_min_virial.cc
  source/op/soft_min_virial_grad.cc
Due: OP, C++ API, C API

revert
  source/api_cc/include/common.h
  source/api_cc/src/common.cc
Due: C++ API

resolve alerts
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/ipi/src/Convert.cc
  source/lib/tests/test_env_mat_a.cc
  source/lib/tests/test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_nvnmd.cc
  source/op/pair_tab.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_force.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_force_se_a_mask.cc
  source/op/prod_virial.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/soft_min.cc
  source/op/soft_min_force.cc
  source/op/soft_min_virial.cc
Due: OP, Core, C API, i-Pi

resolve
  source/api_c/include/deepmd.hpp
  source/api_cc/src/DeepPot.cc
  source/lmp/compute_deeptensor_atom.cpp
  source/op/matmul_fitnet_nvnmd.cc
  source/op/matmul_flt_nvnmd.cc
  source/op/pair_tab.cc
Due: OP, C++ API, C API, LAMMPS

fix max_nbor_size related issues
  source/op/prod_env_mat_multi_device.cc
Due: OP

docs: update Amber interface (#3074)
  doc/third-party/out-of-deepmd-kit.md
Due: none

docs: document CP2K interface
  doc/third-party/out-of-deepmd-kit.md
Due: none

move `OutOfMemoryError` from `deepmd` to `deepmd_utils` (#3153)
  deepmd/utils/errors.py
  deepmd_utils/utils/batch_size.py
  deepmd_utils/utils/errors.py
Due: Python

cmake: fix setting `CMAKE_HIP_FLAGS` (#3155)
  source/lib/src/gpu/CMakeLists.txt
Due: Core

docs: document CP2K interface (#3158)
  doc/third-party/out-of-deepmd-kit.md
Due: none

resolve "Multiplication result converted to larger type" (#3159)
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/ipi/src/Convert.cc
  source/lib/tests/test_env_mat_a.cc
  source/lib/tests/test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_nvnmd.cc
  source/lmp/compute_deeptensor_atom.cpp
  source/op/ewald_recp.cc
  source/op/matmul_fitnet_nvnmd.cc
  source/op/matmul_flt_nvnmd.cc
  source/op/pair_tab.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_force.cc
  source/op/prod_force_grad.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_force_se_a_grad.cc
  source/op/prod_force_se_a_mask.cc
  source/op/prod_force_se_a_mask_grad.cc
  source/op/prod_force_se_r_grad.cc
  source/op/prod_virial.cc
  source/op/prod_virial_grad.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_se_a_grad.cc
  source/op/prod_virial_se_r_grad.cc
  source/op/soft_min.cc
  source/op/soft_min_force.cc
  source/op/soft_min_force_grad.cc
  source/op/soft_min_virial.cc
  source/op/soft_min_virial_grad.cc
Due: OP, Core, C++ API, C API, LAMMPS, i-Pi

set dpgui entry point to `deepmd_utils`
  pyproject.toml
Due: none

set dpgui entry point to `deepmd_utils` (#3161)
  pyproject.toml
Due: none

add torch backend support
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/commonPT.cc
Due: C++ API

add universal Python inference interface DeepPot
  deepmd/infer/deep_pot.py
  deepmd_utils/infer/__init__.py
  deepmd_utils/infer/backend.py
  deepmd_utils/infer/deep_pot.py
Due: Python

fix typos
  deepmd_utils/infer/deep_pot.py
Due: none

add a unit test
  source/tests/test_uni_infer.py
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  source/tests/test_prod_env_mat.py
Due: none
