Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

cc: fix returning type of sel_types (#3181)
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
Due: C++ API

breaking: drop Python 3.7 support (#3185)
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/tf/utils/tabulate.py
  doc/development/coding-conventions.rst
  doc/install/easy-install.md
  doc/install/install-from-source.md
  pyproject.toml
  source/install/build_tf.py
Due: Python

resolve comments
  deepmd/main.py
Due: Python

fix virial shape
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/test_deeppot.py
Due: Python

add tests for DeepPot
  source/tests/pt/test_deeppot.py
Due: none

allow DP_BACKEND to be alias
  deepmd/main.py
Due: Python

set choices to list of BACKEND_TABLE keys
  deepmd/main.py
Due: Python

Merge TF and PT CLI (#3187)
  deepmd/infer/deep_pot.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
  deepmd/utils/argcheck.py
Due: Python

Fix PT `DeepPot` and replace ASE calculator (#3186)
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/utils/ase_calc.py
  source/tests/pt/test_calculator.py
  source/tests/pt/test_deeppot.py
Due: Python

pt: change the virial output dim to 9
  deepmd/pt/model/model/transform_output.py
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rotation.py
Due: Python

unify the output of descriptors.
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/task/ener.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_trans_denoise.py
Due: Python

same output name for all descriptors
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_a.py
Due: Python

update doc
  deepmd/pt/model/descriptor/se_a.py
Due: Python

update doc
  deepmd/model_format/se_e2_a.py
Due: Python

fix ut
  source/tests/test_model_format_utils.py
Due: none

PT: keep the same checkpoint behavior as TF
  deepmd/common.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
Due: Python

update docs
  deepmd/main.py
Due: Python

forgot to push
  source/tests/pt/water/se_atten.json
Due: none

feat: add pair table model to pytorch
  deepmd/pt/model/model/pair_tab.py
  source/tests/pt/test_pairtab.py
Due: Python

fix: typo
  deepmd/pt/model/model/pair_tab.py
Due: Python

breaking: pt: change the virial output dim to 9 (#3188)
  deepmd/pt/model/model/transform_output.py
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rotation.py
Due: Python

PT: keep the same checkpoint behavior as TF (#3191)
  deepmd/common.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
  source/tests/pt/water/se_atten.json
Due: Python

docs: document PyTorch backend
  CITATIONS.bib
  backend/dynamic_metadata.py
  doc/backend.md
  doc/conf.py
  doc/credits.rst
  doc/index.rst
  doc/inference/python.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/index.rst
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Due: none

fix: update ruct extrapolation
  deepmd/pt/model/model/pair_tab.py
  source/tests/pt/test_pairtab.py
Due: Python

drop tqdm
  backend/dynamic_metadata.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/stat.py
Due: Python

fix: update allclose precision
  source/tests/pt/test_pairtab.py
Due: none

add size and replace arguments to deepmd.utils.random.choice
  deepmd/utils/random.py
Due: Python

add Optional
  deepmd/utils/random.py
Due: Python

fix p argument calling
  deepmd/pt/utils/dataset.py
Due: Python

fix infer_path
  source/tests/tf/test_linear_model.py
  source/tests/tf/test_model_devi.py
  source/tests/tf/test_model_devi_mix.py
Due: none

fix infer_path
  source/tests/tf/test_deeppot_a.py
Due: none

move from tests/tf to tests/common
  source/tests/__init__.py
  source/tests/common/__init__.py
  source/tests/common/common.py
  source/tests/common/test_argument_parser.py
  source/tests/common/test_examples.py
  source/tests/common/test_gui.py
  source/tests/common/test_model_format_utils.py
  source/tests/common/test_output_def.py
  source/tests/common/test_sel_idx.py
  source/tests/common/test_uni_infer.py
Due: none

fix paths
  source/tests/tf/test_descrpt_se_a_mask.py
  source/tests/tf/test_get_potential.py
  source/tests/tf/test_model_spin.py
Due: none

fix tests_path
  source/tests/tf/test_descrpt_se_a_mask.py
Due: none

systems should be a list
  source/tests/tf/test_descrpt_se_a_mask.py
Due: none

add size and replace arguments to deepmd.utils.random.choice (#3195)
  deepmd/pt/utils/dataset.py
  deepmd/utils/random.py
Due: Python

insert sys.path
  source/tests/common/__init__.py
Due: none
