Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

bug fix
  deepmd/utils/data.py
Due: Python

perf: use rglob("type.raw") to find systems instead of find * and then find type.raw. 10x accelarate
  deepmd/common.py
  deepmd/utils/path.py
Due: Python

fix: repeated path collection
  deepmd/common.py
Due: Python

refactor: streamline batch count calculation by removing unnecessary data loading
  deepmd/utils/data.py
Due: Python

feat: Performance Optimization: Data Loading and Statistics Acceleration (#5040)
  deepmd/utils/data.py
Due: Python

feat: Add support for SiLU activation function in gradient calculations
  deepmd/pt/utils/tabulate.py
Due: Python

feat: Enhance activation function support in DPTabulate and tests
  deepmd/pt/utils/tabulate.py
  source/op/tf/unaggregated_grad.cc
  source/tests/pt/test_tabulate.py
Due: Python, OP

refactor: use `get_activation_fn` from `deepmd.dpmodel.utils.network` but wrapped to use num index instead of names
  source/tests/pt/test_tabulate.py
Due: none

feat(pt): Add support for SiLU activation function in gradient calculations (#5055)
  deepmd/pt/utils/tabulate.py
  source/op/tf/unaggregated_grad.cc
  source/tests/pt/test_tabulate.py
Due: Python, OP

build: bump LAMMPS version to stable_22Jul2025_update2 (#5052)
  .devcontainer/build_cxx.sh
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

optimize typo
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

Add fitting stat in python backend
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  source/tests/common/dpmodel/test_fitting_stat.py
Due: Python

Change StatItem.number from int to float
  deepmd/utils/env_mat_stat.py
Due: Python

refactor(pt): Simplify index calculation and enhance type embedding handling in se_atten
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix(pt): Enforce conditions for type embedding compression in se_atten
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

feat(pt): Implement type embedding compression for two-side mode for se_atten
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

refactor(pt): Streamline type embedding compression logic in dpa1 and se_atten
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

feat(pt): Enhance type embedding compression in se_t_tebd
  deepmd/pt/model/descriptor/se_t_tebd.py
Due: Python

refactor(pt): Optimize type embedding handling in se_atten
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

refactor(pt): Update type embedding handling in se_t_tebd
  deepmd/pt/model/descriptor/se_t_tebd.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

feat: handle masked forces in test (#4893)
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Due: Python

add use_default_pf
  deepmd/pt/loss/ener.py
  deepmd/utils/argcheck.py
Due: Python

fix(pt): Specify type for type_embd_data in DescrptBlockSeAtten
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix(pt): Remove existing type_embd_data before registering new buffer in DescrptBlockSeAtten
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix(pt): Clear type embedding data before registering new buffer in DescrptBlockSeTTebd
  deepmd/pt/model/descriptor/se_t_tebd.py
Due: Python

add init from direct model
  deepmd/pt/train/training.py
Due: Python

fix(finetune): calculate fitting stat when using random fitting in finetuning process (#4928)
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  source/tests/common/dpmodel/test_fitting_stat.py
  source/tests/pd/test_training.py
  source/tests/pt/test_training.py
Due: Python

test(pt): add compression test for se_atten
  source/tests/pt/test_model_compression_se_atten.py
Due: none

feat(tests): add model compression tests for se_e3_tebd
  source/tests/pt/test_model_compression_se_e3_tebd.py
Due: none

fix(pt): update import path for DP calculator in test_model_compression_se_atten
  source/tests/pt/test_model_compression_se_atten.py
Due: none

fix(pt): enhance file deletion logic and clean up artifacts in tests
  source/tests/pt/test_model_compression_se_atten.py
Due: none

feat(tests): enhance cleanup in model compression tests
  source/tests/pt/test_model_compression_se_e3_tebd.py
Due: none

refactor(pt): Update type embedding handling in DescrptBlockSeAtten
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/pt/test_model_compression_se_atten.py
Due: Python

feat(pt): enable type embedding compression in repinit and update test validation
  deepmd/pt/model/descriptor/dpa2.py
  source/tests/pt/model/test_descriptor_dpa1.py
Due: Python

feat(test): add unit test for the compression of se_atten
  source/tests/pt/test_model_compression_se_atten.py
Due: none

Apply suggestion from @Copilot
  source/tests/pt/test_model_compression_se_atten.py
Due: none

feat(pt): enforce strip mode for model compression and enhance type embedding handling
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/tests/pt/test_model_compression_se_e3_tebd.py
Due: Python

fix(pt): update type embedding dictionary handling in translate_type_embd_dicts_to_dpa2
  source/tests/pt/model/test_descriptor_dpa2.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
