Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

check msi defalut value
  deepmd/pt/utils/stat.py
Due: Python

fix: lower `num_workers` to 4 (#4535)
  deepmd/pt/utils/env.py
  doc/env.md
Due: Python

Update auto_batch_size.py
  deepmd/pt/utils/auto_batch_size.py
Due: Python

feat: dpmodel energy loss & consistent tests (#4531)
  deepmd/dpmodel/loss/__init__.py
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/loss.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/tf/loss/ener.py
  deepmd/tf/loss/loss.py
  source/tests/consistent/loss/__init__.py
  source/tests/consistent/loss/common.py
  source/tests/consistent/loss/test_ener.py
Due: Python

add fsanitize-ignorelist for some mem leak can be ignored currently
  .github/workflows/ignorelist.txt
  .github/workflows/test_cc.yml
Due: none

check ut cuda
  source/tests/pt/test_make_stat_input.py
Due: none

fix fsanitize-ignorelist path
  .github/workflows/test_cc.yml
Due: none

check ut
  source/tests/pt/test_make_stat_input.py
Due: none

use $ instead of 29814
  .github/workflows/test_cc.yml
Due: none

Update .github/workflows/test_cc.yml
  .github/workflows/test_cc.yml
Due: none

try format
  .github/workflows/test_cc.yml
Due: none

use the clang compiler
  .github/workflows/test_cc.yml
Due: none

enable more C++ test case
  .pre-commit-config.yaml
  source/api_cc/tests/test_deeppot_pd.cc
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
Due: C++ API

fix all serialization and inference code
  deepmd/pd/utils/serialization.py
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.pdiparams
Due: Python, C++ API

remove the currently unnecessary content from the document
  doc/env.md
  doc/install/install-from-source.md
Due: none

restore gpu information printing code
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

remove in-place operations to avoid `.clone`
  deepmd/pt/model/network/mlp.py
Due: Python

solve mutiple definition of omp functions
  source/lib/include/ewald.h
Due: Core

fix dtype for inference model
  deepmd/pd/utils/serialization.py
  source/lmp/plugin/CMakeLists.txt
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.pdiparams
Due: Python, LAMMPS

chore: align dataset summary output
  deepmd/utils/data_system.py
Due: Python

feat(tf): support tensor fitting with hybrid descriptor
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/model/model.py
  source/tests/tf/test_dipole_hybrid_descrpt.py
Due: Python

Update source/tests/tf/test_dipole_hybrid_descrpt.py
  source/tests/tf/test_dipole_hybrid_descrpt.py
Due: none

Apply suggestions from code review
  source/tests/tf/test_dipole_hybrid_descrpt.py
Due: none

adapt dpa3 to paddle for compiler experiment
  .pre-commit-config.yaml
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/utils/utils.py
Due: Python

update fake json
  examples/water/dpa3/input_torch_medium.json
Due: none

fix assert
  deepmd/pd/model/descriptor/repflows.py
Due: Python

chore: align dataset summary output (#4541)
  deepmd/utils/data_system.py
Due: Python

split pd C++ test from test_cc_local
  .github/workflows/test_cc.yml
  source/install/test_cc_local_pd.sh
Due: none

export model in prim mode to bypass latent error in PNormGradKernel
  .github/workflows/test_cc.yml
  deepmd/pd/utils/serialization.py
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
  source/tests/infer/deeppot_sea.pdiparams
Due: Python

add libpaddle_inference.so as module to igorelist.txt
  .github/workflows/ignorelist.txt
Due: none

make truetype for more sys
  deepmd/pt/utils/dataset.py
Due: Python

Add skip element check function to Chang bias
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/stat.py
  source/tests/pt/mixed_type_data/sys.000000/set.001/box.npy
  source/tests/pt/mixed_type_data/sys.000000/set.001/coord.npy
  source/tests/pt/mixed_type_data/sys.000000/set.001/energy.npy
  source/tests/pt/mixed_type_data/sys.000000/set.001/force.npy
  source/tests/pt/mixed_type_data/sys.000000/set.001/real_atom_numbs.npy
  source/tests/pt/mixed_type_data/sys.000000/set.001/real_atom_types.npy
Due: Python

use LSAN_OPTIONS instead of fsanitize-ignorelist
  .github/workflows/ignorelist.txt
  .github/workflows/suppr.txt
  .github/workflows/test_cc.yml
Due: none

remove LD_LIBRARY_PATH in cov test env
  .github/workflows/suppr.txt
  .github/workflows/test_cc.yml
Due: none

fix
  .github/workflows/test_cc.yml
Due: none

update source/lmp/plugin/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

append original LD_LIBRARY_PATH to
  .github/workflows/test_cc.yml
Due: none

copy paddle so instead of set LD_LIBRARY_PATH
  .github/workflows/test_cc.yml
Due: none

revert Clang to GCC
  .github/workflows/test_cc.yml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
