Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(pt): recognize AOTInductor-wrapped CUDA OOM in AutoBatchSize (#5418)
  deepmd/pt/utils/auto_batch_size.py
  source/tests/pt/test_auto_batch_size.py
Due: Python

perf(pt): optimize HybridMuon optimizer (#5412)
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

feat(pt): full validation support lmdb format (#5419)
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/entrypoints/test.py
  deepmd/pt/train/validation.py
  deepmd/pt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_validation.py
Due: Python

feat(pt/dpmodel): add max and filter mode for lmdb (#5413)
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_lmdb_data.py
Due: Python

test(gnn-mpi): tighten multi-rank LAMMPS test assertions
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
Due: LAMMPS

fix(cc): handle empty subdomain in copy_from_nlist; expand MPI tests with virial
  source/api_cc/src/common.cc
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
Due: C++ API, LAMMPS

fix(pt_expt): handle `_CompiledModel` wrap in `.pt` checkpoint loader
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

test(pt_expt): skip atom_virial in spin `.pt` vs `.pte` consistency
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: none

feat(pt_expt): make model.json optional in .pt2/.pte loading
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/infer/test_deep_eval_metadata_only.py
Due: Python

fixup
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_metadata_only.py
  source/tests/pt_expt/infer/test_deep_eval_spin.py
Due: Python

fixup
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

fix(pt-expt): align spin metadata output definitions
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/serialization.py
Due: Python

test: cover DPA2 multi-rank dispatch + fix opaque-op import order
  source/lmp/tests/test_lammps_dpa2_pt2.py
  source/tests/infer/gen_dpa2.py
  source/tests/pt_expt/conftest.py
  source/tests/pt_expt/model/test_spin_export_with_comm.py
Due: LAMMPS

feat: optimze HybridMuon
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

mix batch
  .gitignore
  deepmd/pt/entrypoints/main.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/network/graph_utils_flat.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/batch_utils.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt/utils/nlist.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_lmdb_dataloader.py
  test_mixed_batch.sh
Due: Python

fix(pt_expt): use weights_only=True when reading `.pt` checkpoints
  deepmd/backend/backend.py
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

test(pt_expt): distinct seeds for multi-task heads + RUF059 cleanup
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: none

mix batch revise1
  .gitignore
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/network/graph_utils_flat.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/batch_utils.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt/utils/nlist.py
  deepmd/utils/argcheck.py
  py_diff.patch
  run_diff.sh
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

refactor(backend): move `.pt` content sniffing into pt_expt backend
  deepmd/backend/backend.py
  deepmd/backend/pt_expt.py
Due: Python

fix(pt_expt): polish `_load_pt` (Copilot review)
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

fix(pt_expt): explain the silent except in `match_filename` (CodeQL)
  deepmd/backend/pt_expt.py
Due: Python

test(pt_expt): move `_build_model_and_params` model to DEVICE
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: none

feat(pt_expt): support .pt training checkpoints in DeepEval (#5423)
  deepmd/backend/backend.py
  deepmd/backend/pt_expt.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/get_model.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

fix(dpmodel): align NativeLayer bias/idt init with pt MLPLayer
  deepmd/dpmodel/utils/network.py
Due: Python

fixup
  source/tests/infer/gen_sea.py
Due: none

fixup
  deepmd/pt/train/ema.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

ignore ema val when full_val is false
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

feat: add ema shadow model
  deepmd/pt/train/ema.py
  deepmd/pt/train/training.py
  deepmd/pt/train/validation.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
  source/tests/pt/test_validation.py
Due: Python

fixup
  source/tests/pt/test_training.py
Due: none

test: replace hardcoded C++ expected values with sidecar reference files
  .gitignore
  source/api_cc/tests/expected_ref.h
  source/api_cc/tests/test_deeppot_a_fparam_aparam_nframes_ptexpt.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_ptexpt.cc
  source/api_cc/tests/test_deeppot_default_fparam_pt.cc
  source/api_cc/tests/test_deeppot_default_fparam_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa1_pt.cc
  source/api_cc/tests/test_deeppot_dpa1_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa2_pt.cc
  source/api_cc/tests/test_deeppot_dpa2_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa3_pt.cc
  source/api_cc/tests/test_deeppot_dpa3_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_dpa_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deeppot_model_devi_ptexpt.cc
  source/tests/infer/gen_common.py
  source/tests/infer/gen_dpa1.py
  source/tests/infer/gen_dpa2.py
  source/tests/infer/gen_dpa3.py
  source/tests/infer/gen_fparam_aparam.py
  source/tests/infer/gen_model_devi.py
  source/tests/infer/gen_spin.py
  source/tests/pt_expt/descriptor/test_dpa1.py
  source/tests/pt_expt/descriptor/test_se_atten_v2.py
Due: C++ API

feat(pt_expt): make model.json optional in .pt2/.pte loading (#5416)
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/infer/gen_sea.py
  source/tests/pt_expt/infer/test_deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_metadata_only.py
  source/tests/pt_expt/infer/test_deep_eval_spin.py
Due: Python

test: extend MPI coverage with N>2 decompositions and schema-drift unit test
  source/lmp/tests/test_lammps_dpa3_pt2.py
  source/tests/pt_expt/utils/test_has_message_passing.py
Due: LAMMPS

test: cover NULL-type atoms (atype<0) under mpirun
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
Due: LAMMPS

test: cover three NULL-type edge cases (isolated / all-null-rank / nlist-rebuild)
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
Due: LAMMPS

test(lmp): replace hardcoded expected values in DPA3 LAMMPS tests with sidecar reads
  source/lmp/tests/expected_ref.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2_nopbc.py
  source/lmp/tests/test_lammps_faparam_pt2.py
Due: LAMMPS

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
