Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix version
  source/lib/src/gpu/CMakeLists.txt
Due: Core

kk
  source/lib/src/gpu/CMakeLists.txt
Due: Core

cmake: use pip to install tensorflow
  source/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
Due: none

correct a comment line
  source/cmake/Findtensorflow.cmake
Due: none

bump LAMMPS version to stable_2Aug2023_update1
  backend/dynamic_metadata.py
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

fix fintune RMSE and memory issue
  deepmd/fit/ener.py
Due: Python

cmake: use pip to install tensorflow (#2858)
  source/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
Due: none

add documentation for <LANG>FLAGS
  doc/install/install-from-source.md
Due: none

bump LAMMPS version to stable_2Aug2023_update1 (#2859)
  backend/dynamic_metadata.py
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

cmake: use modern `HIP` language (#2857)
  backend/read_env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/cmake/FindROCM.cmake
  source/lib/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
Due: Core

rename to se_a_ebd_v2, add model ut
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd_v2.py
  deepmd/utils/argcheck.py
  deepmd/utils/tabulate.py
  examples/water/se_e2_a_tebd_compressible/input.json
  source/tests/test_model_compression_se_a_ebd.py
  source/tests/test_model_compression_se_a_ebd_type_one_side.py
Due: Python

pre-commit
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_a.py
Due: Python

ut for se_e2_a_ebd_v2 model
  source/tests/test_model_se_a_ebd_v2.py
Due: none

pre-commit
  source/tests/test_model_se_a_ebd_v2.py
Due: none

Update deepmd/fit/ener.py
  deepmd/fit/ener.py
Due: Python

fix finetune RMSE and memory issue (#2860)
  deepmd/fit/ener.py
Due: Python

remove old se_e2_a_tebd/input.json
  examples/water/se_e2_a_tebd/input.json
  examples/water/se_e2_a_tebd_compressible/input.json
Due: none

fix the issue of applying modifier multiple times when batch set is load only once
  deepmd/utils/data.py
Due: Python

Apply suggestions from code review
  doc/nvnmd/nvnmd.md
Due: none

fix the issue of applying modifier multiple times when batch set is load only once (#2864)
  deepmd/utils/data.py
Due: Python

merge CUDA and ROCm codes in op (#2847)
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
  source/op/gelu_multi_device.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_env_mat_multi_device_nvnmd.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_multi_device.cc
  source/op/tabulate_multi_device.cc
  source/op/unaggregated_grad.cc
Due: OP, Core

download cub using CMake
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .gitmodules
  doc/install/install-from-source.md
  source/lib/src/gpu/CMakeLists.txt
Due: Core

download cub using CMake FetchContent (#2870)
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .gitmodules
  doc/install/install-from-source.md
  source/lib/src/gpu/CMakeLists.txt
Due: Core

nvnmd: update doc and fix bug in map_flt_nvnmd.cc (#2831)
  doc/nvnmd/nvnmd.md
  pyproject.toml
  source/op/map_flt_nvnmd.cc
Due: OP

apply compression for se_e2_a_tebd (#2841)
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd_v2.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  deepmd/utils/compress.py
  deepmd/utils/tabulate.py
  examples/water/se_e2_a_tebd/input.json
  source/tests/test_model_compression_se_a_ebd.py
  source/tests/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/test_model_se_a_ebd_v2.py
Due: Python

docs: update DPRc examples to make it compressible
  doc/model/dprc.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
Due: none

cmake: skip executing python when cross compiling
  source/cmake/Findtensorflow.cmake
Due: none

forward error messages from GPU libraries to deepmd_exception
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

fix typo; include <string>
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

fix typo
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

fix errors
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

revert #2359
  pyproject.toml
Due: none

format
  pyproject.toml
Due: none

only install nvcc and runtime
  pyproject.toml
Due: none

fix library name
  pyproject.toml
Due: none

docs: add easy install development version
  doc/development/cicd.md
  doc/install/easy-install-dev.md
Due: none

add to TOC
  README.md
  doc/install/index.md
  doc/install/index.rst
Due: none

docs: update DPRc examples to make it compressible (#2874)
  doc/model/dprc.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
Due: none

cmake: skip executing python when cross compiling (#2876)
  source/cmake/Findtensorflow.cmake
Due: none

fix cuda installation for building wheels (#2879)
  pyproject.toml
Due: none
