Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Revert "test"
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
Due: none

Revert "update model"
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
Due: none

cast type
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

update model
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
Due: none

bugfix
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

fix OOM issue
  .github/workflows/test_python.yml
Due: none

no nlist interface
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/lmp/tests/test_lammps_jax.py
Due: C++ API, LAMMPS

fix skip
  source/lmp/tests/test_lammps_jax.py
Due: LAMMPS

docs: improve docs, examples, and error messages
  deepmd/dpmodel/model/model.py
  deepmd/jax/model/model.py
  deepmd/pt/model/model/__init__.py
  deepmd/tf/model/model.py
  deepmd/utils/argcheck.py
  doc/data/system.md
  doc/freeze/compress.md
  doc/model/dpa2.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
Due: Python

try to reduce memory
  .github/workflows/test_python.yml
Due: none

fix skip tests
  source/lmp/tests/test_lammps_jax.py
Due: LAMMPS

also skip lammps dpa-2 tests for CUDA
  source/lmp/tests/test_lammps_dpa_jax.py
Due: LAMMPS

Fix typos
  doc/model/dpa2.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
Due: none

should be fw
  .github/workflows/test_python.yml
Due: none

fix: dpmodel zbl rcut sel
  deepmd/dpmodel/model/model.py
Due: Python

Update test_cuda.yml
  .github/workflows/test_cuda.yml
Due: none

Update README.md
  README.md
Due: none

Revert "should be fw"
  .github/workflows/test_python.yml
Due: none

Revert "try to reduce memory"
  .github/workflows/test_python.yml
Due: none

Revert "fix OOM issue"
  .github/workflows/test_python.yml
Due: none

set --clean-durations
  .github/workflows/test_python.yml
Due: none

fix(pt): fix type annotations for dummy compress op; improve docs
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  doc/freeze/compress.md
Due: Python

CI: set `--clean-durations` for pytest-split (#4341)
  .github/workflows/test_python.yml
Due: none

fix(dpmodel): fix precision
  .github/workflows/test_python.yml
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/jax/env.py
Due: Python

skip float32 tests for numpy
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_e2_a.py
  source/tests/consistent/descriptor/test_se_r.py
  source/tests/consistent/descriptor/test_se_t.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
Due: none

move bias
  deepmd/dpmodel/fitting/general_fitting.py
Due: Python

Revert "skip float32 tests for numpy"
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_e2_a.py
  source/tests/consistent/descriptor/test_se_r.py
  source/tests/consistent/descriptor/test_se_t.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
Due: none

fix(pt): fix type annotations for dummy compress op; improve docs (#4342)
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  doc/freeze/compress.md
Due: Python

fix(pt): fix precision
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_compressed_descriptor_dpa2.py
Due: Python

feat(jax): reformat nlist in the TF model (#4336)
  deepmd/jax/jax2tf/format_nlist.py
  deepmd/jax/jax2tf/serialization.py
  source/jax2tf_tests/test_format_nlist.py
Due: Python

fix uts
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
Due: Python

Update fitting.py
  deepmd/pt/model/task/fitting.py
Due: Python

feat(pt): add universal test for loss
  source/tests/universal/common/cases/loss/__init__.py
  source/tests/universal/common/cases/loss/loss.py
  source/tests/universal/common/cases/loss/utils.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/loss/__init__.py
  source/tests/universal/pt/loss/test_loss.py
Due: none

docs: fix a typo in README (#4340)
  README.md
Due: none

fix: dpmodel zbl rcut sel (#4339)
  deepmd/dpmodel/model/model.py
Due: Python

change 47 to 48
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
Due: none

update dpa-2 compression status
  doc/model/dpa2.md
  examples/water/dpa2/README.md
  examples/water/dpa2/input_torch_compressible.json
  source/tests/common/test_examples.py
Due: none
