Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(pt_expt): respect model default_fparam in data requirement (#5417)
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

test(lmp): avoid duplicate pb conversions in tests (#5400)
  source/lmp/tests/model_convert.py
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_faparam.py
  source/lmp/tests/test_lammps_jax.py
  source/lmp/tests/test_lammps_pd.py
  source/lmp/tests/test_lammps_pt.py
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_nopbc.py
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
  source/lmp/tests/test_model_convert.py
Due: LAMMPS

feat(pt): add full validation (#5336)
  deepmd/entrypoints/test.py
  deepmd/jax/utils/auto_batch_size.py
  deepmd/pd/utils/auto_batch_size.py
  deepmd/pt/train/training.py
  deepmd/pt/train/validation.py
  deepmd/pt/utils/auto_batch_size.py
  deepmd/pt/utils/dataset.py
  deepmd/tf/utils/batch_size.py
  deepmd/utils/argcheck.py
  deepmd/utils/batch_size.py
  deepmd/utils/eval_metrics.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_training.py
  source/tests/pt/test_validation.py
Due: Python

fix(pt2): neutralise shape assertions instead of erasing them
  deepmd/pt_expt/utils/serialization.py
Due: Python

chore: rename param
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/ener_spin.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/tf/loss/ener.py
  deepmd/utils/argcheck.py
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  source/tests/consistent/loss/test_ener.py
  source/tests/consistent/loss/test_ener_spin.py
Due: Python

feat(pt): full validation support lmdb format
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/entrypoints/test.py
  deepmd/pt/train/validation.py
Due: Python

fix(pt2): prevent CUDA NaN in attention backward by disabling kernel fusion
  deepmd/pt_expt/utils/serialization.py
Due: Python

fix(pt2): only apply realize_opcount_threshold=0 on CUDA
  deepmd/pt_expt/utils/serialization.py
Due: Python

feat: add ema shadow model
  deepmd/pt/train/ema.py
  deepmd/pt/train/training.py
  deepmd/pt/train/validation.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
  source/tests/pt/test_validation.py
Due: Python

fixup
  deepmd/utils/argcheck.py
Due: Python

fix: fsdp unavailable in older version of pytorch (≦2.5)
  deepmd/pt/train/training.py
Due: Python

fixup
  deepmd/pt/utils/auto_batch_size.py
  source/tests/pt/test_auto_batch_size.py
Due: Python

fixup
  deepmd/pt/train/ema.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

ignore ema val when full_val is false
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

refactor(pt_expt): use extra_nlist_sort override instead of stripping shape assertions
  deepmd/dpmodel/model/make_model.py
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_linear_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
  deepmd/pt_expt/model/spin_model.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/export_helpers.py
Due: Python

chore(pt2): note thread-safety constraint of realize_opcount_threshold
  deepmd/pt_expt/utils/serialization.py
Due: Python

feat(cli): warn instead of raise for --atomic-virial on non-pt_expt outputs
  deepmd/entrypoints/convert_backend.py
  deepmd/main.py
Due: Python

refactor(pt2): move atomic_virial check to compute() entry; clarify error message
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
Due: C++ API

fix(cc): guard empty-vector dereferences in NeighborListData and convert_nlist
  source/api_cc/include/commonPT.h
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/lib/src/neighbor_list.cc
Due: Core, C++ API

test(cc): tighten oversized-nlist sanity check; verify all predictions
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
Due: C++ API

fix(cc): apply empty-vector guard to make_inlist and DeepSpinTF; add backend-agnostic tests
  source/api_cc/src/DeepSpinTF.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

test(cc): regression test for atomic_virial fail-fast guard
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/tests/infer/gen_sea.py
Due: C++ API

fix(pt): fsdp unavailable in older version of pytorch (≦2.5) (#5415)
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

Fix: Square atom_norm in non-Huber energy and virial loss calculations. (#5332)
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/ener_spin.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/tf/loss/ener.py
  deepmd/utils/argcheck.py
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  source/tests/consistent/loss/test_ener.py
  source/tests/consistent/loss/test_ener_spin.py
Due: Python

ci: make Codecov upload non-blocking (#5421)
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
Due: none

refactor(dpmodel): plumb comm_dict and extract _exchange_ghosts hook
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/model/make_model.py
Due: Python

feat(op): expose deepmd::border_op_backward as a standalone op
  source/op/pt/comm.cc
Due: OP

feat(pt_expt): add deepmd_export::border_op opaque wrapper + block overrides
  deepmd/pt_expt/descriptor/__init__.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  deepmd/pt_expt/descriptor/repflows.py
  deepmd/pt_expt/descriptor/repformers.py
  deepmd/pt_expt/descriptor/se_e2_a.py
  deepmd/pt_expt/descriptor/se_r.py
  deepmd/pt_expt/descriptor/se_t.py
  deepmd/pt_expt/descriptor/se_t_tebd.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/spin_model.py
  deepmd/pt_expt/utils/__init__.py
  deepmd/pt_expt/utils/comm.py
Due: Python

fix(pt_expt): plumb comm_dict through SpinModel + guards
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt_expt/descriptor/repflows.py
  deepmd/pt_expt/utils/comm.py
Due: Python

feat(pt_expt): two-mode AOTInductor export with comm_dict
  deepmd/pt_expt/utils/serialization.py
Due: Python

test(pt_expt): add comm_dict eager parity + export round-trip suite
  source/tests/pt_expt/descriptor/test_repflow_parallel.py
  source/tests/pt_expt/descriptor/test_repformer_parallel.py
  source/tests/pt_expt/model/test_export_with_comm.py
  source/tests/pt_expt/model/test_spin_export_with_comm.py
  source/tests/pt_expt/utils/test_border_op_backward.py
Due: none

fix(cc): link TORCH_LIBRARIES in api_cc tests so pt_expt tests run
  source/api_cc/tests/CMakeLists.txt
Due: C++ API

fixup
  deepmd/pt/utils/auto_batch_size.py
Due: Python

feat(cc): wire DeepPotPTExpt and DeepSpinPTExpt for multi-rank GNN
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/DeepSpinPTExpt.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/commonPTExpt.h
Due: C++ API

feat(gnn-mpi): wire up multi-rank LAMMPS path end-to-end
  deepmd/pt_expt/utils/comm.py
  deepmd/pt_expt/utils/serialization.py
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
  source/op/pt/comm.cc
  source/tests/infer/gen_dpa3.py
Due: Python, OP, C++ API, LAMMPS

fixup
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/train/validation.py
  deepmd/pt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_validation.py
Due: Python

test(gnn-mpi): expand multi-rank coverage; address Phase 5 follow-up gaps
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/commonPTExpt.h
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa3_pt2.py
Due: C++ API, LAMMPS

feat(pt_expt): support `.pt` training checkpoints in DeepEval
  deepmd/backend/backend.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/get_model.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python
