Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(pt ut): make separated uts deterministic (#4162)
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_property_fitting.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/model/test_se_e2_a.py
  source/tests/pt/model/test_se_t.py
  source/tests/pt/model/water/se_atten.json
Due: none

fix(pt): finetuning property/dipole/polar/dos fitting with multi-dimensional data causes error (#4145)
  deepmd/pt/train/training.py
  source/tests/pt/test_training.py
Due: Python

use a Python implementation of take_along_axis
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/dpmodel/utils/nlist.py
Due: Python

fix zero shape
  deepmd/dpmodel/array_api.py
Due: Python

fix reshape
  deepmd/dpmodel/utils/exclude_mask.py
Due: Python

output logs on freezing models
  deepmd/pt/entrypoints/main.py
Due: Python

update refined infer code
  deepmd/pd/entrypoints/main.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
Due: Python, C++ API

Feat: output logs on freezing models (#4165)
  deepmd/pt/entrypoints/main.py
Due: Python

change econf embed to spin representation
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Due: Python

remove redundant code
  source/api_cc/include/commonPD.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/common.cc
Due: C++ API

refine docstring of get_buffer
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

update pd version code
  backend/dynamic_metadata.py
  backend/find_paddle.py
  backend/read_env.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
Due: Python

restore non related files
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/install/test_cc_local.sh
  source/lmp/pair_deepmd.cpp
  source/op/pt/comm.cc
Due: OP, C++ API, LAMMPS

apply suggested by AI
  deepmd/utils/econf_embd.py
Due: Python

provide and use normalized electronic conf embedding
  deepmd/dpmodel/utils/type_embed.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Due: Python

rm original normalization
  deepmd/dpmodel/utils/type_embed.py
Due: Python

add paddle to related docs
  README.md
  doc/backend.md
  doc/freeze/freeze.md
  doc/install/install-from-source.md
  doc/model/sel.md
  doc/model/train-energy.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training.md
  pyproject.toml
Due: none

optimize cmake paddle macro name
  source/CMakeLists.txt
  source/config/run_config.ini
Due: none

update parallel training with paddle backend
  doc/train/parallel-training.md
Due: none

use 0-D Tensor as buffer shape
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  source/api_cc/src/DeepPotPD.cc
Due: Python, C++ API

support spin_norm & virtual_len in model graph and fix bug
  deepmd/tf/entrypoints/freeze.py
  source/lmp/pair_deepmd.cpp
Due: Python, LAMMPS

add type hint and doc
  deepmd/utils/econf_embd.py
Due: Python

chore: change econf embed to spin representation (#4166)
  deepmd/dpmodel/utils/type_embed.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Due: Python

per https://pylint.pycqa.org/en/latest/development_guide/how_tos/custom_checkers.html#defining-a-message, the message-id should be a 4-digit number, prefixed with a message category.
  pyproject.toml
  source/checker/README.md
  source/checker/deepmd_checker.py
Due: none

fix pt
  source/api_cc/src/DeepPotPT.cc
  source/lmp/pair_deepmd.cpp
Due: C++ API, LAMMPS

Update pair_deepmd.cpp
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Update env_mat.py
  deepmd/pt/model/descriptor/env_mat.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

apply flax.nnx.Module
  deepmd/jax/common.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/env.py
  deepmd/jax/utils/exclude_mask.py
  deepmd/jax/utils/network.py
  deepmd/jax/utils/type_embed.py
  pyproject.toml
Due: Python

Create input.json
  examples/hess/single-task/input.json
Due: none

Delete examples/hess directory
  examples/hess/single-task/input.json
Due: none

Create input.json
  examples/hessian/single-task/input.json
Due: none

Create tmp
  examples/hessian/data/H8C4N2O/set.000/tmp
Due: none

Add files via upload
  examples/hessian/data/H8C4N2O/set.000/box.npy
  examples/hessian/data/H8C4N2O/set.000/coord.npy
  examples/hessian/data/H8C4N2O/set.000/energy.npy
  examples/hessian/data/H8C4N2O/set.000/force.npy
  examples/hessian/data/H8C4N2O/set.000/hessian.npy
  examples/hessian/data/H8C4N2O/set.000/virial.npy
Due: none

Delete examples/hessian/data/H8C4N2O/set.000/tmp
  examples/hessian/data/H8C4N2O/set.000/tmp
Due: none

Add files via upload
  examples/hessian/data/H8C4N2O/type.raw
  examples/hessian/data/H8C4N2O/type_map.raw
Due: none

Create tmp
  examples/hessian/data/H10C5N2O/set.000/tmp
Due: none

Add files via upload
  examples/hessian/data/H10C5N2O/set.000/box.npy
  examples/hessian/data/H10C5N2O/set.000/coord.npy
  examples/hessian/data/H10C5N2O/set.000/energy.npy
  examples/hessian/data/H10C5N2O/set.000/force.npy
  examples/hessian/data/H10C5N2O/set.000/hessian.npy
  examples/hessian/data/H10C5N2O/set.000/virial.npy
Due: none

Delete examples/hessian/data/H10C5N2O/set.000/tmp
  examples/hessian/data/H10C5N2O/set.000/tmp
Due: none
