Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Update base_model.py
  deepmd/dpmodel/model/base_model.py
Due: Python

fix: try add backend detection
  deepmd/entrypoints/test.py
Due: Python

fix: misleading comment
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: LAMMPS

enable model compile. print wall-time in stdout
  deepmd/pt_expt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt_expt/test_training.py
Due: Python

padding nall so the model is compiled with mode `real`. fix bug in env mat.
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

more robust stat
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/pt_expt/utils/stat.py
Due: Python

refactor: unify make_stat_input and validate fparam/aparam in stat
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pt_expt/utils/stat.py
  deepmd/tf/model/model_stat.py
  deepmd/utils/model_stat.py
  source/tests/consistent/test_make_stat_input.py
Due: Python

fix bug
  deepmd/pt_expt/train/training.py
Due: Python

fix
  source/tests/pt_expt/test_training.py
Due: none

changed find_ to int. refactorizing get_data
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/batch.py
  deepmd/dpmodel/utils/stat.py
  deepmd/pt_expt/train/training.py
  deepmd/utils/model_stat.py
  source/tests/consistent/test_make_stat_input.py
Due: Python

fix(CI): pin protobuf<7.34
  pyproject.toml
Due: none

CI(deps): bump torch (cpu) to 2.10.0
  pyproject.toml
Due: none

use 0.001 by default for AdamW
  deepmd/utils/argcheck.py
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/input_torch_dynamic.json
Due: Python

port dpmodel loss to pt_expt and use user-facing model output keys
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/loss.py
  deepmd/pt_expt/loss/__init__.py
  deepmd/pt_expt/loss/ener.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/train/wrapper.py
  source/tests/consistent/loss/test_ener.py
  source/tests/pt_expt/conftest.py
  source/tests/pt_expt/fitting/test_fitting_stat.py
  source/tests/pt_expt/loss/__init__.py
  source/tests/pt_expt/loss/test_ener.py
  source/tests/pt_expt/test_training.py
Due: Python

fix(api_cc,pt): fix NULL type crash in DeepPotPT
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt.py
Due: C++ API, LAMMPS

use full like
  deepmd/dpmodel/utils/env_mat.py
Due: Python

fix bugs in ut
  source/tests/consistent/fitting/test_ener.py
Due: none

fix: compiled training force loss not decreasing
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

fix the rmse_v inconsistency but in the dp backend. improve the consistency ut for checking all loss terms.
  deepmd/dpmodel/loss/ener.py
  source/tests/consistent/common.py
  source/tests/consistent/loss/test_ener.py
Due: Python

fix tests
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_polar.py
Due: none

feat(pt dpmodel): add lmdb dataloader
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/entrypoints/test.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
  examples/lmdb_data/input_lmdb.json
  source/tests/consistent/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

refactor: add name-based routing & slice mode for HybridMuon opt
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

feat: add Magma-lite damping for Muon path; fix AdamW decay lr
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

fix cuda bug
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
Due: none

remove unused optim_dict
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

CI(deps): bump torch (cpu) to 2.10.0 (#5273)
  pyproject.toml
Due: none

fix ut
  source/tests/consistent/common.py
Due: none

feat(pretrained): integrate pretrained downloader and alias backend
  deepmd/__about__.py
  deepmd/backend/pretrained.py
  deepmd/entrypoints/main.py
  deepmd/main.py
  deepmd/pretrained/__init__.py
  deepmd/pretrained/backend.py
  deepmd/pretrained/download.py
  deepmd/pretrained/entrypoints.py
  deepmd/pretrained/registry.py
  source/tests/common/test_pretrained_backend.py
  source/tests/common/test_pretrained_download.py
  source/tests/common/test_pretrained_parser.py
Due: Python

chore: drop temporary deepmd/__about__.py fallback
  deepmd/__about__.py
Due: Python

style: apply prek formatting fixes for pretrained integration
  deepmd/pretrained/backend.py
  deepmd/pretrained/download.py
  deepmd/pretrained/entrypoints.py
  source/tests/common/test_pretrained_download.py
Due: Python

refactor(pretrained): rename backend helper and address PR review comments
  deepmd/backend/pretrained.py
  deepmd/pretrained/deep_eval.py
  deepmd/pretrained/download.py
  source/tests/common/test_pretrained_backend.py
  source/tests/common/test_pretrained_download.py
Due: Python

refactor(pretrained): lazy load at backend boundary, eager deep_eval module
  deepmd/backend/pretrained.py
  deepmd/pretrained/deep_eval.py
  source/tests/common/test_pretrained_backend.py
Due: Python

refactor(cli): move pretrained registry import to module scope
  deepmd/main.py
Due: Python

fix(pretrained): accept case-insensitive .pretrained suffix
  deepmd/pretrained/deep_eval.py
  source/tests/common/test_pretrained_backend.py
Due: Python

fix bug
  source/tests/common/dpmodel/test_fitting_stat.py
Due: none

rename
  deepmd/tf/utils/compat.py
  deepmd/utils/compat.py
  source/tests/pd/test_training.py
  source/tests/pt/test_training.py
Due: Python

refactor(training): remove unused learning_rate_dict multitask handling
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

docs: update learning-rate.md with accurate parameter descriptions
  doc/train/learning-rate.md
Due: none

simplify
  doc/train/learning-rate.md
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
