Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

use ubuntu image
  .github/workflows/test_cuda.yml
Due: none

install wget
  .github/workflows/test_cuda.yml
Due: none

use nvidia image
  .github/workflows/test_cuda.yml
Due: none

fix cmd
  .github/workflows/test_cuda.yml
Due: none

install git
  .github/workflows/test_cuda.yml
Due: none

not clear where pytest is installed...
  .github/workflows/test_cuda.yml
Due: none

fix a typo in tool.cibuildwheel.linux.environment
  pyproject.toml
Due: none

use $GITHUB_WORKSPACE
  .github/workflows/test_cuda.yml
Due: none

add the GPU kernel for NeighborStat (first working version)
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
  source/lib/include/neighbor_stat.h
  source/lib/src/gpu/neighbor_stat.cu
  source/op/custom_op.h
  source/op/neighbor_stat.cc
  source/op/prod_env_mat_multi_device.cc
Due: OP, Core

we don't need to calculate the maximum neighbor number of each frame; using a constant is fine
  source/lib/include/neighbor_stat.h
  source/lib/src/gpu/neighbor_stat.cu
  source/op/neighbor_stat.cc
Due: OP, Core

make neighbor atoms in parallel
  source/lib/src/gpu/neighbor_stat.cu
Due: Core

use tf.reduce_min instead of np.min
  deepmd/utils/neighbor_stat.py
Due: Python

use GPU to max
  deepmd/utils/neighbor_stat.py
Due: Python

use mem_nnei; make several variable to be class attr
  source/op/neighbor_stat.cc
Due: OP

use shared memory
  source/lib/src/gpu/neighbor_stat.cu
Due: Core

do not sqrt for every dist; instead do it in the final
  deepmd/utils/neighbor_stat.py
  source/lib/src/gpu/neighbor_stat.cu
  source/op/neighbor_stat.cc
Due: Python, OP, Core

revert gpu_cuda/rocm.h
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

clean unused codes
  source/lib/src/gpu/neighbor_stat.cu
Due: Core

implement the gradient of the gradient of the se_atten_v2 model
  deepmd/op/_tabulate_grad.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/tabulate_multi_device.cc
Due: Python, OP, Core

pre-commit
  source/lib/src/gpu/tabulate.cu
  source/op/tabulate_multi_device.cc
Due: OP, Core

update Implib.so to fix ld warnings
  source/3rdparty/implib/arch/aarch64/table.S.tpl
  source/3rdparty/implib/arch/arm/table.S.tpl
  source/3rdparty/implib/arch/i386/table.S.tpl
  source/3rdparty/implib/arch/mips/table.S.tpl
  source/3rdparty/implib/arch/mips64/table.S.tpl
  source/3rdparty/implib/arch/x86_64/table.S.tpl
Due: none

refactor update_sel
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
Due: Python

set the default value for one_type
  deepmd/entrypoints/train.py
Due: Python

it seems rcut=0 will fail; we use a normal value, saying 6
  deepmd/model/pairwise_dprc.py
Due: Python

add more test cases
  source/tests/test_train.py
Due: none

run Test CUDA in container (#2892)
  .github/workflows/test_cuda.yml
Due: none

fix a typo in tool.cibuildwheel.linux.environment (#2896)
  pyproject.toml
Due: none

update vendored Implib.so to fix ld warnings (#2900)
  source/3rdparty/implib/arch/aarch64/table.S.tpl
  source/3rdparty/implib/arch/arm/table.S.tpl
  source/3rdparty/implib/arch/i386/table.S.tpl
  source/3rdparty/implib/arch/mips/table.S.tpl
  source/3rdparty/implib/arch/mips64/table.S.tpl
  source/3rdparty/implib/arch/x86_64/table.S.tpl
Due: none

refactor update_sel (#2901)
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
  source/tests/test_train.py
Due: Python

raise ValueError for se_attn when ntypes is 0
  deepmd/descriptor/se_atten.py
Due: Python

pairwise_dprc + frozen
  deepmd/model/pairwise_dprc.py
Due: Python

allow QM models have fewer types
  deepmd/model/pairwise_dprc.py
Due: Python

revert must
  deepmd/model/pairwise_dprc.py
Due: Python

Se atten grad grad (#2898)
  deepmd/op/_tabulate_grad.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/tabulate_multi_device.cc
Due: Python, OP, Core

fix TypeError when type_map is not given (#2890)
  deepmd/descriptor/se_atten.py
  deepmd/model/model.py
  deepmd/model/multi.py
Due: Python

support combining frozen models into a pairwise DPRc model (#2902)
  deepmd/model/pairwise_dprc.py
Due: Python

comments for se_a_grad_grad
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
Due: Core

fix grammar
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
Due: Core

remove redundant parenthesis
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
Due: Core

support neighbor stat on GPUs (#2897)
  deepmd/utils/neighbor_stat.py
  source/lib/include/neighbor_stat.h
  source/lib/src/gpu/neighbor_stat.cu
  source/op/custom_op.h
  source/op/neighbor_stat.cc
  source/op/prod_env_mat_multi_device.cc
Due: Python, OP, Core
