Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(dpa4): stabilize envelope-gated attention normalization (#5808)
  deepmd/dpmodel/descriptor/dpa4_nn/attention.py
  deepmd/dpmodel/descriptor/dpa4_nn/radial.py
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/descriptor/sezm_nn/attention.py
  deepmd/pt/model/descriptor/sezm_nn/radial.py
  examples/water/dpa4/README.md
  examples/water/dpa4/input-zbl.json
  examples/water/dpa4/input.json
  examples/water/dpa4/input_dens.json
  examples/water/dpa4/input_multitask.json
  examples/water/dpa4/lmp/README.md
  examples/water/dpa4/lmp/input.json
  examples/water/dpa4/lmp/pretrained.pt
  examples/water/dpa4/lora_ft.json
  source/tests/pt/model/test_descriptor_sezm.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

feat(dpmodel): DPA4 graph-native forward (call_graph) and graph-lower capability flags
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: Python

test(dpmodel): use message-sensitive DPA4 fixture in call_graph parity tests
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: none

test(dpmodel): pin dpa4_ener fitting on the flat-N graph seam
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: none

feat(pt_expt): route DPA4 through the NeighborGraph lower with a persisted disable knob
  deepmd/pt_expt/descriptor/dpa4.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: Python

fix(dpmodel): DPA4 declares no cross-rank exchange; multi-rank now fails fast instead of dead-comm
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
  source/tests/pt_expt/model/test_dpa4_export.py
Due: Python

test(dpmodel): golden pin of DPA4 dense call outputs (Task 7 Step 1.5)
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: none

refactor(dpmodel): DPA4 dense call is a NeighborGraph adapter; one graph-native math owner
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
Due: Python

refactor(dpmodel): delete the retired DPA4 padded dense builder; repoint padded parity tests at the surviving seam
  deepmd/dpmodel/descriptor/dpa4_nn/__init__.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix(jax): return stored HLO neighbor count (#5792)
  deepmd/jax/model/hlo.py
  source/tests/jax/test_deep_dos.py
  source/tests/jax/test_hlo.py
Due: Python

fix(pt): allow concurrent stat cache reads (#5773)
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/dpmodel/utils/stat.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  deepmd/utils/env_mat_stat.py
  deepmd/utils/path.py
  examples/water/dpa4/input.json
  source/tests/common/dpmodel/test_observed_type.py
  source/tests/common/test_path.py
  source/tests/pt/test_observed_type.py
  source/tests/pt/test_stat_file_mode.py
Due: Python

feat(pt_expt): DPA4 graph .pt2 export (auto lower kind resolves to graph)
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: none

test(pt_expt): de-vacuate DPA4 AOTI freeze parity via jittered weights
  source/tests/pt_expt/model/test_dpa4_export.py
Due: none

test(infer,cc,lmp): DPA4 graph .pt2 inference fixtures, C++ row, LAMMPS single-rank
  source/api_cc/tests/test_deeppot_universal.cc
  source/lmp/tests/test_lammps_dpa4_graph_pt2.py
  source/lmp/tests/test_lammps_dpa4_pt2.py
  source/tests/infer/gen_dpa4.py
  source/tests/pt_expt/infer/test_dpa4_deep_eval.py
Due: C++ API, LAMMPS

refactor(dpmodel): remove the DPA4 loose-edge-list API in favor of NeighborGraph
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/__init__.py
  deepmd/dpmodel/descriptor/dpa4_nn/attention.py
  deepmd/dpmodel/descriptor/dpa4_nn/block.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  deepmd/pt_expt/descriptor/dpa4_nn/block.py
  deepmd/pt_expt/descriptor/dpa4_nn/so2.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
  source/tests/common/dpmodel/test_dpa4_sparse_edges.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

chore(pt_expt,cc): deprecate the legacy edge_vec .pt2 lower schema loaders
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/edge_schema.py
  deepmd/pt_expt/utils/vesin_neighbor_list.py
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/tests/pt_expt/infer/test_edge_vec_deprecation.py
Due: Python, C++ API

docs(dpa4): document graph-native inference route and correct multi-rank status
  doc/model/dpa4.md
Due: none

docs(dpa4): final-review fix batch — stale docstrings, dead param, error-site wording
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  deepmd/main.py
  doc/model/dpa4.md
  source/lmp/tests/test_lammps_dpa4_pt2.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python, LAMMPS

fix(pt_expt): trace graph lower on the model's device; fix CUDA test device placement
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
  source/tests/pt_expt/model/test_graph_export.py
  source/tests/pt_expt/model/test_graph_export_with_comm.py
Due: Python

test(pt_expt): move DPA4 export-test artifact inputs to the compile device
  source/tests/pt_expt/model/test_dpa4_export.py
Due: none

test(pt_expt): keep the DPA4 dense-branch eager reference on CPU
  source/tests/pt_expt/model/test_dpa4_export.py
Due: none

test(dpa4): promote jitter_zero_arrays to a shared fixture module
  source/tests/common/dpmodel/test_dpa4_call_graph.py
  source/tests/dpa4_fixtures.py
  source/tests/infer/gen_dpa4.py
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: none

test(pt_expt): pin do_atomic_virial=False filtering on the DPA4 graph lower
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: none

refactor(pt_expt): route the canonical-graph tebd table via the descriptor hook
  deepmd/pt_expt/model/ener_model.py
Due: Python

CI: run Test C++ workflow on self-hosted runner
  .github/workflows/test_cc.yml
Due: none

fix(ipi): reject unknown atom names (#5793)
  source/ipi/driver.cc
  source/ipi/src/Convert.cc
  source/ipi/tests/test_driver_input_validation.py
Due: i-Pi

fix(c-api): contain model deviation frame errors (#5794)
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deepmd_exception.cc
Due: C API

Set up GCC
  .github/workflows/test_cc.yml
Due: none

refactor(dpmodel): DPA4 graph trunk threads comm_dict; dense adapter owns the rejection
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: Python

fix(dpmodel): dense comm rejection fires before the graph build
  deepmd/dpmodel/descriptor/dpa4.py
Due: Python

feat(pt_expt): border_op ghost exchange for the DPA4 graph route
  deepmd/pt_expt/descriptor/dpa4_nn/block.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: Python

test(pt_expt): pin the DPA4 exchange spin-comm rejection
  deepmd/pt_expt/descriptor/dpa4_nn/block.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: Python

feat(pt_expt): DPA4 declares graph-route cross-rank exchange; with-comm artifact gate is lower-kind-aware
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

test(pt_expt): DPA4 graph .pt2 embeds the with-comm sidecar; nlist stays single-artifact
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_graph_export_with_comm.py
Due: none

docs(test): correct test_dpa4_freeze_to_pt2 docstring to the kind-conditional artifact layout
  source/tests/pt_expt/model/test_dpa4_export.py
Due: none

test(lmp): DPA4 graph multi-rank MPI tests (MP==SP gate + empty-rank bound)
  source/lmp/tests/test_lammps_dpa4_graph_pt2.py
  source/lmp/tests/test_lammps_dpa4_pt2.py
  source/tests/infer/gen_dpa4.py
Due: LAMMPS

docs(dpa4): multi-rank supported on the graph .pt2 via the with-comm artifact
  doc/model/dpa4.md
Due: none

ci(cuda): raise Test CUDA job timeout to 480 min
  .github/workflows/test_cuda.yml
Due: none

refactor(ci): drop static duration seeds
  source/tests/ci_split.py
  source/tests/ci_split_seed_3.10.json
  source/tests/ci_split_seed_3.13.json
  source/tests/test_ci_split.py
Due: none
