Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

codecov.yml:

ignore:
  - "source/**/tests"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**

test lmp for linux wheel (#2550)
  pyproject.toml
Due: none

fix type hints
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/tensor.py
Due: Python

fix type hints
  deepmd/model/model.py
Due: Python

add some abstractmethods
  deepmd/model/model.py
Due: Python

update package classifiers
  pyproject.toml
Due: none

update package classifiers (#2558)
  pyproject.toml
Due: none

test make_model_devi
  deepmd/infer/deep_pot.py
  source/tests/test_model_devi.py
  source/tests/test_model_devi_mix.py
Due: Python

Fix model-devi with mixed_type format (#2433)
  deepmd/infer/deep_pot.py
  deepmd/infer/model_devi.py
  source/tests/infer/se_atten_no_atten_1.pbtxt
  source/tests/infer/se_atten_no_atten_2.pbtxt
  source/tests/test_model_devi_mix.py
Due: Python

reduce model size for dplr unittest
  source/lmp/tests/lrdipole.pbtxt
  source/lmp/tests/test_dplr.py
Due: LAMMPS

no need to add the dipole model
  source/lmp/tests/lrdipole.pbtxt
Due: LAMMPS

use correct lr model
  source/lmp/tests/lrmodel.pbtxt
Due: LAMMPS

write more digits for expected virial of sr model
  source/lmp/tests/test_dplr.py
Due: LAMMPS

docs: add nodejs to toc
  doc/inference/index.rst
  doc/install/index.rst
Due: none

cmake: fix a typo in nodejs cmake file
  source/nodejs/CMakeLists.txt
Due: none

fix large files checking
  .pre-commit-config.yaml
Due: none

add exclude
  .pre-commit-config.yaml
Due: none

remove unnecessary files from pypi source distribution
  MANIFEST.in
Due: none

Update MANIFEST.in
  MANIFEST.in
Due: none

pre-commit
  deepmd/descriptor/se_atten.py
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/utils/argcheck.py
  deepmd/utils/tabulate.py
  deepmd/utils/type_embed.py
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/op/_tabulate_grad.py
  source/op/tabulate_multi_device.cc
Due: Python, OP, Core

docs: add nodejs to toc (#2562)
  doc/inference/index.rst
  doc/install/index.rst
Due: none

cmake: fix a typo in nodejs cmake file (#2563)
  source/nodejs/CMakeLists.txt
Due: none

remove unnecessary files from pypi source distribution (#2565)
  MANIFEST.in
Due: none

remove auxiliary functions
  source/op/tabulate_multi_device.cc
Due: OP

pre commit format
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
Due: none

disallow attention layer=0 when compression is enabled
  deepmd/descriptor/se_atten.py
Due: Python

pre-commit
  deepmd/descriptor/se_atten.py
Due: Python

add compressible config example
  examples/water/se_atten/input.json
Due: none

skip the test of compression of se_atten if tf version < 2
  source/tests/test_model_compression_se_atten.py
Due: none

skip init_models
  source/tests/test_model_compression_se_atten.py
Due: none

reduce lrmodel.pbtxt to 950 K
  source/lmp/tests/lrmodel.pbtxt
  source/lmp/tests/test_dplr.py
Due: LAMMPS

improve docs and scripts to install TF 2.12
  doc/install/install-from-source.md
  doc/install/install-tf.2.12.md
  source/cmake/Findtensorflow.cmake
  source/install/build_tf.py
Due: none

improve docs and scripts to install libtensorflow_cc 2.12 (#2571)
  doc/install/install-from-source.md
  doc/install/install-tf.2.12.md
  source/cmake/Findtensorflow.cmake
  source/install/build_tf.py
Due: none

remove resolved files
  .pre-commit-config.yaml
Due: none

add the compressible config for tests
  source/tests/water_compressible_se_atten.json
Due: none

add mixed type test json
  source/tests/water_se_atten_compressible_mixed_type.json
Due: none

Update deepmd/utils/argcheck.py
  deepmd/utils/argcheck.py
Due: Python
