Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

init for dpmodel make_model
  deepmd/dpmodel/model/make_model.py
Due: Python

Fix: ZBL state_dict duplicated keys (#3432)
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

frozen_model
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/frozen.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/model.py
  source/tests/consistent/model/test_frozen.py
  source/tests/infer/deeppot.dp
Due: Python

docs
  deepmd/utils/argcheck.py
Due: Python

chore: refactor linear serialize
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

fix: remove model_def_script from AtomicModel (#3449)
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
Due: Python

delete test files
  source/tests/consistent/model/test_frozen.py
Due: none

reshape bias_atom_e to ntypes,1
  deepmd/tf/fit/ener.py
Due: Python

get commbrick from lammps
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/op_pt/CMakeLists.txt
  source/op_pt/custom_op.h
Due: LAMMPS

fix: restore pt backend
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

feat(pt): consistent "frozen" model (#3450)
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/frozen.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/model.py
  deepmd/utils/argcheck.py
  source/tests/consistent/model/test_frozen.py
  source/tests/infer/deeppot.dp
Due: Python

fix: remove interface
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

feat: add dos net
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/task/dos.py
Due: Python

feat: add dp
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/tf/fit/dos.py
  source/tests/consistent/fitting/test_dos.py
Due: Python

chore: bump version
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

remove unused init_fitting_stat
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
Due: Python

fix: add dtype
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

chore: remove unused init_fitting_stat (#3453)
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
Due: Python

fix: serialize
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/dos.py
  deepmd/tf/fit/dos.py
  source/tests/consistent/common.py
Due: Python

fix: type
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
Due: Python

Chore: refactor LinearAtomicModel serialize/deserialize (#3451)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

fix comments
  deepmd/pt/utils/learning_rate.py
  deepmd/tf/utils/learning_rate.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_lr.py
Due: Python

Update learning_rate.py
  deepmd/pt/utils/learning_rate.py
Due: Python

pt: add index input for `use_spin`
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
Due: Python

fix: dim_out serialize
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/dos.py
  source/tests/consistent/fitting/test_dos.py
Due: Python

fix: UTs
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/pt/model/task/dos.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/tf/test_model_dos.py
Due: Python

fix: UTs
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/task/dos.py
  source/tests/pt/model/test_permutation.py
  source/tests/tf/test_fitting_dos.py
Due: Python

feat: add UTs
  deepmd/pt/model/model/__init__.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
Due: Python

fix the bug of empty fitting net neuron.
  deepmd/dpmodel/utils/network.py
  source/tests/pt/model/test_ener_fitting.py
Due: Python

feat: add training
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  source/tests/pt/dos/data/set.000/atom_dos.npy
  source/tests/pt/dos/data/set.000/box.npy
  source/tests/pt/dos/data/set.000/coord.npy
  source/tests/pt/dos/data/set.000/dos.npy
  source/tests/pt/dos/data/type.raw
  source/tests/pt/dos/data/type_map.raw
  source/tests/pt/dos/input.json
  source/tests/pt/test_training.py
Due: Python

fix the bug of empty fitting net neuron. (#3458)
  deepmd/dpmodel/utils/network.py
  source/tests/pt/model/test_ener_fitting.py
Due: Python

fix: hack consistency UT
  source/tests/consistent/common.py
Due: none

fix: remove UT hack
  deepmd/tf/fit/dos.py
  source/tests/consistent/common.py
Due: Python

fix: precommit
  deepmd/tf/fit/dos.py
Due: Python

ci: reduce ASLR entropy
  .github/workflows/test_cc.yml
Due: none

docs: add deprecation notice for the official conda channel and more docs about conda
  doc/install/build-conda.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
Due: none

add danger admonitions
  doc/install/build-conda.md
  doc/install/easy-install.md
Due: none

ci: reduce ASLR entropy (#3461)
  .github/workflows/test_cc.yml
Due: none

Apply suggestions from code review
  doc/install/easy-install.md
Due: none

fix: UTs
  source/tests/tf/test_fitting_dos.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
