Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix the virial shape since DERV_C changed from (3,3) to (9,)
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

fix: add tab_data to graph
  deepmd/pt/model/model/pairtab_atomic_model.py
Due: Python

fix: cuda
  source/tests/pt/model/test_linear_atomic_model.py
Due: none

refactor DeepEval (#3213)
  deepmd/__init__.py
  deepmd/infer/backend.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/entrypoints/test.py
  deepmd/tf/infer/__init__.py
  deepmd/tf/infer/data_modifier.py
  deepmd/tf/infer/deep_dipole.py
  deepmd/tf/infer/deep_dos.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/infer/deep_polar.py
  deepmd/tf/infer/deep_pot.py
  deepmd/tf/infer/deep_tensor.py
  deepmd/tf/infer/deep_wfc.py
  deepmd/tf/model/frozen.py
Due: Python

Resolve conversations
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/test_stat.py
Due: Python

Fix Code scanning errors
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
Due: Python

fix: move input to gpu
  source/tests/pt/model/test_linear_atomic_model.py
Due: none

global dp test
  deepmd/entrypoints/test.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/test.py
Due: Python

pt: infer model type from ModelOutputDef
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
Due: Python

fix codeql warning
  deepmd/entrypoints/test.py
Due: Python

fix: move res to gpu
  source/tests/pt/model/test_linear_atomic_model.py
Due: none

allow kwargs for child method
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix: cuda tests of linear and pair atomic model (#3248)
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
Due: Python

backend-indepedent dp test (#3249)
  deepmd/entrypoints/test.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/test.py
Due: Python

pt: infer model type from ModelOutputDef (#3250)
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
Due: Python

let .pth the default extension in the cli
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
Due: Python

pt: support loading frozen models in DeepEval
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/model/test_deeppot.py
Due: Python

tf: support checkpoint path (instead of directory) in dp freeze
  deepmd/main.py
  deepmd/tf/entrypoints/freeze.py
Due: Python

ipi: remove normalize_coord
  doc/install/install-from-c-library.md
  source/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/ipi/tests/test_driver.py
Due: i-Pi

bugfix
  source/ipi/driver.cc
Due: i-Pi

remove region
  source/ipi/driver.cc
Due: i-Pi

ensure calc closed
  source/ipi/tests/test_driver.py
Due: i-Pi

pt: add exported methods to BaseAtomicModel
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/base_atomic_model.py
Due: Python

tf: support checkpoint path (instead of directory) in dp freeze (#3254)
  deepmd/main.py
  deepmd/tf/entrypoints/freeze.py
Due: Python

ipi: remove normalize_coord (#3257)
  doc/install/install-from-c-library.md
  source/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/ipi/tests/test_driver.py
Due: i-Pi

fix bug of not passing params in model
  deepmd/pt/model/model/ener.py
Due: Python

add missing docs in pt make model
  deepmd/pt/model/model/make_model.py
Due: Python

implement make hessian model, not tested
  deepmd/dpmodel/__init__.py
  deepmd/dpmodel/output_def.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/make_hessian_model.py
  deepmd/pt/model/model/transform_output.py
  source/tests/pt/model/test_make_hessian_model.py
Due: Python

fix bug
  deepmd/pt/model/model/ener.py
Due: Python

Remove data preprocess dependency from data stat
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_stat.py
Due: Python

fix bugs
  deepmd/dpmodel/output_def.py
  deepmd/pt/model/model/make_hessian_model.py
  source/tests/pt/model/test_make_hessian_model.py
Due: Python

throw errors
  deepmd/dpmodel/model/linear_atomic_model.py
  deepmd/dpmodel/model/pairtab_atomic_model.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
Due: Python

copy
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/pt/model/model/base_atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
Due: Python

support TF se_e2_a serialization; add a test fixture to compare TF, PT, and DP models
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/env.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/tabulate.py
  source/tests/consistent/__init__.py
  source/tests/consistent/common.py
  source/tests/consistent/test_se_e2_a.py
Due: Python

fix py38 compatibility
  deepmd/tf/descriptor/se.py
Due: Python

resolve conversations
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/utils/stat.py
Due: Python

add `get_type_map` method to model; export model methods (#3247)
  deepmd/dpmodel/model/dp_atomic_model.py
  deepmd/dpmodel/model/linear_atomic_model.py
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/dpmodel/model/pairtab_atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
Due: Python

use get
  deepmd/pt/infer/deep_eval.py
Due: Python
