Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

merge documentation
  README.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/index.rst
  doc/model/pairwise-dprc.md
Due: none

nvnmd
  doc/nvnmd/nvnmd.md
Due: none

breaking: change the default value of `rcond` from 1e-3 to `None`
  deepmd/utils/argcheck.py
Due: Python

kk
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  source/tests/common.py
Due: Python

nvnmd
  .pre-commit-config.yaml
Due: none

add pairwise DPRc (#2682)
  deepmd/descriptor/descriptor.py
  deepmd/entrypoints/freeze.py
  deepmd/entrypoints/train.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/pairwise_dprc.py
  deepmd/utils/argcheck.py
  doc/model/dprc.md
  examples/dprc/data/nopbc
  examples/dprc/data/set.000/aparam.npy
  examples/dprc/data/set.000/box.npy
  examples/dprc/data/set.000/coord.npy
  examples/dprc/data/set.000/energy.npy
  examples/dprc/data/set.000/force.npy
  examples/dprc/data/type.raw
  examples/dprc/data/type_map.raw
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  source/lib/include/pairwise.h
  source/lib/src/pairwise.cc
  source/lib/tests/CMakeLists.txt
  source/lib/tests/test_pairwise.cc
  source/op/CMakeLists.txt
  source/op/pairwise.cc
  source/tests/pairwise_dprc.json
  source/tests/test_examples.py
  source/tests/test_pairwise_dprc.py
Due: Python, OP, Core

breaking: change the default value of `rcond` from `1e-3` to `None` (#2688)
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  deepmd/utils/multi_init.py
  source/tests/common.py
Due: Python

add option
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/utils/argcheck.py
Due: Python

typo
  deepmd/utils/argcheck.py
Due: Python

breaking: add energy bias to tab potential (#2670)
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/utils/argcheck.py
Due: Python

support generalized force loss
  deepmd/loss/ener.py
  deepmd/utils/argcheck.py
  doc/data/system.md
  pyproject.toml
Due: Python

fix errors
  deepmd/loss/ener.py
Due: Python

fix errors; add examples
  deepmd/loss/ener.py
  deepmd/utils/argcheck.py
  examples/dprc/data/set.000/drdq.npy
  examples/dprc/generalized_force/input.json
  source/tests/test_examples.py
Due: Python

add tests
  source/tests/test_loss_gf.py
Due: none

support generalized force loss (#2690)
  deepmd/loss/ener.py
  deepmd/utils/argcheck.py
  doc/data/system.md
  examples/dprc/data/set.000/drdq.npy
  examples/dprc/generalized_force/input.json
  pyproject.toml
  source/tests/test_examples.py
  source/tests/test_loss_gf.py
Due: Python

set cmake_minimum_required for CUDA/ROCm
  source/CMakeLists.txt
Due: none

improve CLI performance
  .github/labeler.yml
  deepmd/entrypoints/main.py
  deepmd_cli/__init__.py
  deepmd_cli/main.py
  setup.py
Due: Python

add docs
  deepmd_cli/__init__.py
Due: none

improve docs
  deepmd/entrypoints/main.py
Due: Python

now `dp -h` is not enough to ensure TF works
  pyproject.toml
  source/install/docker/Dockerfile
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

improve CLI performance (#2696)
  .github/labeler.yml
  deepmd/entrypoints/main.py
  deepmd_cli/__init__.py
  deepmd_cli/main.py
  pyproject.toml
  setup.py
  source/install/docker/Dockerfile
Due: Python

set cmake_minimum_required for CUDA/ROCm (#2695)
  source/CMakeLists.txt
Due: none

add args decorator for fitting and loss
  deepmd/utils/argcheck.py
Due: Python

update citation information
  CITATIONS.bib
  README.md
  deepmd/train/run_options.py
  doc/credits.rst
  doc/index.rst
  source/lmp/pair_deepmd.cpp
Due: Python, LAMMPS

fix escape symbols
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

se_e2_a
  doc/model/train-se-e2-a.md
Due: none

raise error if both v1 and v2 parameters are given
  deepmd/utils/compat.py
Due: Python

make the message clear
  deepmd/utils/compat.py
Due: Python

use `myst_fence_as_directive`
  doc/conf.py
  doc/model/train-se-e2-a.md
Due: none

bump myst-parser to >=0.19.2
  setup.py
Due: none

make only the local GPU visible
  deepmd/train/run_options.py
Due: Python

bump lammps to stable_2Aug2023
  doc/install/install-lammps.md
  pyproject.toml
  setup.py
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

fix tests
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
Due: LAMMPS

-1
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
Due: LAMMPS

fix
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
Due: LAMMPS
