Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

refactor(dpa4): output ffn
  deepmd/pt/model/descriptor/sezm.py
  deepmd/utils/argcheck.py
  examples/water/dpa4/input.json
Due: Python

feat(dpmodel): port so3_readout to DescrptDPA4 (cross-backend with pt #5556)
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/consistent/descriptor/test_dpa4.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix(dpa4): truncate so3_readout input to final node degree (empty-edge path)
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt/model/descriptor/sezm.py
  source/tests/pt/model/test_descriptor_sezm.py
Due: Python

fix(pt): enable second-order autograd for tabulate descriptors (#5537)
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/tabulate_test_utils.py
  source/tests/pt/test_tabulate_fusion_se_a.py
  source/tests/pt/test_tabulate_fusion_se_atten.py
  source/tests/pt/test_tabulate_fusion_se_r.py
  source/tests/pt/test_tabulate_fusion_se_t.py
  source/tests/pt/test_tabulate_fusion_se_t_tebd.py
Due: OP

feat(dpa4): so3_readout across pt + dpmodel/pt_expt backends (#5561)
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt/model/descriptor/sezm.py
  deepmd/utils/argcheck.py
  examples/water/dpa4/input.json
  source/tests/consistent/descriptor/test_dpa4.py
  source/tests/pt/model/test_descriptor_sezm.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

feat: reduce nv_nlist sync
  deepmd/pt/utils/nv_nlist.py
Due: Python

fix: check_compile_torch_version
  deepmd/pt/model/model/sezm_model.py
Due: Python

refactor(pt/dpa4): use edge schema for dpa4 and ignore sel
  deepmd/dpmodel/utils/default_neighbor_list.py
  deepmd/dpmodel/utils/neighbor_list.py
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/model/sezm_spin_model.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/nv_nlist.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/edge_schema.py
  deepmd/pt_expt/utils/vesin_neighbor_list.py
  deepmd/utils/argcheck.py
  examples/water/dpa4/input.json
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/api_cc/tests/test_neighbor_list_data.cc
  source/tests/pt/model/test_descriptor_sezm.py
  source/tests/pt/model/test_nv_nlist.py
  source/tests/pt/model/test_sezm_export.py
  source/tests/pt/model/test_sezm_model.py
Due: Python, C++ API

feat: max_tile to 1 and use int64 indexing
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/utils/compile_compat.py
Due: Python

fix(train): allow zero-step training with bias adjustment (#5477)
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  source/tests/pd/test_training.py
  source/tests/pt/test_training.py
Due: Python

feat(data): add dpdata format conversion
  deepmd/pd/entrypoints/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  pyproject.toml
  source/tests/common/test_data_system_conversion.py
Due: Python

fix(pt-expt): detach tensors before numpy serialization
  deepmd/dpmodel/common.py
  source/tests/consistent/test_array_api.py
Due: Python

test(pt): cover linear shared dict review paths
  deepmd/pt/model/model/dp_linear_model.py
  source/tests/pt/model/test_linear_model_shared_dict.py
Due: Python

test(api): address universal deeppot review comments
  source/api_c/tests/test_deeppot_universal.cc
  source/api_cc/tests/deeppot_universal_test_common.h
  source/api_cc/tests/test_deeppot_universal.cc
Due: C++ API, C API

fix(lmp): use forward comm for PPPM DPLR AD
  source/lmp/pppm_dplr.cpp
Due: LAMMPS

fix(lmp): use forward comm for PPPM DPLR AD (#5567)
  source/lmp/pppm_dplr.cpp
Due: LAMMPS

feat(pt_expt): load plugin entry points (#5559)
  deepmd/pt_expt/__init__.py
  source/tests/pt_expt/test_plugin.py
Due: Python

fix(jax): avoid lossless savedmodel serialization
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: Python

fix(pt/train): keep epoch-derived num_steps consistent across ranks
  deepmd/pt/train/training.py
Due: Python

fix(pt/train): keep epoch-derived num_steps consistent across ranks (#5570)
  deepmd/pt/train/training.py
Due: Python

skip export test
  source/tests/pt/model/test_sezm_export.py
Due: none

refactor(pt/dpa4): use edge schema for dpa4 and ignore sel (#5562)
  deepmd/dpmodel/utils/default_neighbor_list.py
  deepmd/dpmodel/utils/neighbor_list.py
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/model/sezm_spin_model.py
  deepmd/pt/utils/compile_compat.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/nv_nlist.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/edge_schema.py
  deepmd/pt_expt/utils/vesin_neighbor_list.py
  deepmd/utils/argcheck.py
  examples/water/dpa4/input.json
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/api_cc/tests/test_neighbor_list_data.cc
  source/tests/pt/model/test_descriptor_sezm.py
  source/tests/pt/model/test_nv_nlist.py
  source/tests/pt/model/test_sezm_export.py
  source/tests/pt/model/test_sezm_model.py
Due: Python, C++ API

build(ci): ensure C++ toolchain before pytest
  .github/workflows/test_python.yml
Due: none

fix(pt-expt): detach tensors before numpy serialization (#5566)
  deepmd/dpmodel/common.py
  source/tests/consistent/test_array_api.py
Due: Python

fix(gpu): avoid neighbor-list prefix scan deadlock
  source/lib/src/gpu/neighbor_list.cu
  source/lib/tests/test_neighbor_list.cc
Due: Core

build: bypass Torch CUDA discovery without nvcc (#5558)
  doc/install/install-from-source.md
  source/CMakeLists.txt
Due: none

fix(gpu): avoid neighbor-list prefix scan deadlock (#5575)
  source/lib/src/gpu/neighbor_list.cu
  source/lib/tests/test_neighbor_list.cc
Due: Core

Add files via upload
  .github/scripts/pr_incremental_test.py
Due: none

feat(pt/dpa4): Add a dedicated embedding command to extract different level of features
  deepmd/entrypoints/embedding.py
  deepmd/entrypoints/main.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/sezm_ener.py
  doc/inference/embedding.md
  doc/inference/index.rst
  doc/model/dpa4.md
  source/tests/pt/model/test_embedding.py
Due: Python

feat(pt): add embedding sub cli for other pt models
  deepmd/entrypoints/embedding.py
  deepmd/entrypoints/eval_desc.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/descriptor/sezm_nn/dens.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/sezm_ener.py
  doc/inference/embedding.md
  doc/inference/python.md
  doc/test/test.md
  source/tests/pt/model/test_embedding.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/test_eval_desc.py
  source/tests/pt/test_oom_retry.py
Due: Python

fix compatibility issue
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/sezm_model.py
  source/tests/pt/model/test_embedding.py
Due: Python

feat(pt): add embedding sub cli for pt models (#5571)
  deepmd/entrypoints/embedding.py
  deepmd/entrypoints/eval_desc.py
  deepmd/entrypoints/main.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/descriptor/sezm_nn/dens.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/sezm_ener.py
  doc/inference/embedding.md
  doc/inference/index.rst
  doc/inference/python.md
  doc/model/dpa4.md
  doc/test/test.md
  source/tests/pt/model/test_embedding.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/test_eval_desc.py
  source/tests/pt/test_oom_retry.py
Due: Python

docs: add DPA3 cyclohexane distillation tutorial (#5564)
  doc/getting-started/dpa3_cyclohexane_distillation.ipynb
  doc/getting-started/index.rst
Due: none

test(api): add universal DeepPot C/C++ API tests (#5538)
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_deeppot_a.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam_ptexpt.cc
  source/api_c/tests/test_deeppot_a_ptexpt.cc
  source/api_c/tests/test_deeppot_universal.cc
  source/api_cc/tests/deeppot_universal_test_common.h
  source/api_cc/tests/test_deepdipole_pt.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_ptexpt.cc
  source/api_cc/tests/test_deeppot_a_nframes.cc
  source/api_cc/tests/test_deeppot_default_fparam_pt.cc
  source/api_cc/tests/test_deeppot_default_fparam_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa1_pt.cc
  source/api_cc/tests/test_deeppot_dpa1_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa2_pt.cc
  source/api_cc/tests/test_deeppot_dpa2_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa3_pt.cc
  source/api_cc/tests/test_deeppot_dpa3_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa4_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa_jax.cc
  source/api_cc/tests/test_deeppot_dpa_ptexpt.cc
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/api_cc/tests/test_deeppot_r.cc
  source/api_cc/tests/test_deeppot_universal.cc
  source/api_cc/tests/test_deepspin_model_devi_ptexpt.cc
  source/lmp/tests/test_lammps_faparam.py
  source/tests/infer/deeppot_universal_data.h
  source/tests/infer/gen_fparam_aparam.py
Due: C++ API, C API, LAMMPS

fix(dpa-adapt): address cache and freeze review blockers
  dpa_adapt/_backend.py
  dpa_adapt/config/manager.py
  dpa_adapt/cv.py
  dpa_adapt/data/desc_cache.py
  dpa_adapt/finetuner.py
  dpa_adapt/mft.py
  dpa_adapt/predictor.py
  dpa_adapt/trainer.py
  source/tests/dpa_adapt/test_backend_contract.py
  source/tests/dpa_adapt/test_cache.py
  source/tests/dpa_adapt/test_finetuner_strategies.py
  source/tests/dpa_adapt/test_mft_config.py
Due: none

feat(pt/dpa4): add nvalchemi-toolkit warpper for DPA
  deepmd/pt/nvalchemi/__init__.py
  deepmd/pt/nvalchemi/dpa4wrapper.py
  doc/inference/index.rst
  doc/inference/nvalchemi.md
  examples/water/dpa4/nvalchemi/README.md
  examples/water/dpa4/nvalchemi/relax.py
  examples/water/dpa4/nvalchemi/run_nve.py
  examples/water/dpa4/nvalchemi/run_nvt.py
  examples/water/dpa4/nvalchemi/single_point.py
  pyproject.toml
  source/tests/pt/model/test_sezm_nvalchemi.py
Due: Python

doc
  doc/inference/index.rst
  doc/third-party/index.rst
  doc/third-party/nvalchemi.md
  examples/water/dpa4/nvalchemi/README.md
Due: none

feat(pt/dpa4): support multi-rank lammps inference
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt/model/descriptor/sezm_nn/block.py
  deepmd/pt/model/model/sezm_model.py
  doc/model/dpa4.md
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/commonPTExpt.h
  source/tests/pt/model/test_sezm_export.py
  source/tests/pt/model/test_sezm_parallel.py
Due: Python, C++ API

fix(dpa-adapt): fall back to forward_embedding() when descriptor hook API is absent
  dpa_adapt/_backend.py
  source/tests/dpa_adapt/test_backend_contract.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
