Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

remove ener_unit_cvt_factor from scale
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

add unit converters for fix dplr
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.h
Due: LAMMPS

support multiple units for compute deeptensor/atom
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/compute_deeptensor_atom.h
Due: LAMMPS

add test_pair_deepmd_si
  source/lmp/tests/test_lammps.py
Due: LAMMPS

fix error in test_pair_deepmd_si
  source/lmp/tests/test_lammps.py
Due: LAMMPS

write more decimals when writing lmp data file
  source/lmp/tests/write_lmp_data.py
Due: LAMMPS

write more digits for atomic masses
  source/lmp/tests/test_lammps.py
Due: LAMMPS

use default skin value for the neighbor list
  source/lmp/tests/test_lammps.py
Due: LAMMPS

convert unit for model cutoff
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

convert unit for model cutoff loaded from DeepPotModelDevi
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

use small skin for si units
  source/lmp/tests/test_lammps.py
Due: LAMMPS

add atomic=False option to calc_model_devi_f
  deepmd/infer/model_devi.py
Due: Python

typo
  deepmd/infer/model_devi.py
Due: Python

fix np.loadtxt warning
  deepmd/utils/data.py
Due: Python

import Literal from typing_extensions for py37
  deepmd/infer/model_devi.py
  pyproject.toml
Due: Python

fix the error in dist_unit_cvt_factor
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

docs: add doc to install cmake
  doc/install/install-from-source.md
Due: none

docs: add docs for addtional CMake arguments via pip
  doc/install/install-from-source.md
Due: none

ignore drdq when generalized force loss is not set
  deepmd/loss/ener.py
Due: Python

fix np.loadtxt DeprecationWarning (#2802)
  deepmd/utils/data.py
Due: Python

support atomic/relative model deviation in CLI (#2801)
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  doc/test/model-deviation.md
  doc/third-party/lammps-command.md
  pyproject.toml
  source/tests/test_model_devi.py
Due: Python

docs: add doc to install cmake (#2805)
  doc/install/install-from-source.md
Due: none

docs: add docs for addtional CMake arguments via pip (#2806)
  doc/install/install-from-source.md
Due: none

ignore drdq when generalized force loss is not set (#2807)
  deepmd/loss/ener.py
Due: Python

speed up cuda120 and clang
  .github/workflows/build_cc.yml
Due: none

cache setup-python
  .github/workflows/build_wheel.yml
  .github/workflows/test_cc.yml
Due: none

use ninja
  .github/workflows/build_cc.yml
  .github/workflows/test_cc.yml
Due: none

install cuda 11.8 in the same way
  .github/workflows/build_cc.yml
Due: none

Ninja should be uppercase
  .github/workflows/build_cc.yml
  .github/workflows/test_cc.yml
Due: none

update scripts to be able to use any generator
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/package_c.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

improve ruff configurations
  pyproject.toml
Due: none

use black-pre-commit-mirror
  .pre-commit-config.yaml
Due: none

black after ruff
  .pre-commit-config.yaml
Due: none

fix errors detected by ruff
  data/raw/shuffle_raw.py
  deepmd/calculator.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_mask.py
  deepmd/infer/deep_tensor.py
  deepmd/utils/argcheck.py
  deepmd/utils/network.py
  deepmd_cli/main.py
  source/tests/test_descrpt_sea_ef_rot.py
  source/tests/test_fitting_stat.py
Due: Python

drop old GCC versions in test
  .github/workflows/test_python.yml
Due: none

pin protobuf < 3.20 for old TF versions
  backend/find_tensorflow.py
Due: none

install mpi
  .github/workflows/test_python.yml
  backend/find_tensorflow.py
Due: none

install seperately
  .github/workflows/test_python.yml
Due: none

do not install for tf 1.14
  .github/workflows/test_python.yml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
