Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix path in UTs
  source/tests/pt/test_calculator.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_force_grad.py
  source/tests/pt/test_jit.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_model.py
  source/tests/pt/test_rotation.py
  source/tests/pt/test_sampler.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
  source/tests/pt/test_stat.py
  source/tests/pt/test_training.py
Due: none

Update test_autodiff.py
  source/tests/pt/test_autodiff.py
Due: none

Update .gitignore
  .gitignore
Due: none

fix NoneType self.model in UTs
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_permutation.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_trans.py
  source/tests/pt/test_trans_denoise.py
Due: none

Fix test_jit
  deepmd/pt/utils/dataset.py
  source/tests/pt/test_jit.py
  source/tests/pt/test_unused_params.py
Due: Python

Revert "fix NoneType self.model in UTs"
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_permutation.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_trans.py
  source/tests/pt/test_trans_denoise.py
Due: none

fix self.model value setting
  source/tests/pt/test_rot_denoise.py
Due: none

fix self.model value setting
  source/tests/pt/test_permutation.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_trans.py
  source/tests/pt/test_trans_denoise.py
Due: none

fix config file path
  source/tests/pt/test_jit.py
Due: none

try using self-hosted runner
  .github/workflows/test_python.yml
Due: none

Revert "try using self-hosted runner"
  .github/workflows/test_python.yml
Due: none

Remove __init__ method for capturing info by pytest
  source/tests/pt/test_jit.py
  source/tests/pt/test_smooth.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_training.py
Due: none

Revert "add ensure_gc fixture"
  source/tests/conftest.py
Due: none

skip test_force_grad
  source/tests/pt/test_force_grad.py
Due: none

Fix conflicts with pytest and unittest
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_force_grad.py
  source/tests/pt/test_jit.py
  source/tests/pt/test_permutation.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_smooth.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_training.py
  source/tests/pt/test_trans.py
  source/tests/pt/test_trans_denoise.py
Due: none

fix compilation error
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/commonPT.cc
Due: C++ API

a backet is missing...
  source/api_cc/src/DeepPot.cc
Due: C++ API

remove Chinese comments
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/utils/preprocess.py
Due: Python

fix tearDown
  source/tests/pt/test_jit.py
  source/tests/pt/test_training.py
Due: none

limit NUM_WORKERS to no more than the number of CPUs
  deepmd/pt/utils/env.py
Due: Python

limit NUM_WORKERS to 1 during tests
  .github/workflows/test_python.yml
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Due: none

clear TF graphs
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_lr.py
  source/tests/pt/test_model.py
Due: none

make some variables not global in the module
  source/tests/test_adjust_sel.py
  source/tests/test_finetune_se_atten.py
  source/tests/test_init_frz_model_multi.py
  source/tests/test_init_frz_model_se_a.py
  source/tests/test_init_frz_model_se_a_tebd.py
  source/tests/test_init_frz_model_se_a_type.py
  source/tests/test_init_frz_model_se_atten.py
  source/tests/test_init_frz_model_se_r.py
  source/tests/test_init_frz_model_spin.py
  source/tests/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/test_model_compression_se_a_type_one_side_exclude_types.py
Due: none

fix typo
  source/tests/test_init_frz_model_se_atten.py
Due: none

add ensure_gc fixture
  source/tests/conftest.py
Due: none

set threads
  source/tests/pt/__init__.py
Due: none

set multiprocessing start method to spawn
  source/tests/pt/__init__.py
Due: none

Revert "set multiprocessing start method to spawn"
  source/tests/pt/__init__.py
Due: none

set NUM_WORKERS to 0
  .github/workflows/test_python.yml
  deepmd/pt/infer/inference.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  source/tests/pt/test_sampler.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Due: Python

remove temp files
  README.md
  source/pt/lmp/build_lammps.sh
  source/pt/lmp/pair_deepmd.cpp
  source/pt/lmp/pair_deepmd.h
  temp_file_pt/Dockerfile_torch
  temp_file_pt/pyproject.toml.pt
Due: none

atomic model is not required to provide the fitting net
  deepmd/pt/model/model/atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
Due: Python

breaking drop Python 3.7 support
  doc/development/coding-conventions.rst
  doc/install/easy-install.md
  doc/install/install-from-source.md
  pyproject.toml
Due: none

Replace deepmd.pt.utils.ase_calc with deepmd.calculator
  deepmd/infer/deep_pot.py
  deepmd/pt/utils/ase_calc.py
  source/tests/pt/test_calculator.py
Due: Python

Merge TF and PT CLI
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
  deepmd/utils/argcheck.py
Due: Python

doc
  deepmd/infer/deep_pot.py
  deepmd/main.py
Due: Python

fix dp freeze
  deepmd/tf/entrypoints/main.py
Due: Python

mixed suffix for dp model-devi should be allowed
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
Due: Python

revert to checkpoint_folder for backward compatibility
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
Due: Python

atomic model is not required to provide the fitting net (#3184)
  deepmd/pt/model/model/atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
Due: Python
