Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

chore: refactor atomic model fitting assertion
  deepmd/dpmodel/atomic_model/dipole_atomic_model.py
  deepmd/dpmodel/atomic_model/dos_atomic_model.py
  deepmd/dpmodel/atomic_model/energy_atomic_model.py
  deepmd/dpmodel/atomic_model/polar_atomic_model.py
  deepmd/dpmodel/atomic_model/property_atomic_model.py
  deepmd/pt/model/atomic_model/dipole_atomic_model.py
  deepmd/pt/model/atomic_model/dos_atomic_model.py
  deepmd/pt/model/atomic_model/energy_atomic_model.py
  deepmd/pt/model/atomic_model/polar_atomic_model.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
Due: Python

Add 4 pt descriptor compression (#4227)
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/model/test_compressed_descriptor_se_a.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_compressed_descriptor_se_r.py
  source/tests/pt/model/test_compressed_descriptor_se_t.py
  source/tests/pt/test_tabulate.py
Due: Python, OP

Update pair_base.cpp
  source/lmp/pair_base.cpp
Due: LAMMPS

Update test_deeppot_tf_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
Due: C++ API

Update build_lammps.sh
  source/install/build_lammps.sh
Due: none

add enable_compression()
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

Add compression API
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

add pt compression info
  doc/freeze/compress.md
Due: none

add pt compress commad line
  deepmd/pt/entrypoints/main.py
Due: Python

eFirst line nd with a period
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

feat(jax): zbl
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/model/model.py
  source/tests/consistent/model/test_zbl_ener.py
Due: Python

fix grad issue
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/utils/safe_gradient.py
Due: Python

set dtype
  deepmd/dpmodel/utils/safe_gradient.py
Due: Python

feat(jax/array-api): se_t_tebd (#4288)
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/jax/descriptor/se_t_tebd.py
  doc/model/train-se-e3-tebd.md
  source/tests/array_api_strict/descriptor/se_t_tebd.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
Due: Python

feat(jax/array-api): se_atten_v2 (#4289)
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/jax/descriptor/se_atten_v2.py
  source/tests/array_api_strict/descriptor/se_atten_v2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
Due: Python

feat(jax): atomic virial (#4290)
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/hlo.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Due: Python

ci: install GPU JAX in GPU CI (#4293)
  .github/workflows/test_cuda.yml
Due: none

change file .pt to .pth
  doc/freeze/compress.md
Due: none

Enable Hybrid Descriptor to be compressed (#4297)
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

fix atomic model compression
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
Due: Python

fix base model compression
  deepmd/dpmodel/model/base_model.py
Due: Python

add pt atomic model enable_compression()
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

add pt base model enable_compression()
  deepmd/pt/model/model/make_model.py
Due: Python

seperate compress
  deepmd/pt/entrypoints/compress.py
Due: Python

add compress suffix support
  deepmd/pt/entrypoints/main.py
Due: Python

fix compress argument
  deepmd/main.py
Due: Python

add core modules of paddle backend and water/se_e2_a example
  .pre-commit-config.yaml
  deepmd/main.py
  deepmd/utils/batch_size.py
  deepmd/utils/data.py
Due: Python

stop_gradient for nlist
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
Due: Python

fix syntax errors
  deepmd/dpmodel/model/base_model.py
Due: Python

remove redundant code
  deepmd/pt/entrypoints/compress.py
Due: Python

add file suffix for compress
  deepmd/tf/entrypoints/main.py
Due: Python

feat(jax/array-api): DPA-2 (#4294)
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/descriptor/dpa2.py
  deepmd/jax/descriptor/repformers.py
  doc/model/dpa2.md
  source/tests/array_api_strict/descriptor/dpa2.py
  source/tests/array_api_strict/descriptor/repformers.py
  source/tests/consistent/descriptor/test_dpa2.py
Due: Python

add compression API for LinearEnergyAtomicModel
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

Add compression API to BaseModel and AtomicModel (#4298)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

clean env and training
  deepmd/pd/train/training.py
  deepmd/pd/utils/env.py
Due: Python

fix pt->pd
  source/tests/pd/model/test_descriptor.py
Due: none

update test_python.yml
  .github/workflows/test_python.yml
Due: none

build and push docker image in Yi-FanLi repo
  .github/workflows/build_wheel.yml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
