Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Chore(pt): refactor the command function interface (#4225)
  deepmd/pt/entrypoints/main.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/test_init_frz_model.py
Due: Python

move to dpmodel
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/pt/utils/learning_rate.py
Due: Python

feat(jax): energy model (no grad support)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/atomic_model/__init__.py
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/base_descriptor.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/descriptor/se_e2_a.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/base_fitting.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/ener_model.py
  deepmd/jax/model/model.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Due: Python

address comments
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/model/model.py
Due: Python

Chore(pt):rm old pt implementation (#4223)
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/backbone/__init__.py
  deepmd/pt/model/backbone/backbone.py
  deepmd/pt/model/backbone/evoformer2b.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/repformer_layer_old_impl.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/atten_lcc.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/model/test_se_e2_a.py
Due: Python

four descriptors compression
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/utils/tabulate.py
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_compressed_descriptor_se_r.py
  source/tests/pt/model/test_compressed_descriptor_se_t.py
Due: Python, OP

update CMAKE and remove build_cc_pd.sh
  source/install/build_cc_pd.sh
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

remove paddle.jit.export
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformer_layer_old_impl.py
  deepmd/pd/model/model/dipole_model.py
  deepmd/pd/model/model/dos_model.py
  deepmd/pd/model/model/dp_zbl_model.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/frozen.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/model/polar_model.py
  deepmd/pd/model/model/spin_model.py
Due: Python

refine code
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/pd/model/model/spin_model.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/dataloader.py
  deepmd/pd/utils/stat.py
Due: Python

Fixed bugs and formatted codes for fitting with hessian
  deepmd/calculator.py
  deepmd/driver.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_pot.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/ener_hess.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/ener_hess_model.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  examples/hessian/multi-task/input.json
  examples/hessian/single-task/input.json
  source/tests/infer/test_models.py
  source/tests/pt/model/test_dp_hessian_model.py
Due: Python

chore(lmp): add LAMMPS DPA-2 nopbc tests (#4220)
  source/lmp/tests/run_mpi_pair_deepmd.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
Due: LAMMPS

chore: move `LearningRateExp` to `deepmd.utils.learning_rate` (#4219)
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/pt/utils/learning_rate.py
Due: Python

Fixed bugs and formatted codes for fitting with hessian
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/infer/inference.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

ci(cuda): bump CUDA to 12.6, TF to 2.18, PT to 2.5
  .github/workflows/test_cuda.yml
Due: none

bump more versions
  .github/workflows/test_python.yml
  pyproject.toml
Due: none

12.6.0
  .github/workflows/test_cuda.yml
Due: none

cudnn
  pyproject.toml
Due: none

extend sendlist nlist and other tensors but still bugs
  deepmd/pt/model/model/spin_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: Python, C++ API

fix neighborstat bug: gt -> ge
  deepmd/pd/model/descriptor/se_r.py
  deepmd/pd/model/descriptor/se_t.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/neighbor_stat.py
  deepmd/pd/utils/nlist.py
Due: Python

revert changes to the CUDA version
  .github/workflows/test_cuda.yml
Due: none

add torchfix
  .pre-commit-config.yaml
Due: none

update config
  pyproject.toml
Due: none

fix deprecating torch.norm
  deepmd/pt/utils/nlist.py
Due: Python

fix(pt): remove deprecating torch.norm (#4233)
  deepmd/pt/utils/nlist.py
Due: Python

Remove eval_model func.
  deepmd/pt/infer/deep_eval.py
Due: Python

revert `extend sendlist nlist`
  deepmd/pt/model/model/spin_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: Python, C++ API

remove redundant code for pt descriptor compression
  deepmd/pt/env.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_a_old.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/utils/compress.py
  deepmd/pt/utils/graph.py
  deepmd/pt/utils/spin.py
  deepmd/pt/utils/type_embed.py
Due: Python

fix spin communication in lammps
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/utils/spin.py
  source/api_cc/src/DeepPotPT.cc
Due: Python, C++ API

align to latest version
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
Due: Python

align to latest version
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix fitting
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
Due: Python

export EnergyModel
  deepmd/jax/model/__init__.py
Due: Python

jax2tf
  deepmd/backend/jax.py
  deepmd/jax/env.py
  deepmd/jax/utils/serialization.py
  pyproject.toml
Due: Python

apply flax_module to energy model
  deepmd/jax/model/ener_model.py
Due: Python

checkpoint
  deepmd/backend/jax.py
  deepmd/jax/utils/serialization.py
Due: Python

fix atomic model
  deepmd/dpmodel/model/make_model.py
Due: Python

apply flax_module
  deepmd/jax/atomic_model/dp_atomic_model.py
Due: Python

checkpoint
  deepmd/jax/utils/serialization.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
