Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

add instantiation of rocm template functions
  source/lib/src/rocm/tabulate.hip.cu
Due: Core

fix parameters
  source/lib/src/rocm/tabulate.hip.cu
Due: Core

sync
  source/lib/src/rocm/tabulate.hip.cu
Due: Core

migrate from C API to hpp API (#2506)
  source/CMakeLists.txt
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
  source/gmx/CMakeLists.txt
  source/gmx/include/gmx_plugin.h
  source/gmx/src/gmx_plugin.cpp
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/lmp/CMakeLists.txt
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/compute_deeptensor_atom.h
  source/lmp/env_c.sh.in
  source/lmp/env_py_c.sh.in
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
Due: C API, LAMMPS

rename function name
  deepmd/descriptor/se_atten.py
Due: Python

build LAMMPS plugin from C library
  .github/workflows/package_c.yml
  source/CMakeLists.txt
  source/cmake/cmake_lammps.cmake.in
  source/install/build_from_c.sh
Due: none

add docs
  .github/workflows/package_c.yml
  README.md
  doc/install/index.md
  doc/install/index.rst
  doc/install/install-from-c-library.md
Due: none

fix github actions
  .github/workflows/package_c.yml
Due: none

fix cmake file
  source/CMakeLists.txt
Due: none

allow building lmp/gmx from pre-compiled C library (#2514)
  .github/workflows/package_c.yml
  README.md
  doc/install/index.md
  doc/install/index.rst
  doc/install/install-from-c-library.md
  source/CMakeLists.txt
  source/cmake/cmake_lammps.cmake.in
  source/install/build_from_c.sh
Due: none

improve messages for model compatability
  deepmd/infer/deep_eval.py
  doc/troubleshooting/model-compatability.md
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
Due: Python, C++ API

improve messages for model compatability (#2518)
  deepmd/infer/deep_eval.py
  doc/troubleshooting/model-compatability.md
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
Due: Python, C++ API

lmp/ipi: remove float precision
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  doc/third-party/ipi.md
  doc/third-party/lammps-command.md
  source/cmake/cmake_lammps.cmake.in
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/lmp/CMakeLists.txt
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/env.sh.in
  source/lmp/env_c.sh.in
  source/lmp/env_py.sh.in
  source/lmp/env_py_c.sh.in
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/pppm_dplr.h
Due: LAMMPS

fix lmp libname for py
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

lmp/ipi: remove float precision (#2519)
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  doc/third-party/ipi.md
  doc/third-party/lammps-command.md
  source/cmake/cmake_lammps.cmake.in
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/lmp/CMakeLists.txt
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/env.sh.in
  source/lmp/env_c.sh.in
  source/lmp/env_py.sh.in
  source/lmp/env_py_c.sh.in
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/pppm_dplr.h
Due: LAMMPS

Correct dplr output in step 0
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

add Node.js interface
  README.md
  doc/inference/index.md
  doc/inference/nodejs.md
  doc/install/index.md
  doc/install/install-nodejs.md
  source/CMakeLists.txt
  source/nodejs/.gitignore
  source/nodejs/CMakeLists.txt
  source/nodejs/README.md
  source/nodejs/binding.gyp.in
  source/nodejs/index.js
  source/nodejs/package.json
  source/nodejs/tests/test_deeppot.js
  source/swig/deepmd.i
Due: none

add npm version
  doc/install/install-nodejs.md
  source/nodejs/.npmignore
  source/nodejs/README.md
  source/nodejs/binding.gyp.pack
  source/nodejs/package.json
  source/nodejs/yarn.lock
Due: none

add prepublish scripts
  source/nodejs/.npmignore
  source/nodejs/package.json
  source/nodejs/prepublish.py
Due: none

let fitting net use type embedding from graph_def
  deepmd/fit/ener.py
  deepmd/train/trainer.py
Due: Python

remove _GLIBCXX_USE_CXX11_ABI macro for libraries linking against the C library
  source/gmx/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

build lmp in wheels with _GLIBCXX_USE_CXX11_ABI=0
  setup.py
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

add Node.js interface (#2524)
  README.md
  doc/inference/index.md
  doc/inference/nodejs.md
  doc/install/index.md
  doc/install/install-nodejs.md
  source/CMakeLists.txt
  source/nodejs/.gitignore
  source/nodejs/.npmignore
  source/nodejs/CMakeLists.txt
  source/nodejs/README.md
  source/nodejs/binding.gyp.in
  source/nodejs/binding.gyp.pack
  source/nodejs/index.js
  source/nodejs/package.json
  source/nodejs/prepublish.py
  source/nodejs/tests/test_deeppot.js
  source/nodejs/yarn.lock
  source/swig/deepmd.i
Due: none

remove _GLIBCXX_USE_CXX11_ABI macro for libraries linking against the C library (#2527)
  setup.py
  source/gmx/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

code cleanup
  deepmd/descriptor/se_atten.py
  deepmd/train/trainer.py
Due: Python

add unit tests
  source/tests/model_compression/input-se-atten.json
  source/tests/test_model_compression_se_atten.py
Due: none

enable second derivative
  source/lib/src/cuda/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/_tabulate_grad.py
  source/op/tabulate_multi_device.cc
Due: OP, Core

prohibit the compression of non-energy model
  deepmd/train/trainer.py
Due: Python

replace ref data with new data generated by se_atten
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_model_se_atten.py
Due: none

fix error of unknown key parameter 'compress' in unittests
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
Due: Python

move getting t_typeebd from graph to TypeEmbedNet
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/type_embed.py
Due: Python

enable model compression for models apart from EnerModel
  deepmd/train/trainer.py
Due: Python

fix the issue of can not load embedding net variables of two_side_embed from graph
  deepmd/descriptor/se_atten.py
Due: Python

say se_atten is supported
  doc/freeze/compress.md
Due: none

load data and train in parallel
  deepmd/train/trainer.py
Due: Python

add docs
  deepmd/train/trainer.py
Due: Python

fix index of two embedding
  deepmd/descriptor/se_atten.py
Due: Python

add suffix to filter_type_all
  deepmd/descriptor/se_atten.py
  deepmd/utils/tabulate.py
Due: Python

make the compression of se_atten optional
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/utils/argcheck.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, but not: source/**/tests
  OP: any of: source/op/**, but not: source/**/tests
  Core: any of: source/lib/**, but not: source/**/tests
  C++ API: any of: source/api_cc/**, but not: source/**/tests
  C API: any of: source/api_c/**, but not: source/**/tests
  LAMMPS: any of: source/lmp/**, but not: source/**/tests
