Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Update deepmd/pd/infer/deep_eval.py
  deepmd/pd/infer/deep_eval.py
Due: Python

pd(feat): support python inference with `DP` class (#4987)
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/utils/decomp.py
  deepmd/pd/utils/stat.py
  doc/third-party/ase.md
  source/api_cc/src/DeepPotPD.cc
  source/tests/pd/model/test_atomic_model_atomic_stat.py
  source/tests/pd/model/test_deeppot.py
  source/tests/pd/model/test_descriptor_dpa1.py
  source/tests/pd/model/test_descriptor_dpa2.py
Due: Python, C++ API

feat(pt): implement DeepTensorPT (#4937)
  .gitignore
  deepmd/pt/model/task/fitting.py
  source/api_cc/include/DeepTensorPT.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/tests/test_deepdipole_pt.cc
  source/tests/infer/deepdipole_pt.pth
Due: Python, C++ API

use `UV_TORCH_BACKEND`
  pyproject.toml
Due: none

fix: bump CMake minimum version to 3.25.2 (#5001)
  backend/read_env.py
  doc/install/install-from-source.md
  examples/infer_water/CMakeLists.txt
  pyproject.toml
  source/CMakeLists.txt
  source/api_c/tests/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
  source/lib/tests/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
Due: Core, C++ API, C API, LAMMPS

CI: Replace the macos-13 images with the macos-15-intel images
  .github/workflows/build_wheel.yml
Due: none

CI: Replace the macos-13 images with the macos-15-intel images (#5002)
  .github/workflows/build_wheel.yml
Due: none

fix: typo in tabulate.cu
  source/lib/src/gpu/tabulate.cu
Due: Core

bug fix: use em_tensor.size
  source/op/pt/tabulate_multi_device.cc
Due: OP

doc update
  doc/model/train-se-e3-tebd.md
Due: none

fix: remove unnecessary table_info device memory allocation in GPU tests since tabulate_fusion_se_t_tebd_grad_gpu is on CPU
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_t_tebd.cc
Due: Core

complete test_tabulate_fusion_se_t_tebd
  source/tests/pt/test_tabulate_fusion_se_t_tebd.py
Due: none

reset name to uu and ll
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/utils/tabulate.py
Due: Python

add compression support for se_e3_tebd
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
Due: Python

restore variable names
  deepmd/pt/utils/tabulate.py
  deepmd/utils/tabulate.py
Due: Python

fix
  source/lib/tests/test_tabulate_se_t_tebd.cc
Due: Core

feat: add UT TestTabulateSeTTebd for cpp realization of the compression of se_t_tebd
  source/lib/tests/test_tabulate_se_t_tebd.cc
Due: Core

fix: memcpy_device_to_host size error
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_t_tebd.cc
Due: Core

remove unnecessary gitignore items
  examples/water/.gitignore
Due: none

add UT and enable compress in forward
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/tests/pt/test_tabulate_fusion_se_t_tebd.py
Due: Python

restore variable names and remove unnecessary gitignore items
  .gitignore
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
Due: Python

feat: use Grid-Stride loop to reduce threads num
  source/lib/src/gpu/tabulate.cu
Due: Core

create custom OP for se_t_tebd
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/lib/src/gpu/tabulate.cu
  source/op/pt/tabulate_multi_device.cc
Due: Python, OP, Core

dy should be all ones for sum
  source/lib/tests/test_tabulate_se_t_tebd.cc
Due: Core

feat: improve CUDA realization
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/lib/src/gpu/tabulate.cu
Due: Python, Core

add enable_compression
  .gitignore
  deepmd/pt/model/descriptor/se_t_tebd.py
  examples/water/.gitignore
Due: Python

realize compress in forward through OP: tabulate_fusion_se_t && add tabulate_fusion_se_t_tebd custom OP but not used and tested
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/pt/tabulate_multi_device.cc
Due: Python, OP, Core

feat(pt): add compression support for se_e3_tebd (#4992)
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/utils/tabulate.py
  deepmd/utils/tabulate.py
  doc/model/train-se-e3-tebd.md
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_t_tebd.cc
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/test_tabulate_fusion_se_t_tebd.py
Due: Python, OP, Core

do not use ${xxx} inside if
  source/lib/src/gpu/CMakeLists.txt
Due: Core

refactor
  source/CMakeLists.txt
Due: none

Update source/CMakeLists.txt
  source/CMakeLists.txt
Due: none

feat:support CUDA 13.0+
  source/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
Due: Core

feat:support CUDA 13.0+ (#5017)
  source/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
Due: Core

doc:fix error in doc of se_e3_tebd
  doc/model/train-se-e3-tebd.md
Due: none

doc:fix error in doc of se_e3_tebd (#5018)
  doc/model/train-se-e3-tebd.md
Due: none

add edge readout
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/learning_rate.py
  deepmd/utils/argcheck.py
  deepmd/utils/path.py
Due: Python

add add_chg_spin_ebd
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/utils/argcheck.py
Due: Python

update add_chg_spin_ebd for default fparam
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

adapt auto_dp
  deepmd/pd/entrypoints/main.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/dataloader.py
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/run.sh
Due: Python

fix multitask
  deepmd/pt/model/descriptor/dpa3.py
Due: Python
