Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

codecov.yml:

ignore:
  - "source/**/tests"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**

remove unnecessary parameter: compressible
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
Due: Python

make embedding network trainable when restarting from an original model
  deepmd/utils/type_embed.py
Due: Python

use model_type to check whether to use type embedding from graph_def
  deepmd/train/trainer.py
  deepmd/utils/type_embed.py
Due: Python

remove unused argument: compress
  deepmd/fit/ener.py
  deepmd/train/trainer.py
Due: Python

pre-commit
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/type_embed.py
Due: Python

code cleanup
  deepmd/descriptor/se_atten.py
Due: Python

fix language usages
  deepmd/descriptor/se_atten.py
Due: Python

code cleanup
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
  deepmd/fit/ener.py
Due: Python

pre-commit
  deepmd/descriptor/se_atten.py
Due: Python

merge input.json of se_atten into py code
  source/tests/model_compression/input-se-atten.json
  source/tests/test_model_compression_se_atten.py
Due: none

test ipi
  .github/workflows/test_cc.yml
  source/ipi/tests/test_driver.py
Due: none

add $PATH
  .github/workflows/test_cc.yml
Due: none

set unixsocket
  source/ipi/tests/test_driver.py
Due: none

bump ASE version
  .github/workflows/test_cc.yml
Due: none

add coverage configuration
  codecov.yml
  source/ipi/CMakeLists.txt
Due: none

test both unix and no unix
  source/ipi/tests/test_driver.py
Due: none

fix tests
  source/ipi/tests/test_driver.py
Due: none

ignore 3rdparty
  codecov.yml
Due: none

fix hybrid mode with se_atten
  deepmd/descriptor/se_atten.py
  deepmd/model/ener.py
  deepmd/utils/tabulate.py
Due: Python

test the compress works in all of the following precision: type embedding FP64, se_atten FP64 type embedding FP64, se_atten FP32 type embedding FP32, se_atten FP64 type embedding FP32, se_atten FP32
  source/tests/test_model_compression_se_atten.py
Due: none

add se_atten to hybrid mode
  examples/water/hybrid/input.json
Due: none

restore numb_steps
  examples/water/hybrid/input.json
Due: none

improve docs and scripts to install libtensorflow_cc 2.12 (#2571)
  doc/install/install-from-source.md
  doc/install/install-tf.2.12.md
  source/cmake/Findtensorflow.cmake
  source/install/build_tf.py
Due: none

pre commit
  deepmd/descriptor/se_atten.py
  deepmd/model/ener.py
  source/tests/test_model_compression_se_atten.py
Due: Python

Add unittest for dp_ipi (#2574)
  .github/workflows/test_cc.yml
  codecov.yml
  source/ipi/CMakeLists.txt
  source/ipi/tests/test_driver.py
Due: none

remove se_atten from hybrid example input.json
  examples/water/hybrid/input.json
Due: none

refactor codes of get two side type embedding network variables
  deepmd/descriptor/se_atten.py
Due: Python

pre commit
  deepmd/descriptor/se_atten.py
Due: Python

merge se_atten op into se_a
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  source/lib/include/tabulate.h
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/op/_tabulate_grad.py
  source/op/tabulate_multi_device.cc
Due: Python, OP, Core

fix the missing argument in rocm
  source/lib/src/rocm/tabulate.hip.cu
Due: Core

remove two_embed argument
  source/lib/src/rocm/tabulate.hip.cu
Due: Core

fix calling of tabulate_fusion_se_a_cpu in se_a_cpu ut
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

pre commit
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

docs: fix a typo in cxx.md
  doc/inference/cxx.md
Due: none

add se_a c++ ut
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

free two_embed_dev
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

docs: fix a typo in cxx.md (#2578)
  doc/inference/cxx.md
Due: none

Use a sorted dpl_type vector in binary search
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

Delete redundant dpl_type assigning
  source/lmp/fix_dplr.cpp
Due: LAMMPS
