Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

change intensive operation to transform_output
  deepmd/dpmodel/atomic_model/property_atomic_model.py
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/output_def.py
  deepmd/entrypoints/test.py
  deepmd/pt/loss/property.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/model/transform_output.py
  deepmd/pt/train/training.py
Due: Python

modify bias computing part
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/stat.py
Due: Python

Delete useless get_intensive() method
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
Due: Python

Add bias_method parameter in fitting_net
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/task/property.py
  deepmd/utils/argcheck.py
Due: Python

add reducible and intensive dependency
  deepmd/dpmodel/output_def.py
Due: Python

fix UT
  deepmd/dpmodel/output_def.py
Due: Python

solve serialize UT error
  deepmd/dpmodel/fitting/property_fitting.py
Due: Python

rerun UT
  deepmd/dpmodel/fitting/property_fitting.py
Due: Python

docs: fix the default value of `DP_ENABLE_PYTORCH`
  doc/install/install-from-source.md
Due: none

docs: fix the default value of `DP_ENABLE_PYTORCH` (#4083)
  doc/install/install-from-source.md
Due: none

se_a debug
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/utils/tabulate.py
  source/tests/pt/model/test_compressed_descriptor_se_a.py
Due: Python

Support loading grid density in DeepmdData
  deepmd/utils/data.py
  deepmd/utils/density.py
Due: Python

fix bugs
  deepmd/utils/data.py
  deepmd/utils/density.py
Due: Python

Add universal test
  deepmd/pt/model/model/property_model.py
  source/tests/universal/common/cases/atomic_model/atomic_model.py
  source/tests/universal/common/cases/model/model.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/model/test_model.py
Due: Python

rerun UT
  source/tests/universal/pt/model/test_model.py
Due: none

Add doc and output_def UT
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/pt/model/task/property.py
  source/tests/common/dpmodel/test_output_def.py
Due: Python

reside WCs on their corresponding real atoms in setup_pre_exchange
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

build and push docker image in Yi-FanLi repo
  .github/workflows/build_wheel.yml
Due: none

reside WCs on their corresponding real atoms in pre_exchange
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

fix: bump LAMMPS to stable_29Aug2024
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

update first three subs
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Due: Python

add three body for repinit
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Due: Python

change type_map of example
  examples/property/data/data_0/set.000000/real_atom_types.npy
  examples/property/data/data_0/type_map.raw
  examples/property/data/data_1/set.000000/real_atom_types.npy
  examples/property/data/data_1/type_map.raw
  examples/property/data/data_2/set.000000/real_atom_types.npy
  examples/property/data/data_2/type_map.raw
  examples/property/train/input_torch.json
Due: none

delete prop option
  deepmd/pt/model/model/__init__.py
Due: Python

change doc_metric
  deepmd/utils/argcheck.py
Due: Python

change property example to dpa1
  examples/property/train/input_torch.json
Due: none

Add se_a UT in universal/dpmodel/atomic_model/
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
Due: none

set `extscalar` and `extvector` to 1
  source/lmp/fix_dplr.cpp
Due: LAMMPS

ci: add `include-hidden-files` to `actions/upload-artifact`
  .github/workflows/test_python.yml
Due: none

ci: add `include-hidden-files` to `actions/upload-artifact` (#4095)
  .github/workflows/test_python.yml
Due: none

Add dptest property UT
  source/tests/pt/model/test_permutation.py
  source/tests/pt/property/input.json
  source/tests/pt/property/single/nopbc
  source/tests/pt/property/single/set.000000/coord.npy
  source/tests/pt/property/single/set.000000/property.npy
  source/tests/pt/property/single/set.000000/real_atom_types.npy
  source/tests/pt/property/single/type.raw
  source/tests/pt/property/single/type_map.raw
  source/tests/pt/test_dp_test.py
Due: none

fix: bump LAMMPS to stable_29Aug2024 (#4088)
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix(pt): fix `ValueError` when array byte order is not native
  deepmd/pt/infer/deep_eval.py
Due: Python

fix(pt): fix ValueError when array byte order is not native (#4100)
  deepmd/pt/infer/deep_eval.py
Due: Python

update runnable code with water/se_e2_a
  deepmd/loggers/training.py
  deepmd/pd/cxx_op.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/loss/ener.py
  deepmd/pd/model/atomic_model/pairtab_atomic_model.py
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/descriptor/repformer_layer_old_impl.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_r.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/frozen.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/transform_output.py
  deepmd/pd/model/network/init.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/model/network/mlp.py
  deepmd/pd/model/network/network.py
  deepmd/pd/model/task/atten_lcc.py
  deepmd/pd/optimizer/LKF.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/auto_batch_size.py
  deepmd/pd/utils/dataloader.py
  deepmd/pd/utils/dataset.py
  deepmd/pd/utils/exclude_mask.py
  deepmd/pd/utils/neighbor_stat.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/preprocess.py
  deepmd/pd/utils/region.py
  deepmd/pd/utils/serialization.py
  deepmd/utils/data.py
  pyproject.toml
Due: Python

update correct water/se_e2_a code
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/train/training.py
Due: Python

fix extra state
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/train/training.py
  deepmd/pd/train/wrapper.py
  deepmd/pd/utils/env.py
Due: Python

resolve conversation
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
Due: Python

breaking change the default values
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/utils/argcheck.py
Due: Python
