Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: fix YAML conversion
  deepmd/dpmodel/utils/serialization.py
Due: Python

fix: fix YAML conversion (#4565)
  deepmd/dpmodel/utils/serialization.py
Due: Python

fix(cc): remove C++ 17 usage
  source/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Due: C++ API

fix(cc): remove C++ 17 usage (#4570)
  source/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Due: C++ API

add CustomSilu
  deepmd/pt/utils/utils.py
Due: Python

add custom dsilu
  deepmd/pt/utils/utils.py
Due: Python

add optim_angle
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
Due: Python

more mantainable code for optimized angle update (#39)
  deepmd/pt/model/descriptor/repflow_layer.py
Due: Python

Update repflow_layer.py
  deepmd/pt/model/descriptor/repflow_layer.py
Due: Python

chore: bump pytorch to 2.6.0
  .devcontainer/download_libtorch.sh
  .github/workflows/test_cuda.yml
  backend/find_pytorch.py
Due: none

import torch._dynamo before set device
  source/tests/pt/__init__.py
Due: none

add optim_edge
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
Due: Python

rename to optim_update
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
Due: Python

cherry-pick #4478
  deepmd/pt/utils/dataloader.py
Due: Python

always reinstall
  .github/workflows/test_cuda.yml
Due: none

chore: bump pytorch to 2.6.0 (#4575)
  .devcontainer/download_libtorch.sh
  .github/workflows/test_cuda.yml
  backend/find_pytorch.py
  source/tests/pt/__init__.py
Due: none

cmake fix
  source/CMakeLists.txt
Due: none

feat(pt): customized op for combination of silu and tanh
  source/lib/include/thsilu.h
  source/lib/src/gpu/thsilu.cu
  source/lib/src/thsilu.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/thsilu.cc
Due: OP, Core

fix a typo
  source/lib/src/gpu/thsilu.cu
  source/lib/src/thsilu.cc
Due: Core

add thsilu
  deepmd/pt/utils/utils.py
Due: Python

Fix version in DeePMDConfigVersion.cmake (#4577)
  source/CMakeLists.txt
Due: none

fix(pt): detach computed descriptor tensor to prevent OOM (#4547)
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

customized dsilu OP (#40)
  deepmd/pt/utils/utils.py
  source/lib/include/cdsilu.h
  source/lib/src/cdsilu.cc
  source/lib/src/gpu/cdsilu.cu
  source/lib/src/thsilu.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/cdsilu.cc
Due: Python, OP, Core

use tf.variable to store bias_atom_polar
  deepmd/tf/fit/polar.py
Due: Python

read variable t_bias_atom_polar when shift_diag=True
  deepmd/tf/fit/polar.py
Due: Python

clean commented lines
  deepmd/tf/fit/polar.py
Due: Python

use self.t_bias_atom_polar for type_embedding
  deepmd/tf/fit/polar.py
Due: Python

fix syntax error
  deepmd/tf/fit/polar.py
Due: Python

fix(pt): throw errors for GPU tensors and the CPU OP library
  source/op/pt/tabulate_multi_device.cc
Due: OP

fix numerical error for thsilu & cdsilu
  source/lib/src/cdsilu.cc
  source/lib/src/gpu/cdsilu.cu
  source/lib/src/gpu/thsilu.cu
  source/lib/src/thsilu.cc
Due: Core

use warning when t_bias_atom_polar is not found
  deepmd/tf/fit/polar.py
Due: Python

remove unnecessary pass
  deepmd/tf/fit/polar.py
Due: Python

use stacklevel=2 for warning
  deepmd/tf/fit/polar.py
Due: Python

add bias_atom_polar in serialize and deserialize
  deepmd/tf/fit/polar.py
Due: Python

rename constant_matrix to bias_atom_polar
  deepmd/tf/fit/polar.py
Due: Python

rename bias_atom_polar to constant_matrix to keep consistent with other backends
  deepmd/tf/fit/polar.py
Due: Python

pop bias_atom_e from PolarFitting of the dp backend
  deepmd/dpmodel/fitting/polarizability_fitting.py
Due: Python

remove remaining print
  deepmd/tf/fit/polar.py
Due: Python

pop bias_atom_e from variables for dpmodel in test_tf_consistent_with_ref
  source/tests/consistent/common.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
