Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: rename method
  deepmd/pt/model/model/pair_tab_model.py
Due: Python

fix: import
  deepmd/pt/model/model/pair_tab_model.py
Due: Python

Revert "debug test cuda"
  .github/workflows/test_cuda.yml
Due: none

skip registering ProdEnvMat to locate the issue
  source/op/prod_env_mat_multi_device.cc
Due: OP

fix bug of output def: the reduced virial is not defined.
  deepmd/dpmodel/output_def.py
  source/tests/common/test_output_def.py
Due: Python

fix bug of output def: the reduced virial is not defined. (#3219)
  deepmd/dpmodel/output_def.py
  source/tests/common/test_output_def.py
Due: Python

rename DeepEvalBase to DeepEvalBackend as the meaning of base is unclear
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

ckean OutputVariableDef
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
Due: Python

pt: apply global user-set precision to pt
  deepmd/pt/utils/env.py
Due: Python

gmx: fix include directive
  source/gmx/CMakeLists.txt
  source/gmx/include/gmx_plugin.h
Due: none

pt: apply global logger
  deepmd/env.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/inference.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/optimizer/LKF.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  deepmd/utils/pair_tab.py
Due: Python

avoid print
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/finetune.py
Due: Python

fix model inference interface and add cpu
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/ener.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: Python, C++ API

fix bug: device init
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

gmx: fix include directive (#3221)
  source/gmx/CMakeLists.txt
  source/gmx/include/gmx_plugin.h
Due: none

fix bug: device constructor
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix bug:device constructor
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

make atom_types to be int32
  deepmd/infer/deep_eval.py
Due: Python

add docs
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

add tests, although not passed
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/install/test_cc_local.sh
  source/tests/infer/deeppot_sea.pth
Due: C++ API

resolve memory leaks
  doc/inference/cxx.md
  examples/infer_water/infer_water.c
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Due: C API

fix declare order
  source/api_c/include/c_api.h
Due: C API

fix memory leaks
  source/api_c/tests/test_deeppot_a.cc
Due: C API

fix memory leak from nlist
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Due: C API

fix memory leaks when an exception is throw
  source/api_c/include/deepmd.hpp
Due: C API

delete nl before new
  source/api_c/include/deepmd.hpp
Due: C API

fix typo
  source/api_c/include/deepmd.hpp
Due: C API

append liblsan to LD_PRELOAD
  .github/workflows/test_cc.yml
Due: none

skip lammps when checking memory leak
  .github/workflows/test_cc.yml
Due: none

must use single quote
  .github/workflows/test_cc.yml
Due: none

cc: fix returning type of sel_types (#3181)
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
Due: C++ API

fix compile gromacs with precompiled C library (#3217)
  source/CMakeLists.txt
Due: none

c: fix all memory leaks; add sanitizer checks (#3223)
  .github/workflows/test_cc.yml
  doc/inference/cxx.md
  examples/infer_water/infer_water.c
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Due: C API

build macos-arm64 wheel on M1 runners (#3206)
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  pyproject.toml
Due: none

it seems no need to delete pointers of InputNlist
  source/api_c/src/c_api.cc
Due: C API

dp is double freed
  examples/infer_water/infer_water.c
Due: none

docs: fix double freed dp
  doc/inference/cxx.md
Due: none

fix: import
  deepmd/pt/model/model/linear_model.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
