Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

feat: dp test all data
  deepmd/entrypoints/test.py
  deepmd_cli/main.py
Due: Python

feat: calculate the real error
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  source/tests/test_model_devi.py
Due: Python

feat: calculate the real error in dp model-devi (#2757)
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  source/tests/test_model_devi.py
Due: Python

change the default value of `numb-test` to 0
  deepmd_cli/main.py
Due: Python

breaking: dp test all data (#2756)
  deepmd/entrypoints/test.py
  deepmd_cli/main.py
Due: Python

cast the type of self.recovered_switch to match that of two_embd
  deepmd/descriptor/se_atten.py
  source/tests/test_model_compression_se_atten.py
Due: Python

support linear model
  README.md
  deepmd/entrypoints/train.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  doc/model/index.md
  doc/model/index.rst
  doc/model/linear.md
  examples/water/linear/input.json
  source/tests/test_examples.py
  source/tests/test_linear_model.py
Due: Python

mv fparam out of ener; it seems all DPs have fparam
  deepmd/model/frozen.py
Due: Python

fix dp test atomic polar; add UTs for dp test
  deepmd/entrypoints/test.py
  source/tests/test_dp_test.py
Due: Python

add tests; fix styles
  deepmd/entrypoints/test.py
  source/tests/test_dp_test.py
Due: Python

Use `module.__path__[0]` instead of `module.__file__`
  deepmd/env.py
Due: Python

Add descriptor se_atten_v2 for new params
  README.md
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_atten_v2.py
  deepmd/entrypoints/train.py
  deepmd/utils/argcheck.py
  deepmd/utils/finetune.py
  doc/credits.rst
  doc/freeze/compress.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/train-se-atten.md
  doc/train/multi-task-training.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  examples/water/se_atten/input.json
  examples/water/se_atten_compressible/input.json
  source/tests/pairwise_dprc.json
Due: Python

Delete the optional choices in se_atten_v2
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
Due: Python

Update pairwise_dprc.json
  source/tests/pairwise_dprc.json
Due: none

read fix_dplr type_map from pair_deepmd
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepTensor.h
  source/api_cc/src/DeepTensor.cc
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_dplr.py
Due: C++ API, C API, LAMMPS

fix typo
  source/api_c/include/deepmd.hpp
Due: C API

add docs; fix compilation issues
  doc/model/dplr.md
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix typo
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

set correct dtype
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix tests
  source/lmp/tests/test_dplr.py
Due: LAMMPS

fix fix command
  source/lmp/fix_dplr.cpp
  source/lmp/tests/test_dplr.py
Due: LAMMPS

fix test
  source/lmp/tests/test_dplr.py
Due: LAMMPS

fix
  source/lmp/tests/test_dplr.py
Due: LAMMPS

type_idx_map
  source/lmp/fix_dplr.cpp
Due: LAMMPS

lmp: throw error if dependent packages are not installed
  source/lmp/Install.sh
Due: LAMMPS

fix
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Use `module.__path__[0]` instead of `module.__file__` (#2769)
  deepmd/env.py
Due: Python

Change the smooth method in se_atten descriptor (#2755)
  README.md
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_atten_v2.py
  deepmd/entrypoints/train.py
  deepmd/utils/argcheck.py
  deepmd/utils/finetune.py
  doc/credits.rst
  doc/freeze/compress.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/train-se-atten.md
  doc/train/multi-task-training.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  examples/water/se_atten/input.json
  examples/water/se_atten_compressible/input.json
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/tests/pairwise_dprc.json
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
Due: Python, Core

fix dpl_type
  source/lmp/fix_dplr.cpp
  source/lmp/tests/test_dplr.py
Due: LAMMPS

fix typo
  source/lmp/fix_dplr.cpp
Due: LAMMPS

merge; fix timestep
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps.py
Due: LAMMPS

do not declare
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

== -> =
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix typo
  source/lmp/tests/test_lammps.py
Due: LAMMPS

nktv2p_real
  source/lmp/tests/test_lammps.py
Due: LAMMPS

keep scale; rename conversion_factor
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
