Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

print of debug deleted
  deepmd/tf/nvnmd/entrypoints/wrap.py
Due: Python

Update deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

Update make_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

fix(pt): make 'find_' to be float in get data (#3992)
  deepmd/pt/train/training.py
Due: Python

add ut
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/tests/infer/deeppot_dpa_sel.pth
Due: LAMMPS

feat: add documentation and options for multi-task arguments (#3989)
  deepmd/entrypoints/doc.py
  deepmd/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/argcheck_nvnmd.py
  doc/train/multi-task-training-pt.md
  pyproject.toml
  source/tests/common/test_doc_train_input.py
Due: Python

fix float precision problem of se_atten in line 217 (#3961) (#3978)
  deepmd/tf/nvnmd/descriptor/se_atten.py
  deepmd/tf/nvnmd/entrypoints/wrap.py
Due: Python

feat: allow model arguments to be registered outside
  deepmd/utils/argcheck.py
Due: Python

correct type hints
  deepmd/utils/argcheck.py
Due: Python

fix(cc): add atomic argument to DeepPotBase
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

TF
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

fix do_atom_virial_tensor
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

feat: allow model arguments to be registered outside (#3995)
  deepmd/utils/argcheck.py
Due: Python

add checker
  .pre-commit-config.yaml
  pyproject.toml
  source/checker/README.md
  source/checker/deepmd_checker.py
Due: none

grammar fix
  source/checker/README.md
  source/checker/deepmd_checker.py
Due: none

add `need_sorted_nlist_for_lower`
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/frozen.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  source/tests/infer/deeppot_dpa_sel.pth
  source/tests/universal/common/cases/model/utils.py
Due: Python

Update test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
Due: LAMMPS

Update make_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

feat: add `get_model` classmethod to `BaseModel`
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/model/__init__.py
Due: Python

fix: support zero atoms input
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/nlist.py
  source/tests/universal/common/cases/model/utils.py
Due: Python

fix shape
  deepmd/pt/model/model/spin_model.py
Due: Python

Update source/tests/universal/common/cases/model/utils.py
  source/tests/universal/common/cases/model/utils.py
Due: none

resolve conversation
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
Due: Python

fix linear atomic model
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

fix: fix errors for zero atom inputs (#4005)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/nlist.py
  source/tests/universal/common/cases/model/utils.py
Due: Python

fix(pt): optimize graph memory usage
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/model/transform_output.py
Due: Python

use self.training
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/model/transform_output.py
  source/lmp/pair_deepmd.cpp
Due: Python, LAMMPS

Update pair_deepmd.cpp
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix hybrid descriptor
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

fix(pt): fix `get_dim` for `DescrptDPA1Compat`
  deepmd/tf/descriptor/se_atten.py
Due: Python

ci: pin PT to 2.3.1 when using CUDA
  .github/workflows/test_cuda.yml
  pyproject.toml
Due: none

fix(c): call C++ interface without atomic properties when they are not requested
  source/api_c/src/c_api.cc
Due: C API

fix no space issue
  .github/workflows/build_wheel.yml
Due: none

ci: pin PT to 2.3.1 when using CUDA (#4009)
  .github/workflows/build_wheel.yml
  .github/workflows/test_cuda.yml
  pyproject.toml
Due: none

fix(lmp): call model deviation interface without atomic properties when they are not requested
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

add unittest for total virial
  source/lmp/tests/test_lammps.py
Due: LAMMPS

feat: add `get_model` classmethod to `BaseModel` (#4002)
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/model/__init__.py
Due: Python
