Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

add quotes
  pyproject.toml
Due: none

Revert "add quotes"
  pyproject.toml
Due: none

Revert "for unclear reason, still need test-requires"
  pyproject.toml
Due: none

add to dependencies
  pyproject.toml
Due: none

ci(build): use uv for cibuildwheel (#3695)
  .github/workflows/build_wheel.yml
  .gitignore
  backend/find_tensorflow.py
  pyproject.toml
Due: none

add ut for extend stat
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  source/tests/universal/common/backend.py
  source/tests/universal/common/cases/descriptor/utils.py
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/pt/backend.py
Due: Python

Update deepmd/main.py
  deepmd/main.py
Due: Python

Update deepmd/utils/finetune.py
  deepmd/utils/finetune.py
Due: Python

Add interface to multi-fitting architecture
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/__init__.py
  deepmd/pt/model/atomic_model/dp_multi_fitting_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_multi_fitting_model.py
  deepmd/pt/model/model/make_multi_fitting_model.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

update codes based on comments
  deepmd/pt/model/atomic_model/dp_multi_fitting_atomic_model.py
  deepmd/pt/model/model/make_multi_fitting_model.py
Due: Python

add hook for external model
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_multi_fitting_model.py
  deepmd/pt/model/model/make_multi_fitting_model.py
Due: Python

breaking: use all sets for training and test (#3862)
  deepmd/utils/data.py
  source/tests/tf/test_deepmd_data.py
  source/tests/tf/test_deepmd_data_sys.py
  source/tests/tf/test_gen_stat_data.py
Due: Python

fix(tf): throw RuntimeError for se_a + type_embedding (#3861)
  deepmd/tf/descriptor/se_a.py
  source/tests/tf/test_model_se_a_type.py
Due: Python

add test model for multi-fitting
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_multi_fitting_model.py
  deepmd/pt/model/model/test_multi_fitting_model.py
  examples/water/multi_fitting/input.json
Due: Python

add numpy ver multi-fitting model
  deepmd/dpmodel/atomic_model/dp_multi_fitting_atomic_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/dp_multi_fitting_model.py
  deepmd/dpmodel/model/make_multi_fitting_model.py
Due: Python

3866
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/property.py
  deepmd/pt/model/atomic_model/__init__.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

add unit test for multi-fitting model
  deepmd/dpmodel/atomic_model/__init__.py
  deepmd/dpmodel/atomic_model/dp_multi_fitting_atomic_model.py
  deepmd/dpmodel/model/make_multi_fitting_model.py
  deepmd/pt/model/atomic_model/dp_multi_fitting_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/make_multi_fitting_model.py
  deepmd/pt/model/model/multi_fitting_test_model.py
  examples/water/multi_fitting/input.json
  source/tests/pt/model/test_dp_multi_fitting_atomic_model.py
Due: Python

pin uv to 0.2.6
  .github/workflows/build_wheel.yml
Due: none

docs: fix footnote
  doc/train/multi-task-training-pt.md
Due: none

se_a & se_atten
  source/op/pt/tabulate_multi_device.cc
  source/op/pt/test/op/test_tabulate_fusion_se_atten.py
Due: OP

se_r
  source/op/pt/test/op/test_tabulate_fusion_se_r.py
Due: OP

0.2.10
  .github/workflows/build_wheel.yml
Due: none

remove print
  source/op/pt/tabulate_multi_device.cc
  source/op/pt/test/op/test_tabulate_fusion_se_a.py
  source/op/pt/test/op/test_tabulate_fusion_se_t.py
Due: OP

fix(ci): pin uv to 0.2.10 (#3870)
  .github/workflows/build_wheel.yml
Due: none

docs: fix footnote (#3872)
  doc/train/multi-task-training-pt.md
Due: none

test(pt/dp): add universal uts for all models
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/output_def.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/universal/common/cases/atomic_model/atomic_model.py
  source/tests/universal/common/cases/atomic_model/ener_model.py
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/data/zbl_tab_potential/H2O_tab_potential.txt
  source/tests/universal/common/cases/descriptor/utils.py
  source/tests/universal/common/cases/model/ener_model.py
  source/tests/universal/common/cases/model/model.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
  source/tests/universal/dpmodel/atomc_model/test_ener_atomic_model.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/dpmodel/model/test_ener_model.py
  source/tests/universal/dpmodel/model/test_model.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/atomc_model/test_ener_atomic_model.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/model/test_ener_model.py
  source/tests/universal/pt/model/test_model.py
Due: Python

Revert "fix(ci): pin uv to 0.2.10 (#3870)"
  .github/workflows/build_wheel.yml
Due: none

update se_r
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_r.py
Due: Python

fix ut
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/model/test_model.py
Due: none

docs: import multi-backend documentation
  doc/freeze/freeze.md
  doc/model/sel.md
  doc/test/model-deviation.md
  doc/third-party/gromacs.md
  doc/third-party/lammps-command.md
  doc/train/training-advanced.md
  doc/train/training.md
  doc/troubleshooting/howtoset_num_nodes.md
Due: none

feat: add ut for dos finetune
  deepmd/pt/train/training.py
  source/tests/pt/test_finetune.py
Due: Python

Support intensive property fitting
  deepmd/pt/loss/property.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
Due: Python

fix:test train
  deepmd/pt/utils/stat.py
Due: Python

Apply suggestions from code review
  doc/test/model-deviation.md
  doc/train/training-advanced.md
Due: none

Fix UT
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/property_model.py
Due: Python

Update train-fitting-dos.md
  doc/model/train-fitting-dos.md
Due: none

delete try except
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

Update deepmd/pt/utils/stat.py
  deepmd/pt/utils/stat.py
Due: Python

Revert "fix(ci): pin uv to 0.2.10" (#3874)
  .github/workflows/build_wheel.yml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
