Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix: change input output shape and move UTs
  deepmd/dpmodel/model/pair_tab_model.py
  deepmd/pt/model/model/pair_tab_model.py
  source/tests/dpmodel/__init__.py
  source/tests/dpmodel/test_pairtab.py
  source/tests/pt/test_pairtab.py
Due: Python

fix: array type
  deepmd/dpmodel/model/pair_tab_model.py
Due: Python

pass list[OutputVariableDef] instead of bool
  deepmd/pt/infer/deep_eval.py
Due: Python

fix py38 compatibility
  deepmd/pt/infer/deep_eval.py
Due: Python

fix model doc str
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

fix compile gromacs with precompiled C library (#3217)
  source/CMakeLists.txt
Due: none

c: fix all memory leaks; add sanitizer checks (#3223)
  .github/workflows/test_cc.yml
  doc/inference/cxx.md
  examples/infer_water/infer_water.c
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Due: C API

build macos-arm64 wheel on M1 runners (#3206)
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  pyproject.toml
Due: none

gmx: fix include directive (#3221)
  source/gmx/CMakeLists.txt
  source/gmx/include/gmx_plugin.h
Due: none

cc: fix returning type of sel_types (#3181)
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
Due: C++ API

Feat: numpy pairtab model (#3212)
  deepmd/dpmodel/model/pair_tab_model.py
  deepmd/pt/model/model/pair_tab_model.py
  deepmd/utils/pair_tab.py
  source/tests/common/test_pairtab_preprocess.py
  source/tests/dpmodel/__init__.py
  source/tests/dpmodel/test_pairtab.py
Due: Python

reuse PRECISION_DICT
  deepmd/pt/utils/env.py
Due: Python

pt: rename atomic_virial to atom_virial
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/ener.py
  source/tests/pt/test_model.py
Due: Python

feat: add weight calculation and tests
  deepmd/pt/model/model/linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

fix model doc str: add shape hint to doc string. (#3225)
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

feat: add numpy implementation
  deepmd/dpmodel/model/linear_model.py
  source/tests/dpmodel/test_linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

feat: add numpy implementation
  source/tests/dpmodel/test_linear_model.py
Due: none

fix: overwriting nlist bug
  deepmd/dpmodel/utils/nlist.py
  source/tests/dpmodel/test_linear_model.py
Due: Python

detect version in advance before building deepmd-kit-cu11 (#3172)
  .github/workflows/build_wheel.yml
  pyproject.toml
Due: none

chore: rename variables
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/linear_model.py
  source/tests/dpmodel/test_linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

pt: rename atomic_virial to atom_virial in the model output (#3226)
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/ener.py
  source/tests/pt/test_model.py
Due: Python

pt: apply global logger to pt (#3222)
  deepmd/env.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/inference.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/optimizer/LKF.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  deepmd/utils/pair_tab.py
Due: Python

pt: apply global user set precision to pt (#3220)
  deepmd/pt/utils/env.py
Due: Python

use consistent output name for different backends
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

remove the commented out code
  deepmd/tf/infer/deep_eval.py
Due: Python

chore: refactor code to add general linear model
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/linear_model.py
  source/tests/dpmodel/test_linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

fix: precommit
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/linear_model.py
Due: Python

chore: refactor
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/linear_model.py
Due: Python

add category property to OutputVariableDef
  deepmd/dpmodel/output_def.py
  source/tests/common/test_output_def.py
Due: Python

fix torch jit...
  deepmd/dpmodel/output_def.py
Due: Python

try to fix jit
  deepmd/dpmodel/output_def.py
Due: Python

use `IntEnum` instead of `IntFlag`, which can pass jit...
  deepmd/dpmodel/output_def.py
Due: Python

improve doc
  deepmd/dpmodel/output_def.py
Due: Python

fix DP_ENABLE_TENSORFLOW support
  backend/find_tensorflow.py
Due: none

chore: refactor code
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/linear_model.py
  source/tests/dpmodel/test_linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

feat: add model wrapper
  deepmd/dpmodel/model/linear_model.py
  deepmd/pt/model/model/ener.py
  deepmd/pt/model/model/linear_model.py
  source/tests/dpmodel/test_linear_model.py
  source/tests/pt/test_linear_model.py
Due: Python

fix DP_ENABLE_TENSORFLOW support (#3229)
  backend/find_tensorflow.py
Due: none

enh: better structure for the dpmodel uts
  source/tests/common/dpmodel/README
  source/tests/common/dpmodel/__init__.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_descriptor_se_e2_a.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_env_mat.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/common/dpmodel/test_network.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/common/dpmodel/test_pairtab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
  source/tests/common/dpmodel/test_region.py
  source/tests/common/test_model_format_utils.py
Due: none
