Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

refactor
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  deepmd/tf/entrypoints/train.py
  deepmd/utils/argcheck.py
  doc/train/multi-task-training.md
  source/tests/pt/test_sampler.py
Due: Python

clear
  deepmd/tf/entrypoints/change_bias.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_sampler.py
Due: Python

fix pd
  deepmd/pd/train/training.py
Due: Python

tf & pd
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  deepmd/tf/entrypoints/change_bias.py
  deepmd/tf/entrypoints/train.py
  deepmd/utils/argcheck.py
Due: Python

adopt
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_sampler.py
Due: Python

refactor docstring
  deepmd/utils/argcheck.py
Due: Python

feat(pt): use num_epoch to set num_steps
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_sampler.py
Due: Python

fix: use numb_epoch key and correct model_prob doc
  deepmd/tf/entrypoints/change_bias.py
  deepmd/tf/entrypoints/train.py
  doc/train/multi-task-training.md
  source/tests/pt/test_sampler.py
Due: Python

2
  deepmd/utils/argcheck.py
Due: Python

update
  deepmd/utils/argcheck.py
Due: Python

add examples
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  examples/water/se_e2_a/input_torch_num_epoch.json
  examples/water_multi_task/pytorch_example/input_torch_num_epoch_dict.json
  source/tests/common/test_examples.py
Due: Python

add doc for new descriptors
  skills/add-descriptor/SKILL.md
Due: none

mv skills to .github
  .github/skills/add-descriptor/SKILL.md
  .github/skills/add-descriptor/references/dpmodel-implementation.md
  .github/skills/add-descriptor/references/test-patterns.md
Due: none

Use fixed mdformat-myst version with indentation fix
  .pre-commit-config.yaml
Due: none

Use math markdown
  doc/model/train-fitting-property.md
Due: none

fix: avoid modifying LAMMPS memory in select_real_atoms_sendlist
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
Due: C++ API

feat(pt_expt): add dos, dipole, polar and property fittings
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt_expt/fitting/__init__.py
  deepmd/pt_expt/fitting/dipole_fitting.py
  deepmd/pt_expt/fitting/dos_fitting.py
  deepmd/pt_expt/fitting/polarizability_fitting.py
  deepmd/pt_expt/fitting/property_fitting.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/pt_expt/fitting/test_dipole_fitting.py
  source/tests/pt_expt/fitting/test_dos_fitting.py
  source/tests/pt_expt/fitting/test_ener_fitting.py
  source/tests/pt_expt/fitting/test_invar_fitting.py
  source/tests/pt_expt/fitting/test_polar_fitting.py
  source/tests/pt_expt/fitting/test_property_fitting.py
Due: Python

add make_fx, mv itertools to parameterized
  source/tests/pt_expt/fitting/test_dipole_fitting.py
  source/tests/pt_expt/fitting/test_dos_fitting.py
  source/tests/pt_expt/fitting/test_polar_fitting.py
  source/tests/pt_expt/fitting/test_property_fitting.py
Due: none

feat(pt_expt): full models dipole, polar, dos, property and dp-zbl
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/atomic_model/polar_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt_expt/common.py
  deepmd/pt_expt/model/__init__.py
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_dpa1.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
  source/tests/pt_expt/model/test_dipole_model.py
  source/tests/pt_expt/model/test_dos_model.py
  source/tests/pt_expt/model/test_dp_zbl_model.py
  source/tests/pt_expt/model/test_polar_model.py
  source/tests/pt_expt/model/test_property_model.py
Due: Python

rm _forward_lower
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
  source/tests/pt_expt/model/test_dipole_model.py
  source/tests/pt_expt/model/test_dos_model.py
  source/tests/pt_expt/model/test_dp_zbl_model.py
  source/tests/pt_expt/model/test_ener_model.py
  source/tests/pt_expt/model/test_polar_model.py
  source/tests/pt_expt/model/test_property_model.py
Due: Python

rm register_dpmodel_mapping from fitting
  deepmd/pt_expt/fitting/dipole_fitting.py
  deepmd/pt_expt/fitting/dos_fitting.py
  deepmd/pt_expt/fitting/ener_fitting.py
  deepmd/pt_expt/fitting/invar_fitting.py
  deepmd/pt_expt/fitting/polarizability_fitting.py
  deepmd/pt_expt/fitting/property_fitting.py
Due: Python

remove the atomic model in pt_expt. mv atomic model's output stat tests to dpmodel's folder.
  deepmd/pt_expt/atomic_model/__init__.py
  deepmd/pt_expt/atomic_model/dp_atomic_model.py
  deepmd/pt_expt/atomic_model/energy_atomic_model.py
  deepmd/pt_expt/model/ener_model.py
  source/tests/common/dpmodel/test_atomic_model_atomic_stat.py
  source/tests/common/dpmodel/test_atomic_model_global_stat.py
  source/tests/pt_expt/atomic_model/test_atomic_model_atomic_stat.py
  source/tests/pt_expt/atomic_model/test_atomic_model_global_stat.py
  source/tests/pt_expt/atomic_model/test_dp_atomic_model.py
Due: Python

add translated_output_def
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_dpa1.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
Due: Python

base model registration
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
Due: Python

implement compute_or_load_stat
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

fix bug in test_ener
  source/tests/consistent/model/test_ener.py
Due: none

refact make_model, concrete models from different backends inherit from the base models of the corresponding backend
  deepmd/dpmodel/model/dipole_model.py
  deepmd/dpmodel/model/dos_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/polar_model.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt_expt/model/__init__.py
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
Due: Python

Add compute_or_load_stat consistency tests and fix dpmodel backend bugs
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/stat.py
  source/tests/consistent/model/test_ener.py
Due: Python

rm tmp test files
  source/tests/consistent/model/test_frozen.py
Due: none

remove concrete methods and data from BaseModel
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt_expt/model/model.py
Due: Python

rm model_type
  deepmd/dpmodel/model/dipole_model.py
  deepmd/dpmodel/model/dos_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/polar_model.py
Due: Python

fix spin model
  deepmd/dpmodel/model/spin_model.py
Due: Python

refactor: unify learning rate schedulers with array API
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/utils.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/utils.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/__init__.py
  deepmd/tf/utils/learning_rate.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  doc/train/index.rst
  doc/train/learning-rate.md
  doc/train/training-advanced.md
  examples/hessian/multi_task/input.json
  examples/hessian/single_task/input.json
  examples/property/train/input_torch.json
  examples/water/dpa2/input_torch_compressible.json
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/input_torch_dynamic.json
  source/tests/consistent/test_learning_rate.py
  source/tests/pd/model/test_model.py
  source/tests/pd/model/water/multitask.json
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/test_lr.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/water/multitask.json
  source/tests/pt/model/water/multitask_sharefit.json
  source/tests/pt/property/input.json
  source/tests/pt/test_lr.py
  source/tests/tf/test_lr.py
  source/tests/universal/dpmodel/utils/test_learning_rate.py
Due: Python

fix: use get_xp_precision
  deepmd/dpmodel/utils/learning_rate.py
Due: Python

fix test
  source/tests/tf/test_lr.py
Due: none

rename lr_exp to lr_schedule
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

feat: log pre-clip gradient total_norm and per-param norm histogram to tensorboard
  deepmd/pt/train/training.py
Due: Python

style: extend device check to `xp`
  source/checker/deepmd_checker.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
