Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Chore: refactor pt-expt compile (#5504)
  deepmd/pt/utils/compile_compat.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

fix(jax): restore batched neighbor statistics
  deepmd/jax/entrypoints/train.py
  deepmd/jax/utils/update_sel.py
  source/tests/jax/test_training.py
Due: Python

fix(pt): stop plain pt dp test from eager-loading pt_expt custom-op fakes
  deepmd/pt_expt/utils/__init__.py
  deepmd/pt_expt/utils/tabulate_ops.py
  source/tests/pt_expt/utils/test_tabulate_ops_lazy.py
Due: Python

test(pt_expt): snapshot full _registered set in tabulate_ops test
  source/tests/pt_expt/utils/test_tabulate_ops_lazy.py
Due: none

docs: update dpa_adapt README to match actual scripts
  examples/dpa_adapt/README.md
  examples/dpa_adapt/scripts/run_evaluate_sklearn.py
Due: none

docs: rename scripts to frozen_sklearn / frozen_head for clarity
  examples/dpa_adapt/README.md
  examples/dpa_adapt/scripts/run_evaluate_frozen_head.py
  examples/dpa_adapt/scripts/run_evaluate_frozen_sklearn.py
Due: none

fix(jax): restore batched neighbor statistics (#5545)
  deepmd/jax/entrypoints/train.py
  deepmd/jax/utils/update_sel.py
  source/tests/jax/test_training.py
Due: Python

feat(dpa_adapt): expose decay_steps, warmup_steps, and fitting_net_params for frozen_head/finetune
  dpa_adapt/finetuner.py
  dpa_adapt/trainer.py
Due: none

docs(dpa_adapt): expand frozen_head/finetune parameter reference in guide
  doc/dpa_adapt/README.md
Due: none

feat(dpa_adapt): add decay_steps and warmup_steps support to MFT strategy
  doc/dpa_adapt/README.md
  dpa_adapt/config/manager.py
  dpa_adapt/finetuner.py
  dpa_adapt/mft.py
Due: none

docs(dpa_adapt): restructure strategy docs into separate subsections with parameter tables
  doc/dpa_adapt/README.md
Due: none

feat(pt_expt): DPA4 inference (.pt2 freeze, DeepEval, C++, LAMMPS) (#5540)
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/attention.py
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  deepmd/dpmodel/descriptor/dpa4_nn/so2.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/model/model.py
  source/api_cc/tests/test_deeppot_dpa4_ptexpt.cc
  source/install/test_cc_local.sh
  source/lmp/tests/test_lammps_dpa4_pt2.py
  source/tests/infer/gen_dpa4.py
  source/tests/pt_expt/descriptor/test_dpa4.py
  source/tests/pt_expt/infer/test_dpa4_deep_eval.py
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_dpa4_interop.py
  source/tests/pt_expt/model/test_get_model_dpa4.py
Due: Python, C++ API, LAMMPS

fix(api): trim PyTorch type map separators (#5544)
  source/api_c/tests/test_deeppot_a_ptexpt.cc
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
Due: C++ API, C API

set env
  .github/workflows/test_cuda.yml
Due: none

test(pt): document se_e3_tebd gr output (#5536)
  deepmd/dpmodel/descriptor/se_t_tebd.py
  source/tests/pt_expt/descriptor/test_se_t_tebd.py
Due: Python

CI: drop container in `test-cuda` (#5543)
  .github/workflows/test_cuda.yml
Due: none

fix(dpa4): use triton_op to enable triton when freezing (#5521)
  deepmd/pt/model/descriptor/sezm_nn/triton/radial_mix.py
  deepmd/pt/model/descriptor/sezm_nn/triton/so2_rotation.py
Due: Python

refactor(dpa_adapt): unify MFT type_map, fix defaults, improve error reporting
  doc/dpa_adapt/README.md
  dpa_adapt/cli.py
  dpa_adapt/config/manager.py
  dpa_adapt/finetuner.py
  dpa_adapt/mft.py
  dpa_adapt/trainer.py
  source/tests/dpa_adapt/test_fparam.py
  source/tests/dpa_adapt/test_mft_config.py
  source/tests/dpa_adapt/test_mft_evaluate.py
  source/tests/dpa_adapt/test_mft_property_task.py
  source/tests/dpa_adapt/test_paper_alignment.py
Due: none

fix(dpa_adapt): add property_name to MFTFineTuner test constructions
  .gitignore
  source/tests/dpa_adapt/test_fparam.py
  source/tests/dpa_adapt/test_mft_config.py
  source/tests/dpa_adapt/test_mft_property_task.py
Due: none

fix(pt): stop plain pt dp test from eager-loading pt_expt custom-op fakes (#5542)
  deepmd/pt_expt/utils/__init__.py
  deepmd/pt_expt/utils/tabulate_ops.py
  source/tests/pt_expt/utils/test_tabulate_ops_lazy.py
Due: Python

feat(dpmodel): port resolve_so3_grid + _build_so3_frame_set for DPA4 SO3 grid
  deepmd/dpmodel/descriptor/dpa4_nn/projection.py
  source/tests/common/dpmodel/test_dpa4_so3_grid_utils.py
Due: Python

test(dpmodel): cover SO3 grid util edge branches; refresh projection docstring
  deepmd/dpmodel/descriptor/dpa4_nn/projection.py
  source/tests/common/dpmodel/test_dpa4_so3_grid_utils.py
Due: Python

feat(dpmodel): port SO3GridProjector (Wigner-D grid quadrature) for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/projection.py
  source/tests/common/dpmodel/test_dpa4_so3_projector.py
Due: Python

feat(dpmodel): port FrameExpand/FrameContract per-degree frame mixers for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/common/dpmodel/test_dpa4_frame_mixers.py
Due: Python

feat(dpmodel): port GridMLP + enable op_type='mlp' grid op for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/common/dpmodel/test_dpa4_grid_mlp.py
Due: Python

fix(dpmodel): make GridMLP bias-free to mirror pt (parity + interop)
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/common/dpmodel/test_dpa4_grid_mlp.py
Due: Python

feat(dpmodel): implement BaseGridNet cross-mode + layout=flat + residual_scale for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/common/dpmodel/test_dpa4_gridnet_cross.py
Due: Python

add a warning
  deepmd/dpmodel/descriptor/repflows.py
Due: Python

fix(tests): set mock torch.Tensor to a real class to fix Python 3.14 issubclass error
  source/tests/dpa_adapt/test_conditions.py
  source/tests/dpa_adapt/test_type_map.py
Due: none

feat(dpmodel): port SO3GridNet (self+cross frame machinery) for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/common/dpmodel/test_dpa4_so3_gridnet.py
Due: Python

feat(dpmodel): wire SO3/S2 grid nets into FFN+SO2Convolution for DPA4
  deepmd/dpmodel/descriptor/dpa4_nn/ffn.py
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  deepmd/dpmodel/descriptor/dpa4_nn/so2.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
  source/tests/common/dpmodel/test_dpa4_grid_wiring.py
Due: Python

test(dpmodel): convert DPA4 grid NIE guards to pt-parity tests + invariance/fp32 coverage
  source/tests/common/dpmodel/test_dpa4_grid_wiring.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: none

Update deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repflows.py
Due: Python

test(consistent): add DPA4 SO3/S2 grid-flag cross-backend rows
  source/tests/consistent/descriptor/test_dpa4.py
Due: none

fix(pt/pt-expt): preserve shared tensors in change-bias (#5534)
  deepmd/pt/entrypoints/main.py
  deepmd/pt_expt/entrypoints/main.py
  source/tests/pt/test_change_bias.py
  source/tests/pt_expt/test_change_bias.py
Due: Python

fix(ci): handle network timeout errors in uv retry script
  .github/workflows/test_python.yml
  source/install/uv_with_retry.sh
Due: none

feat: add charge spin to cpp runtime (#5509)
  deepmd/pt_expt/utils/serialization.py
  doc/third-party/lammps-command.md
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_chg_spin_pt.cc
  source/api_cc/tests/test_deeppot_chg_spin_ptexpt.cc
  source/install/test_cc_local.sh
  source/lmp/pair_base.cpp
  source/lmp/pair_base.h
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_chg_spin_pt2.py
  source/tests/infer/gen_chg_spin.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: Python, C++ API, C API, LAMMPS

test(dpmodel): pin pt reference modules to CPU in DPA4 grid parity tests (CUDA CI fix)
  source/tests/common/dpmodel/test_dpa4_frame_mixers.py
  source/tests/common/dpmodel/test_dpa4_grid_mlp.py
  source/tests/common/dpmodel/test_dpa4_gridnet_cross.py
  source/tests/common/dpmodel/test_dpa4_so3_gridnet.py
Due: none

fix(dpa4): make GridProduct pt_expt-wrappable
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
Due: Python

perf(dpa4): opt so3grid (with pt_expt GridProduct wrapping fix) (#5552)
  deepmd/dpmodel/descriptor/dpa4_nn/block.py
  deepmd/dpmodel/descriptor/dpa4_nn/ffn.py
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  deepmd/pt/model/descriptor/sezm_nn/grid_net.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python
