Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

add tensor-dipole example
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Due: Python

cc: add torch backend support for Multiple backend (#3162)
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  deepmd/pt/model/model/make_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/commonPT.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/install/test_cc_local.sh
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_lammps_pt.py
  source/tests/infer/deeppot_sea.pth
Due: Python, C++ API, LAMMPS, i-Pi

pt: support `--init-frz-model` (#3350)
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  source/tests/pt/test_init_frz_model.py
Due: Python

Fix single-task training&data stat
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/model.py
  deepmd/utils/path.py
  examples/water/dpa2/input_torch.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e2_a/input_torch.json
Due: Python

Fix EnergyFittingNetDirect
  deepmd/pt/model/model/dp_model.py
Due: Python

pt: support fparam/aparam in DeepEval
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/train/wrapper.py
  source/tests/infer/fparam_aparam.pbtxt
  source/tests/infer/fparam_aparam.pth
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
Due: Python

add `stat_file` to argcheck
  deepmd/utils/argcheck.py
Due: Python

feat(pt): support fparam/aparam in C++ DeepPot
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/tests/infer/fparam_aparam.pth
Due: C++ API

change class inherbit method
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
Due: none

fix typo
  source/api_cc/include/DeepPotPT.h
Due: C++ API

fix typo
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix warning
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix error
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

revert ntypes
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

feat: support exclude atypes in atomic model
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/exclude_mask.py
  source/tests/pt/model/test_dp_atomic_model.py
Due: Python

Fix single-task training&data stat (#3355)
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/model.py
  deepmd/utils/path.py
  examples/water/dpa2/input_torch.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e2_a/input_torch.json
Due: Python

rename tests
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
Due: C++ API

merge compute_output_stat (#3310)
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  source/tests/common/test_out_stat.py
  source/tests/pt/test_stat.py
  source/tests/tf/common.py
Due: Python

fix shape
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

move tearDownClass
  source/tests/tf/test_deeppot_a.py
Due: none

EPSILON
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
Due: C++ API

update model
  source/tests/infer/fparam_aparam.pth
Due: none

fix missing args
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

support exclude in dp
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/tf/model/model.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_atomic_model.py
Due: Python

Add data_requirement for dataloader
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/model/base_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/test_stat.py
Due: Python

Update make_base_descriptor.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
Due: Python

Update typing
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

support model argument, add consistency check
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
  source/tests/consistent/model/test_ener.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/test_dp_test.py
Due: Python

fix warnings
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

fix warnings
  source/tests/pt/model/test_dp_atomic_model.py
Due: none

Fix uts
  deepmd/dpmodel/model/dp_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_stat.py
Due: Python

fix test
  deepmd/dpmodel/model/model.py
Due: Python

rm data file
  source/tests/consistent/io/test_io.py
Due: none

feat(pt): support fparam/aparam in DeepEval (#3356)
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/train/wrapper.py
  source/tests/infer/fparam_aparam.pbtxt
  source/tests/infer/fparam_aparam.pth
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
Due: Python

Fix uts
  deepmd/pt/model/model/model.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_polarizability_fitting.py
Due: Python

raise precision before reduction
  deepmd/dpmodel/model/transform_output.py
  deepmd/pt/model/model/transform_output.py
Due: Python

reduced variables are converted to float64
  deepmd/dpmodel/common.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/utils/env.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/pt/model/test_dp_model.py
Due: Python

hack the jit script
  deepmd/pt/model/model/transform_output.py
Due: Python

fix ut
  deepmd/dpmodel/common.py
Due: Python
