Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

feat(dpmodel): fixed-phantom-count smooth attention on the dpa2 graph route
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/neighbor_graph/segment.py
  doc/model/dpa2.md
  source/tests/common/dpmodel/test_dpa2_call_graph.py
  source/tests/common/dpmodel/test_repformer_graph_ops.py
Due: Python

ci: fix Gitee mirror workflow triggers (#5778)
  .github/workflows/mirror_gitee.yml
Due: none

docs(dpmodel): numpydoc sections for the phantom-compensated attention kernels
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/neighbor_graph/segment.py
Due: Python

docs(dpmodel,pt_expt): numpydoc sections for all remaining PR-added methods
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt_expt/descriptor/repformers.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
Due: Python

refactor(model): unify dpmodel backend factories
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/model_factory.py
  deepmd/jax/model/model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/tf2/model/model.py
  source/tests/common/dpmodel/test_model_factory.py
  source/tests/pt_expt/model/test_get_model_zbl.py
Due: Python

docs(dpmodel): document mathematical operations
  deepmd/dpmodel/loss/dos.py
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/property.py
  deepmd/dpmodel/loss/tensor.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/spherical_harmonics.py
  deepmd/dpmodel/utils/type_embed.py
Due: Python

docs(dpmodel): formulate atomic and model classes
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dipole_atomic_model.py
  deepmd/dpmodel/atomic_model/dos_atomic_model.py
  deepmd/dpmodel/atomic_model/energy_atomic_model.py
  deepmd/dpmodel/atomic_model/polar_atomic_model.py
  deepmd/dpmodel/atomic_model/property_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/loss/loss.py
  deepmd/dpmodel/model/dipole_model.py
  deepmd/dpmodel/model/dos_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/polar_model.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/update_sel.py
Due: Python

test(modifier): use configured device in dipole charge test
  source/tests/consistent/modifier/test_dipole_charge.py
Due: none

fix(pt_expt): collective empty-rank preflight + extended-axis aparam on graph MP route
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/lmp/tests/test_lammps_dpa2_graph_pt2.py
  source/op/pt/comm.cc
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
Due: OP, C++ API, LAMMPS

test(dpa2): address review nits (pairs=None coverage, dup fixture, NoPBC check, unused import)
  source/tests/common/dpmodel/test_dpa2_call_graph.py
  source/tests/common/dpmodel/test_repformer_graph_ops.py
  source/tests/infer/gen_dpa2.py
Due: none

test(dpa2): tighten graph-vs-dense envelope post-compensation + prove graph route taken
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
  source/tests/pt_expt/utils/test_neighbor_list.py
Due: none

test(lammps): DPA2 graph empty-subdomain (nlocal=0, nghost>0) MP==SP regression
  source/lmp/tests/test_lammps_dpa2_graph_pt2.py
Due: LAMMPS

docs(dpa2): document pt_expt eager/training default-flip + legacy escape hatch
  doc/model/dpa2.md
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
Due: none

docs(dpmodel): complete descriptor equations
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/fitting/dpa4_ener.py
  deepmd/dpmodel/loss/ener_spin.py
Due: Python

fix(tf): remove unused native neighbor-stat op (#5784)
  source/lib/include/neighbor_stat.h
  source/lib/src/gpu/neighbor_stat.cu
  source/op/tf/CMakeLists.txt
  source/op/tf/neighbor_stat.cc
Due: OP, Core

docs(dpmodel): address equation review comments
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/model/property_model.py
Due: Python

docs(dpmodel): clarify gated attention scaling
  deepmd/dpmodel/descriptor/dpa1.py
Due: Python

feat(pt_expt): graph-native Hessian + fix fparam graph export/train (OutisLi P1s)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
Due: Python

fix(pt_expt): derive graph trace edge_capacity from real edge count, not sel
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

fix(pt_expt,dpmodel): graph-lower aparam is flat (N, nda) on the node axis
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/utils/compile_compat.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/infer/test_graph_deepeval.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
  source/tests/pt_expt/model/test_graph_export.py
  source/tests/pt_expt/utils/test_graph_with_comm_export.py
Due: Python

fix(pt_expt): gate the graph default-flip to energy-output models
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
Due: Python

fix(cc): graph aparam width + ghost-only-rank synthesis; bound all MPI test runs
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_dpa1_graph_aparam_ptexpt.cc
  source/lmp/tests/run_mpi_pair_deepmd_dpa3_pt2.py
  source/lmp/tests/test_lammps_dpa2_graph_pt2.py
  source/tests/infer/gen_dpa1.py
  source/tests/infer/gen_dpa2.py
Due: C++ API, LAMMPS

perf(cc,pt_expt): cache empty-rank preflight on ago==0; split n_local from host comm scalars
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/utils/serialization.py
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/op/pt/comm.cc
  source/tests/pt_expt/utils/test_graph_with_comm_export.py
Due: Python, OP, C++ API

fix(pt_expt): persist disable_graph_lower across checkpoint restart
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
  source/tests/pt_expt/test_training.py
Due: Python

feat(modifier): add dpmodel dipole-charge adapters (#5775)
  deepmd/dpmodel/modifier/__init__.py
  deepmd/dpmodel/modifier/dipole_charge.py
  deepmd/jax/modifier/__init__.py
  deepmd/jax/modifier/dipole_charge.py
  deepmd/pt_expt/modifier/__init__.py
  deepmd/pt_expt/modifier/dipole_charge.py
  deepmd/tf2/modifier/__init__.py
  deepmd/tf2/modifier/dipole_charge.py
  source/tests/consistent/modifier/__init__.py
  source/tests/consistent/modifier/test_dipole_charge.py
Due: Python

fix(dpmodel): signed phantom count -- smooth graph attention for arbitrary degree
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/neighbor_graph/segment.py
  source/tests/common/dpmodel/test_dpa2_call_graph.py
Due: Python

docs(dpmodel): correct reviewed equations
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dipole_atomic_model.py
  deepmd/dpmodel/atomic_model/polar_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/ener_spin.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/utils/network.py
Due: Python

fix(dpmodel): preserve model dictionaries during serialization
  deepmd/dpmodel/utils/serialization.py
  source/tests/common/dpmodel/test_serialization.py
Due: Python

fix(dpmodel): keep output reductions on active backend
  deepmd/dpmodel/model/edge_transform_output.py
  deepmd/dpmodel/model/transform_output.py
  source/tests/common/dpmodel/test_transform_output.py
Due: Python

fix(api_cc): size remapped atomic parameters by stride
  source/api_cc/src/common.cc
  source/api_cc/tests/test_select_map.cc
Due: C++ API

fix(tf): avoid empty AMix neighbor mapping pointers
  source/op/tf/prod_env_mat_multi_device.cc
  source/op/tf/prod_env_mat_multi_device_nvnmd.cc
  source/tests/tf/test_prod_env_mat.py
Due: OP

test(dpmodel): skip transform tests without torch
  source/tests/common/dpmodel/test_transform_output.py
Due: none

fix(jax): return stored HLO neighbor count
  deepmd/jax/model/hlo.py
  source/tests/jax/test_hlo.py
Due: Python

fix(c-api): contain model deviation frame errors
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deepmd_exception.cc
Due: C API

fix(pt): remap spins after null atom filtering
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
Due: C++ API

fix(c-api): return DeepSpin atomic virials
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deepspin_model_devi.cc
  source/api_c/tests/test_deepspin_model_devi_hpp.cc
Due: C API

fix(ipi): reject unknown atom names
  source/ipi/driver.cc
  source/ipi/src/Convert.cc
  source/ipi/tests/test_driver_input_validation.py
Due: i-Pi

fix(dpmodel): release merged LMDB cache references
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

fix(dpmodel): guard empty magnetic loss masks
  deepmd/dpmodel/loss/ener_spin.py
  source/tests/common/dpmodel/test_loss_ener_spin.py
  source/tests/pt_expt/loss/test_ener_spin.py
Due: Python

fix(ase): symmetrize reshaped virial stress
  deepmd/calculator.py
  source/tests/test_calculator.py
Due: Python
