Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

add `aparam_from_compute` to `pair deepmd`
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

add invoked_flag into make_fparam_from_compute and make_aparam_from_compute
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix typo: horder->holder
  deepmd/train/trainer.py
Due: Python

Apply suggestions from code review
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

customized pypi index
  .github/workflows/build_wheel.yml
Due: none

do not cache
  .github/workflows/build_wheel.yml
Due: none

update docs
  .github/workflows/build_wheel.yml
  doc/install/easy-install-dev.md
Due: none

-U
  doc/install/easy-install-dev.md
Due: none

submit to deepmodeling
  .github/workflows/build_wheel.yml
Due: none

add `aparam_from_compute` to `pair deepmd` (#2929)
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

Fix typos (#2930)
  deepmd/train/trainer.py
Due: Python

deploy developed Python packages to GitHub Pages (#2932)
  .github/workflows/build_wheel.yml
  doc/install/easy-install-dev.md
Due: none

support compressing any neuron structure
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/utils/tabulate.py
  source/op/unaggregated_grad.cc
  source/tests/model_compression/input.json
Due: Python, OP

lmp: do not write model deviation if the same step written previously
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

only freeze in rank 0
  deepmd/entrypoints/freeze.py
Due: Python

only freeze in rank 0 (#2937)
  deepmd/entrypoints/freeze.py
Due: Python

support compressing any neuron structure (#2933)
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/utils/tabulate.py
  source/op/unaggregated_grad.cc
  source/tests/model_compression/input.json
Due: Python, OP

support conversion to pbtxt in command line interface
  deepmd/entrypoints/convert.py
  deepmd_cli/main.py
Due: Python

argcheck: restrict the type of elements in a list
  deepmd/utils/argcheck.py
  pyproject.toml
Due: Python

clarify help message
  deepmd_cli/main.py
Due: Python

fix slicing error
  deepmd/entrypoints/convert.py
Due: Python

fix typo
  deepmd/entrypoints/convert.py
Due: Python

avoid using .pbtxt as model conversion output name in unittest
  source/tests/test_deeppot_a.py
Due: none

Support conversion to pbtxt in command line interface (#2943)
  deepmd/entrypoints/convert.py
  deepmd_cli/main.py
  source/tests/test_deeppot_a.py
Due: Python

bump dargs to 0.4.1
  pyproject.toml
Due: none

reformat func for further merging with pt version
  deepmd/utils/data_system.py
  source/tests/test_deepmd_data_sys.py
Due: Python

argcheck: restrict the type of elements in a list (#2945)
  deepmd/utils/argcheck.py
  pyproject.toml
Due: Python

reformat func for further merging with pt version (#2946)
  deepmd/utils/data_system.py
  source/tests/test_deepmd_data_sys.py
Due: Python

update
  README.md
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/index.rst
  doc/model/overall.md
  doc/model/pairtab.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/nvnmd/nvnmd.md
  doc/test/model-deviation.md
  doc/train/multi-task-training.md
  doc/train/training-advanced.md
Due: none

clean \label and &=
  doc/freeze/compress.md
  doc/model/pairtab.md
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/test/model-deviation.md
  doc/train/training-advanced.md
Due: none

fix latex issues
  doc/model/dprc.md
  doc/model/overall.md
  doc/model/pairtab.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/test/model-deviation.md
  doc/train/multi-task-training.md
  doc/train/training-advanced.md
Due: none

fix latex issues
  doc/freeze/compress.md
  doc/model/overall.md
  doc/model/train-energy.md
  doc/model/train-se-e3.md
Due: none

Revert "bump myst-parser to >=0.19.2"
  setup.py
Due: none

bump myst-nb version
  backend/dynamic_metadata.py
Due: none

fix ase tarball url
  .github/workflows/test_cc.yml
Due: none

finish se_e2_a
  doc/model/train-se-e2-a.md
Due: none

fix url in test_cuda
  .github/workflows/test_cuda.yml
Due: none

CUDA 12.2
  .github/workflows/build_cc.yml
  .github/workflows/test_cuda.yml
  backend/find_tensorflow.py
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker_package_c.sh
Due: none

convert from an existing model
  examples/infer_water/convert_model.c
  source/install/docker_test_package_c.sh
Due: none

fix model path
  examples/infer_water/convert_model.c
Due: none
