Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

ci: narrow generated fixture cache fingerprint
  .github/workflows/test_cc.yml
Due: none

fix(pt): address review on density signatures, statistics cache, and defaults
  deepmd/pt/model/atomic_model/density_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/density_model.py
  deepmd/pt/model/model/make_density_model.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_dp_test_density.py
Due: Python

test: cover the two review paths that had no test
  source/tests/pt_expt/model/test_unimol.py
Due: none

ci: include fixture orchestrator in cache key
  .github/workflows/test_cc.yml
Due: none

fix(dpa4): drop FiLM-site RMSNorm from the v20260911 presets
  deepmd/utils/model_preset_data.py
  source/tests/common/test_model_preset.py
Due: Python

fix(sezm): apply atom_ener under case FiLM and reject freezing in dens mode
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/task/sezm_ener.py
  source/tests/pt/model/test_fitting_vacuum_ref.py
  source/tests/pt/model/test_sezm_vacuum_freeze.py
Due: Python

test(fitting): cover the vacuum_ref guards and the previous serialization version
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/pd/model/test_ener_fitting.py
  source/tests/pt/model/test_fitting_vacuum_ref.py
  source/tests/tf/test_fitting_vacuum_ref.py
Due: Python

feat(pt-expt): add DPA4C-LR model with non-periodic LES/SOG long-range correction
  AGENTS.md
  deepmd/dpmodel/descriptor/dpa4c.py
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/fitting/dpa4c_lr.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/default_neighbor_list.py
  deepmd/pt_expt/fitting/__init__.py
  deepmd/pt_expt/fitting/dpa4c_lr.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/__init__.py
  deepmd/pt_expt/model/dpa4c_lr_model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/graph_builder.py
  deepmd/utils/argcheck.py
  doc/model/dpa4c_lr.md
  doc/model/index.rst
  source/tests/pt_expt/model/test_dpa4c_lr.py
Due: Python

fix(dpmodel): skip neighbor-count cap for symbolic shapes
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/default_neighbor_list.py
Due: Python

fix(stat): apply the vacuum reference only to outputs whose bias the preset fixes
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/descriptor/sezm_nn/dens.py
  deepmd/utils/argcheck.py
  deepmd/utils/preset_out_bias.py
  deepmd/utils/preset_out_bias_tables.json
  deepmd/utils/vacuum_reference.py
  doc/model/train-energy.md
  examples/water/dpa4/input_multitask_e0.json
  source/tests/common/dpmodel/test_vacuum_ref_model.py
  source/tests/common/test_preset_out_bias.py
  source/tests/pt/model/test_sezm_vacuum_freeze.py
  source/tests/pt/model/test_sezm_vacuum_ref.py
  source/tests/pt_expt/model/test_dpa4_vacuum_ref.py
  source/tests/pt_expt/model/test_fused_vacuum_ref.py
Due: Python

fix(train): validate resolved multitask type maps
  deepmd/dpmodel/utils/multi_task.py
  deepmd/pt/utils/multi_task.py
  source/tests/common/test_model_preset.py
  source/tests/pt/test_training.py
Due: Python

fix(logging): deduplicate distributed training logs
  deepmd/dpmodel/train/checkpoint.py
  deepmd/dpmodel/train/schedule.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/loggers/__init__.py
  deepmd/loggers/loggers.py
  deepmd/loggers/training.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/train/training.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/train/training.py
  deepmd/utils/summary.py
  source/tests/common/test_loggers_training.py
Due: Python

fix(pt-expt): preserve vacuum reference in compiled training
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/model/test_dpa4c_graph_lower.py
Due: Python

fix(infer): reduce CUDA OOM retries during evaluation (#6024)
  deepmd/pt/utils/auto_batch_size.py
  deepmd/pt_expt/train/validation.py
  deepmd/utils/batch_size.py
  doc/env.md
  source/tests/common/test_auto_batch_size.py
  source/tests/pt/model/test_atomic_model_atomic_stat.py
  source/tests/pt/model/test_atomic_model_global_stat.py
  source/tests/pt/model/test_polar_atomic_model_stat.py
  source/tests/pt/test_auto_batch_size.py
  source/tests/pt/test_validation.py
Due: Python

test(pt-expt): cover flattened graph-mode aparam input
  source/tests/pt_expt/model/test_graph_export.py
Due: none

fix(pt): address CuTe inference review findings
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt/model/descriptor/sezm_nn/block.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/utils/nv_nlist.py
  deepmd/pt_expt/descriptor/dpa4_nn/block.py
  deepmd/pt_expt/kernels/cute/sezm/runtime_policy.py
  deepmd/pt_expt/kernels/cute/sezm/so2/operation.py
  deepmd/pt_expt/kernels/cute/sezm/so2/wigner_layout.py
  source/tests/common/dpmodel/test_dpa4_edge_cache.py
  source/tests/pt/model/sezm_cute/test_runtime_policy.py
  source/tests/pt/model/sezm_cute/test_so2.py
  source/tests/pt/model/test_mlp.py
  source/tests/pt/model/test_sezm_parallel.py
Due: Python

fix(logging): make worker configuration serializable
  deepmd/dpmodel/utils/training_utils.py
  deepmd/loggers/loggers.py
  deepmd/pt/train/training.py
  deepmd/pt_expt/train/training.py
  source/tests/common/test_loggers_training.py
Due: Python

fix(dpmodel): only cap neighbor count for mixed-types descriptors
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/default_neighbor_list.py
Due: Python

fix(dpa4): preserve legacy radial envelope semantics
  deepmd/dpmodel/descriptor/dpa4_nn/radial.py
  deepmd/pt/model/descriptor/sezm_nn/radial.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
  source/tests/pt_expt/descriptor/test_dpa4c.py
Due: Python

fix(pt): address review round on density dispatch, loss, exclusions, and eval
  deepmd/infer/deep_density.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/charge.py
  deepmd/pt/model/atomic_model/density_atomic_model.py
  deepmd/utils/argcheck.py
  doc/model/train-fitting-density.md
  examples/density/README.md
  source/tests/pt/test_dp_test_density.py
Due: Python

fix(dpa4): compose AdamW routes and handle empty Cartesian edges
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/descriptor/dpa4_nn/cartesian.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/model/test_sezm_spin_model.py
  source/tests/pt_expt/descriptor/test_dpa4.py
  source/tests/pt_expt/descriptor/test_dpa4_accelerated.py
  source/tests/pt_expt/model/test_dpa4_interop.py
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: Python

fix(stat): preserve preset caches and validate vacuum reference support
  deepmd/dpmodel/utils/stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/utils/stat.py
  source/tests/consistent/utils/test_stat.py
  source/tests/pt/model/test_fitting_vacuum_ref.py
Due: Python

fix(logging): deduplicate distributed training logs (#6032)
  deepmd/dpmodel/train/checkpoint.py
  deepmd/dpmodel/train/schedule.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/dpmodel/utils/training_utils.py
  deepmd/loggers/__init__.py
  deepmd/loggers/loggers.py
  deepmd/loggers/training.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/train/training.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/train/training.py
  deepmd/utils/summary.py
  source/tests/common/test_loggers_training.py
Due: Python

Refuse spin atoms on deepmd/kk at init_style.
  source/lmp/pair_deepmd_kokkos.cpp
Due: LAMMPS

Add host/Kokkos spin-rejection parity for ordinary deepmd models.
  source/lmp/tests/test_lammps.py
Due: LAMMPS

fix(stat): validate preset caches and unused spin inputs
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/utils/stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/utils/stat.py
  deepmd/utils/stat_file.py
  source/tests/common/dpmodel/test_vacuum_ref_model.py
  source/tests/common/test_stat_file.py
  source/tests/consistent/utils/test_stat.py
  source/tests/pt/test_stat_file_mode.py
  source/tests/pt_expt/fitting/test_dpa4_ener.py
  source/tests/pt_expt/model/test_dpa4_vacuum_ref.py
  source/tests/pt_expt/model/test_dpa4c_graph_lower.py
Due: Python

perf(pt_expt): size the Hessian HVP batch from free memory
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/utils/env.py
  doc/env.md
Due: Python

test(pt_expt): pin DP_HESSIAN_HVP_BATCH to the unbatched Hessian
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: none

perf(pt_expt): batch the Hessian-vector products on the graph route
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/utils/env.py
Due: Python

test(pt_expt): skip the probe-cost test without CUDA
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: none

fix(pt): import e3nn lazily so it stays an optional dependency
  deepmd/pt/model/descriptor/sezm_nn/projection.py
  source/tests/pt/test_optional_e3nn_import.py
Due: Python

fix(pt): declare the DPA-4 neighbor-list dependency and name it on failure
  deepmd/pt/model/model/sezm_model.py
  pyproject.toml
  source/tests/pt/test_neighbor_backend_missing.py
Due: Python

fix(pt): drop the redundant dpa4 extra, keep the actionable error
  deepmd/pt/model/model/sezm_model.py
  pyproject.toml
  source/tests/pt/test_neighbor_backend_missing.py
Due: Python

docs: correct which extras ship e3nn
  deepmd/pt/model/descriptor/sezm_nn/projection.py
  source/tests/pt/test_optional_e3nn_import.py
Due: Python

fix(pt): only translate a missing e3nn, not every import failure
  deepmd/pt/model/descriptor/sezm_nn/projection.py
  source/tests/pt/test_optional_e3nn_import.py
Due: Python

fix(pt_expt): correct four defects in the batched Hessian route
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix: give `xp_erf` a TensorFlow branch
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/descriptor/unimol.py
  source/tests/consistent/test_activation.py
Due: Python

fix(dpmodel): restrict neighbor-count cap to sentinel capacities
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/default_neighbor_list.py
  deepmd/dpmodel/utils/nlist.py
Due: Python
