Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

feat: add huber loss (#4684)
  deepmd/dpmodel/loss/ener.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/tf/loss/ener.py
  deepmd/utils/argcheck.py
  source/tests/consistent/loss/test_ener.py
  source/tests/universal/dpmodel/loss/test_loss.py
Due: Python

update paddlepaddle version to release/3.0
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/find_paddle.py
  doc/install/easy-install.md
  doc/install/install-from-source.md
Due: none

perf: use `torch.split` in replace of slicing ops in repflow (#4687)
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/repflow_layer.py
Due: Python

update inference download url
  doc/install/install-from-source.md
  source/CMakeLists.txt
Due: none

[DEBUG] debug GPU memory
  .github/workflows/test_cuda.yml
  source/tests/conftest.py
Due: none

use pip instead of uv pip
  .github/workflows/test_cuda.yml
Due: none

pd: update paddlepaddle version to release/3.0 (#4694)
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/find_paddle.py
  doc/install/easy-install.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
Due: none

upgrade setuptools
  .github/workflows/test_python.yml
Due: none

support dpa3 with paddle backend(eager mode)
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/serialization_backup.py
  deepmd/pd/utils/tabulate.py
Due: Python

fix(CI): upgrade setuptools to fix its compatibility with wheel (#4700)
  .github/workflows/test_python.yml
Due: none

restore files
  deepmd/infer/deep_eval.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/tf/loss/tensor.py
  deepmd/utils/argcheck.py
  doc/model/dpa2.md
  doc/model/train-fitting-property.md
  examples/water/dpa3/input_torch_medium.json
  source/lib/include/cdsilu.h
  source/lib/include/thsilu.h
  source/lib/src/cdsilu.cc
  source/lib/src/gpu/cdsilu.cu
  source/lib/src/gpu/thsilu.cu
  source/lib/src/thsilu.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/cdsilu.cc
  source/op/pt/thsilu.cc
Due: Python, OP, Core

tidy code
  deepmd/pd/loss/ener.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/train/training.py
Due: Python

tidy code
  deepmd/pd/loss/__init__.py
  deepmd/pd/train/training.py
Due: Python

remove redundant codes
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/serialization_backup.py
Due: Python

fix pt->pd
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/train/training.py
Due: Python

fix typos and add unitests
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/utils/tabulate.py
  source/tests/consistent/descriptor/test_dpa3.py
Due: Python

add CINN UT and refine codes
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/train/training.py
  source/tests/pd/model/test_dpa2.py
  source/tests/pd/model/test_permutation.py
  source/tests/pd/model/test_smooth.py
  source/tests/pd/test_multitask.py
Due: Python

workaround with SiLUT
  deepmd/pd/utils/utils.py
Due: Python

upload missing files
  deepmd/pd/utils/learning_rate.py
  source/tests/pd/model/test_dpa3.py
Due: Python

remove redundant code
  deepmd/pd/loss/__init__.py
Due: Python

tidy UT
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pd/test_multitask.py
Due: none

update tabulate code
  deepmd/pd/utils/tabulate.py
  source/tests/pd/test_tabulate.py
Due: Python

fix repeat -> tile
  deepmd/pd/utils/tabulate.py
Due: Python

update compression code
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/se_a.py
  source/tests/pd/model/test_compressed_descriptor_dpa2.py
  source/tests/pd/model/test_compressed_descriptor_se_a.py
  source/tests/pd/model/test_compressed_descriptor_se_atten.py
Due: Python

fix code
  source/tests/pd/model/test_compressed_descriptor_dpa2.py
  source/tests/pd/model/test_compressed_descriptor_se_a.py
  source/tests/pd/model/test_compressed_descriptor_se_atten.py
Due: none

remove fp64 for compability
  source/tests/pd/model/test_compressed_descriptor_dpa2.py
  source/tests/pd/model/test_compressed_descriptor_se_a.py
  source/tests/pd/model/test_compressed_descriptor_se_atten.py
Due: none

fix
  deepmd/pd/utils/tabulate.py
Due: Python

test gc.collect
  source/tests/universal/pt/backend.py
Due: none

fix
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
Due: Python

remove test_compressed_descriptor_se_a.py
  source/tests/pd/model/test_compressed_descriptor_se_a.py
Due: none

Revert "test gc.collect"
  source/tests/universal/pt/backend.py
Due: none

add tearDownClass
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/loss/test_loss.py
  source/tests/universal/pt/model/test_model.py
  source/tests/universal/pt/utils/test_type_embed.py
Due: none

Revert "Revert "test gc.collect""
  source/tests/universal/pt/backend.py
Due: none

Revert "Revert "Revert "test gc.collect"""
  source/tests/universal/pt/backend.py
Due: none

inherbit directly
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/loss/test_loss.py
  source/tests/universal/pt/model/test_model.py
  source/tests/universal/pt/utils/test_type_embed.py
Due: none

fix tearDownClass
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/pt/backend.py
Due: none

Revert "Revert "Revert "Revert "test gc.collect""""
  source/tests/universal/pt/backend.py
Due: none

try torch.cuda.empty_cache
  source/tests/universal/pt/backend.py
Due: none

Revert "[DEBUG] debug GPU memory"
  .github/workflows/test_cuda.yml
  source/tests/conftest.py
Due: none

breaking(wheel): bump minimal macos version to 11.0
  pyproject.toml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
