Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix bugs
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

include deeppotpt.h
  source/api_cc/src/DeepPot.cc
Due: C++ API

add float and vector energytype implement
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

modify pt nlistdata name
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
Due: C++ API

fix some bugs
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix bug
  source/api_cc/include/commonPT.h
Due: C++ API

fix compute api
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Deprecated valuetype
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

docs: rewrite README; deprecated manually written TOC
  README.md
  doc/data/index.md
  doc/freeze/index.md
  doc/inference/index.md
  doc/install/index.md
  doc/model/index.md
  doc/test/index.md
  doc/third-party/index.md
  doc/train-input-auto.rst
  doc/train/index.md
  doc/troubleshooting/index.md
Due: none

clean codes
  CONTRIBUTING.md
  doc/conf.py
  doc/getting-started/quick_start.ipynb
Due: none

Remove manually generated TOC
  README.md
Due: none

ckean
  README.md
Due: none

fix compute definition
  source/api_cc/include/DeepPotPT.h
Due: C++ API

implement virtual function
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

docs: rewrite README; deprecate manually written TOC (#3179)
  CONTRIBUTING.md
  README.md
  doc/conf.py
  doc/data/index.md
  doc/freeze/index.md
  doc/getting-started/quick_start.ipynb
  doc/inference/index.md
  doc/install/index.md
  doc/model/index.md
  doc/test/index.md
  doc/third-party/index.md
  doc/train-input-auto.rst
  doc/train/index.md
  doc/troubleshooting/index.md
Due: none

fix bug
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

try direct =
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix vtype and type bug
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

add requirements
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/dynamic_metadata.py
  source/install/docker/Dockerfile
Due: none

fix ci
  .github/workflows/test_python.yml
Due: none

fix import errors
  .github/workflows/test_python.yml
  deepmd/pt/__init__.py
Due: Python

disable horovod for PT
  .github/workflows/test_python.yml
Due: none

set HOROVOD_WITHOUT_PYTORCH
  .github/workflows/test_python.yml
Due: none

fix version import
  deepmd/pt/entrypoints/main.py
Due: Python

fix energy to vector
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

it seems numpy 1.20 is not supported by TF 2.2
  .github/workflows/test_python.yml
Due: none

using namespace deepmd
  source/api_cc/src/commonPT.cc
Due: C++ API

fix bug
  source/api_cc/src/commonPT.cc
Due: C++ API

cc: fix returning type of sel_types
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
Due: C++ API

pass no backend test
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

remove TF 2.2 tests. too many issues
  .github/workflows/test_python.yml
Due: none

fix compile error
  source/api_cc/src/DataModifier.cc
Due: C++ API

implement detect backend
  source/api_cc/src/DeepPot.cc
Due: C++ API

add const
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
Due: C++ API

fix path in UTs
  source/tests/pt/test_LKF.py
  source/tests/pt/test_calculator.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_jit.py
  source/tests/pt/test_permutation.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_training.py
  source/tests/pt/water/lkf.json
  source/tests/pt/water/se_atten.json
  source/tests/pt/water/se_e2_a.json
Due: none

reduce num_workers to 2
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Due: none

Fix wrong TEST_CONFIG in UTs
  deepmd/pt/utils/env.py
  source/tests/pt/test_LKF.py
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_force_grad.py
  source/tests/pt/test_jit.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_model.py
  source/tests/pt/test_permutation.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_rotation.py
  source/tests/pt/test_sampler.py
  source/tests/pt/test_saveload_se_e2_a.py
  source/tests/pt/test_smooth.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_stat.py
  source/tests/pt/test_training.py
  source/tests/pt/test_trans.py
  source/tests/pt/test_trans_denoise.py
Due: Python
