Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Apply suggestions from code review
  doc/model/pairtab.md
  examples/water/d3/README.md
Due: none

Update lammps-command.md
  doc/third-party/lammps-command.md
Due: none

update code
  examples/water/dpa3/run.sh
Due: none

fix:error when batch size use max/filter under beighbor-stat
  deepmd/utils/data_system.py
Due: Python

fix:missing else
  deepmd/utils/data_system.py
Due: Python

Profile bug fix when both enable_profiler and profiling are set to true. (#4855)
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

docs: add docs about LAMMPS D3 dispersion (#4875)
  doc/index.rst
  doc/model/pairtab.md
  doc/third-party/lammps-command.md
  examples/water/d3/README.md
Due: none

update dpa UT and files
  .pre-commit-config.yaml
  deepmd/pd/entrypoints/main.py
  deepmd/pd/utils/serialization.py
  source/api_cc/tests/test_deeppot_dpa_pd.cc
  source/tests/infer/deeppot_dpa.forward_lower.json
  source/tests/infer/deeppot_dpa.forward_lower.pdiparams
  source/tests/infer/deeppot_dpa.json
  source/tests/infer/deeppot_dpa.pdiparams
Due: Python, C++ API

add try-catch
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

fix: update CMakeLists.txt to support PyTorch CXX11 ABI check for Pytorch 2.8.0
  source/CMakeLists.txt
Due: none

typo fix
  source/CMakeLists.txt
Due: none

add fall back to a safe default
  source/CMakeLists.txt
Due: none

Add ZBL model fine-tuning from standard models
  deepmd/pt/train/training.py
  source/tests/pt/test_training.py
Due: Python

Add model branch alias and info support
  deepmd/entrypoints/show.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/utils/finetune.py
  deepmd/utils/argcheck.py
  deepmd/utils/model_branch_dict.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Fix: support "max:N" and "filter:N" batch_size rules in DeepmdDataSystem (#4876)
  deepmd/utils/data_system.py
Due: Python

fix docstr
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

Update docstrings for compute_or_load_stat methods
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

chore: bump pytorch to 2.8
  .devcontainer/download_libtorch.sh
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  backend/find_pytorch.py
Due: none

fix eta computation
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

Change code
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/model/base_model.py
  deepmd/pt/model/model/transform_output.py
Due: Python

feat(pt): support zbl finetune (#4849)
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/train/training.py
  source/tests/pt/model/test_linear_atomic_model_stat.py
  source/tests/pt/test_training.py
Due: Python

Fix UT
  source/tests/pt/test_padding_atoms.py
Due: none

Optimize observed type retrieval in show.py
  deepmd/entrypoints/show.py
  source/tests/pt/test_dp_show.py
Due: Python

update auto ddp code
  deepmd/pd/model/model/make_model.py
  deepmd/pd/train/training.py
Due: Python

Change atol to 1e-8
  source/tests/pt/test_padding_atoms.py
Due: none

update CPU paddle_inference.tgz
  source/CMakeLists.txt
Due: none

update paddle version in document
  doc/install/easy-install.md
  doc/install/install-from-source.md
Due: none

fix(pt/pd): fix eta computation (#4886)
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

fix: get correct intensive property prediction when using virtual atoms (#4869)
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/model/base_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/transform_output.py
  source/tests/common/dpmodel/test_padding_atoms.py
  source/tests/jax/test_padding_atoms.py
  source/tests/pt/test_padding_atoms.py
Due: Python

update paddle installation document
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/train/training.md
Due: none

Apply suggestions from code review
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
Due: none

update error message for border_op
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
Due: Python

Update deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/repformers.py
Due: Python

Update deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repflows.py
Due: Python

fix: fix TF version parse in TF 2.20
  backend/find_tensorflow.py
Due: none

fix TENSORFLOW_ROOT
  .github/workflows/test_python.yml
Due: none

detect TF version in cmake
  source/cmake/Findtensorflow.cmake
  source/cmake/tf_version.cpp
Due: none

Add input_torch_with_alias.json and update tests
  deepmd/entrypoints/show.py
  examples/water_multi_task/pytorch_example/input_torch_with_alias.json
  source/tests/common/test_examples.py
Due: Python

ignore stderr
  source/cmake/Findtensorflow.cmake
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
