Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

docs(pt): add docstrings to fitting_population and loss_population in argcheck
  deepmd/utils/argcheck.py
Due: Python

Fix dpa tools CI test stability
  deepmd/dpa_tools/_backend.py
  source/tests/dpa_tools/test_backend_contract.py
  source/tests/dpa_tools/test_predictor.py
Due: Python

docs(model): type and document neighbor_list on ener_model call/forward
  deepmd/dpmodel/model/ener_model.py
  deepmd/pt_expt/model/ener_model.py
Due: Python

fix: address comments
  deepmd/pt/model/model/sezm_model.py
  source/tests/pt/model/test_sezm_model.py
Due: Python

chore: update ckpt
  deepmd/pretrained/registry.py
Due: Python

Potential fix for pull request finding
  deepmd/pretrained/registry.py
Due: Python

Chore: update DPA-2.4-7M ckpt (#5496)
  deepmd/pretrained/registry.py
Due: Python

Fix macOS x86 wheel test extras
  pyproject.toml
Due: none

Fix dpa tools CI setup
  .github/workflows/property_tools_tests.yml
  pyproject.toml
Due: none

fix(pt): implement loss_func dispatch and complete PopulationFittingNet docstring
  deepmd/pt/loss/population.py
  deepmd/pt/model/task/population.py
Due: Python

fix: dpa4 compile aliasing collision (#5483)
  deepmd/pt/model/model/sezm_model.py
  source/tests/pt/model/test_sezm_model.py
Due: Python

docs(pt): add class docstring to PopulationLoss
  deepmd/pt/loss/population.py
Due: Python

fix(pt): set population output to reducible=False to preserve per-atom shape
  deepmd/pt/model/task/population.py
Due: Python

fix(pt): apply aparam output gate after out_bias
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/sezm_ener.py
  source/tests/pt/model/test_aparam_output_gate.py
Due: Python

feat(pt): add se_a_vg VGM descriptor with aparam in env mat
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/env_mat_vg.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_a_vg.py
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_se_a_vg.py
Due: Python

Guard descriptor extraction grad requirement
  deepmd/dpa_tools/_backend.py
Due: Python

Add DeepMD frame-parameter dE/dN provider for fix uvt
  doc/third-party/lammps-command.md
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
  source/lmp/compute_deepmd_fparam_dedn.cpp
  source/lmp/compute_deepmd_fparam_dedn.h
  source/lmp/pair_base.cpp
  source/lmp/pair_base.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/plugin/deepmdplugin.cpp
  source/lmp/tests/test_lammps_fparam_from_fix_dedn.py
Due: C++ API, C API, LAMMPS

docs(agent-skills): make install commands copyable
  doc/agent-skills.md
  doc/index.rst
Due: none

docs(agent-skills): address review comments
  doc/agent-skills.md
Due: none

docs(agent-skills): use master for GitHub install example
  doc/agent-skills.md
Due: none

Fill missing C API dE/dN entry points
  source/api_c/src/c_api.cc
Due: C API

Keep DeepMD dE/dN provider off the main pair path
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_fparam_from_fix_dedn.py
Due: LAMMPS

Reuse the existing pair neighbor list for fparam dE/dN
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix(pt): clone inference coords before enabling grad (#5476)
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/make_model.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
Due: Python

test(pt_expt): place neighbor-list equivalence inputs on DEVICE
  source/tests/pt_expt/utils/test_neighbor_list.py
Due: none

test(pt_expt): use env.DEVICE instead of value-importing DEVICE
  source/tests/pt_expt/utils/test_neighbor_list.py
Due: none

fix
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

feat(pt_expt): pluggable NeighborList strategy + O(N) vesin neighbor list for Python/ASE inference (#5491)
  deepmd/calculator.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/default_neighbor_list.py
  deepmd/dpmodel/utils/neighbor_list.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/utils/vesin_neighbor_list.py
  pyproject.toml
  source/tests/pt/model/test_nlist_backend.py
  source/tests/pt_expt/infer/test_deep_eval.py
  source/tests/pt_expt/utils/test_neighbor_list.py
Due: Python

docs(dpa_tools): fine-tuning-first READMEs and demo fixes
  README.md
  deepmd/dpa_tools/README.md
  deepmd/dpa_tools/demo/fit_evaluate.py
  deepmd/dpa_tools/demo/scripts/prepare_data.py
Due: Python

docs: fix predict example to capture .predictions
  README.md
Due: none

feat(demo): demonstrate all four fine-tuning strategies
  deepmd/dpa_tools/demo/fit_evaluate.py
Due: Python

fix: miscalculation of num_steps when using num_epoch and lmdb (#5488)
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

fix(pt_expt): report average step time in the normal training log
  deepmd/loggers/training.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

build: move vesin[torch] from core deps to the torch extra
  backend/find_pytorch.py
  pyproject.toml
Due: none

build: move vesin[torch] to the torch extra (fix conda-forge) (#5501)
  backend/find_pytorch.py
  pyproject.toml
Due: none

fix(pt_expt): render step time as 'avg = X.XXXX s/step'
  deepmd/loggers/training.py
  source/tests/pt_expt/test_training.py
Due: Python

fix(pt_expt): report average step time in the normal training log (#5500)
  deepmd/loggers/training.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

chore: refactor common utils
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/utils/compile_utils.py
  deepmd/pt_expt/train/training.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
