Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

Make pppm_dplr optional in fix dplr
  source/lmp/fix_dplr.cpp
Due: LAMMPS

Fix a bug
  source/lmp/fix_dplr.cpp
Due: LAMMPS

Do not push_back 0 for dfele
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix typo
  deepmd/model/ener.py
Due: Python

fix typo: data_stat_nsample -> data_bias_nsample
  deepmd/model/model.py
Due: Python

fix c++ ut
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

pre commit
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

remove redundant comments
  deepmd/descriptor/se_atten.py
Due: Python

refactor: uncouple Descriptor and Fitting from Trainer (#2549)
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/fit/fitting.py
  deepmd/fit/polar.py
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/type_embed.py
  source/tests/.gitignore
  source/tests/test_init_frz_model_spin.py
  source/tests/test_model_spin.py
Due: Python

init pairwise dprc
  deepmd/entrypoints/train.py
  deepmd/model/model.py
  deepmd/model/pairwise_dprc.py
  deepmd/utils/argcheck.py
  source/lib/include/pairwise.h
  source/lib/src/pairwise.cc
  source/op/CMakeLists.txt
  source/op/pairwise.cc
Due: Python, OP, Core

add tests for group_atoms
  source/lib/tests/CMakeLists.txt
  source/lib/tests/test_pairwise.cc
Due: Core

add tests and fix bugs
  source/lib/src/pairwise.cc
  source/lib/tests/test_pairwise.cc
Due: Core

add tests to test the OP
  source/tests/test_pairwise_dprc.py
Due: none

fix m_qmmm_frame_idx
  source/op/pairwise.cc
  source/tests/test_pairwise_dprc.py
Due: OP

directly sort dpl_type
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

support minimization in dplr
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

check if the periodic images of a bonded pair are on the same processor
  source/lmp/fix_dplr.cpp
Due: LAMMPS

docs: clarify batch_size when MPI is used
  deepmd/utils/argcheck.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

fix a bug in get_valid_pairs
  source/lmp/fix_dplr.cpp
Due: LAMMPS

The correct local atom index range is >= 0.
  source/lmp/fix_dplr.cpp
Due: LAMMPS

revert the changes in get_valid_pairs
  source/lmp/fix_dplr.cpp
Due: LAMMPS

Use min_pre_exchange to make WC positioned at corresponding real atoms before applying pbc.
  source/lmp/fix_dplr.cpp
Due: LAMMPS

Declare min_pre_exchange in fix_dplr.h
  source/lmp/fix_dplr.h
Due: LAMMPS

add unittest for minimize dplr
  source/lmp/tests/test_dplr.py
Due: LAMMPS

Fix bug in fparam dim and aparam dim fetching.
  source/api_c/src/c_api.cc
Due: C API

docs: change `set-rpath` to `add-rpath`
  doc/install/install-lammps.md
Due: none

Update dp4mask.pbtxt to reduce the size.
  source/tests/data_dp_mask/set.000/aparam.npy
  source/tests/data_dp_mask/set.000/atom_pref.npy
  source/tests/data_dp_mask/set.000/coord.npy
  source/tests/data_dp_mask/set.000/force.npy
  source/tests/data_dp_mask/type.raw
  source/tests/data_dp_mask/type_map.raw
  source/tests/infer/dp4mask.pbtxt
  source/tests/test_descrpt_se_a_mask.py
  source/tests/zinc_se_a_mask.json
Due: none

do more rigorous type check for bonded pairs
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

add a period in error message
  source/lmp/fix_dplr.cpp
Due: LAMMPS

clearer error message
  source/lmp/fix_dplr.cpp
Due: LAMMPS

Support minimization in dplr (#2584)
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/tests/test_dplr.py
Due: LAMMPS

docs: change `set-rpath` to `add-rpath` (#2587)
  doc/install/install-lammps.md
Due: none

declare iterator it in get_valid_pairs
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

docs: clarify batch_size when MPI is used (#2585)
  deepmd/utils/argcheck.py
Due: Python

fix DeepPotModelDevi
  source/api_c/src/c_api.cc
Due: C API

revert indention
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix dplr: correct type check in get_valid_pairs (#2580)
  source/lmp/fix_dplr.cpp
Due: LAMMPS

update dataset path in zinc_se_a_mask.json
  source/tests/test_descrpt_se_a_mask.py
  source/tests/zinc_se_a_mask.json
Due: none

Path conditions:
  Python: any of: deepmd/**, but not: source/**/tests
  OP: any of: source/op/**, but not: source/**/tests
  Core: any of: source/lib/**, but not: source/**/tests
  C++ API: any of: source/api_cc/**, but not: source/**/tests
  C API: any of: source/api_c/**, but not: source/**/tests
  LAMMPS: any of: source/lmp/**, but not: source/**/tests
