Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

add tf lmp nopbc UT for spin
  source/lmp/tests/test_lammps_spin_nopbc.py
Due: LAMMPS

fix torch lmp UT bug
  source/lmp/tests/write_lmp_data.py
Due: LAMMPS

add tests
  .github/workflows/test_python.yml
  pyproject.toml
  source/tests/jax/__init__.py
  source/tests/jax/jax2tf/__init__.py
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

fix error
  deepmd/dpmodel/descriptor/hybrid.py
Due: Python

skip the whole module
  source/tests/jax/jax2tf/__init__.py
Due: none

fix nopbc spin test
  source/api_cc/src/DeepSpinPT.cc
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
Due: C++ API, LAMMPS

fix tests on ci
  source/tests/jax/jax2tf/__init__.py
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

Update c_api.h
  source/api_c/include/c_api.h
Due: C API

Update test_deeppot_a.cc
  source/api_c/tests/test_deeppot_a.cc
Due: C API

add multitask unitest
  .pre-commit-config.yaml
  source/tests/pd/model/water/multitask.json
  source/tests/pd/test_multitask.py
Due: none

fix
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

add more unitest
  .pre-commit-config.yaml
  source/tests/pd/model/test_force_grad.py
  source/tests/pd/model/test_jit.py
  source/tests/pd/test_dp_show.py
  source/tests/pd/test_init_model.py
Due: none

fix error handle
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: LAMMPS

rm spin from pairdeepmd
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: LAMMPS

make pair modification readable
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: LAMMPS

fix type_embed.py
  deepmd/tf/utils/type_embed.py
Due: Python

fix skip testing. I am still confused why it doesn't work
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

add #4269
  source/api_cc/src/DeepSpinTF.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: C++ API, LAMMPS

Update pair_deepmd.cpp
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Update DeepSpinTF.cc
  source/api_cc/src/DeepSpinTF.cc
Due: C++ API

rm spin args from deeppottf
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

rm black space
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

rm black space and comment
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Update DeepPot.h
  source/api_cc/include/DeepPot.h
Due: C++ API

resolve conversations
  source/api_c/include/c_api.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: C API, LAMMPS

fix(dp/pt): support auto sel for dpa2
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_update_sel.py
Due: Python

update docs
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Due: C API

remove redundant file and fix typo
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/utils/decomp.py
  source/tests/pd/test_init_model.py
Due: Python

Update deepmd.hpp
  source/api_c/include/deepmd.hpp
Due: C API

fix(pt/dp): make dpa2 convertable to `.dp` format
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/repformer_layer.py
Due: Python

vectorized tabulate
  deepmd/pt/utils/tabulate.py
Due: Python

add ParameterList for pt compression command line
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
Due: Python

fix device error
  source/tests/pt/test_tabulate.py
Due: none

try to fix min_nbor_list assign error
  deepmd/pt/utils/serialization.py
Due: Python

change compress examples and default value
  deepmd/main.py
Due: Python

remove redundant notaion
  source/tests/pt/test_model_compression_se_a.py
Due: none

fix ut
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/repformer_layer.py
Due: Python

try to resolve OOM issue
  source/tests/consistent/io/test_io.py
Due: none

fix: fix for `__array__` removal from array-api-strict
  deepmd/dpmodel/common.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
