Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

add serialize
  deepmd/dpmodel/model/base_model.py
Due: Python

pass cpu test
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

download libtorch in test_cuda action
  .github/workflows/test_cuda.yml
Due: none

install wget...
  .github/workflows/test_cuda.yml
Due: none

feat: add se_r descriptor
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/utils/env_mat_stat.py
  source/tests/pt/model/test_descriptor_se_r.py
Due: Python

feat(pt/dpmodel): support type_one_side in se_e2_a
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/pt/model/descriptor/se_a.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

make jit happy
  deepmd/pt/model/descriptor/se_a.py
Due: Python

install unzip
  .github/workflows/test_cuda.yml
Due: none

fix: UTs, removed old impl
  deepmd/pt/model/descriptor/se_r.py
  source/tests/pt/model/test_descriptor_se_r.py
Due: Python

fix: pre-commit
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/se_r.py
  source/tests/pt/model/test_descriptor_se_r.py
Due: Python

fix: update se_r output
  deepmd/pt/model/descriptor/se_r.py
Due: Python

update the frozen model
  source/tests/infer/deeppot_sea.pth
Due: none

update test ret
  source/api_cc/tests/test_deeppot_pt.cc
Due: C++ API

chore: refactor
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/utils/env_mat_stat.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_env_mat.py
Due: Python

try to fix float type error
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

feat: add numpy impl
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_r.py
  source/tests/pt/model/test_descriptor_se_r.py
Due: Python

Apply suggestions from code review
  deepmd/pt/model/model/model.py
Due: Python

mv all plugin support to base descriptor. thus pt reusing the dp code.
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/__init__.py
  source/tests/pt/model/test_polarizability_fitting.py
Due: Python

fix tests
  source/tests/pt/model/test_dipole_fitting.py
Due: none

pt: remove env.DEVICE in all `forward` functions (#3330)
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/nlist.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/model/test_dipole_fitting.py
Due: Python

Add dp SpinModel
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/utils/nlist.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_ener_spin_model.py
Due: Python

Fix uts
  deepmd/tf/descriptor/se_a.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

use torch.logical_and
  deepmd/pt/utils/env_mat_stat.py
Due: Python

Fix uts; change force_real to force
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/model/model/spin_model.py
  deepmd/tf/descriptor/se_a.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_unused_params.py
Due: Python

move to a `Network.clear()` method
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/network.py
  deepmd/tf/descriptor/se.py
Due: Python

add make_base_model
  deepmd/dpmodel/model/base_model.py
  deepmd/pt/model/model/model.py
  deepmd/utils/plugin.py
Due: Python

fix error message
  deepmd/utils/plugin.py
Due: Python

pt: apply argcheck to pt
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  examples/water/dpa2/input_torch.json
  examples/water/se_atten/input_torch.json
  source/tests/common/test_examples.py
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa2_hyb.json
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/water/se_atten.json
Due: Python

rm unused methods
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_a.py
Due: Python

checkpoint
  deepmd/tf/entrypoints/train.py
  deepmd/utils/data_system.py
  deepmd/utils/update_sel.py
Due: Python

feat(pt/dpmodel): support type_one_side in se_e2_a (#3339)
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/se.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

fix tests
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_jit.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/water/se_atten.json
  source/tests/pt/test_training.py
Due: Python

move get_model_def_script to make_base_atomic_model
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/model/base_model.py
Due: Python

bump python to 3.12 in the test environment
  .github/workflows/test_python.yml
Due: none

fix: UTs
  deepmd/tf/descriptor/se_r.py
  source/tests/consistent/descriptor/test_se_r.py
Due: Python

gix: match serialization
  deepmd/pt/model/descriptor/se_r.py
  deepmd/tf/descriptor/se_r.py
Due: Python

fix breaking change in tf.keras.layers.LayerNormalization
  deepmd/tf/descriptor/se_atten.py
Due: Python

refact: pt: mv all plugin support to base descriptor. (#3340)
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/__init__.py
  source/tests/pt/model/test_polarizability_fitting.py
Due: Python

pin to keras 2
  backend/find_tensorflow.py
  deepmd/tf/env.py
Due: Python

chore: refactor device
  deepmd/pt/model/descriptor/se_r.py
Due: Python
