Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

update the header file
  source/lmp/pair_deepmd.h
Due: LAMMPS

convert model deviation
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps.py
Due: LAMMPS

fix exclude type
  source/lmp/tests/test_dplr.py
Due: LAMMPS

lmp: add the header for atomic model deviation
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

lmp: support `unit real` (#2775)
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_lammps.py
Due: LAMMPS

check status of allocate_temp
  source/op/prod_env_mat_multi_device.cc
Due: OP

fix compile error
  source/op/prod_env_mat_multi_device.cc
Due: OP

lmp: throw error for traditional installation if dependent packages are not installed (#2777)
  source/lmp/Install.sh
Due: LAMMPS

add linear models (#2781)
  README.md
  deepmd/entrypoints/train.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  doc/getting-started/quick_start.ipynb
  doc/model/index.md
  doc/model/index.rst
  doc/model/linear.md
  examples/water/linear/input.json
  source/tests/test_examples.py
  source/tests/test_linear_model.py
Due: Python

lmp: add the header for atomic model deviation (#2778)
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

check status of allocate_temp (#2782)
  source/op/prod_env_mat_multi_device.cc
Due: OP

improve documentation for checkpoints
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/utils/argcheck.py
  deepmd_cli/main.py
  doc/nvnmd/nvnmd.md
  doc/train/training-advanced.md
Due: Python

docs: improve checkpoint description (#2784)
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/utils/argcheck.py
  deepmd_cli/main.py
  doc/nvnmd/nvnmd.md
  doc/train/training-advanced.md
Due: Python

fix polar shape
  deepmd/entrypoints/test.py
Due: Python

lmp: add unit_style requirement for compute deeptensor/atom
  source/lmp/compute_deeptensor_atom.cpp
Due: LAMMPS

fix dp test atomic polar; add UTs for dp test (#2785)
  deepmd/entrypoints/test.py
  source/tests/test_dp_test.py
Due: Python

lmp: add unit_style requirement for compute deeptensor/atom (#2790)
  source/lmp/compute_deeptensor_atom.cpp
Due: LAMMPS

remove MANIFEST.in
  MANIFEST.in
Due: none

improve editable installation
  deepmd/.gitignore
  deepmd/env.py
  deepmd/op/_add_flt_nvnmd_grad.py
  deepmd/op/_copy_flt_nvnmd_grad.py
  deepmd/op/_dotmul_flt_nvnmd_grad.py
  deepmd/op/_flt_nvnmd_grad.py
  deepmd/op/_gelu.py
  deepmd/op/_map_flt_nvnmd_grad.py
  deepmd/op/_matmul_fitnet_nvnmd_grad.py
  deepmd/op/_matmul_flt2fix_nvnmd.py
  deepmd/op/_matmul_flt_nvnmd_grad.py
  deepmd/op/_mul_flt_nvnmd_grad.py
  deepmd/op/_prod_force_grad.py
  deepmd/op/_prod_force_se_a_grad.py
  deepmd/op/_prod_force_se_a_mask_grad.py
  deepmd/op/_prod_force_se_r_grad.py
  deepmd/op/_prod_virial_grad.py
  deepmd/op/_prod_virial_se_a_grad.py
  deepmd/op/_prod_virial_se_r_grad.py
  deepmd/op/_quantize_nvnmd_grad.py
  deepmd/op/_soft_min_force_grad.py
  deepmd/op/_soft_min_virial_grad.py
  deepmd/op/_tabulate_grad.py
  deepmd/op/_tanh4_flt_nvnmd_grad.py
  deepmd_cli/main.py
  source/api_c/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/__init__.py
  source/ipi/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/cuda/cudart/CMakeLists.txt
  source/lib/src/rocm/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
  source/op/CMakeLists.txt
Due: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix ipi rpath
  source/ipi/CMakeLists.txt
Due: i-Pi

fix op_dir
  deepmd/lmp.py
Due: Python

fix entry-points
  pyproject.toml
Due: none

do not sort atoms in dp test
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/test_dp_test.py
Due: Python

set sort_atoms to False
  deepmd/entrypoints/test.py
Due: Python

fix grammatical errors
  doc/development/type-embedding.md
Due: none

migrate to scikit-build-core
  .gitignore
  backend/__init__.py
  backend/dp_backend.py
  backend/dynamic_metadata.py
  backend/find_tensorflow.py
  backend/read_env.py
  pyproject.toml
  setup.py
Due: none

fix compatbile with Python 3.7
  backend/find_tensorflow.py
  backend/read_env.py
Due: none

fix compatible with Python 3.7
  backend/dynamic_metadata.py
Due: none

fix compatbility with Python 3.7
  backend/dynamic_metadata.py
Due: none

fix include and exclude
  .gitignore
  pyproject.toml
Due: none

do not sort atoms in dp test (#2794)
  deepmd/entrypoints/test.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/test_dp_test.py
Due: Python

lmp: `fix_dplr` use the same `type_map` from `pair_deepmd` (#2776)
  doc/model/dplr.md
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepTensor.h
  source/api_cc/src/DeepTensor.cc
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_dplr.py
Due: C++ API, C API, LAMMPS

check status of allocate_temp (#2797)
  source/op/prod_env_mat_multi_device.cc
Due: OP

fix import
  deepmd_cli/main.py
Due: Python

set build-dir to speed up builds
  pyproject.toml
Due: none

support atomic/relative model deviation in CLI
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  doc/test/model-deviation.md
  doc/third-party/lammps-command.md
  source/tests/test_model_devi.py
Due: Python

add dist and force unit_cvt_factor
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Due: LAMMPS

apply ener, force, and dist _unit_cvt_factors
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

fix duplicate xener_unit_cvt_factor
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
