Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(tf): fix serialization of dipole fitting with sel_type (#4934)
  .gitignore
  deepmd/dpmodel/utils/network.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/fitting.py
  source/tests/consistent/fitting/test_dipole.py
Due: Python

feat(infer): add get_model method to DeepEval for accessing backend-specific model instances (#4931)
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/infer/deep_eval.py
  deepmd/jax/infer/deep_eval.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
  source/tests/infer/test_get_model.py
Due: Python

docs(lmp): fix the usage of LAMMPS `pair_style hybrid/overlay`
  doc/third-party/lammps-command.md
Due: none

docs(lmp): fix the usage of LAMMPS `pair_style hybrid/overlay` (#4951)
  doc/third-party/lammps-command.md
Due: none

bump version
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pd/model/task/fitting.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/ener.py
Due: Python

bump version
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/pd/model/task/ener.py
  deepmd/pd/model/task/invar_fitting.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/property.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
Due: Python

compatibility with old models
  deepmd/pt/infer/deep_eval.py
Due: Python

chore(deps): bump LAMMPS to stable_22Jul2025_update1
  .devcontainer/build_cxx.sh
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

Apply suggestions from code review
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/infer/deep_eval.py
Due: Python

Potential fix for code scanning alert no. 9939: Cyclic import
  deepmd/dpmodel/common.py
Due: Python

Update type hints for Array in common.py
  deepmd/dpmodel/common.py
Due: Python

Potential fix for code scanning alert no. 9942: Syntax error
  deepmd/dpmodel/descriptor/dpa3.py
Due: Python

Update repformers.py
  deepmd/pt/model/descriptor/repformers.py
Due: Python

Fix file utilities, improve docs, and add tests
  deepmd/tf/nvnmd/utils/fio.py
  doc/model/train-fitting-tensor.md
  source/tests/tf/test_fio_utils.py
Due: Python

Update model.py
  deepmd/tf/model/model.py
Due: Python

feat(dp/pt): add default_fparam (#4888)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/make_model.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_eval.py
  deepmd/jax/fitting/fitting.py
  deepmd/pd/model/task/ener.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/model/task/invar_fitting.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/utils/argcheck.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
Due: Python

chore(deps): bump LAMMPS to stable_22Jul2025_update1 (#4955)
  .devcontainer/build_cxx.sh
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

fix serialize
  deepmd/tf/model/model.py
Due: Python

enable consistent tests
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/tensor.py
  source/tests/consistent/common.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_polar.py
Due: Python

Apply suggestions from code review
  deepmd/tf/model/model.py
  deepmd/tf/model/tensor.py
Due: Python

Potential fix for code scanning alert no. 9973: Unused local variable
  source/tests/tf/test_out_bias_std.py
Due: none

Remove unused variable 'nframes' from TensorModel and TestOutBiasStd
  deepmd/tf/model/tensor.py
  source/tests/tf/test_out_bias_std.py
Due: Python

fix tests
  deepmd/tf/model/model.py
  source/tests/consistent/common.py
Due: Python

Revert "fix(tf): add missing _apply_out_bias_std call in TensorModel build method"
  deepmd/tf/model/tensor.py
Due: Python

fix dos
  deepmd/tf/model/model.py
Due: Python

fix nall/nloc issues
  deepmd/tf/model/model.py
  source/tests/consistent/model/test_polar.py
Due: Python

feat: add PyTorch profiler support to LAMMPS MD
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

add docs
  doc/env.md
Due: none

add fix cboamd for cavity Born-Oppenheimer MD
  source/lmp/fix_cboamd.cpp
  source/lmp/fix_cboamd.h
  source/lmp/plugin/deepmdplugin.cpp
Due: LAMMPS

remove trace_id field for compatibility on macosx_x86 build
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Update doc/env.md
  doc/env.md
Due: none

delete potential-model-related lines
  source/lmp/fix_cboamd.cpp
  source/lmp/fix_cboamd.h
Due: LAMMPS

add missed separator
  doc/env.md
Due: none

update docs
  doc/env.md
Due: none

tmp_fix
  deepmd/pd/train/training.py
  deepmd/pd/utils/dataloader.py
Due: Python

Merge commits
  deepmd/pt/model/task/fitting.py
  source/api_cc/include/DeepTensorPT.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/tests/test_deeptensor_pt.cc
  source/tests/infer/deepdipole_pt.pth
Due: Python, C++ API

fix tests
  .gitignore
  source/api_cc/tests/test_deepdipole_pt.cc
Due: C++ API

fix tests
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/tests/test_deepdipole_pt.cc
Due: C++ API

fix `select_map` for force and virial
  source/api_cc/src/DeepTensorPT.cc
Due: C++ API

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
