Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix TF macos x86 pinning
  pyproject.toml
Due: none

CI: configure dependabot to bump Python deps
  .github/dependabot.yml
Due: none

Update backend/utils.py
  backend/utils.py
Due: none

fix compatibility with flax 0.12
  deepmd/jax/train/trainer.py
Due: Python

add type annotations
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/jax/entrypoints/freeze.py
  deepmd/jax/entrypoints/train.py
  deepmd/jax/train/trainer.py
Due: Python

print header
  deepmd/jax/train/trainer.py
Due: Python

update jax and numpy backend
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/jax/infer/deep_eval.py
Due: Python

CI: configure dependabot to bump Python deps (#5072)
  .github/dependabot.yml
Due: none

CI: pin cibuildwheel TF/PT deps to global pinnings (#5071)
  backend/find_pytorch.py
  backend/find_tensorflow.py
  backend/utils.py
  pyproject.toml
Due: none

Fix: model_output_type unify name (#5069)
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/jax/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python

breaking: drop Python 3.9
  .github/workflows/test_python.yml
  AGENTS.md
  doc/backend.md
  doc/development/coding-conventions.rst
  doc/environment.yml
  doc/install/easy-install.md
  doc/install/install-from-source.md
  pyproject.toml
Due: none

remove doc for old TF versions
  doc/install/install-tf.1.12.md
  doc/install/install-tf.1.14-gpu.md
  doc/install/install-tf.1.14.md
  doc/install/install-tf.1.8.md
  doc/install/install-tf.2.3.md
Due: none

CI: stop running Horovod tests
  .github/workflows/test_python.yml
  doc/install/install-from-source.md
Due: none

fix typing
  deepmd/tf/infer/deep_tensor.py
Due: Python

ruff
  deepmd/dpmodel/array_api.py
  deepmd/pd/train/wrapper.py
  deepmd/pt/model/model/__init__.py
  deepmd/tf/cluster/__init__.py
  source/tests/jax/test_dp_hessian_model.py
  source/tests/jax/test_make_hessian_model.py
  source/tests/jax/test_padding_atoms.py
Due: Python

breaking: stop providing CUDA 11 pre-built wheels
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  backend/find_pytorch.py
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  pyproject.toml
  source/install/docker/Dockerfile
Due: none

CI: free disk in package_c workflow
  .github/workflows/package_c.yml
Due: none

bump cuda version
  .github/workflows/build_wheel.yml
Due: none

fix: try remove type_sel
  deepmd/entrypoints/test.py
Due: Python

fix: overwirte add coord type_sel
  deepmd/entrypoints/test.py
  deepmd/utils/data.py
Due: Python

fix:revert
  deepmd/entrypoints/test.py
Due: Python

CI: free disk in package_c workflow (#5081)
  .github/workflows/package_c.yml
Due: none

use cuda12.8
  .github/workflows/build_wheel.yml
Due: none

fix unitest config
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  source/tests/pd/conftest.py
Due: none

fix test_python.yml
  .github/workflows/test_python.yml
Due: none

reduce lr to avoid inf grad
  source/tests/pd/test_multitask.py
Due: none

CI: stop running Horovod tests (#5079)
  .github/workflows/test_python.yml
  doc/install/install-from-source.md
Due: none

import paddle before tensorflow
  .github/workflows/test_python.yml
  source/tests/__init__.py
Due: none

skip tests if a backend is not built
  .github/workflows/test_cc.yml
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_deepdipole_hpp.cc
  source/api_c/tests/test_deeppolar_hpp.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam_nframes.cc
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_c/tests/test_deeppot_a_nframes_hpp.cc
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
  source/api_c/tests/test_deepspin_a.cc
  source/api_c/tests/test_deepspin_a_hpp.cc
  source/api_c/tests/test_deepspin_model_devi_hpp.cc
  source/api_c/tests/test_dipolecharge.cc
  source/api_c/tests/test_mixed_type.cc
  source/api_c/tests/test_read_file_to_string.cc
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_deepdipole.cc
  source/api_cc/tests/test_deepdipole_pt.cc
  source/api_cc/tests/test_deepmd_exception.cc
  source/api_cc/tests/test_deeppolar.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_nframes.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/api_cc/tests/test_deeppot_a_nframes.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_r.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/api_cc/tests/test_deepspin_model_devi.cc
  source/api_cc/tests/test_dipolecharge.cc
  source/api_cc/tests/test_mixed_type.cc
  source/api_cc/tests/test_read_file_to_string.cc
  source/install/test_cc_local.sh
Due: C++ API, C API

skip in lammps/ipi tests
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_faparam.py
  source/lmp/tests/test_lammps_jax.py
  source/lmp/tests/test_lammps_pd.py
  source/lmp/tests/test_lammps_pt.py
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_nopbc.py
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
Due: LAMMPS, i-Pi

fix CI
  .github/workflows/test_cc.yml
  source/install/test_cc_local.sh
Due: none

fix ifndef
  source/api_c/tests/test_deepdipole_hpp.cc
  source/api_c/tests/test_deeppolar_hpp.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam_nframes.cc
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_c/tests/test_deeppot_a_nframes_hpp.cc
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
  source/api_c/tests/test_deepspin_a.cc
  source/api_c/tests/test_deepspin_a_hpp.cc
  source/api_c/tests/test_deepspin_model_devi_hpp.cc
  source/api_c/tests/test_dipolecharge.cc
  source/api_c/tests/test_mixed_type.cc
  source/api_c/tests/test_read_file_to_string.cc
  source/api_cc/tests/test_deepdipole.cc
  source/api_cc/tests/test_deepdipole_pt.cc
  source/api_cc/tests/test_deepmd_exception.cc
  source/api_cc/tests/test_deeppolar.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_nframes.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/api_cc/tests/test_deeppot_a_nframes.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_r.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/api_cc/tests/test_deepspin_model_devi.cc
  source/api_cc/tests/test_dipolecharge.cc
  source/api_cc/tests/test_mixed_type.cc
  source/api_cc/tests/test_read_file_to_string.cc
Due: C++ API, C API

fix ruff
  source/tests/__init__.py
Due: none

more skip
  source/api_c/tests/test_deepdipole_hpp.cc
  source/api_c/tests/test_deeppot_a.cc
Due: C API

add skip
  source/api_cc/tests/test_deepdipole.cc
  source/api_cc/tests/test_deeppot_dpa_jax.cc
Due: C++ API

prevent deleting uninitlized pointer
  source/api_c/tests/test_deeppot_a.cc
  source/api_c/tests/test_deepspin_a.cc
Due: C API

fic pytest.skip
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_faparam.py
  source/lmp/tests/test_lammps_jax.py
  source/lmp/tests/test_lammps_pd.py
  source/lmp/tests/test_lammps_pt.py
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_nopbc.py
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
Due: LAMMPS, i-Pi

disable FLAGS_use_stride_compute_kernel and FLAGS_use_stride_kernel to avoid error
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

add stacklevel for get_generator warning
  deepmd/pd/utils/utils.py
Due: Python

fix ipi
  source/ipi/tests/test_driver.py
Due: i-Pi
