Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Update dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
Due: Python

Perf: load data systems on rank 0
  deepmd/pt/utils/dataloader.py
Due: Python

refactor
  deepmd/pt/utils/dataloader.py
Due: Python

update logging
  deepmd/pt/utils/dataloader.py
Due: Python

revert changes on mp
  deepmd/pt/utils/dataloader.py
Due: Python

always output logging info
  deepmd/pt/utils/dataloader.py
Due: Python

add mae
  deepmd/pt/loss/ener.py
  deepmd/utils/argcheck.py
Due: Python

fix unitest and typo
  deepmd/pd/model/task/fitting.py
  deepmd/pd/utils/multi_task.py
  source/tests/pd/model/water/multitask.json
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/test_multitask.py
Due: Python

fix: fix seed with multiple ranks
  deepmd/pd/entrypoints/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/dataloader.py
  deepmd/tf/entrypoints/train.py
  deepmd/utils/random.py
Due: Python

Fix setup_seed function to handle non-list seed
  deepmd/pt/utils/dataloader.py
Due: Python

import mix_entropy
  deepmd/pt/utils/dataloader.py
Due: Python

fix pd
  deepmd/pd/utils/dataloader.py
Due: Python

fix import
  deepmd/pd/utils/dataloader.py
Due: Python

Fix UT
  deepmd/pt/model/model/property_model.py
  deepmd/pt/utils/stat.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/common/test_out_stat.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/model/test_property.py
  source/tests/pd/model/test_permutation.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_property_fitting.py
  source/tests/pt/property/input.json
  source/tests/universal/common/cases/loss/utils.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/dpmodel/loss/test_loss.py
Due: Python

Add document of property fitting
  checkpoint
  deepmd/entrypoints/test.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/stat.py
  doc/model/index.rst
  doc/model/train-fitting-property.md
  examples/property/train/README.md
  examples/property/train/input_torch.json
Due: Python

Delete checkpoint
  checkpoint
Due: none

Add get_property_name to DeepEvalBackend
  deepmd/infer/deep_eval.py
Due: Python

Correct resume lr_scheduler step
  deepmd/pd/train/training.py
Due: Python

refine
  deepmd/pd/train/training.py
Due: Python

pd: fix learning rate setting when resume (#4480)
  deepmd/pd/train/training.py
Due: Python

docs: update DPA-2 citation
  CITATIONS.bib
  doc/credits.rst
  doc/model/dpa2.md
Due: none

docs: update deepmd-gnn URL
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Due: none

update paddle icon and document related to paddle
  README.md
  doc/_static/paddle.svg
  doc/backend.md
  doc/conf.py
  doc/env.md
  doc/freeze/freeze.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/sel.md
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training.md
Due: none

updates
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Due: Python

docs: fix a minor typo on the title
  doc/install/install-from-c-library.md
Due: none

fix: print dlerror if dlopen fails
  source/api_cc/src/common.cc
  source/lib/src/gpu/cudart/cudart_stub.cc
Due: Core, C++ API

make dtype same as input x to avoid auto floating promotion
  deepmd/pd/utils/region.py
Due: Python

docs: update deepmd-gnn URL (#4482)
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Due: none

docs: update DPA-2 citation (#4483)
  CITATIONS.bib
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  doc/credits.rst
  doc/model/dpa2.md
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Due: Python

docs: fix a minor typo on the title of `install-from-c-library.md` (#4484)
  doc/install/install-from-c-library.md
Due: none

fix: print dlerror if dlopen fails (#4485)
  source/api_cc/src/common.cc
  source/lib/src/gpu/cudart/cudart_stub.cc
Due: Core, C++ API

change doc to py
  doc/model/train-fitting-property.md
Due: none

Add out_bias out_std doc
  deepmd/pt/loss/property.py
Due: Python

chore(pt): update multitask example (#4419)
  examples/water_multi_task/pytorch_example/input_torch.json
Due: none

Fix: add model_def_script to ZBL (#4423)
  deepmd/pt/model/model/__init__.py
Due: Python

Feat: add pairtab compression (#4432)
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

Perf: print summary on rank 0 (#4434)
  deepmd/pt/utils/dataloader.py
Due: Python

perf: optimize training loop (#4426)
  deepmd/pt/train/training.py
Due: Python

chore: refactor training loop (#4435)
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
Due: Python

fix(tf): pass `type_one_side` & `exclude_types` to `DPTabulate` in `se_r` (#4446)
  deepmd/tf/descriptor/se_r.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
