Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(tf): add InvalidArgument compatibility wrapper (#5600)
  source/op/tf/custom_op.h
  source/op/tf/descrpt.cc
  source/op/tf/descrpt_se_a_ef.cc
  source/op/tf/descrpt_se_a_ef_para.cc
  source/op/tf/descrpt_se_a_ef_vert.cc
  source/op/tf/descrpt_se_a_mask.cc
  source/op/tf/ewald_recp.cc
  source/op/tf/map_aparam.cc
  source/op/tf/neighbor_stat.cc
  source/op/tf/pair_tab.cc
  source/op/tf/pairwise.cc
  source/op/tf/prod_env_mat_multi_device.cc
  source/op/tf/prod_env_mat_multi_device_nvnmd.cc
  source/op/tf/prod_force.cc
  source/op/tf/prod_force_grad.cc
  source/op/tf/prod_force_grad_multi_device.cc
  source/op/tf/prod_force_multi_device.cc
  source/op/tf/prod_force_se_a_grad.cc
  source/op/tf/prod_force_se_a_mask.cc
  source/op/tf/prod_force_se_a_mask_grad.cc
  source/op/tf/prod_force_se_r_grad.cc
  source/op/tf/prod_virial.cc
  source/op/tf/prod_virial_grad.cc
  source/op/tf/prod_virial_grad_multi_device.cc
  source/op/tf/prod_virial_multi_device.cc
  source/op/tf/prod_virial_se_a_grad.cc
  source/op/tf/prod_virial_se_r_grad.cc
  source/op/tf/soft_min.cc
  source/op/tf/soft_min_force.cc
  source/op/tf/soft_min_force_grad.cc
  source/op/tf/soft_min_virial.cc
  source/op/tf/soft_min_virial_grad.cc
  source/op/tf/tabulate_multi_device.cc
  source/op/tf/unaggregated_grad.cc
Due: OP

feat(dpmodel): add backend-independent trainer abstraction
  deepmd/dpmodel/train/__init__.py
  deepmd/dpmodel/train/data.py
  deepmd/dpmodel/train/entrypoint.py
  deepmd/dpmodel/train/trainer.py
  deepmd/dpmodel/utils/training_utils.py
  deepmd/jax/entrypoints/train.py
  deepmd/jax/train/trainer.py
  deepmd/jax/utils/finetune.py
  deepmd/jax/utils/serialization.py
  deepmd/pd/utils/finetune.py
  deepmd/pt/utils/finetune.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/finetune.py
  deepmd/utils/finetune.py
  source/tests/common/dpmodel/test_train_abstract_trainer.py
  source/tests/common/dpmodel/test_train_data.py
  source/tests/common/dpmodel/test_train_entrypoint.py
  source/tests/common/dpmodel/test_training_utils.py
  source/tests/common/test_finetune_utils.py
  source/tests/jax/test_training.py
  source/tests/pt_expt/test_entrypoint.py
Due: Python

Add grouped descriptor aggregation for dpa_adapt
  dpa_adapt/data/aggregation.py
  dpa_adapt/data/grouped_dataset.py
  dpa_adapt/finetuner.py
  source/tests/dpa_adapt/test_grouped_dataset.py
Due: none

feat(pt_expt): forward_common_lower_graph_exportable trace target for graph .pt2 export
  deepmd/pt_expt/model/edge_transform_output.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_graph_export.py
Due: Python

test(dpmodel): cover one-sided DPA1 compression
  source/tests/common/dpmodel/test_model_compression.py
  source/tests/jax/test_model_compression.py
Due: none

fix(pt_expt): B1.1 review — test forward_lower_graph_exportable (both do_atomic_virial branches), dedup key-translation, drop redundant detach
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_graph_export.py
Due: Python

test(dpmodel): codify static edge_capacity contract for build_neighbor_graph
  source/tests/common/dpmodel/test_graph_static_capacity.py
Due: none

feat(pt_expt): graph .pt2 export branch + lower_input_kind metadata
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

fix(pt_expt): B1.3 review — persist static edge_capacity (E_max) in graph .pt2 metadata for the C++ hub (B2)
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

test(pt_expt): graph .pt2 DeepEval parity vs eager dense dpa1 (pbc+nopbc, 1e-10)
  deepmd/dpmodel/utils/neighbor_graph/derivatives.py
  deepmd/dpmodel/utils/neighbor_graph/graph.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/edge_transform_output.py
  source/tests/pt_expt/infer/test_graph_deepeval.py
Due: Python

fix(tabulate): add c1 extrapolation outside tables (#5601)
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_extrapolate.cc
Due: Core

docs(dpmodel): document format_nlist
  deepmd/dpmodel/utils/nlist.py
Due: Python

fix(pt_expt): compiled training runs the graph lower (eager==compiled); drop force_legacy_descriptor
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

docs(pt_expt): B1 final-review minors — document nloc==1 unravel-skip + legacy-gate assumption in the graph compile path
  deepmd/pt_expt/train/training.py
Due: Python

fix(jax): reuse atomic forward outputs in force path
  deepmd/jax/model/base_model.py
Due: Python

fix(api_cc): cache mapping vector as member to fix OOB on ago>0 graph path
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

feat(pt_expt): graph .pt2 uses a dynamic edge axis (Dim(nedge)); drop static edge_capacity
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/infer/test_graph_deepeval.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

test(api_cc): dpa1 graph .pt2 single-rank parity + fix graph output extraction
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_dpa1_graph_ptexpt.cc
  source/tests/infer/gen_dpa1.py
Due: C++ API

docs(pt_expt): B2.0 review — _strip_shape_assertions now documents the graph (dynamic-E) caller + edge-axis safety
  deepmd/pt_expt/utils/serialization.py
Due: Python

test(infer): extend gen_dpa1.py with graph-eligible dpa1(attn_layer=0) generator
  source/tests/infer/gen_dpa1.py
Due: none

docs(infer): B2 final-review — correct gen_dpa1 graph-reference docstring (nlist .pt2, 1e-5)
  source/tests/infer/gen_dpa1.py
Due: none

feat(api_cc): graph-schema .pt2 ingestion in DeepPotPTExpt (single-rank)
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

test(consistent): use curated cases throughout
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_r.py
  source/tests/consistent/descriptor/test_se_t.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_dpa4_ener.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/loss/test_dos.py
  source/tests/consistent/loss/test_ener.py
  source/tests/consistent/loss/test_ener_spin.py
  source/tests/consistent/loss/test_property.py
  source/tests/consistent/loss/test_tensor.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_dpa1.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_frozen.py
  source/tests/consistent/model/test_linear_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
  source/tests/consistent/test_activation.py
  source/tests/consistent/test_learning_rate.py
  source/tests/consistent/test_type_embedding.py
Due: none

feat(dpmodel): add descriptor compression (#5592)
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/entrypoints/__init__.py
  deepmd/dpmodel/entrypoints/compress.py
  deepmd/dpmodel/entrypoints/compress_common.py
  deepmd/dpmodel/entrypoints/main.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/tabulate.py
  deepmd/jax/entrypoints/compress.py
  deepmd/jax/utils/serialization.py
  deepmd/main.py
  source/tests/common/dpmodel/test_model_compression.py
  source/tests/jax/test_model_compression.py
Due: Python

fix(jax): add hessian energy loss
  deepmd/dpmodel/loss/ener.py
  deepmd/jax/train/trainer.py
  source/tests/common/dpmodel/test_loss_ener.py
Due: Python

feat(jax): freeze models with hessian output
  deepmd/jax/entrypoints/freeze.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/model/hlo.py
  deepmd/jax/utils/serialization.py
  deepmd/main.py
  source/tests/jax/test_training.py
Due: Python

fix(api_cc): guard graph remap single-rank-only + atomic-overload gtest (B2.5 follow-ups)
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_dpa1_graph_ptexpt.cc
Due: C++ API

feat(api_cc): non-MP multi-rank graph path (extended region + reverse-comm; no with-comm)
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

test(lammps): dpa1 graph .pt2 single + multi-rank (mpirun -n 2, local)
  source/lmp/tests/test_lammps_dpa1_graph_pt2.py
Due: LAMMPS

fix: preserve row_centers mapping in createEdgeTensorsDevice
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

refactor(pt_expt): group node_capacity with graph-shape args, make edge_energy_deriv flags keyword-only
  deepmd/pt_expt/model/edge_transform_output.py
Due: Python

fix(jax): restore jax2tf savedmodel export
  deepmd/jax/jax2tf/format_nlist.py
  deepmd/jax/jax2tf/make_model.py
  deepmd/jax/jax2tf/nlist.py
  deepmd/jax/jax2tf/region.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/utils/serialization.py
Due: Python

fix(jax): detect jit-compiled savedmodels
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

fix(jax): reuse atomic forward outputs in force path (#5605)
  deepmd/jax/model/base_model.py
Due: Python

fix(jax): use global lr in multitask trainer
  deepmd/jax/train/trainer.py
  deepmd/jax/utils/finetune.py
  source/tests/common/dpmodel/test_train_abstract_trainer.py
  source/tests/common/dpmodel/test_training_utils.py
  source/tests/jax/test_training.py
Due: Python

fix(dpmodel): clamp graph edge-scatter indices in-bounds (CUDA device-assert on graph .pt2 export)
  deepmd/dpmodel/utils/neighbor_graph/derivatives.py
  deepmd/pt_expt/model/edge_transform_output.py
  deepmd/pt_expt/model/make_model.py
Due: Python

fix(jax): address savedmodel review comments
  deepmd/jax/jax2tf/region.py
  deepmd/jax/jax2tf/serialization.py
Due: Python

Add grouped embedding training and assembly writer
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/group_property.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/group_property_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/group_property.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/grouped.py
  dpa_adapt/__init__.py
  dpa_adapt/data/__init__.py
  dpa_adapt/data/assemblies.py
  source/tests/dpa_adapt/test_assemblies.py
  source/tests/pt/test_group_property.py
Due: Python

refactor(dpa-adapt): remove formula-table conversion feature
  README.md
  doc/dpa_adapt/input_formats.md
  doc/dpa_adapt/overview.md
  dpa_adapt/__init__.py
  dpa_adapt/cli.py
  dpa_adapt/data/__init__.py
  dpa_adapt/data/convert.py
  dpa_adapt/data/formula.py
  source/tests/dpa_adapt/test_cli_smoke.py
  source/tests/dpa_adapt/test_convert.py
  source/tests/dpa_adapt/test_formula.py
Due: none
