Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

bugfix
  deepmd/pt/model/descriptor/sezm_nn/so2.py
Due: Python

debug: add verbose output for docker tag/label parsing
  .github/workflows/build_wheel.yml
Due: none

fix freeze
  deepmd/pt/model/descriptor/sezm_nn/triton/radial_mix.py
  source/tests/pt/model/test_sezm_export.py
Due: Python

fix: use bash array for docker args to preserve spaces in label/tag values
  .github/workflows/build_wheel.yml
Due: none

feat: add charge_spin to the .pth (TorchScript) cpp backend
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_chg_spin_pt.cc
  source/tests/infer/gen_chg_spin.py
Due: C++ API

fix: address charge_spin review comments
  source/api_c/include/deepmd.hpp
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/lmp/pair_base.cpp
  source/lmp/pair_deepmd.cpp
Due: C++ API, C API, LAMMPS

use block diag when freezing
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/descriptor/sezm_nn/so2.py
Due: Python

feat: wire charge_spin through the C API; drop charge_spin_from_compute
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/lmp/pair_base.cpp
  source/lmp/pair_base.h
  source/lmp/pair_deepmd.cpp
Due: C API, LAMMPS

fix(test): remove unused nframes variable flagged by CodeQL
  source/tests/pt/test_loss_population.py
Due: none

feat(dpmodel): relocate Lebedev rules with numpy loader
  deepmd/dpmodel/utils/lebedev.py
  deepmd/dpmodel/utils/lebedev_rules.npz
  deepmd/pt/model/descriptor/sezm_nn/lebedev.py
  source/tests/common/dpmodel/test_lebedev_sh.py
Due: Python

test(dpmodel): cover Lebedev loader error paths; review fixes
  deepmd/dpmodel/utils/lebedev.py
  deepmd/pt/model/descriptor/sezm_nn/lebedev.py
  source/tests/common/dpmodel/test_lebedev_sh.py
Due: Python

feat(dpmodel): general-lmax real spherical harmonics (e3nn conventions)
  deepmd/dpmodel/utils/spherical_harmonics.py
  source/tests/common/dpmodel/test_lebedev_sh.py
Due: Python

fix(dpmodel): match e3nn zero-vector handling in real SH; e3nn-free convention tests
  deepmd/dpmodel/utils/spherical_harmonics.py
  source/tests/common/dpmodel/test_lebedev_sh.py
Due: Python

feat(dpmodel): dpa4_nn indexing + utils
  deepmd/dpmodel/descriptor/dpa4_nn/__init__.py
  deepmd/dpmodel/descriptor/dpa4_nn/indexing.py
  deepmd/dpmodel/descriptor/dpa4_nn/utils.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix: address CodeRabbit review on charge_spin (.pth / C API / tests)
  source/api_c/include/deepmd.hpp
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_chg_spin_pt.cc
  source/tests/infer/gen_chg_spin.py
Due: C++ API, C API

test: add LAMMPS integration test for the charge_spin pair_style keyword
  source/lmp/tests/test_lammps_chg_spin_pt2.py
Due: LAMMPS

feat: wire charge_spin through the C API model-deviation path
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Due: C API

test(dpmodel): accurate parity-file docstring, import order, literal index anchor
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: none

feat(dpmodel): dpa4_nn radial basis, envelope, radial MLP
  deepmd/dpmodel/descriptor/dpa4_nn/norm.py
  deepmd/dpmodel/descriptor/dpa4_nn/radial.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix: drop get_dim_chg_spin() call on the .pth DeepEval in gen_chg_spin
  source/tests/infer/gen_chg_spin.py
Due: none

fix(pt_expt): unify detach stripping via strip_saved_tensor_detach(remove_all)
  deepmd/pt/utils/compile_compat.py
  deepmd/pt_expt/train/training.py
Due: Python

feat(pt/ptexpt): freeze parameters when infer only
  deepmd/pt/optimizer/KFWrapper.py
  deepmd/pt/train/wrapper.py
  deepmd/pt_expt/train/wrapper.py
  source/tests/pt/test_wrapper.py
  source/tests/pt_expt/test_wrapper.py
Due: Python

fix(pt): init loss accumulator on input device, not env.DEVICE
  deepmd/pt/loss/population.py
Due: Python

fix(test): move deserialized fitting net to env.DEVICE; remove dead helper
  source/tests/pt/test_loss_population.py
Due: none

fix
  deepmd/pt/train/wrapper.py
Due: Python

Merge dpa-adapt updates
  doc/dpa_adapt/README.md
  doc/dpa_adapt/input_formats.md
  doc/index.rst
  dpa_adapt/cli.py
  dpa_adapt/data/convert.py
  dpa_adapt/data/formula.py
  dpa_adapt/data/smiles.py
  pyproject.toml
Due: none

feat(dpmodel): dpa4_nn Wigner-D calculator + edge quaternions
  deepmd/dpmodel/descriptor/dpa4_nn/wignerd.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix(test): set device explicitly on all population loss test tensors
  deepmd/pt/loss/population.py
  source/tests/pt/test_loss_population.py
Due: Python

feat(dpmodel): dpa4_nn norms, SO3 linear, gated activation
  deepmd/dpmodel/descriptor/dpa4_nn/activation.py
  deepmd/dpmodel/descriptor/dpa4_nn/norm.py
  deepmd/dpmodel/descriptor/dpa4_nn/so3.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

test(dpmodel): tighten fp32 parity tolerances to measured ulp
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: none

Fix formula auto_convert seed argument
  dpa_adapt/data/convert.py
Due: none

feat(dpmodel): dpa4_nn S2 grid projection + grid nets (Lebedev)
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  deepmd/dpmodel/descriptor/dpa4_nn/projection.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

test(dpmodel): keep fp32 parity tests tolerance-based for truncation robustness
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: none

feat(dpmodel): dpa4_nn SO2 linear + convolution with padded-edge aggregation
  deepmd/dpmodel/descriptor/dpa4_nn/attention.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  deepmd/dpmodel/descriptor/dpa4_nn/so2.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

docs(dpmodel): clarify EdgeCache padded-layout and cache-reuse contract
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
Due: Python

feat(dpmodel): dpa4_nn type, geometric, environment embeddings
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix(dpmodel): uniform precision-key lookup; honest GIE zonal test scope note
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

refactor: type charge_spin as FPTYPE in the C API (iProzd review)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Due: C API

feat(dpmodel): dpa4_nn padded edge-cache builder
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
