Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: dp test
  deepmd/pt/infer/deep_eval.py
Due: Python

fix: test examples
  examples/dos/data/heat-221-reformat/atomic_system/set.000/atom_dos.npy
  examples/dos/data/heat-221-reformat/atomic_system/set.000/box.npy
  examples/dos/data/heat-221-reformat/atomic_system/set.000/coord.npy
  examples/dos/data/heat-221-reformat/atomic_system/type.raw
  examples/dos/data/heat-221-reformat/atomic_system/type_map.raw
  examples/dos/data/heat-221-reformat/global_system/set.000/box.npy
  examples/dos/data/heat-221-reformat/global_system/set.000/coord.npy
  examples/dos/data/heat-221-reformat/global_system/set.000/dos.npy
  examples/dos/data/heat-221-reformat/global_system/type.raw
  examples/dos/data/heat-221-reformat/global_system/type_map.raw
  examples/dos/train/input_torch.json
  source/tests/pt/dos/data/atomic_system/set.000/atom_dos.npy
  source/tests/pt/dos/data/atomic_system/set.000/box.npy
  source/tests/pt/dos/data/atomic_system/set.000/coord.npy
  source/tests/pt/dos/data/atomic_system/type.raw
  source/tests/pt/dos/data/atomic_system/type_map.raw
  source/tests/pt/dos/data/global_system/set.000/box.npy
  source/tests/pt/dos/data/global_system/set.000/coord.npy
  source/tests/pt/dos/data/global_system/set.000/dos.npy
  source/tests/pt/dos/data/global_system/type.raw
  source/tests/pt/dos/data/global_system/type_map.raw
Due: none

pt: add explicit decay_rate for lr (#3445)
  deepmd/pt/utils/learning_rate.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_lr.py
Due: Python

pt: add index input for `use_spin` (#3456)
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
Due: Python

pt: refactor loss (#3569)
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/loss/loss.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_loss.py
Due: Python

fix(pt): fix a typo in DeepEval to check do_atomic_virial (#3570)
  deepmd/pt/infer/deep_eval.py
Due: Python

fix UTs
  source/tests/pt/model/test_jit.py
  source/tests/pt/test_training.py
Due: none

task_num->task_dim
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/pt/loss/property.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  examples/property/train/input_torch.json
  source/tests/pt/model/test_property_fitting.py
Due: Python

delete loss
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/property.py
  deepmd/pt/train/training.py
Due: Python

fix: add to test_examples
  source/tests/common/test_examples.py
Due: none

fix: update loss
  deepmd/pt/loss/dos.py
Due: Python

fix: add numb_dos to jit model
  deepmd/pt/model/model/dos_model.py
Due: Python

chore: refactor
  deepmd/pt/infer/deep_eval.py
Due: Python

pt: fix loss training when no data available
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/loss/loss.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/train/training.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_loss.py
Due: Python

test: add LAMMPS MPI tests
  source/lmp/tests/run_mpi_pair_deepmd.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_pt.py
Due: LAMMPS

install mpi4py
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
Due: none

add comment for nan
  deepmd/pt/train/training.py
Due: Python

fix: UTs
  source/tests/pt/dos/input.json
Due: none

pt: support multitask dp test
  deepmd/pt/infer/deep_eval.py
Due: Python

Add property loss
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/property.py
  deepmd/pt/train/training.py
Due: Python

fix eval
  deepmd/infer/deep_property.py
Due: Python

resolve conversation
  deepmd/pt/model/task/property.py
  deepmd/utils/argcheck.py
Due: Python

Add example to tests
  source/tests/common/test_examples.py
Due: none

ci: add lint for markdown, json, yaml, CSS, javascript
  .pre-commit-config.yaml
Due: none

skip workflow files
  .pre-commit-config.yaml
Due: none

skip .clang-format; skip json due to conflict
  .pre-commit-config.yaml
Due: none

skip js, as already formatted by clang-format
  .pre-commit-config.yaml
Due: none

fix a typo in the documentation
  doc/model/dplr.md
Due: none

ignore the line with the problem
  doc/model/dplr.md
Due: none

try to ignore again
  doc/model/dplr.md
Due: none

fix ignore
  doc/model/dplr.md
Due: none

pt: support multitask dp test (#3573)
  deepmd/pt/infer/deep_eval.py
Due: Python

feat: jit export in linear model
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
Due: Python

add mapping support
  deepmd/pt/model/model/make_model.py
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepPotPT.cc
  source/lib/include/neighbor_list.h
  source/lmp/pair_deepmd.cpp
Due: Python, Core, C++ API, C API, LAMMPS

Move `change_out_bias` to base atomic model
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

Update base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

resolve conversations
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/utils/finetune.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/train/trainer.py
  deepmd/utils/finetune.py
  source/tests/pt/test_finetune.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
