Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: lower autodiff test precision
  source/tests/pt/model/test_autodiff.py
Due: none

ut(pt): lower the atol for DPA2 corner case
  source/tests/consistent/descriptor/test_dpa2.py
Due: none

Update se_t.py
  deepmd/tf/descriptor/se_t.py
Due: Python

Fix: PairTab Data (#3812)
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/water/data/zbl_tab_potential/H2O_tab_potential.txt
Due: Python

test(pt): add common test case for model/atomic model (#3767)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  pyproject.toml
  source/tests/universal/__init__.py
  source/tests/universal/common/__init__.py
  source/tests/universal/common/backend.py
  source/tests/universal/common/cases/__init__.py
  source/tests/universal/common/cases/atomic_model/__init__.py
  source/tests/universal/common/cases/atomic_model/ener_model.py
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/model/__init__.py
  source/tests/universal/common/cases/model/ener_model.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/__init__.py
  source/tests/universal/dpmodel/atomc_model/__init__.py
  source/tests/universal/dpmodel/atomc_model/test_ener_atomic_model.py
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/dpmodel/model/__init__.py
  source/tests/universal/dpmodel/model/test_ener_model.py
  source/tests/universal/pt/__init__.py
  source/tests/universal/pt/atomc_model/__init__.py
  source/tests/universal/pt/atomc_model/test_ener_atomic_model.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/model/__init__.py
  source/tests/universal/pt/model/test_ener_model.py
Due: Python

fix: DPA1 used unmasked gate when `excluded_types`
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/consistent/descriptor/test_dpa1.py
Due: Python

feat(tf): pass rcut to PairTab (#3794)
  deepmd/tf/model/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairtab.py
  deepmd/utils/pair_tab.py
Due: Python

docs: update DPA-1 reference (#3810)
  CITATIONS.bib
  doc/credits.rst
Due: none

fix: lower the atol for DPA2 corner case (#3814)
  source/tests/consistent/descriptor/test_dpa2.py
Due: none

fix jit
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t.py
Due: Python

refactor: remove global data_requirements (#3798)
  deepmd/common.py
  deepmd/tf/common.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a_ebd.py
  deepmd/tf/descriptor/se_a_ef.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/loss/dos.py
  deepmd/tf/loss/ener.py
  deepmd/tf/loss/loss.py
  deepmd/tf/loss/tensor.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/linear.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairtab.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/tf/train/trainer.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/pt/model/test_model.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_data_requirement.py
  source/tests/tf/test_loss_gf.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_pairwise_dprc.py
Due: Python

lmp: improve error message when compute/fix is not found (#3801)
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

chore: rename j_must_have to j_deprecated and only warn about deprecated keys
  deepmd/common.py
  deepmd/tf/common.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/train/trainer.py
  deepmd/utils/compat.py
  deepmd/utils/data_system.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_mask.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_dos.py
  source/tests/tf/test_model_loc_frame.py
  source/tests/tf/test_model_pairtab.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_r.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
  source/tests/tf/test_pairwise_dprc.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_one_side.py
  source/tests/tf/test_virtual_type.py
Due: Python

fix typo
  deepmd/utils/compat.py
Due: Python

commit suggestions
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
Due: none

Apply suggestions from code review
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_dos.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
  source/tests/tf/test_polar_se_a.py
Due: none

Update source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_atten.py
Due: none

Apply suggestions from code review
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_polar_se_a_tebd.py
Due: none

Change UT
  source/tests/output.txt
  source/tests/pt/test_dp_show.py
Due: none

Delete output.txt
  source/tests/output.txt
  source/tests/pt/test_dp_show.py
Due: none

test UT
  deepmd/main.py
Due: Python

Debug: delete UT
  source/tests/pt/test_dp_show.py
Due: none

Add UT again
  source/tests/pt/test_dp_show.py
Due: none

Update source/tests/pt/test_dp_show.py
  source/tests/pt/test_dp_show.py
Due: none

Debug remote
  source/tests/pt/test_dp_show.py
Due: none

Solve pre-commit
  source/tests/pt/test_dp_show.py
Due: none

one test debug
  source/tests/pt/test_dp_show.py
Due: none

Add 2 UT
  source/tests/pt/test_dp_show.py
Due: none

chore: rename j_must_have to j_deprecated and only warn about deprecated keys (#3816)
  deepmd/common.py
  deepmd/tf/common.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/train/trainer.py
  deepmd/utils/compat.py
  deepmd/utils/data_system.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_mask.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_dos.py
  source/tests/tf/test_model_loc_frame.py
  source/tests/tf/test_model_pairtab.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_r.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
  source/tests/tf/test_pairwise_dprc.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_one_side.py
  source/tests/tf/test_virtual_type.py
Due: Python

chore: cleanup out-of-date TODOs (#3811)
  deepmd/common.py
  deepmd/pt/utils/env_mat_stat.py
Due: Python

fix: DPA1 should use masked gate when `excluded_types` (#3815)
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/consistent/descriptor/test_dpa1.py
Due: Python

fix path
  .github/workflows/test_python.yml
Due: none

Add a reminder for the illeagle memory error encountered in the GPU version of neighbor stat.
  deepmd/utils/batch_size.py
Due: Python

Update deepmd/utils/batch_size.py
  deepmd/utils/batch_size.py
Due: Python

mitigate -> avoid; do not use AI-style language
  deepmd/utils/batch_size.py
Due: Python

what is .test_durations?
  .github/workflows/test_python.yml
Due: none

got it... try to fix it (stored in a new key)
  .github/workflows/test_python.yml
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
