Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Add files via upload
  examples/hessian/data/H10C5N2O/type.raw
  examples/hessian/data/H10C5N2O/type_map.raw
Due: none

Update input.json
  examples/hessian/single-task/input.json
Due: none

Create input.json
  examples/hessian/multi-task/input.json
Due: none

Update env_mat.py
  deepmd/pt/model/descriptor/env_mat.py
Due: Python

Update input.json
  examples/hessian/multi-task/input.json
Due: none

Delete examples/hessian/data/H10C5N2O/set.000/virial.npy
  examples/hessian/data/H10C5N2O/set.000/virial.npy
Due: none

Delete examples/hessian/data/H8C4N2O/set.000/virial.npy
  examples/hessian/data/H8C4N2O/set.000/virial.npy
Due: none

support DCU(rocm)
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
Due: C++ API

Create train-energy-hessian.md
  doc/model/train-energy-hessian.md
Due: none

simplify compile code
  doc/freeze/freeze.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/install/build_cc_pd.sh
Due: none

fix metaclass
  deepmd/jax/common.py
  deepmd/jax/utils/network.py
Due: Python

Restore tensor.py
  deepmd/pt/loss/tensor.py
Due: Python

Update deep_pot.py
  deepmd/infer/deep_pot.py
Due: Python

Update deep_eval.py
  deepmd/infer/deep_eval.py
Due: Python

Update test.py
  deepmd/entrypoints/test.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Update data.py
  deepmd/utils/data.py
Due: Python

Update deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Update ener_hess.py
  deepmd/pt/loss/ener_hess.py
Due: Python

Update __init__.py
  deepmd/pt/loss/__init__.py
Due: Python

Update __init__.py
  deepmd/pt/model/model/__init__.py
Due: Python

Update ener_hess_model.py
  deepmd/pt/model/model/ener_hess_model.py
Due: Python

Update make_hessian_model.py
  deepmd/pt/model/model/make_hessian_model.py
Due: Python

Update train-energy-hessian.md
  doc/model/train-energy-hessian.md
Due: none

set w, b, idt to Param
  deepmd/dpmodel/common.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/utils/network.py
Due: Python

__array__
  deepmd/jax/utils/network.py
Due: Python

revert
  deepmd/dpmodel/common.py
Due: Python

nopbc tests
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
Due: LAMMPS

fix(tf): set visible_device_list for TF C++
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

gpu_options
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

set_visible_device_list
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

fix: unpin h5py on aarch64
  backend/find_tensorflow.py
  pyproject.toml
Due: none

docs: add documentation for installation requirements of DPA-2
  deepmd/pt/model/descriptor/repformers.py
  doc/model/dpa2.md
Due: Python

fix typo
  doc/model/dpa2.md
Due: none
