Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

codecov.yml:

ignore:
  - "source/**/tests"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**

Update zinc_se_a_mask.json
  source/tests/zinc_se_a_mask.json
Due: none

Reduce dp mask pb size and fix bug in dim_fparam/dim_aparam fetching (#2588)
  source/api_c/src/c_api.cc
  source/tests/data_dp_mask/set.000/aparam.npy
  source/tests/data_dp_mask/set.000/atom_pref.npy
  source/tests/data_dp_mask/set.000/coord.npy
  source/tests/data_dp_mask/set.000/force.npy
  source/tests/data_dp_mask/type.raw
  source/tests/data_dp_mask/type_map.raw
  source/tests/infer/dp4mask.pbtxt
  source/tests/test_descrpt_se_a_mask.py
  source/tests/zinc_se_a_mask.json
Due: C API

remove dp4mask.pbtxt
  .pre-commit-config.yaml
Due: none

fix_dplr: make pppm_dplr optional (#2581)
  source/lmp/fix_dplr.cpp
Due: LAMMPS

fix the missing modifier issue of dp compress
  deepmd/entrypoints/train.py
Due: Python

import deepmd.op in infer.data_modifier
  deepmd/infer/data_modifier.py
Due: Python

noqa: F401
  deepmd/infer/data_modifier.py
Due: Python

fix the missing modifier issue of dp compress (#2591)
  deepmd/entrypoints/train.py
Due: Python

import deepmd.op in infer.data_modifier (#2592)
  deepmd/infer/data_modifier.py
Due: Python

fix large files checking (#2564)
  .pre-commit-config.yaml
Due: none

fix memory leaking in test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_mix.cc
Due: Core

Update test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_mix.cc
Due: Core

fix index out of range
  source/lib/src/pairwise.cc
  source/op/pairwise.cc
Due: OP, Core

fix memory leaking in test_env_mat_a_mix.cc (#2596)
  source/lib/tests/test_env_mat_a_mix.cc
Due: Core

fix model and add tests
  deepmd/model/pairwise_dprc.py
  source/tests/pairwise_dprc.json
  source/tests/test_pairwise_dprc.py
Due: Python

skip ut if tf<1.15
  source/tests/test_pairwise_dprc.py
Due: none

fix test paths
  source/tests/test_pairwise_dprc.py
Due: none

fix training errors; add examples
  deepmd/model/pairwise_dprc.py
  examples/dprc/data/nopbc
  examples/dprc/data/set.000/aparam.npy
  examples/dprc/data/set.000/box.npy
  examples/dprc/data/set.000/coord.npy
  examples/dprc/data/set.000/energy.npy
  examples/dprc/data/set.000/force.npy
  examples/dprc/data/type.raw
  examples/dprc/data/type_map.raw
  examples/dprc/pairwise/input.json
  source/tests/test_examples.py
Due: Python

add documentations to compressilbe of se_atten
  deepmd/utils/argcheck.py
Due: Python

build type embedding only once
  deepmd/model/ener.py
  deepmd/model/pairwise_dprc.py
Due: Python

fix self.ntypes
  deepmd/model/pairwise_dprc.py
Due: Python

modify json data in jdata
  source/tests/test_model_se_atten.py
Due: none

fix frz_model precision bugs
  deepmd/descriptor/se_atten.py
Due: Python

doc strings for compressing options
  deepmd/utils/argcheck.py
Due: Python

ut for new cli interface
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_finetune_se_atten.py
  source/tests/test_init_frz_model_se_atten.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
  source/tests/water_compressible_se_atten.json
Due: none

enable compression by default
  examples/water/se_atten/input.json
Due: none

enable three options: previous model, model6 and compressible model6
  deepmd/descriptor/se_atten.py
Due: Python

use water_se_atten.json
  source/tests/test_descrpt_se_atten.py
Due: none

arg doc
  deepmd/utils/argcheck.py
Due: Python

prod_force: support multiple frames in parallel
  source/lib/include/prod_force.h
  source/lib/src/cuda/prod_force.cu
  source/lib/src/prod_force.cc
  source/lib/src/rocm/prod_force.hip.cu
  source/lib/tests/test_prod_force_a.cc
  source/lib/tests/test_prod_force_r.cc
  source/op/prod_force_multi_device.cc
Due: OP, Core

revert double_vec
  source/lib/tests/test_prod_force_r.cc
Due: Core

fix prod_force_a_cpu
  source/lib/include/prod_force.h
  source/lib/src/prod_force.cc
  source/lib/tests/test_prod_force_a.cc
  source/op/prod_force_multi_device.cc
Due: OP, Core

fix prod_force_a_cpu when start_index is not zero
  source/lib/src/prod_force.cc
Due: Core

typo
  source/lib/src/prod_force.cc
Due: Core

prod_force_grad: support multiple frames in parallel
  source/lib/include/prod_force_grad.h
  source/lib/src/cuda/prod_force_grad.cu
  source/lib/src/prod_force_grad.cc
  source/lib/src/rocm/prod_force_grad.hip.cu
  source/lib/tests/test_prod_force_grad_a.cc
  source/lib/tests/test_prod_force_grad_r.cc
  source/op/prod_force_grad_multi_device.cc
Due: OP, Core

add docs and overload
  source/lib/include/prod_force.h
  source/lib/src/prod_force.cc
  source/lib/tests/test_prod_force_a.cc
Due: Core

ProdEnvMatAMixOp: move filter_ftype out of nsamples loop
  source/op/prod_env_mat_multi_device.cc
Due: OP

prod_force_grad: support multiple frames in parallel (#2601)
  source/lib/include/prod_force_grad.h
  source/lib/src/cuda/prod_force_grad.cu
  source/lib/src/prod_force_grad.cc
  source/lib/src/rocm/prod_force_grad.hip.cu
  source/lib/tests/test_prod_force_grad_a.cc
  source/lib/tests/test_prod_force_grad_r.cc
  source/op/prod_force_grad_multi_device.cc
Due: OP, Core

prod_force: support multiple frames in parallel (#2600)
  source/lib/include/prod_force.h
  source/lib/src/cuda/prod_force.cu
  source/lib/src/prod_force.cc
  source/lib/src/rocm/prod_force.hip.cu
  source/lib/tests/test_prod_force_a.cc
  source/lib/tests/test_prod_force_r.cc
  source/op/prod_force_multi_device.cc
Due: OP, Core
