Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

move plugin support to make_base_descriptor
  deepmd/dpmodel/descriptor/base_descriptor.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
Due: Python

Feat: add dipole consistency test (#3321)
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
Due: Python

get cublasCreate(handle) error local
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix bugs
  deepmd/tf/model/model.py
Due: Python

fix error in no nlist impl
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

chore: merge conflict
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
Due: Python

fix loading info
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix: UTs
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
Due: none

chore: revert change on arg:scale
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/polar.py
  deepmd/utils/argcheck.py
Due: Python

Feat: add polar consistency test (#3327)
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/polar.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
Due: Python

store type in descriptor serialization data (#3325)
  deepmd/common.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/descriptor/base_descriptor.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
Due: Python

pt: remove env.DEVICE in all forward functions
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/nlist.py
  source/tests/pt/model/test_deeppot.py
Due: Python

fix comment
  source/tests/pt/model/test_deeppot.py
Due: none

store type in fitting serialization data
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
Due: Python

register invar fitting
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/ener.py
Due: Python

feat: add NumPy DeepPot
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/infer/__init__.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/batch_size.py
  source/tests/consistent/io/test_io.py
Due: Python

`"type": "ener"` should override the parent value
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/pt/model/task/ener.py
Due: Python

docs: install pytorch in RTD
  doc/environment.yml
Due: none

pip
  doc/environment.yml
Due: none

docs: install pytorch in RTD (#3333)
  doc/environment.yml
Due: none

feat: add NumPy DeepPot (#3332)
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/infer/__init__.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/batch_size.py
  source/tests/consistent/io/test_io.py
Due: Python

store type in fitting serialization data (#3331)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
Due: Python

basemodel; store type
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/model/model.py
Due: Python

use DeepEval
  source/tests/consistent/io/test_io.py
Due: none

add necessary jit.export
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
Due: Python

fix DPModel.__new__
  deepmd/pt/model/model/dp_model.py
Due: Python

fallback to DPModel
  deepmd/pt/model/model/dp_model.py
Due: Python

pt: add necessary jit.export (#3337)
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
Due: Python

Add uts and reformat SpinModel
  deepmd/dpmodel/utils/__init__.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/spin.py
  deepmd/utils/spin.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
Due: Python

Update test_autodiff.py
  source/tests/pt/model/test_autodiff.py
Due: none

Add spin data and se_e2_a examples
  examples/spin/data_reformat/data_0/set.000/box.npy
  examples/spin/data_reformat/data_0/set.000/coord.npy
  examples/spin/data_reformat/data_0/set.000/energy.npy
  examples/spin/data_reformat/data_0/set.000/force.npy
  examples/spin/data_reformat/data_0/set.000/force_mag.npy
  examples/spin/data_reformat/data_0/set.000/spin.npy
  examples/spin/data_reformat/data_0/type.raw
  examples/spin/data_reformat/data_0/type_map.raw
  examples/spin/data_reformat/data_1/set.000/box.npy
  examples/spin/data_reformat/data_1/set.000/coord.npy
  examples/spin/data_reformat/data_1/set.000/energy.npy
  examples/spin/data_reformat/data_1/set.000/force.npy
  examples/spin/data_reformat/data_1/set.000/force_mag.npy
  examples/spin/data_reformat/data_1/set.000/spin.npy
  examples/spin/data_reformat/data_1/type.raw
  examples/spin/data_reformat/data_1/type_map.raw
  examples/spin/data_reformat/data_2/set.000/box.npy
  examples/spin/data_reformat/data_2/set.000/coord.npy
  examples/spin/data_reformat/data_2/set.000/energy.npy
  examples/spin/data_reformat/data_2/set.000/force.npy
  examples/spin/data_reformat/data_2/set.000/force_mag.npy
  examples/spin/data_reformat/data_2/set.000/spin.npy
  examples/spin/data_reformat/data_2/type.raw
  examples/spin/data_reformat/data_2/type_map.raw
  examples/spin/se_e2_a/input_torch.json
Due: none

Update test_ener_spin_model.py
  source/tests/pt/model/test_ener_spin_model.py
Due: none

Update deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/base_model.py
Due: Python

Apply suggestions from code review
  deepmd/pt/model/model/model.py
Due: Python

fix indent
  deepmd/pt/model/model/model.py
Due: Python

combine deserialize
  deepmd/dpmodel/model/base_model.py
  deepmd/pt/model/model/model.py
Due: Python

fix typo
  deepmd/dpmodel/model/base_model.py
Due: Python

use self as type hint
  deepmd/dpmodel/model/base_model.py
Due: Python

Revert "use self as type hint"
  deepmd/dpmodel/model/base_model.py
Due: Python
