Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

test(pt_expt): run the per-frame pricing test without CUDA
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: none

test(pt_expt): run the probe out-of-memory fallback test without CUDA
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: none

fix(pt_expt): cap later Hessian prices at the batch the ladder kept
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/utils/env.py
  doc/env.md
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix(pt_expt): round the Hessian batch up when halving after OOM
  deepmd/pt_expt/model/make_model.py
  doc/env.md
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix(pt): use C++20 with PyTorch 2.14+
  source/CMakeLists.txt
Due: none

docs: skip PyTorch operators in Read the Docs build
  .readthedocs.yml
Due: none

fix(deps): pin warp-lang<1.18 (#6047)
  backend/find_pytorch.py
Due: none

fix(pt): honor PyTorch C++ standard in CUDA builds
  source/op/pt/CMakeLists.txt
Due: OP

fix(pt): guard optional CUDA standard override
  source/op/pt/CMakeLists.txt
Due: OP

test(pt_expt): keep the allocator cache out of the batch-policy tests
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: none

Honor disabled TensorFlow when configuring native interfaces
  backend/read_env.py
  source/tests/test_build_backend.py
Due: none

Omit absent charge-spin inputs for legacy scripted models
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/train/wrapper.py
  source/tests/pt/model/test_nlist_backend.py
Due: Python

Validate i-PI protocol framing and handle initialization and exit
  doc/third-party/ipi.md
  source/ipi/driver.cc
  source/ipi/tests/test_driver_exit.py
  source/ipi/tests/test_driver_initialization.py
  source/ipi/tests/test_driver_input_validation.py
  source/ipi/tests/test_driver_protocol_validation.py
Due: i-Pi

fix(lammps): register built-in KOKKOS styles with generated sources
  source/lmp/builtin.cmake
  source/lmp/pair_deepmd_kokkos.h
  source/lmp/pair_dpa4spin_kokkos.h
Due: LAMMPS

test(ipi): check socket energy force and virial parity
  doc/third-party/ipi.md
  source/ipi/tests/test_driver_numeric.py
Due: i-Pi

test(pt): cover legacy signatures and explicit charge-spin inputs
  source/tests/pt/test_wrapper.py
Due: none

test(ipi): report driver output on connection timeout
  source/ipi/tests/test_driver_protocol_validation.py
Due: i-Pi

fix(ipi): reject incomplete socket reads
  source/ipi/include/sockets.h
  source/ipi/src/sockets.c
  source/ipi/src/sockets_internal.h
  source/ipi/tests/test_driver_initialization.py
  source/ipi/tests/test_sockets.c
Due: i-Pi

fix: address Uni-Mol DPA review feedback
  deepmd/dpmodel/atomic_model/unimol_dpa_atomic_model.py
  deepmd/dpmodel/fitting/unimol_dpa_heads.py
  deepmd/dpmodel/fitting/unimol_dpa_pretrain.py
  deepmd/dpmodel/loss/unimol.py
  deepmd/dpmodel/model/unimol_dpa_pretrain_model.py
  deepmd/utils/argcheck.py
  doc/model/unimol-dpa.md
  source/tests/common/dpmodel/test_unimol.py
  source/tests/common/dpmodel/test_unimol_data.py
  source/tests/common/dpmodel/test_unimol_dpa.py
Due: Python

fix: remove duplicate Uni-Mol definitions
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/pt_expt/model/test_unimol.py
Due: Python

perf(pt): fuse rotate+mix backward segment reduction (DP_ROT_MIX_BWD_FUSED_INFER)
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  deepmd/pt_expt/kernels/utils.py
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: Python

fix(pt): preserve the higher-order-autograd path behind the fused flag
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  deepmd/pt_expt/kernels/utils.py
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: Python

fix(test): size the rank-R kc/cb fixtures by rank
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: none

perf(pt): reuse SO2 residual workspace during inference
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  source/tests/pt_expt/kernels/test_so2_workspace.py
Due: Python

docs(ipi): clarify complete-frame reads and shutdown behavior
  doc/third-party/ipi.md
  source/ipi/tests/test_driver_initialization.py
Due: i-Pi

fix(data): preserve virtual spin types with model element maps
  deepmd/utils/data.py
  source/tests/common/test_deepmd_data.py
Due: Python

docs(ipi): clarify partial INIT consumption on EOF
  doc/third-party/ipi.md
Due: none

docs(ipi): state the protocol INIT length limit
  doc/third-party/ipi.md
Due: none

fix(pt): read the fused-backward gate when the backward runs, not at import
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  deepmd/pt_expt/kernels/utils.py
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: Python

fix(lammps): isolate reference JSON from backend output
  source/lmp/tests/dpa4_spin_harness.py
  source/lmp/tests/test_lammps_dpa4_chg_spin_deepspin_pt2.py
  source/lmp/tests/test_lammps_dpa4_zbl_pt2.py
Due: LAMMPS

docs(pt): rename the removed gate constant in a test docstring
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: none

perf(pt): fuse the mixing-stack per-layer backward chain (DP_STACK_BWD_FUSED_INFER)
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  deepmd/pt_expt/kernels/utils.py
  source/tests/pt/model/test_descriptor_sezm_triton.py
Due: Python

build(pt): reduce the CUDA compile time of the PyTorch operators (#6044)
  .github/workflows/test_cuda.yml
  deepmd/pt_expt/kernels/cuda/dpa4/so2_conv_train.py
  doc/install/install-from-source.md
  source/op/pt/CMakeLists.txt
  source/op/pt/dpa1_graph_common.cuh
  source/op/pt/dpa1_graph_compress.cu
  source/op/pt/dpa1_graph_descriptor.cu
  source/op/pt/dpa1_graph_energy_force.cu
  source/op/pt/dpa4/edge_radial.cu
  source/op/pt/dpa4/grid_pair.cu
  source/op/pt/dpa4/mixing_train.cu
  source/op/pt/dpa4/rotate_mix_train.cu
  source/op/pt/dpa4/rotate_mix_train/instantiate.cuh
  source/op/pt/dpa4/rotate_mix_train/kernels.cuh
  source/op/pt/dpa4/sezm_train_ops.cuh
  source/op/pt/dpa4/sezm_types.cuh
  source/op/pt/dpa4/so2_conv.cu
  source/op/pt/dpa4/so2_conv_train.cu
  source/op/pt/dpa4/so2_conv_train/instantiate.cuh
  source/op/pt/dpa4/so2_conv_train/kernels.cuh
  source/op/pt/dpa4/wigner_dense.cu
  source/op/pt/dpa4/zonal_scatter.cu
  source/op/pt/dpa4c/graph_compress.cu
  source/op/pt/edge_force_virial.cu
  source/op/pt/fitting_plan.h
  source/op/pt/graph_fitting.cu
  source/op/pt/graph_ops.h
  source/tests/pt_expt/kernels/test_so2_value_train.py
Due: Python, OP

test(build): install dependencies for backend option regressions
  pyproject.toml
Due: none

ci: run i-PI checks independently of LAMMPS tests
  .github/workflows/test_cc.yml
Due: none

fix(bridging): validate checkpoint versions across backends
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt/model/descriptor/sezm.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt_expt/fitting/test_ener_fitting.py
  source/tests/pt_expt/model/test_dpa4c_zbl_bridging.py
  source/tests/pt_expt/model/test_zbl_bridging.py
Due: Python
