Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

able to pass comm data
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/common.h
  source/lib/include/neighbor_list.h
  source/lmp/pair_deepmd.cpp
Due: Core, C++ API, C API, LAMMPS

fix: update tf UTs
  source/tests/tf/test_model_dos.py
Due: none

update miniforge url
  doc/install/easy-install.md
Due: none

fix(tf): fix DeepEval degradation for virtual types
  deepmd/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

Fix: remove debug output in infer
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix: deep test
  deepmd/infer/deep_dos.py
Due: Python

Fix: remove debug output in infer (#3465)
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix: address comments
  deepmd/pt/model/model/__init__.py
Due: Python

fix(tf): fix DeepEval degradation for virtual types (#3464)
  deepmd/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

Feat: add DOS net (#3452)
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/infer/deep_dos.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/train/training.py
  deepmd/tf/fit/dos.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/pt/dos/data/set.000/atom_dos.npy
  source/tests/pt/dos/data/set.000/box.npy
  source/tests/pt/dos/data/set.000/coord.npy
  source/tests/pt/dos/data/set.000/dos.npy
  source/tests/pt/dos/data/type.raw
  source/tests/pt/dos/data/type_map.raw
  source/tests/pt/dos/input.json
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/test_training.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_model_dos.py
Due: Python

chore: move invar fitting
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
Due: Python

docs: add deprecation notice for the official conda channel and more conda docs (#3462)
  doc/install/build-conda.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
Due: none

support virtual atoms
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/nlist.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_nlist.py
Due: Python

fix bug in test. add doc for forward_common_atomic
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  source/tests/common/dpmodel/test_nlist.py
Due: Python

fix typo
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

Chore: Move InvarFitting (#3468)
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
Due: Python

fix warnings
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_atomic_model.py
Due: Python

fix cuda test
  source/tests/pt/model/test_dp_atomic_model.py
Due: none

Feat: support virtual atom (#3469)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/nlist.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_nlist.py
Due: Python

3.16 update:support property fitting(only zero bias and mean pooling). Not include denoise and data format.
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/property.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_property_fitting.py
Due: Python

Fix LAMMPS plugin symlink path on macOS platform
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

[Paddle Backend] Add tensor polar (#3460)
  deepmd/fit/polar.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Due: Python

pt:support multitask finetune
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_finetune.py
Due: Python

Update finetune.py
  deepmd/pt/utils/finetune.py
Due: Python

Add ut for multitask finetune
  source/tests/pt/model/water/multitask.json
  source/tests/pt/test_multitask.py
Due: none

delete unused param `finetune_from_multi_task`
  deepmd/pt/train/training.py
  deepmd/pt/utils/finetune.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Update test_multitask.py
  source/tests/pt/test_multitask.py
Due: none

Fix LAMMPS plugin symlink path on macOS platform (#3473)
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

fix(pt): Fix PairTabAtomicModel OOM
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

fix(pt): Fix PairTabAtomicModel OOM error (#3484)
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

fix: warning msg
  deepmd/pt/model/task/invar_fitting.py
Due: Python

Fix: Invar_fitting warning msg (#3485)
  deepmd/pt/model/task/invar_fitting.py
Due: Python

feat: add dos training
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/dos.py
  deepmd/pt/train/training.py
Due: Python

fix: precommit
  deepmd/pt/loss/dos.py
Due: Python

3.18 update
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/property.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/denoise_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/task/denoise.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

Add DeepProperty and UT
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_property.py
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/model/test_property_fitting.py
Due: Python

fix pre-commit
  deepmd/pt/model/task/denoise.py
Due: Python

Add example
  checkpoint
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  examples/property/data/3/nopbc
  examples/property/data/3/set.000000/coord.npy
  examples/property/data/3/set.000000/property.npy
  examples/property/data/3/set.000000/real_atom_types.npy
  examples/property/data/3/type.raw
  examples/property/data/3/type_map.raw
  examples/property/data/5/nopbc
  examples/property/data/5/set.000000/coord.npy
  examples/property/data/5/set.000000/property.npy
  examples/property/data/5/set.000000/real_atom_types.npy
  examples/property/data/5/type.raw
  examples/property/data/5/type_map.raw
  examples/property/data/6/nopbc
  examples/property/data/6/set.000000/coord.npy
  examples/property/data/6/set.000000/property.npy
  examples/property/data/6/set.000000/real_atom_types.npy
  examples/property/data/6/type.raw
  examples/property/data/6/type_map.raw
  examples/property/train/input_torch.json
  source/tests/tf/input.json
  source/tests/tf/input_se_a_ebd_v2.json
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
