Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Update deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python

add consistent UT
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_ener.py
Due: none

chore(tf): filter TF deprecation warnings (#4199)
  deepmd/tf/env.py
Due: Python

feat(jax/array-api): energy fitting (#4204)
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/utils/exclude_mask.py
  source/tests/array_api_strict/fitting/__init__.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/array_api_strict/utils/exclude_mask.py
  source/tests/consistent/fitting/test_ener.py
Due: Python

Update __init__.py
  deepmd/pt/model/model/__init__.py
Due: Python

Update data.py
  deepmd/utils/data.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Update ener_hess.py
  deepmd/pt/loss/ener_hess.py
Due: Python

Update ener_hess_model.py
  deepmd/pt/model/model/ener_hess_model.py
Due: Python

Chore: refactor get standard model (#4205)
  deepmd/pt/model/model/__init__.py
Due: Python

remove float() for already supporting 0-D scalar __format__
  deepmd/loggers/training.py
Due: Python

fix tensorflow bug
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

fix mag force bug
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

make mapping not none during lmp steps
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

polish flag via paddle.set_flags
  deepmd/pd/entrypoints/main.py
  deepmd/pd/utils/env.py
Due: Python

restore make_model.py
  deepmd/pd/model/model/make_model.py
Due: Python

fix: fix average training time for restart
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
Due: Python

ci: pin ubuntu to 22.04
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
Due: none

feat(pt): support `DeepEval.eval_descriptor`
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/dp_model.py
  source/tests/infer/test_models.py
Due: Python

fix
  deepmd/pt/infer/deep_eval.py
Due: Python

ci: pin ubuntu to 22.04 (#4213)
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
Due: none

update document and fix bugs in code
  .pre-commit-config.yaml
  backend/find_paddle.py
  deepmd/pd/cxx_op.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/dataloader.py
  deepmd/pd/utils/env.py
  doc/freeze/freeze.md
  doc/install/install-from-source.md
  doc/train/parallel-training.md
Due: Python

Update test.py
  deepmd/entrypoints/test.py
Due: Python

Update __init__.py
  deepmd/pt/loss/__init__.py
Due: Python

Update test_dp_hessian_model.py
  source/tests/pt/model/test_dp_hessian_model.py
Due: none

Update train-energy-hessian.md
  doc/model/train-energy-hessian.md
Due: none
