Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

add training ut for dpa3 model
  source/tests/pt_expt/test_training.py
Due: none

feat(skill): add skill for debug gradient flow in the pt expt backend
  .github/skills/debug-gradient-flow/SKILL.md
  .github/skills/debug-gradient-flow/references/gradient-probe-script.md
Due: none

fix(pt, dpmodel): spin model finetune
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/train/training.py
  source/tests/pt/test_finetune_spin.py
Due: Python

fix ruff
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/model/model/spin_model.py
Due: Python

resolve comments
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_observed_type.py
Due: Python

fix: load checkpoint before torch.compile to support restart
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

fix: remove + self.start_step from both lambdas, since last_epoch already handles the offset.
  deepmd/pt_expt/train/training.py
Due: Python

add ut
  source/tests/pt_expt/test_training.py
Due: none

fix dpmodel
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/consistent/test_observed_type.py
  source/tests/pt/test_observed_type.py
Due: Python

Update base_atomic_model.py
  deepmd/dpmodel/atomic_model/base_atomic_model.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Update make_model.py
  deepmd/dpmodel/model/make_model.py
Due: Python

feat(pt_expt): run update_sel neighbor statistics on GPU
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  deepmd/pt_expt/descriptor/dpa3.py
  deepmd/pt_expt/descriptor/se_atten_v2.py
  deepmd/pt_expt/descriptor/se_e2_a.py
  deepmd/pt_expt/descriptor/se_r.py
  deepmd/pt_expt/descriptor/se_t.py
  deepmd/pt_expt/descriptor/se_t_tebd.py
  deepmd/pt_expt/utils/neighbor_stat.py
  deepmd/pt_expt/utils/update_sel.py
Due: Python

update distributed sampler
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

refactor(training): remove unused learning_rate_dict multitask handling (#5278)
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

Revert commit
  source/api_cc/include/DeepPotPD.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
Due: C++ API

feat(pt_expt): implement .pte inference pipeline with dynamic shapes
  deepmd/backend/pt_expt.py
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt_expt/infer/__init__.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/transform_output.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/infer/__init__.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: Python

update fix, ref to #5268
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/include/common.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_dpa_pt.py
Due: C++ API, LAMMPS

Delete test_select_real_atoms_sendlist.cc
  source/api_cc/tests/test_select_real_atoms_sendlist.cc
Due: C++ API

Create test_select_real_atoms_sendlist.cc
  source/api_cc/tests/test_select_real_atoms_sendlist.cc
Due: C++ API

Update pyproject.toml
  pyproject.toml
Due: none

Update DeepSpinPT.cc
  source/api_cc/src/DeepSpinPT.cc
Due: C++ API

feat(skill): add skill for debug gradient flow in the pt expt backend (#5280)
  .github/skills/debug-gradient-flow/SKILL.md
  .github/skills/debug-gradient-flow/references/gradient-probe-script.md
Due: none

Create test_observed_type.py
  source/tests/common/dpmodel/test_observed_type.py
Due: none

fix PD
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

add unit test
  source/tests/common/test_compat_optimizer.py
Due: none

refactor(optimizer): finalize optimizer schema and backend handling (#5157)
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/compat.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-property.md
  doc/model/train-fitting-tensor.md
  doc/train/training-advanced.md
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/input_torch_dynamic.json
  source/tests/common/test_compat_optimizer.py
  source/tests/pd/model/water/multitask.json
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/model/water/se_atten.json
  source/tests/pd/model/water/se_e2_a.json
  source/tests/pd/test_training.py
  source/tests/pt/dos/input.json
  source/tests/pt/model/models/se_e2_a.json
  source/tests/pt/model/water/lkf.json
  source/tests/pt/model/water/multitask.json
  source/tests/pt/model/water/multitask_sharefit.json
  source/tests/pt/model/water/se_atten.json
  source/tests/pt/model/water/se_e2_a.json
  source/tests/pt/model/water/zbl.json
  source/tests/pt/model_compression/input.json
  source/tests/pt/property/input.json
  source/tests/pt/test_training.py
  source/tests/pt/water_tensor/se_e2_a.json
  source/tests/tf/data_modifier/dipole.json
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
Due: Python

feat(pt, dpmodel): use data stat for observed type (#5269)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/stat.py
  deepmd/entrypoints/show.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_observed_type.py
  source/tests/consistent/test_observed_type.py
  source/tests/pt/test_observed_type.py
Due: Python

fix(c++): fix NULL type in custom op (#4889)
  source/api_cc/include/DeepPotPD.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/include/common.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_select_real_atoms_sendlist.cc
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_dpa_pt.py
Due: C++ API, LAMMPS

support ase nlist
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: Python

update doc
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

fix device conversion
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

Resolve Ruff ARG001 in _build_dynamic_shapes
  deepmd/pt_expt/utils/serialization.py
Due: Python

Updated the backend to use the GPU-aware NeighborStat from deepmd.pt_expt.utils.neighbor_stat (ported from PR #5270)
  deepmd/backend/pt_expt.py
  deepmd/pt_expt/utils/neighbor_stat.py
Due: Python

use PT's AutoBatchSize to catch OOM
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

feat: support aparam derivative in ener loss
  deepmd/pt/loss/ener.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Due: Python

build and extend coords on cuda device
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

feat: add inference
  deepmd/infer/deep_pot.py
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/test_loss_grad_aparam.py
Due: Python

Apply suggestion from @Copilot
  deepmd/pt/loss/ener.py
Due: Python

chore: refactor
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/ener.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
