Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

feat(pt_expt): add LMDB dataset support
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

fix(pt2): pad nlist in Python eval path for dynamic nnei
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

fix(pt2): move atomic virial check before run_model and reject unsupported --atomic-virial
  deepmd/entrypoints/convert_backend.py
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
Due: Python, C++ API

fix(pt_expt): address PR #5408 reviewer feedback
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/utils/lmdb_dataset.py
Due: Python

fix(pt_expt): share LMDB list-rejection between neighbor-stat and trainer
  deepmd/pt_expt/entrypoints/main.py
Due: Python

fix(pt2): move nlist padding inside traced fn and strip shape assertions
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/spin_model.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/export_helpers.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: Python

fix(test): export test models with atomic_virial=True for .pte/.pt2
  source/tests/infer/case.py
Due: none

chore: typo fix
  deepmd/dpmodel/loss/ener_spin.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/tf/loss/ener.py
  deepmd/utils/argcheck.py
Due: Python

perf(pt2): cache firstneigh_tensor across timesteps
  source/api_cc/include/DeepPotPTExpt.h
  source/api_cc/include/DeepSpinPTExpt.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
Due: C++ API

test(pt2): add regression test for oversized nlist with distance sorting
  source/tests/pt_expt/infer/test_deep_eval.py
Due: none

refactor(pt2): remove need_sorted_nlist_for_lower monkey-patch
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/spin_model.py
Due: Python

refactor(pt2): remove redundant C++ nnei+1 nlist padding
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/commonPTExpt.h
  source/tests/pt_expt/model/test_spin_ener_model.py
Due: C++ API

fix(test): link torch in C++ test binary, fix spin PtExpt guards
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deepspin_model_devi_ptexpt.cc
Due: C++ API

fix: typo
  deepmd/pt/train/training.py
Due: Python

fix: remove meaningless error raising
  deepmd/pt/train/training.py
Due: Python

feat: add full validation
  deepmd/entrypoints/test.py
  deepmd/jax/utils/auto_batch_size.py
  deepmd/pd/utils/auto_batch_size.py
  deepmd/pt/train/training.py
  deepmd/pt/train/validation.py
  deepmd/pt/utils/auto_batch_size.py
  deepmd/pt/utils/dataset.py
  deepmd/tf/utils/batch_size.py
  deepmd/utils/argcheck.py
  deepmd/utils/batch_size.py
  deepmd/utils/eval_metrics.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_training.py
  source/tests/pt/test_validation.py
Due: Python

fix
  deepmd/entrypoints/test.py
Due: Python

fix(pt): remove meaningless error raising (#5411)
  deepmd/pt/train/training.py
Due: Python

fix: use global stat
  deepmd/pt/loss/xas.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/model/xas_model.py
  deepmd/utils/argcheck.py
Due: Python

fix
  deepmd/pd/train/training.py
Due: Python

fix: seltype in inference
  deepmd/pt/model/model/xas_model.py
Due: Python

fix(pt): typo in epoch training (#5410)
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Due: Python

refactor(cc): unify createNlistTensor and fix oversized nlist handling
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/common.cc
  source/api_cc/src/commonPTExpt.h
  source/api_cc/tests/test_deeppot_dpa_ptexpt_spin.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/api_cc/tests/test_utils.h
Due: C++ API

fix dptest
  deepmd/entrypoints/test.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/xas.py
  deepmd/pt/model/model/xas_model.py
Due: Python

fix(test): remove unused _DESCRIPTOR_DPA1_WITH_ATTN config
  source/tests/pt_expt/test_training.py
Due: none

fix(pt2): relax nnei dynamic shape lower bound from 2 to 1
  deepmd/pt_expt/utils/serialization.py
Due: Python

feat(pt/dpmodel): add max and filter mode for lmdb
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_lmdb_data.py
Due: Python

fixup lmdb
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_lmdb_data.py
Due: Python

fixup
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/common/dpmodel/test_lmdb_data.py
Due: Python

Update default version for backward compatibility
  deepmd/dpmodel/loss/ener.py
Due: Python

feat(pt_expt): add LMDB dataset support (#5408)
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

fix: finetune
  deepmd/pt/loss/xas.py
Due: Python

refactor: HybridMuon use gram update from Tri Dao
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

perf: optimize HybridMuon
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

fix: HybridMuon on CPU only machine
  deepmd/pt/optimizer/hybrid_muon.py
Due: Python

fixup
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

fix(pt2): remove eliminate_dead_code from _strip_shape_assertions
  deepmd/pt_expt/utils/serialization.py
Due: Python

fix(pt_expt): respect model default_fparam in data requirement
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

chore: refactor
  deepmd/pt/loss/xas.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/model/xas_model.py
  deepmd/pt/train/training.py
Due: Python
