Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS

add C++/C/hpp mixed type inference interface (#2360)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_mixed_type.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/common.h
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_mixed_type.cc
Due: C++ API, C API

add an URL to the warning of parallelism (#2362)
  deepmd/env.py
  source/api_cc/src/common.cc
Due: Python, C++ API

add Optional to type hints when default is None (#2361)
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/infer/deep_eval.py
  deepmd/loss/ener.py
  deepmd/model/ener.py
  deepmd/model/tensor.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/learning_rate.py
  source/install/build_tf.py
Due: Python

set Codecov patch threshold to 100% (#2364)
  codecov.yml
Due: none

improve cxx11 abi flags and messages for Red Hat Developer Toolset (#2363)
  source/cmake/Findtensorflow.cmake
Due: none

support mixed natoms training
  deepmd/utils/data.py
  deepmd/utils/neighbor_stat.py
  source/op/neighbor_stat.cc
Due: Python, OP

add doc
  doc/model/train-se-atten.md
Due: none

add tests
  source/tests/common.py
  source/tests/test_virtual_type.py
Due: none

use tests.common.j_loader
  source/tests/test_virtual_type.py
Due: none

support old TF
  deepmd/utils/neighbor_stat.py
Due: Python

Update source/tests/test_model_se_a_ebd.py
  source/tests/test_model_se_a_ebd.py
Due: none

1. add more explanation for ascend graph when natoms is a const op; 3. fix a bug for ascend graph transfer;
  deepmd/entrypoints/transfer.py
Due: Python

[WIP] Test se_a_ebd to increase test coverage (#2353)
  source/tests/test_model_se_a_ebd.py
  source/tests/water_se_a_ebd.json
Due: none

mixed system training
  deepmd/utils/data_system.py
Due: Python

improve doc
  deepmd/utils/argcheck.py
  examples/nopbc/mixed/input.json
Due: Python

add tests
  source/tests/test_deepmd_data_sys.py
Due: none

update_lr_dict
  deepmd/utils/argcheck.py
Due: Python

update lr_dict
  deepmd/utils/argcheck.py
Due: Python

add lr_dict to gen_json and gen_args
  deepmd/utils/argcheck.py
Due: Python

merge duplicated codes to methods
  deepmd/train/trainer.py
  deepmd/utils/learning_rate.py
Due: Python

fix get_lr_and_coef
  deepmd/train/trainer.py
  deepmd/utils/learning_rate.py
Due: Python

fix get_lr_and_coef
  deepmd/train/trainer.py
Due: Python

based on model2
  deepmd/descriptor/se_atten.py
Due: Python

add lr dict setting to multi init
  deepmd/train/trainer.py
  deepmd/utils/multi_init.py
  source/tests/test_init_frz_model_multi.py
Due: Python

enable openmp for gelu
  source/lib/src/gelu.cc
Due: Core

Add docs for 'None' activation functions.
  deepmd/common.py
  deepmd/utils/argcheck.py
Due: Python

enable openmp for gelu (#2375)
  source/lib/src/gelu.cc
Due: Core

Add docs for 'None' activation functions. (#2376)
  deepmd/common.py
  deepmd/utils/argcheck.py
Due: Python

fix the version of pypa/gh-action-pypi-publish
  .github/workflows/build_wheel.yml
Due: none

link op library to protobuf
  source/op/CMakeLists.txt
Due: OP

atype_filter should have the shape of nloc“
  deepmd/fit/ener.py
Due: Python

make filter before reshape
  deepmd/fit/ener.py
Due: Python

fix the version of pypa/gh-action-pypi-publish (#2389)
  .github/workflows/build_wheel.yml
Due: none

link op library with protobuf (#2391)
  source/op/CMakeLists.txt
Due: OP

atype_filter should have the shape of nloc (#2390)
  deepmd/fit/ener.py
Due: Python

Add support for slimming large type_map
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/env.py
  deepmd/fit/ener.py
  deepmd/infer/deep_pot.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  source/tests/change_map/data/set.000/box.npy
  source/tests/change_map/data/set.000/coord.npy
  source/tests/change_map/data/set.000/energy.npy
  source/tests/change_map/data/set.000/force.npy
  source/tests/change_map/data/type.raw
  source/tests/change_map/data/type_map.raw
  source/tests/change_map/input.json
  source/tests/test_deeppot_change_map.py
Due: Python

Fix incompatibility after fixing the incontinuity of se_atten
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
Due: Python

fix ut
  source/tests/test_deeppot_change_map.py
Due: none

Fix uts
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/tensor.py
Due: Python

Update test_deeppot_change_map.py
  source/tests/test_deeppot_change_map.py
Due: none

Path conditions:
  Python: any of: deepmd/**, but not: source/**/tests
  OP: any of: source/op/**, but not: source/**/tests
  Core: any of: source/lib/**, but not: source/**/tests
  C++ API: any of: source/api_cc/**, but not: source/**/tests
  C API: any of: source/api_c/**, but not: source/**/tests
  LAMMPS: any of: source/lmp/**, but not: source/**/tests
