Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: UT
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
Due: Python

Spin lmp nlist (#35)
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/tests/run_mpi_pair_deepmd_spin.py
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_pt.py
  source/lmp/tests/write_lmp_data.py
  source/tests/infer/deepspin_nlist-2.pbtxt
  source/tests/infer/deepspin_nlist.pbtxt
Due: C++ API, LAMMPS

add deepspin pair style (#36)
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/tests/test_deeppot_dpa1_pt_spin.cc
  source/lmp/pair_base.cpp
  source/lmp/pair_base.h
  source/lmp/pair_deepspin.cpp
  source/lmp/pair_deepspin.h
Due: C++ API, C API, LAMMPS

Update pair_deepmd.cpp
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

Update plugin
  source/lmp/plugin/deepmdplugin.cpp
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_pt.py
Due: LAMMPS

fix: UT
  deepmd/dpmodel/model/dp_zbl_model.py
Due: Python

fix condition block dtype mismatch in jit.save and enable 2 unitest
  deepmd/pd/utils/nlist.py
  source/tests/pd/model/test_jit.py
  source/tests/pd/test_multitask.py
Due: Python

fix(lmp): update print_summary (#4271)
  source/lmp/deepmd_version.h.in
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

feat(jax/array-api): hybrid descriptor (#4275)
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/hybrid.py
  doc/model/train-hybrid.md
  source/tests/array_api_strict/descriptor/__init__.py
  source/tests/array_api_strict/descriptor/base_descriptor.py
  source/tests/array_api_strict/descriptor/dpa1.py
  source/tests/array_api_strict/descriptor/hybrid.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_r.py
  source/tests/consistent/descriptor/test_hybrid.py
Due: Python

feat(jax/array-api): dipole/polarizability fitting (#4278)
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/fitting.py
  doc/model/train-fitting-tensor.md
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_polar.py
Due: Python

fix(dptest): Wrong dptest results except for energy head (#4280)
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Due: Python

Print the reminder for the illegal memory error in the AutoBatchSize under tf (#4283)
  deepmd/tf/utils/batch_size.py
  deepmd/utils/batch_size.py
Due: Python

feat(dpmodel/jax): add entry point for dpmodel and jax backend (#4284)
  deepmd/dpmodel/__init__.py
  deepmd/jax/__init__.py
Due: Python

fix: try fixing deserialization
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/pt/model/model/dp_zbl_model.py
Due: Python

set is_pt
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
Due: Python

ci: install GPU JAX in GPU CI
  .github/workflows/test_cuda.yml
Due: none

fix(dpmodel/jax): fix fparam and aparam support in DeepEval (#4285)
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
Due: Python

fix for loop; fix codeql warnings
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
Due: Python

add comments
  deepmd/jax/utils/serialization.py
Due: Python

fparam/aparam
  source/tests/consistent/io/test_io.py
Due: none

feat(jax): DPA-2
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/descriptor/dpa2.py
  deepmd/jax/descriptor/repformers.py
  deepmd/jax/descriptor/se_t_tebd.py
  source/tests/consistent/descriptor/test_dpa2.py
Due: Python

fix(lmp): add pair_deepmd_index arg to fix dplr for multiple deepmd pairs (#4274)
  doc/model/dplr.md
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Due: LAMMPS

fix spin
  source/lmp/pair_deepspin.cpp
  source/lmp/tests/run_mpi_pair_deepmd_spin.py
Due: LAMMPS

feat(jax/array-api): property fitting (#4287)
  deepmd/jax/fitting/fitting.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_property.py
Due: Python

fix: UT
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/model/dp_linear_model.py
Due: Python

add comment at descrpt SeT build()
  deepmd/utils/tabulate.py
Due: Python

fix bugs and enable more pd unitests
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/utils/env.py
  source/tests/pd/model/test_forward_lower.py
  source/tests/pd/model/test_make_hessian_model.py
  source/tests/pd/model/test_permutation_denoise.py
  source/tests/pd/model/test_rot_denoise.py
  source/tests/pd/model/test_smooth.py
  source/tests/pd/model/test_smooth_denoise.py
  source/tests/pd/model/test_trans_denoise.py
  source/tests/pd/model/test_unused_params.py
Due: Python

Refactor duplicate code in _get_bias and _get_matrix methods
  deepmd/pt/utils/tabulate.py
Due: Python

fix the last 2 files
  deepmd/pd/model/network/init.py
  deepmd/pd/model/task/property.py
Due: Python

fix device inconsistency
  source/tests/pt/test_tabulate.py
Due: none

Feat: Add consistency test for ZBL between dp and pt (#4292)
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/model/dp_linear_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
  source/tests/consistent/test_type_embedding.py
Due: Python

array api
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/nlist.py
  source/tests/array_api_strict/descriptor/dpa2.py
  source/tests/array_api_strict/descriptor/repformers.py
  source/tests/array_api_strict/descriptor/se_t_tebd.py
  source/tests/consistent/descriptor/test_dpa2.py
Due: Python

IdentityDP
  deepmd/jax/descriptor/dpa2.py
  source/tests/array_api_strict/descriptor/dpa2.py
Due: Python

Update deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/repformers.py
Due: Python

docs
  doc/model/dpa2.md
Due: none

chore: refactor dpmodel atomic model
  deepmd/dpmodel/atomic_model/__init__.py
  deepmd/dpmodel/atomic_model/dipole_atomic_model.py
  deepmd/dpmodel/atomic_model/dos_atomic_model.py
  deepmd/dpmodel/atomic_model/energy_atomic_model.py
  deepmd/dpmodel/atomic_model/polar_atomic_model.py
  deepmd/dpmodel/model/dos_model.py
  deepmd/dpmodel/model/ener_model.py
Due: Python

feat(jax/array-api): se_e3 (#4286)
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/se_t.py
  doc/model/train-se-e3.md
  source/tests/array_api_strict/descriptor/se_t.py
  source/tests/consistent/descriptor/test_se_t.py
Due: Python

rename aux to decomp
  deepmd/pd/loss/ener.py
  deepmd/pd/model/atomic_model/pairtab_atomic_model.py
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/descriptor/gaussian_lcc.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/spin_model.py
  deepmd/pd/model/model/transform_output.py
  deepmd/pd/utils/decomp.py
  deepmd/pd/utils/exclude_mask.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/preprocess.py
  deepmd/pd/utils/region.py
  source/tests/pd/model/test_descriptor.py
  source/tests/pd/model/test_ener_spin_model.py
  source/tests/pd/model/test_forward_lower.py
  source/tests/pd/model/test_polarizability_fitting.py
  source/tests/pd/test_init_frz_model.py
Due: Python

feat: expose dos/polar/dipole model in dpmodel
  deepmd/dpmodel/model/dipole_model.py
  deepmd/dpmodel/model/polar_model.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/polar_model.py
Due: Python

polish decomp.py
  deepmd/pd/utils/decomp.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
