Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

ci: split CUDA tests into separate jobs (#5896)
  .github/workflows/test_cuda.yml
Due: none

ci(cuda): overlap AOTI .pt2 compiles with GPU unit tests (#5882)
  .github/workflows/test_cuda.yml
  pyproject.toml
  source/install/test_cc_local.sh
  source/tests/conftest.py
Due: none

fix(lmp): scope collectives to the LAMMPS communicator (#5830)
  source/lmp/pair_base.cpp
  source/lmp/tests/run_mpi_pair_subcommunicators.py
  source/lmp/tests/test_lammps.py
Due: LAMMPS

fix(model): rebuild linear type mappings after remap (#5835)
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
Due: Python

refactor(dpmodel): declare supports_native_spin/supports_charge_spin on BaseDescriptor
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
Due: Python

docs(dpmodel): keep BaseDescriptor spin-capability docstrings descriptor-agnostic
  deepmd/dpmodel/descriptor/make_base_descriptor.py
Due: Python

refactor(dpmodel,pt_expt): declare the graph-lower capability cluster on BaseDescriptor
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt_expt/model/graph_lower.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
  source/tests/universal/common/cases/descriptor/utils.py
Due: Python

refactor(dpmodel,pt_expt,jax): declare has_spin on the base model; drop dead-defensive capability probes
  deepmd/dpmodel/model/base_model.py
  deepmd/jax/jax_md/__init__.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/train/wrapper.py
  source/tests/pt_expt/test_wrapper.py
  source/tests/universal/common/cases/model/utils.py
Due: Python

test(dpmodel): cover periodic cell compaction
  deepmd/dpmodel/utils/default_neighbor_list.py
  source/tests/consistent/test_default_neighbor_list.py
Due: Python

fix(dpa4): restore pt training-time random_gamma semantics on the shared trunk
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt_expt/descriptor/dpa4.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
  source/tests/pt_expt/descriptor/test_dpa4.py
Due: Python

fix(dpmodel,pt_expt): normalize use_spin forms and forward allow_missing_label in the native-spin builders
  deepmd/dpmodel/model/model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/train/training.py
  deepmd/utils/spin.py
  source/tests/common/dpmodel/test_dpa4_native_spin_model.py
  source/tests/common/test_spin.py
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: Python

test(dpmodel): cover LMDB type-map superset
  source/tests/pt/test_lmdb_dataloader.py
Due: none

test(cuda): cover unsorted se_a tabulation
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

docs: harden linkcode integration
  doc/conf.py
  source/tests/test_doc_linkcode.py
Due: none

fix(dpmodel): mask all virtual EnvMat outputs
  deepmd/dpmodel/utils/env_mat.py
  source/tests/common/dpmodel/array_api/test_env_mat.py
Due: Python

test(pd): force CPU border self-copy
  source/tests/pd/test_border_op.py
Due: none

refactor(pd): drop the has_spin getattr dances for direct base-model calls
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/train/training.py
  deepmd/pd/train/wrapper.py
Due: Python

test(ipi): cover socket I/O guards
  source/ipi/tests/test_sockets.c
Due: i-Pi

test(pt): cover tabulation device guards
  source/tests/pt/test_tabulate_device_validation.py
Due: none

test(tf): cover multi-device width guards
  source/tests/tf/test_multi_device_shape_validation.py
Due: none

fix(tf): preserve neighbor capacity errors
  source/op/tf/prod_env_mat_multi_device.cc
Due: OP

test(tf): scope native dipole evaluator
  source/tests/tf/test_deepdipole.py
Due: none

test(dpmodel): use unittest assertion
  source/tests/consistent/test_default_neighbor_list.py
Due: none

fix(core): distinguish neighbor capacity errors
  source/lib/include/errors.h
  source/lib/src/neighbor_list.cc
  source/lib/tests/test_neighbor_list.cc
  source/op/tf/prod_env_mat_multi_device.cc
Due: OP, Core

docs: align documentation dependency requirements
  doc/README
  pyproject.toml
Due: none

refactor(dpmodel): make_native_spin_model class factory + registered NativeSpinEnergyModel
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dpa4_native_spin_model.py
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/native_spin_model.py
  source/tests/common/dpmodel/test_dpa4_native_spin_model.py
Due: Python

refactor(pt_expt): NativeSpinEnergyModel via make_native_spin_model; registry dispatch replaces native-spin seams
  deepmd/dpmodel/model/native_spin_model.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/__init__.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/model/native_spin_model.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/infer/gen_dpa4_spin.py
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: Python

test(pt_expt): pin the public-BaseModel native-spin round trip
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: none

fix(model): register magnetic cell derivatives correctly (#5836)
  deepmd/dpmodel/output_def.py
  deepmd/infer/deep_eval.py
  source/tests/common/dpmodel/test_output_def.py
Due: Python

docs(dpmodel): clarify LMDB type count behavior
  deepmd/dpmodel/utils/lmdb_data.py
Due: Python

fix(dpmodel): keep output reductions on active backend (#5789)
  deepmd/dpmodel/model/edge_transform_output.py
  deepmd/dpmodel/model/transform_output.py
  source/tests/common/dpmodel/test_transform_output.py
Due: Python

feat(pt_expt): combined native spin + charge-spin FiLM eager path (review 3638047227, task 2)
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt_expt/model/get_model.py
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: Python

feat(pt_expt): charge_spin slot in the graph-spin .pt2 ABI (review 3638047227, task 3)
  deepmd/pt_expt/model/native_spin_model.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/model/test_dpa4_export.py
  source/tests/pt_expt/model/test_dpa4_native_spin.py
Due: Python

feat(dpmodel): native spin combined with charge-spin FiLM (review 3638047227, task 1)
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/native_spin_model.py
  source/tests/common/dpmodel/test_dpa4_native_spin_model.py
Due: Python

feat(infer,cc): feed the graph-spin charge_spin slot in DeepEval and C++ (review 3638047227, task 4)
  deepmd/pt_expt/infer/deep_eval.py
  source/api_cc/src/DeepSpinPTExpt.cc
  source/tests/pt_expt/model/test_dpa4_export.py
Due: Python, C++ API

feat(dpmodel): backend-agnostic InterPotential (analytical ZBL bridging term)
  deepmd/dpmodel/model/inter_potential.py
  source/tests/common/dpmodel/test_inter_potential.py
Due: Python

feat(dpmodel): inject the ZBL bridging term at the atomic layer (review 3638077323, task 2)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/inter_potential.py
  deepmd/dpmodel/model/model.py
  source/tests/common/dpmodel/test_inter_potential.py
  source/tests/common/dpmodel/test_zbl_bridging.py
Due: Python

feat(pt_expt): ZBL bridging eager path + ownership on DPAtomicModel (review 3638077323, task 3)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/pt_expt/descriptor/dpa4.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/model/model.py
  deepmd/pt_expt/utils/__init__.py
  deepmd/pt_expt/utils/inter_potential.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/model/test_zbl_bridging.py
Due: Python

feat(pt_expt): ZBL bridging export/training e2e + argcheck (review 3638077323, task 4)
  deepmd/utils/argcheck.py
  source/tests/pt_expt/model/test_zbl_bridging.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
