Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix atomic model
  deepmd/dpmodel/model/make_model.py
Due: Python

apply flax_module
  deepmd/jax/atomic_model/dp_atomic_model.py
Due: Python

done
  deepmd/backend/jax.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
Due: Python

add dependencies
  pyproject.toml
Due: none

fix deserialize
  deepmd/dpmodel/atomic_model/base_atomic_model.py
Due: Python

fix part of codes
  deepmd/pd/model/descriptor/repformer_layer_old_impl.py
  deepmd/utils/batch_size.py
  deepmd/utils/data.py
  doc/install/install-from-source.md
  pyproject.toml
Due: Python

remove extra indent
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

Update spin_model.py
  deepmd/pt/model/model/spin_model.py
Due: Python

Update spin.py
  deepmd/pt/utils/spin.py
Due: Python

update document and test_python yaml
  .github/workflows/test_python.yml
  backend/find_paddle.py
  doc/backend.md
  doc/install/install-from-source.md
Due: none

remove typeAlias for not available in python3.9
  deepmd/pd/model/network/init.py
Due: Python

update repformers.py
  deepmd/pd/model/descriptor/repformers.py
Due: Python

fix pre-commit
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/utils/tabulate.py
  source/tests/pt/test_tabulate.py
Due: Python

fix error in nopbc (nghost = 0)
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/op/pt/comm.cc
Due: OP, C++ API, LAMMPS

add ut for spin c++
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/tests/test_deeppot_dpa1_pt_spin.cc
  source/lmp/pair_deepmd.cpp
  source/tests/infer/deeppot_dpa_spin.pth
Due: C++ API, C API, LAMMPS

bump version
  source/api_c/include/c_api.h
Due: C API

fix nlist
  deepmd/dpmodel/utils/nlist.py
Due: Python

fix unittest.mock for python3
  source/tests/common/test_auto_batch_size.py
Due: none

fix dpmodel.atomic_models
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
Due: Python

fit pt train and model.__init__
  deepmd/pt/model/model/__init__.py
  deepmd/pt/train/training.py
Due: Python

add comment
  deepmd/pt/train/training.py
Due: Python

fix: pt atomic models
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/task/ener.py
Due: Python

fix pt descriptors
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
Due: Python

fix dpa2 c++ when no lammps comm data pass in
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix utils
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/stat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  deepmd/utils/pair_tab.py
Due: Python

remove c++ lmp nlist ut due to no comm data
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
Due: C++ API

docs: fix docs for CMAKE_ARGS
  doc/install/install-from-source.md
Due: none

docs: fix parameter links
  deepmd/utils/argcheck.py
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/index.rst
  doc/model/overall.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  doc/train/finetuning.md
  doc/train/gpu-limitations.md
  doc/train/training-advanced.md
Due: Python

Update doc/model/index.rst
  doc/model/index.rst
Due: none

docs: document the floating-point precision of the model
  doc/model/index.rst
  doc/model/precision.md
  doc/troubleshooting/precision.md
Due: none

fix infer, model_devi and spin
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/infer/model_devi.py
  deepmd/pt/infer/deep_eval.py
  deepmd/utils/spin.py
Due: Python

fix index type
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Due: Python

feat(jax): energy model (no grad support) (#4226)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/atomic_model/__init__.py
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/base_descriptor.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/descriptor/se_e2_a.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/base_fitting.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/ener_model.py
  deepmd/jax/model/model.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Due: Python

fix some fitting precs
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pt/model/task/fitting.py
Due: Python

fix nlist
  deepmd/pt/utils/nlist.py
Due: Python

torch.long -> torch.int64
  deepmd/pt/utils/nlist.py
Due: Python

docs: fix docs for CMAKE_ARGS (#4238)
  doc/install/install-from-source.md
Due: none

Update deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python
