Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(jax): update jax2tf savedmodel tests
  deepmd/jax/jax2tf/format_nlist.py
  source/jax2tf_tests/test_format_nlist.py
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
Due: Python

fix(pt): fail early when compress lacks custom ops (#5610)
  deepmd/pt/entrypoints/compress.py
  source/tests/pt/test_compress_entrypoint.py
Due: Python

fix(dpmodel): export-safe modulo clamp for graph edge-scatter indices
  deepmd/dpmodel/utils/neighbor_graph/derivatives.py
Due: Python

fix(pt_expt): address AI review (CodeQL + CodeRabbit) on #5604
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
  source/lmp/tests/test_lammps_dpa1_graph_pt2.py
Due: Python, LAMMPS

feat(pt_expt): dp freeze --lower-kind {nlist,graph} for graph .pt2 export
  deepmd/main.py
  deepmd/pt_expt/entrypoints/main.py
  source/tests/pt_expt/test_dp_freeze.py
Due: Python

ci: limit Python PR test matrix (#5611)
  .github/workflows/test_python.yml
Due: none

chore(dpa-adapt): remove local output paths from .gitignore
  .gitignore
Due: none

test(api_cc): add deeppot_dpa1_graph.pt2 to universal/variant battery
  source/api_cc/tests/test_deeppot_universal.cc
Due: C++ API

test(jax): cover jax2tf savedmodel paths
  source/jax2tf_tests/test_make_model.py
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
  source/jax2tf_tests/test_serialization.py
Due: none

test(consistent): skip unsupported TF DPA1 smooth case
  source/tests/consistent/model/test_dpa1.py
Due: none

test(consistent): use curated cases throughout (#5606)
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_r.py
  source/tests/consistent/descriptor/test_se_t.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_dpa4_ener.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/loss/test_dos.py
  source/tests/consistent/loss/test_ener.py
  source/tests/consistent/loss/test_ener_spin.py
  source/tests/consistent/loss/test_property.py
  source/tests/consistent/loss/test_tensor.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_dpa1.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_frozen.py
  source/tests/consistent/model/test_linear_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
  source/tests/consistent/test_activation.py
  source/tests/consistent/test_learning_rate.py
  source/tests/consistent/test_type_embedding.py
Due: none

feat(pt): support shared_dict in linear energy model (#5548)
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_linear_model.py
  deepmd/pt/utils/multi_task.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_linear_model_shared_dict.py
Due: Python

fix(jax): skip padding for non-XLA SavedModels (#5602)
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

Fix grouped embedding finetuner integration
  deepmd/pt/model/model/group_property_model.py
  dpa_adapt/data/grouped_dataset.py
  dpa_adapt/finetuner.py
  dpa_adapt/trainer.py
  source/tests/dpa_adapt/test_grouped_dataset.py
  source/tests/dpa_adapt/test_grouped_finetuner.py
Due: Python

fix(dpa-adapt): resolve type-map validation, cache identity, label loading, and fparam_dim validation issues
  dpa_adapt/data/dataset.py
  dpa_adapt/data/desc_cache.py
  dpa_adapt/data/type_map.py
  dpa_adapt/finetuner.py
  pyproject.toml
Due: none

style(dpa-adapt): remove redundant quotes from type annotation in _hash_array
  dpa_adapt/data/desc_cache.py
Due: none

style(dpa-adapt): apply isort and ruff format to changed modules
  dpa_adapt/data/dataset.py
  dpa_adapt/data/desc_cache.py
  dpa_adapt/data/type_map.py
  dpa_adapt/finetuner.py
Due: none

refactor(dpa-adapt): extract shared validators/helpers to remove review-fix duplication
  .github/workflows/test_python.yml
  dpa_adapt/_validation.py
  dpa_adapt/data/dataset.py
  dpa_adapt/data/loader.py
  dpa_adapt/data/type_map.py
  dpa_adapt/finetuner.py
  dpa_adapt/mft.py
  dpa_adapt/trainer.py
Due: none

test(dpa-adapt): stop mock-torch test files from leaking into the session
  source/tests/dpa_adapt/test_conditions.py
  source/tests/dpa_adapt/test_type_map.py
Due: none

refactor(api_cc): load backends as plugins (#5531)
  doc/env.md
  doc/inference/cxx.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_c/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/BackendPlugin.h
  source/api_cc/include/common.h
  source/api_cc/include/commonTF.h
  source/api_cc/src/BackendPlugin.cc
  source/api_cc/src/BackendPluginFactory.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAXPlugin.cc
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPDPlugin.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepPotPTExptPlugin.cc
  source/api_cc/src/DeepPotPTPlugin.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepPotTFPlugin.cc
  source/api_cc/src/DeepSpin.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/DeepSpinTF.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/src/DeepTensorTF.cc
  source/api_cc/src/common.cc
Due: C++ API, C API

fix(pt_expt): address iProzd review — graph freeze defaults to .pt2 + modulo-clamp invariant test
  deepmd/pt_expt/entrypoints/main.py
  source/tests/common/dpmodel/test_edge_force_virial.py
  source/tests/pt_expt/test_dp_freeze.py
Due: Python

fix(jax): restore jax2tf savedmodel export (#5613)
  deepmd/jax/jax2tf/format_nlist.py
  deepmd/jax/jax2tf/make_model.py
  deepmd/jax/jax2tf/nlist.py
  deepmd/jax/jax2tf/region.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/utils/serialization.py
  source/jax2tf_tests/test_format_nlist.py
  source/jax2tf_tests/test_make_model.py
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
  source/jax2tf_tests/test_serialization.py
Due: Python

docs(dpmodel): document the graph edge-scatter modulo as the permanent fix + root cause
  deepmd/dpmodel/utils/neighbor_graph/derivatives.py
Due: Python

tol
  source/tests/common/dpmodel/test_dpa4_so3_projector.py
Due: none

fix(data): move split global dipole/polarizability into set dirs
  data/raw/raw_to_set.sh
  source/tests/common/test_raw_to_set.py
Due: none

fix(dev): align devcontainer pytest LAMMPS wrapper paths
  .devcontainer/gdb_pytest_lmp
  .devcontainer/pytest_lmp
Due: none

fix(examples): use config-relative data paths in zinc_protein
  examples/zinc_protein/zinc_se_a_mask.json
  source/tests/common/test_examples.py
Due: none

feat(dpa-adapt): support heterogeneous grouped components via mixed_type padding
  deepmd/pt/model/model/group_property_model.py
  dpa_adapt/data/assemblies.py
  source/tests/dpa_adapt/test_assemblies.py
  source/tests/dpa_adapt/test_grouped_end_to_end.py
Due: Python

feat(train): enable full validation for jax and pt-expt
  deepmd/dpmodel/train/trainer.py
  deepmd/dpmodel/train/validation.py
  deepmd/jax/train/trainer.py
  deepmd/jax/train/validation.py
  deepmd/pt_expt/train/training.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_train_abstract_trainer.py
  source/tests/jax/test_training.py
  source/tests/pt/test_validation.py
  source/tests/pt_expt/test_training.py
Due: Python

docs(examples): build and document graph.pb generation in infer_water
  examples/infer_water/CMakeLists.txt
  examples/infer_water/README.md
Due: none

docs: fix stale multi-task link and DP/MM placeholder
  doc/freeze/freeze.md
  doc/model/train-se-a-mask.md
Due: none

Fix CodeQL torch import warnings
  source/tests/dpa_adapt/test_conditions.py
  source/tests/dpa_adapt/test_type_map.py
Due: none

test(io): skip TF2 SavedModel serialize assert
  source/tests/consistent/io/test_io.py
Due: none

Potential fix for pull request finding 'CodeQL / Unused global variable'
  source/tests/dpa_adapt/test_conditions.py
Due: none

Potential fix for pull request finding 'CodeQL / Unused global variable'
  source/tests/dpa_adapt/test_type_map.py
Due: none

fix(data): preserve global dipole/polarizability in raw_to_set.sh (#5696)
  data/raw/raw_to_set.sh
  source/tests/common/test_raw_to_set.py
Due: none

refactor(pt_expt): consolidate graph trace/sample builders (OutisLi review)
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/serialization.py
Due: Python

fix(dev): fix devcontainer LAMMPS pytest wrapper paths (#5697)
  .devcontainer/gdb_pytest_lmp
  .devcontainer/pytest_lmp
Due: none

Apply suggestions from code review
  source/lib/tests/test_neighbor_list.cc
  source/op/tf/prod_env_mat_multi_device.cc
Due: OP, Core

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
