Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Add numpy impl for DPA2
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/repformers.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_descriptor_dpa2.py
  source/tests/common/dpmodel/test_env_mat.py
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_env_mat.py
Due: Python

update argcheck
  deepmd/utils/argcheck.py
  examples/water/dpa2/input_torch.json
Due: Python

support DPA2 inference for 2024Q1 (#3756)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepPotPT.cc
  source/lib/include/neighbor_list.h
  source/lmp/pair_deepmd.cpp
Due: Core, C++ API, C API, LAMMPS

Fix uts
  deepmd/pt/model/descriptor/repformer_layer_old_impl.py
  source/tests/pt/model/test_permutation.py
Due: Python

Update test_permutation.py
  source/tests/pt/model/test_permutation.py
Due: none

fix uts
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/models/dpa2.pth
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_unused_params.py
Due: none

fix: raise error for non mixed type model
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

fix: precommit
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Due: Python

Update test_dpa2.py
  source/tests/pt/model/test_dpa2.py
Due: none

fix: nlist copy
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_permutation.py
Due: Python

fix: numpy
  source/tests/common/dpmodel/test_linear_atomic_model.py
Due: none

Add spin docs for PT/DP
  doc/model/train-energy-spin.md
Due: none

bug: fix spin nlist in spin_model (#3718)
  deepmd/pt/model/model/spin_model.py
  doc/model/train-energy-spin.md
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_permutation.py
Due: Python

feat: descriptor provide get_rcut_smth and get_env_protection
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/utils/env_mat_stat.py
  source/tests/common/dpmodel/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_hybrid.py
Due: Python

Update deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

fix: precommit
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

Fix: raise error for non mixed type model (#3759)
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_permutation.py
Due: Python

fix bug
  source/tests/common/dpmodel/test_descriptor_hybrid.py
Due: none

Update deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/hybrid.py
Due: Python

Update deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Update se_atten.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

Fix typo
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python

revert 'nf' to 'nb'
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
Due: Python

Update repformers.py
  deepmd/pt/model/descriptor/repformers.py
Due: Python

mv symmetrization_op into static
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
Due: Python

Update test_descriptor_dpa2.py
  source/tests/common/dpmodel/test_descriptor_dpa2.py
Due: none

Update dpa2.md
  doc/model/dpa2.md
Due: none

separate args for repinit and repformers
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa2.py
Due: Python

add doc for spin data format
  doc/model/train-energy-spin.md
Due: none

Deprecate multi-task support in tf
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/main.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ebd_v2.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/entrypoints/freeze.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/model/__init__.py
  deepmd/tf/model/multi.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/multi_init.py
  deepmd/utils/argcheck.py
  doc/freeze/freeze.md
  doc/train/multi-task-training-tf.md
  examples/water_multi_task/ener_dipole/input.json
  source/tests/tf/test_init_frz_model_multi.py
  source/tests/tf/test_layer_name.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/water_layer_name.json
  source/tests/tf/water_multi.json
Due: Python

delete other unused params
  deepmd/tf/env.py
  doc/freeze/freeze.md
Due: Python

Add doc for spin data format (#3762)
  doc/model/train-energy-spin.md
Due: none

Update repformer_layer.py
  deepmd/pt/model/descriptor/repformer_layer.py
Due: Python
