Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

add example
  doc/model/dpa2.md
  examples/water/lmp/jax_dpa2.lammps
Due: none

convert models at runtime
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .pre-commit-config.yaml
  deepmd/pt/infer/inference.py
  deepmd/pt/utils/serialization.py
  examples/water/dpa2/frozen_model.pth
  source/api_cc/tests/test_deeppot_jax.cc
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_jax.py
  source/tests/infer/convert-models.sh
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
  source/tests/infer/deeppot_dpa.savedmodel/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_dpa.savedmodel/variables/variables.index
  source/tests/infer/deeppot_dpa.yaml
  source/tests/infer/deeppot_sea.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_sea.savedmodel/saved_model.pb
  source/tests/infer/deeppot_sea.savedmodel/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_sea.savedmodel/variables/variables.index
  source/tests/infer/deeppot_sea.yaml
Due: Python, C++ API, LAMMPS

add script path
  source/tests/infer/convert-models.sh
Due: none

revert strict=False
  deepmd/pt/infer/inference.py
  deepmd/pt/utils/serialization.py
Due: Python

revert .gitignore
  source/tests/infer/.gitignore
Due: none

fix the test error
  deepmd/dpmodel/atomic_model/base_atomic_model.py
Due: Python

improve type annotations of `safe_cast_array`
  deepmd/dpmodel/common.py
Due: Python

support dict
  deepmd/dpmodel/common.py
Due: Python

fix docstring
  deepmd/dpmodel/common.py
Due: Python

fix(pt): pass mapping from LAMMPS to PT
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

docs: document plugin mechanisms and deepmd-gnn
  README.md
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Due: none

fix mask dtype
  deepmd/dpmodel/atomic_model/base_atomic_model.py
Due: Python

prefer cuda's cudnn
  .github/workflows/test_cuda.yml
Due: none

bump cuda version
  .github/workflows/test_cuda.yml
Due: none

debug
  .github/workflows/test_cuda.yml
Due: none

fix docker name
  .github/workflows/test_cuda.yml
Due: none

fix uts
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_property_fitting.py
Due: Python

set allow_growth to True
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

fix compile error
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

add optional cast
  deepmd/pt/model/network/mlp.py
  deepmd/pt/utils/env.py
Due: Python

cast fitting
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
Due: Python

fix typo
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

call TFE_ContextOptionsSetConfig
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

fix config
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

Update mlp.py
  deepmd/pt/model/network/mlp.py
Due: Python

Revert "debug"
  .github/workflows/test_cuda.yml
Due: none

docs: document plugin mechanisms and deepmd-gnn (#4345)
  README.md
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Due: none

add extra cast for dipole/polar
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
Due: Python

Update test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
Due: none

fix(tf): fix model out_bias deserialize
  deepmd/tf/model/model.py
  source/tests/consistent/model/test_ener.py
Due: Python

sync mapping interface with #4307
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/lib/include/neighbor_list.h
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
Due: Core, C API, LAMMPS

Update deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
Due: Python

feat(jax): SavedModel C++ interface (including DPA-2 supports) (#4307)
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  doc/backend.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  examples/water/dpa2/frozen_model.pth
  examples/water/lmp/jax_dpa2.lammps
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/cmake/googletest.cmake.in
  source/lib/include/neighbor_list.h
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_jax.py
  source/tests/infer/convert-models.sh
  source/tests/infer/deeppot_dpa.yaml
  source/tests/infer/deeppot_sea.yaml
Due: Core, C++ API, C API, LAMMPS

Update source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_ener.py
Due: none

fix(pt): fix not used `sys_probs`
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  source/tests/pt/test_sampler.py
Due: Python

add uts for loss
  deepmd/dpmodel/common.py
  deepmd/pt/loss/dos.py
  source/tests/universal/common/cases/loss/utils.py
  source/tests/universal/dpmodel/loss/__init__.py
  source/tests/universal/dpmodel/loss/test_loss.py
  source/tests/universal/pt/loss/test_loss.py
Due: Python

fix(pt): fix precision (#4344)
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/env.py
  source/tests/pt/model/test_compressed_descriptor_dpa2.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_property_fitting.py
Due: Python
