Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Avoid setting pin_memory in tests
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
  source/tests/pt/test_sampler.py
Due: none

fix: Avoid setting pin_memory in tests (#4919)
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
  source/tests/pt/test_sampler.py
Due: none

Update deepmd/entrypoints/show.py
  deepmd/entrypoints/show.py
Due: Python

support gradient accumulation
  deepmd/pd/train/training.py
  source/tests/pd/test_training.py
Due: Python

fix
  deepmd/pd/train/training.py
  source/tests/pd/test_training.py
Due: Python

Clarify CPU-specific thread warning
  deepmd/env.py
  deepmd/pd/utils/env.py
  deepmd/pt/utils/env.py
  deepmd/tf/env.py
Due: Python

Handle atom_pref mask in force metrics
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Due: Python

fix conversations
  deepmd/pt/infer/deep_eval.py
  deepmd/utils/model_branch_dict.py
Due: Python

fix uts
  deepmd/pd/model/task/fitting.py
  deepmd/tf/fit/ener.py
Due: Python

fix bugs
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Revert test_cuda.yml due to nccl incompatibility
  .github/workflows/test_cuda.yml
Due: none

chore(CI): bump PyTorch from 2.7 to 2.8 (#4884)
  .devcontainer/download_libtorch.sh
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
  backend/find_pytorch.py
Due: none

add acc_freq doc
  deepmd/utils/argcheck.py
Due: Python

fix(pd): change numel function return type from int to size_t to prevent overflow (#4924)
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

Init branch
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

not using atom_pref as mask when calculating raw force metrics
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Due: Python

Update DeepPotPT.cc
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

wrapped a func
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
Due: C++ API

fix const
  source/api_cc/include/common.h
  source/api_cc/src/common.cc
Due: C++ API

Update test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

fix uts
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/jax/fitting/fitting.py
  deepmd/pt/model/task/fitting.py
  source/tests/consistent/fitting/test_ener.py
Due: Python

refine docstring
  deepmd/utils/argcheck.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Potential fix for code scanning alert no. 9893: Unused local variable
  source/tests/tf/test_stat_file.py
Due: none

feat(pd): support gradient accumulation (#4920)
  deepmd/pd/train/training.py
  deepmd/utils/argcheck.py
  source/tests/pd/test_training.py
Due: Python

feat(pt): add model branch alias (#4883)
  deepmd/entrypoints/show.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/utils/finetune.py
  deepmd/utils/argcheck.py
  deepmd/utils/model_branch_dict.py
  examples/water_multi_task/pytorch_example/input_torch_with_alias.json
  source/tests/common/test_examples.py
  source/tests/pt/test_dp_show.py
Due: Python

Update fitting.py
  source/tests/array_api_strict/fitting/fitting.py
Due: none

Potential fix for code scanning alert no. 9901: Unused local variable
  deepmd/tf/entrypoints/change_bias.py
Due: Python

feat(ci): skip workflows on bot branches to avoid redundant CI runs (#4916)
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/mirror_gitee.yml
  .github/workflows/package_c.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
Due: none

Refactor change-bias documentation for clarity
  doc/model/change-bias.md
Due: none

test: cover new data flags
  deepmd/entrypoints/test.py
  deepmd/main.py
  source/tests/common/test_argument_parser.py
  source/tests/pt/test_dp_test.py
Due: Python

feat: handle masked forces in test (#4893)
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Due: Python

feat: add comprehensive type hints to core modules excluding backends and tests (#4936)
  deepmd/__init__.py
  deepmd/calculator.py
  deepmd/common.py
  deepmd/entrypoints/convert_backend.py
  deepmd/entrypoints/doc.py
  deepmd/entrypoints/eval_desc.py
  deepmd/entrypoints/gui.py
  deepmd/entrypoints/ipi.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/entrypoints/show.py
  deepmd/entrypoints/test.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/model_devi.py
  deepmd/loggers/loggers.py
  deepmd/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/batch_size.py
  deepmd/utils/compat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/econf_embd.py
  deepmd/utils/finetune.py
  deepmd/utils/model_branch_dict.py
  deepmd/utils/model_stat.py
  deepmd/utils/pair_tab.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  deepmd/utils/random.py
  deepmd/utils/spin.py
  deepmd/utils/summary.py
  deepmd/utils/tabulate.py
  deepmd/utils/update_sel.py
  doc/sphinx_contrib_exhale_multiproject.py
  pyproject.toml
  source/tests/consistent/descriptor/common.py
Due: Python

Revert "fix: resolve TorchScript compilation errors for PyTorch backend"
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/pt/model/model/ener_model.py
Due: Python

make TorchScript happy
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/model/dp_model.py
Due: Python

Fix tests
  deepmd/tf/fit/dipole.py
  source/tests/consistent/fitting/test_dipole.py
Due: Python

feat: support using train/valid data from input.json for dp test (#4859)
  deepmd/entrypoints/test.py
  deepmd/main.py
  source/tests/common/test_argument_parser.py
  source/tests/pt/test_dp_test.py
Due: Python

feat(tf): implement change-bias command (#4927)
  .gitignore
  deepmd/main.py
  deepmd/tf/entrypoints/__init__.py
  deepmd/tf/entrypoints/change_bias.py
  deepmd/tf/entrypoints/main.py
  doc/model/change-bias.md
  source/tests/tf/test_change_bias.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
