Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Update test_dpa3.py
  source/tests/consistent/descriptor/test_dpa3.py
Due: none

fix ut
  deepmd/dpmodel/model/dipole_model.py
  deepmd/dpmodel/model/dos_model.py
  deepmd/dpmodel/model/dp_zbl_model.py
  deepmd/dpmodel/model/polar_model.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_linear_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/make_hessian_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/model/spin_model.py
Due: Python

Update test_deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval.py
Due: none

deleted logs
  py_diff.patch
  run_diff.sh
Due: none

fix ut
  deepmd/pt/modifier/base_modifier.py
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt/test_data_modifier.py
  source/tests/pt_expt/export_helpers.py
  source/tests/pt_expt/model/test_export_pipeline.py
Due: Python

fix(pt_expt): fail fast on with-comm artifact errors instead of silently zeroing
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/op/pt/comm.cc
Due: OP, C++ API

test(pt_expt): cover with-comm artifact load-failure dispatch guard
  source/api_cc/tests/test_with_comm_load_failure_ptexpt.cc
  source/tests/infer/gen_corrupt_with_comm.py
Due: C++ API

make charge_spin last-input
  deepmd/dpmodel/model/ener_model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt_expt/model/dipole_model.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/model/dp_linear_model.py
  deepmd/pt_expt/model/dp_zbl_model.py
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/model/polar_model.py
  deepmd/pt_expt/model/property_model.py
  deepmd/pt_expt/model/spin_ener_model.py
  deepmd/pt_expt/model/spin_model.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/train/wrapper.py
Due: Python

Update repflow_layer.py
  deepmd/pt/model/descriptor/repflow_layer.py
Due: Python

fix ut
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
  source/tests/pd/model/test_dpa3.py
  source/tests/pt_expt/model/test_ener_model.py
  source/tests/pt_expt/model/test_spin_ener_model.py
  source/tests/pt_expt/test_training.py
Due: Python

Update repflows.py
  deepmd/dpmodel/descriptor/repflows.py
Due: Python

Update test_dpa3.py
  source/tests/pt/model/test_dpa3.py
Due: none

fix hlo
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/model/hlo.py
Due: Python

fix comment
  deepmd/utils/argcheck.py
  source/tests/consistent/loss/test_ener.py
  source/tests/pt/test_loss_default_pf.py
Due: Python

fix(pt): Treat cuBLAS allocation failures as PyTorch OOM during auto batch sizing
  deepmd/pt/utils/auto_batch_size.py
  source/tests/pt/test_auto_batch_size.py
Due: Python

add ut
  source/tests/consistent/descriptor/test_dpa3.py
Due: none

chore: silence CodeQL alerts on PR #5430
  source/op/pt/comm.cc
  source/tests/pt_expt/descriptor/test_hybrid.py
  source/tests/pt_expt/descriptor/test_repflow_parallel.py
  source/tests/pt_expt/descriptor/test_repformer_parallel.py
  source/tests/pt_expt/model/test_export_with_comm.py
  source/tests/pt_expt/model/test_spin_export_with_comm.py
  source/tests/pt_expt/utils/test_border_op_backward.py
Due: OP

Update test_loss_default_pf.py
  source/tests/pt/test_loss_default_pf.py
Due: none

CI(deps): Update jax (cpu) version to 0.10.0 in pyproject.toml
  pyproject.toml
Due: none

Update JAX version constraints in pyproject.toml
  pyproject.toml
Due: none

Potential fix for pull request finding
  pyproject.toml
Due: none

test(infer): swap se_e2_a fixture to deeppot_sea (type_one_side=True)
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/deeppot.yaml
  source/tests/infer/test_models.py
Due: none

test(infer): per-key tolerance — tighten se_e2_a / se_e2_r to 1e-12
  source/tests/infer/test_models.py
Due: none

fix(infer): strip internal fields from deeppot_sea model_def_script
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/deeppot_sea.yaml
Due: none

test(infer): swap se_e2_a fixture to deeppot_sea (type_one_side=True) (#5445)
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/deeppot.yaml
  source/tests/infer/deeppot_sea.yaml
  source/tests/infer/test_models.py
Due: none

feat(pt/dpmodel): add sequential_update for dpa3 (#5355)
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pt/model/test_dpa3.py
Due: Python

update doc
  doc/model/train-energy.md
  doc/model/train-se-a-mask.md
Due: none

fix comments
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/model/make_model.py
  deepmd/jax/model/base_model.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

feat(pt/dpmodel): add use_default_pf (#5356)
  deepmd/dpmodel/loss/ener.py
  deepmd/pd/loss/ener.py
  deepmd/pt/loss/ener.py
  deepmd/tf/loss/ener.py
  deepmd/utils/argcheck.py
  doc/model/train-energy.md
  source/tests/consistent/loss/test_ener.py
  source/tests/pt/test_loss_default_pf.py
Due: Python

fix jit
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

test(infer): drop stale DPA2 .pth fixtures, repoint LAMMPS tests to deeppot_dpa2
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/tests/infer/deeppot_dpa.pth
  source/tests/infer/deeppot_dpa_sel.pth
Due: C++ API, LAMMPS

test(lmp): rename test_lammps_dpa_{pt,pt_nopbc}.py to test_lammps_dpa2_*, drop sel duplicate
  source/lmp/tests/test_lammps_dpa2_pt.py
  source/lmp/tests/test_lammps_dpa2_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
Due: LAMMPS

test(api_cc): restore NoPbc atomic .pth cases dropped with test_deeppot_dpa_pt.cc
  source/api_cc/tests/test_deeppot_dpa2_pt.cc
Due: C++ API

test(lmp): inline expected_e sum, drop unused expected_ae module global
  source/lmp/tests/test_lammps_dpa2_pt.py
  source/lmp/tests/test_lammps_dpa2_pt_nopbc.py
Due: LAMMPS

Add mixed-batch LMDB training support for DPA3
  deepmd/pt/loss/ener.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
  doc/development/lmdb-mixed-system-batching.md
  source/tests/pt/test_lmdb_dataloader.py
  source/tests/pt/test_loss.py
Due: Python

test(lmdb): add local mixed-batch run config
  .gitignore
  test_mixed_batch.sh
  test_mptraj/lmdb_baseline.json
  test_mptraj/lmdb_mixed_batch.json
Due: none

fix(pt): restore distributed and lmdb collate imports
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
Due: Python
