Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Update hybrid.py
  deepmd/dpmodel/descriptor/hybrid.py
Due: Python

add type sel
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/common.cc
Due: Python, C++ API

fix merge error
  deepmd/pt/model/model/make_model.py
Due: Python

update model file
  source/tests/infer/deeppot_sea.pth
Due: none

add type sel ut
  source/api_cc/tests/test_deeppot_pt.cc
Due: C++ API

update fparam file
  source/tests/infer/fparam_aparam.pth
Due: none

export ut input
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix error
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

chore: add dev doc
  doc/development/create-a-model.md
Due: none

fix: precommit
  doc/development/create-a-model.md
Due: none

fix: update arg register
  doc/development/create-a-model.md
Due: none

Update hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

fix: rephrase
  doc/development/create-a-model.md
Due: none

Update fitting.py
  deepmd/pt/model/task/fitting.py
Due: Python

update docstring
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pt/model/task/fitting.py
Due: Python

fix bug: use nall_real instead of nall
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

sync descriptor alias (#3374)
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
Due: Python

remove commonPT file
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/commonPT.cc
Due: C++ API

feat: atom_ener in energy fitting (#3370)
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/ener.py
  source/tests/consistent/fitting/test_ener.py
Due: Python

add missing include
  source/api_cc/include/DeepPotPT.h
Due: C++ API

pt: supprot `--output` in `dp train`
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
Due: Python

fix: split tf/pt
  doc/development/create-a-model-pt.md
  doc/development/create-a-model-tf.md
  doc/index.rst
Due: none

Merge `change_energy_bias` and fix finetune
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/finetune.py
  deepmd/tf/fit/ener.py
  deepmd/utils/finetune.py
  source/tests/pt/test_training.py
Due: Python

fix: remove section
  doc/development/create-a-model-pt.md
Due: none

docs: DPRc for PT, DPModel (#3373)
  doc/model/dprc.md
Due: none

fix: rephrase
  doc/development/create-a-model-pt.md
Due: none

pt: supprot `--output` in `dp train` (#3377)
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
Due: Python

pt: add real atoms select in c++ interface (#3375)
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/common.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/common.cc
  source/api_cc/src/commonPT.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/tests/infer/deeppot_sea.pth
  source/tests/infer/fparam_aparam.pth
Due: Python, C++ API

add doc for parallel trainning in pytorch
  doc/train/parallel-training.md
Due: none

Add ut and doc
  deepmd/pt/model/task/fitting.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

Fix uts
  deepmd/pt/model/task/ener.py
  source/tests/common/test_examples.py
  source/tests/pt/water_tensor/se_e2_a.json
Due: Python

tf: remove freeze warning for optional nodes
  deepmd/tf/entrypoints/freeze.py
Due: Python

still need to do intersection
  deepmd/tf/entrypoints/freeze.py
Due: Python

improve warning
  deepmd/tf/entrypoints/freeze.py
Due: Python

fix: prevent deepmd.tf to be imported globally
  deepmd/utils/compat.py
  doc/conf.py
  pyproject.toml
  source/tests/tf/test_uni_infer.py
Due: Python

Remove test_uni_infer.py; they are now the same class
  source/tests/tf/test_uni_infer.py
Due: none

Add trainable settings for pt (#3371)
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
