Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

feat: add PyTorch profiler support to LAMMPS MD (#4969)
  doc/env.md
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

style(jax): enable ANN rule and add comprehensive type hints to JAX backend (#4967)
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/common.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/format_nlist.py
  deepmd/jax/jax2tf/make_model.py
  deepmd/jax/jax2tf/nlist.py
  deepmd/jax/jax2tf/region.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/dp_model.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/model/hlo.py
  deepmd/jax/model/model.py
  deepmd/jax/utils/neighbor_stat.py
  deepmd/jax/utils/network.py
  deepmd/jax/utils/serialization.py
  pyproject.toml
Due: Python

perf: fix cuda-aware mpi in v3
  source/op/pt/comm.cc
Due: OP

perf: fix cuda-aware mpi in v3 (#4977)
  source/op/pt/comm.cc
Due: OP

Add RUF059 to ignore list in pyproject.toml
  pyproject.toml
Due: none

fix: change eV/A to eV/Å
  deepmd/entrypoints/test.py
Due: Python

fix: change eV/A to eV/Å for dp test (#4978)
  deepmd/entrypoints/test.py
Due: Python

fix: fix unit display in dp test
  deepmd/entrypoints/test.py
Due: Python

Update log statements to use f-strings
  deepmd/entrypoints/test.py
Due: Python

mad
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/network/utils.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  examples/water/dpa3/input_torch.json
Due: Python

docs: move copilot-instructions.md to AGENTS.md (#4982)
  AGENTS.md
Due: none

fix: fix unit display in dp test (#4980)
  deepmd/entrypoints/test.py
Due: Python

fix(tf): make dipole, polar, and dos models consistent with dpmodel (#4962)
  .gitignore
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/dos.py
  deepmd/tf/model/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/model/tensor.py
  source/tests/consistent/common.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_polar.py
  source/tests/tf/test_out_bias_std.py
Due: Python

support paddle inference in deepeval
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/task/fitting.py
Due: Python

docs: clarify atomic_dipole meaning for DPLR models (#4979)
  doc/model/dplr.md
Due: none

fix bugs in deeppotpd.cc
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

fix
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

support deeppot for json:
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  source/api_cc/src/DeepPotPD.cc
  source/tests/pd/model/test_deeppot.py
Due: Python, C++ API

update ase document
  doc/third-party/ase.md
Due: none

support get_dim_fparam and get_dim_aparam
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/task/fitting.py
Due: Python

refine code
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/task/fitting.py
Due: Python

refine code
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/task/fitting.py
Due: Python

fix UT
  source/tests/pd/model/test_deeppot.py
Due: none

fix
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/task/fitting.py
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
  source/tests/infer/deeppot_sea.pdiparams
Due: Python

fix
  deepmd/pd/entrypoints/main.py
  doc/third-party/ase.md
  source/api_cc/src/DeepPotPD.cc
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
  source/tests/infer/deeppot_sea.pdiparams
Due: Python, C++ API

restore
  source/api_cc/src/DeepPotPD.cc
Due: C++ API

fix
  deepmd/pd/infer/deep_eval.py
  doc/third-party/ase.md
  source/api_cc/src/DeepPotPD.cc
Due: Python, C++ API

fix conversion of type_map
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/task/fitting.py
Due: Python

fix code QL
  deepmd/pd/infer/deep_eval.py
Due: Python

fix
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  source/tests/pd/model/test_descriptor_dpa1.py
  source/tests/pd/model/test_descriptor_dpa2.py
Due: Python

fix
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/task/fitting.py
Due: Python

bump paddle to 3.2.0
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

fix masked_add__decomp
  deepmd/pd/utils/decomp.py
Due: Python

bump to 3.1.1
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

restore to 3.0.0
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  source/tests/pd/model/test_deeppot.py
Due: none

add deep_eval_test
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/utils/stat.py
  source/tests/pd/model/test_atomic_model_atomic_stat.py
Due: Python

fix type annotations and refine docstrings
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/task/fitting.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
