Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

compute_output_stats_global now applies atom_exclude_types mask to natoms before computing output bias
  deepmd/dpmodel/utils/stat.py
Due: Python

doc: align repformer channel description with MP equation
  doc/model/dpa2.md
Due: none

fix stat: inconsistency in global sampled index between dp and pt backends
  deepmd/dpmodel/utils/stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/utils/stat.py
Due: Python

support mixed type in dpmodel, add consistency test for backends
  deepmd/dpmodel/utils/stat.py
  source/tests/consistent/utils/__init__.py
  source/tests/consistent/utils/test_stat.py
Due: Python

does not change input data
  deepmd/dpmodel/utils/stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/utils/stat.py
  source/tests/consistent/utils/test_stat.py
Due: Python

add consistency test between dp and pd
  source/tests/consistent/utils/test_stat.py
Due: none

rm unused natoms.
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/pd/utils/env_mat_stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/utils/stat.py
Due: Python

test the stat is changed
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
Due: none

rm unused methods
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
Due: none

use deep copy
  source/tests/consistent/model/test_ener.py
Due: none

fix: set NULL type to -1
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Due: LAMMPS

test(dpa): add test for lammps NULL type
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

test(dpa): test NULL type with hybrid potential
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

revert old fix
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
Due: C++ API

use own comm data for remapped sendlist
  source/api_cc/include/DeepPotPD.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_select_real_atoms_sendlist.cc
Due: C++ API

test: update test for lammps null type
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

test: add test for lammps null type
  source/lmp/tests/test_lammps.py
Due: LAMMPS

Update common.cc
  source/api_cc/src/common.cc
Due: C++ API

test: use lammps hybrid potential to test NULL type
  source/lmp/tests/test_lammps.py
Due: LAMMPS

test: use lammps hybrid potential to test NULL type
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

Extracted compare_variables_recursive to source/tests/consistent/model/common.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_dos.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
  source/tests/consistent/model/test_zbl_ener.py
Due: none

add _ for helpers
  deepmd/dpmodel/utils/stat.py
  deepmd/pd/utils/stat.py
  deepmd/pt/utils/stat.py
  source/tests/consistent/utils/test_stat.py
Due: Python

fix(tf): add assertion for homogeneous batch in natoms_not_match
  deepmd/tf/descriptor/se_a.py
Due: Python

feat(pt): support spin virial
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/model/transform_output.py
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt/model/test_nosel.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/pt/model/test_model.py
Due: Python, C++ API, C API

Update virial and add UT.
  deepmd/tf/descriptor/se_a.py
  source/api_cc/src/DeepSpinTF.cc
  source/tests/tf/test_model_spin.py
Due: Python, C++ API

fix(test): address code review comments on virial validation
  log.lammps
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/tests/test_lammps_spin.py
Due: C++ API, LAMMPS

fix tf model for virial and update UT results.
  doc/model/train-energy-spin.md
  log.lammps
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/tests/test_lammps_spin.py
  source/lmp/tests/test_lammps_spin_nopbc.py
  source/lmp/tests/test_lammps_spin_pt.py
  source/tests/infer/deepspin.pbtxt
  source/tests/infer/deepspin_nlist-2.pbtxt
  source/tests/infer/deepspin_nlist.pbtxt
  source/tests/tf/test_deeppot_spin.py
  source/tests/tf/test_init_frz_model_spin.py
  source/tests/tf/test_model_spin.json
Due: C++ API, LAMMPS

update model
  deepmd/pt/model/model/transform_output.py
  doc/model/train-energy-spin.md
  source/api_c/tests/test_deepspin_a.cc
  source/api_c/tests/test_deepspin_a_hpp.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/api_cc/tests/test_deepspin_model_devi.cc
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
  source/tests/infer/deeppot_dpa_spin.pth
  source/tests/pt/model/test_nosel.py
Due: Python, C++ API, C API, LAMMPS

refactor(optimizer): finalize optimizer schema and backend handling
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/compat.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-property.md
  doc/model/train-fitting-tensor.md
  doc/train/training-advanced.md
  source/tests/pd/test_training.py
  source/tests/pt/model/water/lkf.json
  source/tests/pt/test_training.py
Due: Python

update input jsons
  source/tests/pd/model/water/multitask.json
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/model/water/se_atten.json
  source/tests/pd/model/water/se_e2_a.json
  source/tests/pt/dos/input.json
  source/tests/pt/model/models/se_e2_a.json
  source/tests/pt/model/water/multitask.json
  source/tests/pt/model/water/multitask_sharefit.json
  source/tests/pt/model/water/se_atten.json
  source/tests/pt/model/water/se_e2_a.json
  source/tests/pt/model/water/zbl.json
  source/tests/pt/model_compression/input.json
  source/tests/pt/property/input.json
  source/tests/pt/water_tensor/se_e2_a.json
Due: none

fix: add argcheck normalizer to tf unit test
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
Due: none

refactor opt initialization
  deepmd/pt/train/training.py
Due: Python

fix: add update_deepmd_input to tf unit test
  source/tests/tf/data_modifier/dipole.json
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
Due: none

fix: remove dead code and redundant assignments in dpmodel atomic models
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
Due: Python

feat(pt, dpmodel): use data stat for observed type
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/utils/stat.py
  deepmd/entrypoints/show.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  source/tests/consistent/test_observed_type.py
  source/tests/pt/test_observed_type.py
Due: Python

fix UT
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/spin_model.py
  source/tests/pt/test_observed_type.py
Due: Python

feat(pt_expt): add training infrastructure using DeepmdDataSystem
  deepmd/backend/pt_expt.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/model/base_model.py
  deepmd/pt_expt/entrypoints/__init__.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/model/__init__.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/train/__init__.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/train/wrapper.py
  deepmd/pt_expt/utils/stat.py
  source/tests/pt_expt/test_training.py
Due: Python

fix: comment
  deepmd/entrypoints/test.py
  deepmd/utils/data.py
Due: Python

fix bug in test
  deepmd/pt_expt/train/training.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
