Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

test: add LAMMPS MPI tests (#3572)
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  source/lmp/tests/run_mpi_pair_deepmd.py
  source/lmp/tests/test_lammps.py
Due: LAMMPS

chore: remove incorrect memset TODOs (#3600)
  source/lib/src/gpu/prod_env_mat.cu
Due: Core

pin nvidia-cudnn-cu{11,12} to <9 (#3610)
  backend/dynamic_metadata.py
Due: none

chore(build): move static part of dynamic metadata to pyproject.toml (#3618)
  backend/dynamic_metadata.py
  pyproject.toml
Due: none

fix: fix type hint of sel (#3624)
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ebd_v2.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_atten_v2.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd_utils/model_format/se_e2_a.py
Due: Python

fix(tf): make `se_atten_v2` masking smooth when davg is not zero (#3632)
  deepmd/descriptor/se_atten.py
Due: Python

feat: model devi C/C++ API without nlist (#3647)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_model_devi_fparam_aparam.cc
Due: C++ API, C API

docs: Replace quick_start.ipynb with a new version. (#3567)
  doc/getting-started/quick_start.ipynb
Due: none

fix AlmaLinux GPG key error (#3326)
  pyproject.toml
Due: none

docs: add deprecation notice for the official conda channel and more conda docs (#3462)
  doc/install/build-conda.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
Due: none

[r2] fix NeighborStat (#207)
  deepmd/utils/neighbor_stat.py
Due: Python

support preset atom bias. add doc str to base atomic model
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/stat.py
  deepmd/utils/out_stat.py
  source/tests/pt/model/test_atomic_model_stat.py
Due: Python

solve name conflict
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

fix bugs
  deepmd/pt/model/task/invar_fitting.py
  source/tests/pt/test_stat.py
Due: Python

Update source/tests/pt/test_multitask.py
  source/tests/pt/test_multitask.py
Due: none

add doc str
  deepmd/pt/model/atomic_model/base_atomic_model.py
Due: Python

bump python to 3.12 in the test environment (#3343)
  .github/workflows/test_python.yml
  backend/find_tensorflow.py
  deepmd/descriptor/se_atten.py
  deepmd/env.py
Due: Python

fix: do not install tf-keras for cu11 (#3444)
  backend/find_tensorflow.py
Due: none

bump scikit-build-core to 0.8 (#3369)
  pyproject.toml
Due: none

pin docker actions to major versions (#3238)
  .github/workflows/build_wheel.yml
Due: none

fix deepmd-kit-cu11 again (#3403)
  .github/workflows/build_wheel.yml
  pyproject.toml
Due: none

tf: add fparam/aparam support for finetune (#3313)
  deepmd/fit/ener.py
Due: Python

tf: support checkpoint path (instead of directory) in dp freeze (#3254)
  deepmd/entrypoints/freeze.py
  deepmd_utils/main.py
Due: Python

c: change the required shape of electric field to nloc * 3 (#3237)
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
Due: C++ API, C API

Fix LAMMPS plugin symlink path on macOS platform (#3473)
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

issue template: change TF version to backend version (#3244)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/generic-issue.yml
Due: none

ci: reduce ASLR entropy (#3461)
  .github/workflows/test_cc.yml
Due: none

fix_dplr.cpp delete redundant setup (#3344)
  source/lmp/fix_dplr.cpp
Due: LAMMPS

ban print (#3415)
  data/raw/copy_raw.py
  data/raw/shuffle_raw.py
  deepmd_utils/entrypoints/doc.py
  doc/sphinx_contrib_exhale_multiproject.py
  pyproject.toml
  source/tests/common.py
  source/tests/test_adjust_sel.py
  source/tests/test_finetune_se_atten.py
  source/tests/test_mixed_prec_training.py
  source/tests/test_model_compression_se_a.py
  source/tests/test_model_compression_se_a_ebd.py
  source/tests/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/test_model_compression_se_a_type_one_side_exclude_types.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_compression_se_r.py
  source/tests/test_model_compression_se_t.py
  source/tests/test_parallel_training.py
  source/tests/test_transfer.py
Due: none

Add `max_ckpt_keep` for trainer (#3441)
  deepmd/train/trainer.py
  deepmd_utils/utils/argcheck.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
