Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

`se_r` has been supported
  deepmd/utils/argcheck.py
Due: Python

checkpoint
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/utils/update_sel.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/dp_zbl_model.py
Due: Python

add @version to serialization data
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/version.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
Due: Python

fix py38 compatibility
  deepmd/dpmodel/utils/update_sel.py
  deepmd/pt/utils/update_sel.py
  deepmd/tf/utils/update_sel.py
  deepmd/utils/update_sel.py
Due: Python

fix codeql warning
  deepmd/utils/update_sel.py
Due: Python

add version info to NN and PairTab
  deepmd/dpmodel/utils/network.py
  deepmd/utils/pair_tab.py
Due: Python

pt: support `--init-frz-model`
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
Due: Python

fix imports
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
  deepmd/utils/pair_tab.py
  deepmd/utils/version.py
Due: Python

apply PluginVariant and make_plugin_registry to classes (#3346)
  deepmd/backend/backend.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/model/base_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/__init__.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/linear.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  deepmd/tf/model/pairtab.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/utils/plugin.py
Due: Python

to be compatible with old tests
  deepmd/dpmodel/utils/network.py
Due: Python

fix: se_r prod_env_mat
  deepmd/pt/utils/env_mat_stat.py
Due: Python

remove memset
  source/api_cc/src/commonPT.cc
Due: C++ API

add tests
  deepmd/pt/train/training.py
  source/tests/pt/test_init_frz_model.py
Due: Python

try to resize atom energy
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix atom ener size
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

rcond
  deepmd/utils/data_system.py
Due: Python

to_numpy_array
  deepmd/pt/model/task/ener.py
Due: Python

precision transfer in common api and skip type sel tests
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  source/api_cc/tests/test_deeppot_pt.cc
Due: Python, C++ API

del ener model precison
  deepmd/pt/model/model/ener_model.py
Due: Python

Update test_permutation.py
  source/tests/pt/model/test_permutation.py
Due: none

feat: add fail UTs
  source/tests/pt/model/test_descriptor_se_r.py
Due: none

support atomic; support std
  deepmd/pt/model/task/ener.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  source/tests/tf/common.py
Due: Python

rename to compute_output_stats
  deepmd/tf/fit/polar.py
Due: Python

Update deep_eval.py
  deepmd/tf/infer/deep_eval.py
Due: Python

add tests
  deepmd/pt/model/task/ener.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  source/tests/common/test_out_stat.py
  source/tests/tf/common.py
Due: Python

fix typo
  deepmd/tf/fit/ener.py
Due: Python

updata test model
  source/tests/infer/deeppot_sea.pth
Due: none

fix: cast input and output types at model's interface
  deepmd/pt/model/model/make_model.py
  source/tests/pt/model/test_dp_model.py
Due: Python

fix: cuda
  source/tests/pt/model/test_descriptor_se_r.py
Due: none

convert box, fparam, aparam
  deepmd/pt/model/model/make_model.py
Due: Python

add @version to serialization data (#3349)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
  deepmd/utils/pair_tab.py
  deepmd/utils/version.py
Due: Python

fix LD_LIBRARY_PATH
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
Due: none

consistent box
  source/ipi/tests/test_driver.py
Due: i-Pi

fix codeql warning
  source/api_cc/src/DeepPot.cc
Due: C++ API

add tests for ipi and lammps
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_lammps_pt.py
Due: LAMMPS, i-Pi

fix model path
  source/ipi/tests/test_driver.py
Due: i-Pi

remove commented codes
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Fix: se_r prod_env_mat (#3351)
  deepmd/pt/utils/env_mat_stat.py
  source/tests/pt/model/test_descriptor_se_r.py
Due: Python

store reference std
  source/tests/common/test_out_stat.py
Due: none

dpmodel support type cast
  deepmd/dpmodel/common.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/utils/exclude_mask.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_dp_model.py
Due: Python
