Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

support list batch size
  deepmd/pt/utils/dataloader.py
Due: Python

fix compile error
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_pt.py
Due: C++ API, LAMMPS

fix get gpu num
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Fix bug in `preprocess_shared_params` when using non-zero share level
  deepmd/pt/utils/multi_task.py
Due: Python

fix gpu id
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

MyST table of content & fix 2.4.1 1.
  doc/getting-started/quick_start.ipynb
Due: none

MyST table of content & fix 2.4.1 1. again
  doc/getting-started/quick_start.ipynb
Due: none

Fix fine-tuning entries bug when doing restart.
  deepmd/pt/train/training.py
Due: Python

Fix bug in `preprocess_shared_params` when using non-zero share level (#3615)
  deepmd/pt/utils/multi_task.py
Due: Python

implement electronic configuration embedding (#3609)
  backend/dynamic_metadata.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Due: Python

Remove the html tag for title
  doc/getting-started/quick_start.ipynb
Due: none

feat: consistent type embedding
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/network/network.py
  deepmd/tf/env.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/type_embed.py
  source/tests/consistent/test_type_embedding.py
  source/tests/pt/model/models/dpa2_tebd.pth
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
Due: Python

assert systems and batch sizes have the same length
  deepmd/pt/utils/dataloader.py
Due: Python

set explict ntyps
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_embed.py
Due: none

fix typo
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_ebd_v2.py
Due: none

fix ener seg fault
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

test
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

fix float exception
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

remove gpu input when call on cpu
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Fix fine-tuning entries bug when doing restart. (#3616)
  deepmd/pt/train/training.py
Due: Python

chore(build): move static part of dynamic metadata to pyproject.toml
  backend/dynamic_metadata.py
  pyproject.toml
Due: none

chore(build): move static part of dynamic metadata to pyproject.toml (#3618)
  backend/dynamic_metadata.py
  pyproject.toml
Due: none

pt: make gelu jit happy
  deepmd/pt/utils/utils.py
Due: Python

use unified activation
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/network/network.py
  deepmd/pt/utils/utils.py
  source/tests/consistent/test_activation.py
Due: Python

fix c++ interface bug (#3613)
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_pt.py
Due: C++ API, LAMMPS

pt: support list format batch size (#3614)
  deepmd/pt/utils/dataloader.py
Due: Python

pt: use unified activation (#3619)
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/network/network.py
  deepmd/pt/utils/utils.py
  source/tests/consistent/test_activation.py
Due: Python

remove default value of neuron
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/network/network.py
  deepmd/tf/utils/type_embed.py
Due: Python

pt: add op library
  backend/find_pytorch.py
  backend/read_env.py
  deepmd/pt/__init__.py
  deepmd/pt/cxx_op.py
  deepmd/pt/entrypoints/main.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/common.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/print_summary.cc
Due: Python, OP, C++ API

fix error
  source/api_cc/src/common.cc
Due: C++ API

set build rpath
  source/api_cc/CMakeLists.txt
Due: C++ API

change BUILD_RPATH
  source/api_cc/CMakeLists.txt
Due: C++ API

fix: change atomic to atom
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/entrypoints/test.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_polar_stat.py
Due: Python

fix: var_name
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/polar.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_polar.py
Due: Python

feat(pt): add op library (#3620)
  backend/find_pytorch.py
  backend/read_env.py
  deepmd/pt/__init__.py
  deepmd/pt/cxx_op.py
  deepmd/pt/entrypoints/main.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/common.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/print_summary.cc
Due: Python, OP, C++ API

apply exclude_types to data stat
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
Due: Python

fix: fix type hint of sel
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/tf/descriptor/loc_frame.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ebd.py
  deepmd/tf/descriptor/se_a_ebd_v2.py
  deepmd/tf/descriptor/se_a_ef.py
  deepmd/tf/descriptor/se_a_mask.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
Due: Python

se_r
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_r.py
Due: Python
