Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(dpmodel): neutralize normalization for virtual EnvMat centers
  deepmd/dpmodel/utils/env_mat.py
  source/tests/common/dpmodel/array_api/test_env_mat.py
Due: Python

docs: implement merge_domaindata for the dargs domain
  doc/conf.py
Due: none

test(pt_expt): patch is_lmdb at its source module
  source/tests/pt_expt/test_lmdb_training.py
Due: none

fix(dpa4): calibrate bias with complete model output
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/model/sezm_property_model.py
  deepmd/pt/model/model/sezm_spin_model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/model/test_sezm_spin_model.py
  source/tests/pt/test_training.py
Due: Python

feat(pt): allow torch.compile on PyTorch 2.13
  deepmd/pt/utils/compile_compat.py
  source/tests/pt/model/test_sezm_model.py
Due: Python

feat(dpa1): add compressible l=2 moments across PT backends
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/kernels/cuda/dpa1/canonical.py
  deepmd/kernels/cuda/dpa1/graph_compress.py
  deepmd/kernels/cuda/dpa1/graph_descriptor.py
  deepmd/kernels/cuda/dpa1/graph_energy_force.py
  deepmd/kernels/triton/dpa1/se_conv.py
  deepmd/kernels/triton/dpa1/sweep_tile_configs.py
  deepmd/kernels/triton/dpa1/tile_configs.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/dpa1_graph_common.cuh
  source/op/pt/dpa1_graph_compress.cu
  source/op/pt/dpa1_graph_compress_tuning.h
  source/op/pt/dpa1_graph_descriptor.cu
  source/op/pt/dpa1_graph_energy_force.cu
  source/op/pt/dpa1_moment_basis.cuh
  source/op/pt/graph_ops.h
  source/op/pt/tabulate_multi_device.cc
  source/tests/common/dpmodel/test_descriptor_dpa1.py
  source/tests/common/dpmodel/test_dpa1_call_graph_block.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_descriptor_dpa1_triton.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/test_tabulate_fusion_se_atten.py
  source/tests/pt_expt/descriptor/test_dpa1.py
  source/tests/pt_expt/descriptor/test_dpa1_cuda.py
  source/tests/pt_expt/descriptor/test_se_atten_v2.py
Due: Python, OP, Core

fix(pt_expt): preserve graph routing for raw checkpoints
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

perf(pt_expt): auto-select scalable graph builders
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

perf(pt_expt): use scalable graph builders during training
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/graph_builder.py
  deepmd/pt_expt/utils/nv_graph_builder.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_neighbor_graph_builder.py
  source/tests/pt_expt/model/test_graph_builder_dispatch.py
  source/tests/pt_expt/test_training.py
  source/tests/pt_expt/utils/test_nv_graph_builder.py
Due: Python

feat(pt_expt): add HybridMuon and shared compile safeguards
  deepmd/pt_expt/train/training.py
Due: Python

perf(lmdb): parallelize batch decoding across PT backends
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/env.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  doc/env.md
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
  source/tests/pt_expt/test_lmdb_training.py
  source/tests/pt_expt/utils/test_env.py
Due: Python

feat(pt_expt): derive the run length from training epochs
  deepmd/dpmodel/train/__init__.py
  deepmd/dpmodel/train/schedule.py
  deepmd/pt/train/training.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_train_schedule.py
  source/tests/pt_expt/test_lmdb_training.py
  source/tests/pt_expt/test_multitask.py
  source/tests/pt_expt/test_training.py
  source/tests/pt_expt/test_training_ddp.py
Due: Python

fix(pt): harden stat filtering and compile coverage
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_sezm_spin_model.py
  source/tests/pt/test_training.py
Due: Python

fix(tf): honor NVNMD tensor neighbor lists (#5845)
  source/op/tf/prod_env_mat_multi_device_nvnmd.cc
  source/tests/tf/test_nvnmd_op.py
Due: OP

fix(data): preserve LMDB label availability across batches (#5839)
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt/train/validation.py
  deepmd/pt/utils/lmdb_dataset.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
  source/tests/pt/test_validation.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

fix(dpa1): harden and split compressed CUDA kernels
  deepmd/kernels/cuda/dpa1/graph_compress.py
  doc/model/train-se-atten.md
  source/lib/include/tabulate.h
  source/lib/src/tabulate.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/dpa1_graph_compress.cu
  source/op/pt/dpa1_graph_compress_c128.cu
  source/op/pt/dpa1_graph_compress_c16.cu
  source/op/pt/dpa1_graph_compress_c256.cu
  source/op/pt/dpa1_graph_compress_c32.cu
  source/op/pt/dpa1_graph_compress_c64.cu
  source/op/pt/dpa1_graph_compress_c8.cu
  source/op/pt/dpa1_graph_compress_kernel.cuh
  source/op/pt/dpa1_graph_compress_launch.h
  source/op/pt/dpa1_graph_compress_tuning.h
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt_expt/descriptor/test_dpa1_cuda.py
Due: Python, OP, Core

fix(tf): strengthen non-PBC neighbor coverage
  deepmd/tf/infer/deep_eval.py
  source/tests/infer/test_models.py
  source/tests/tf/test_deepdipole.py
Due: Python

fix(pt_expt): preserve native-spin graph checkpoint ABI
  deepmd/pt_expt/infer/deep_eval.py
Due: Python

fix(pt): recognize pt_expt bias names in HybridMuon
  deepmd/pt/optimizer/hybrid_muon.py
  source/tests/pt/test_hybrid_muon.py
Due: Python

fix(lmdb): make batch loader a finite iterable
  deepmd/pt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
Due: Python

fix(train): enforce statistics input invariants
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
Due: Python

fix(lmdb): harden schedule and decoder edge cases
  deepmd/dpmodel/train/schedule.py
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/common/dpmodel/test_train_schedule.py
  source/tests/pt_expt/test_training_ddp.py
  source/tests/pt_expt/utils/test_env.py
Due: Python

fix(tf): preserve non-PBC ASE neighbor semantics (#5859)
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/infer/deep_tensor.py
  source/tests/infer/test_models.py
  source/tests/tf/test_deepdipole.py
Due: Python

fix(pd): shape send list by swap count (#5850)
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_select_real_atoms_sendlist.cc
Due: C++ API

refactor(dpa4): unify inner potential naming
  deepmd/dpmodel/atomic_model/inner_potential.py
  deepmd/dpmodel/model/dp_linear_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/utils/__init__.py
  deepmd/pt_expt/utils/inner_potential.py
  deepmd/pt_expt/utils/serialization.py
  source/api_cc/tests/test_deeppot_dpa4_zbl_ptexpt.cc
  source/api_cc/tests/test_deepspin_dpa4_zbl_ptexpt.cc
  source/lmp/tests/test_lammps_dpa4_zbl_pt2.py
  source/tests/common/dpmodel/test_inner_potential.py
  source/tests/common/dpmodel/test_zbl_bridging.py
  source/tests/infer/gen_dpa4_spin_zbl.py
  source/tests/infer/gen_dpa4_zbl.py
  source/tests/pt_expt/model/test_zbl_bridging.py
Due: Python, C++ API, LAMMPS

docs(argcheck): document backend support matrices
  deepmd/utils/argcheck.py
  source/tests/common/test_argcheck_backend_docs.py
Due: Python

fix(pt): share direct descriptor parameters across tasks
  deepmd/pt/model/descriptor/descriptor.py
  source/tests/pt/model/test_dpa1.py
Due: Python

fix(pt_expt): distinguish raw checkpoint backends by weights
  deepmd/backend/pt_expt.py
  deepmd/pt_expt/infer/deep_eval.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

revert(ci): undo AOTI .pt2 compile / GPU test overlap (#5882)
  .github/workflows/test_cuda.yml
  pyproject.toml
  source/install/test_cc_local.sh
  source/tests/conftest.py
Due: none

fix(pt_expt): enforce torch.compile version gate
  deepmd/pt_expt/train/training.py
Due: Python

revert(ci): undo AOTI .pt2 compile / GPU test overlap (#5882) (#5916)
  .github/workflows/test_cuda.yml
  pyproject.toml
  source/install/test_cc_local.sh
  source/tests/conftest.py
Due: none

fix(lmdb): advance sampler state between epochs
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/common/dpmodel/test_lmdb_data.py
Due: Python

fix(pt): harden DPA4 calibration and filtered training
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/compile_compat.py
  deepmd/pt/utils/stat.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/model/test_sezm_spin_model.py
  source/tests/pt/test_training.py
Due: Python

fix(cmake): verify paddle inference download integrity
  source/CMakeLists.txt
Due: none

fix(pt): synchronize multitask batch retries
  deepmd/pt/train/training.py
Due: Python

refactor(model): unify dpmodel backend factories (#5786)
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/model_factory.py
  deepmd/jax/model/model.py
  deepmd/pt_expt/model/get_model.py
  deepmd/tf2/model/model.py
  source/tests/common/dpmodel/test_model_factory.py
  source/tests/consistent/test_tf2_zbl_model.py
  source/tests/jax/test_zbl_model.py
  source/tests/pt_expt/model/test_get_model_zbl.py
Due: Python

fix(pair-tab): reject non-monotonic grids and keep reinit atomic
  deepmd/utils/pair_tab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
Due: Python

test(pair-tab): snapshot serialized state before failed reinit
  source/tests/common/dpmodel/test_pairtab_preprocess.py
Due: none

style(pair-tab): drop explanatory comments from validation and tests
  deepmd/utils/pair_tab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
Due: Python

run pre-commit
  deepmd/jax/jax_md/__init__.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
