Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

refactor(demo): replace fit_evaluate.py with quickstart.ipynb and update README
  deepmd/dpa_tools/demo/README.md
  deepmd/dpa_tools/demo/fit_evaluate.py
  deepmd/dpa_tools/demo/quickstart.ipynb
Due: Python

docs(dpa_tools): update README
  deepmd/dpa_tools/README.md
Due: Python

docs(demo): update quickstart notebook
  deepmd/dpa_tools/demo/quickstart.ipynb
Due: Python

Fix documentation wording and unused local variables
  doc/third-party/lammps-command.md
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

fix: add more dim to forbidden
  deepmd/pt_expt/train/training.py
Due: Python

fix(pt): compute per-frame totals in population loss to avoid batch cancellation
  deepmd/pt/loss/population.py
Due: Python

test(pt): add unit tests for PopulationLoss; fix rmse reduction scaling
  deepmd/pt/loss/population.py
  source/tests/pt/test_loss_population.py
Due: Python

docs(pt): add docstring to _loss helper in PopulationLoss
  deepmd/pt/loss/population.py
Due: Python

fix(pt): detach more_loss tensors, implement metric display, fix doc formula
  deepmd/pt/loss/population.py
  doc/model/train-fitting-population.md
Due: Python

fix(pt): remove unused var_name; align neuron default with PopulationFittingNet
  deepmd/pt/loss/population.py
  deepmd/utils/argcheck.py
Due: Python

fix: UT
  deepmd/pt_expt/train/training.py
Due: Python

chore:lint
  deepmd/pt_expt/train/training.py
Due: Python

feat(dpa_tools): add formula_to_npy — composition formula CSV + POSCAR to deepmd/npy
  deepmd/dpa_tools/README.md
  deepmd/dpa_tools/__init__.py
  deepmd/dpa_tools/cli.py
  deepmd/dpa_tools/data/__init__.py
  deepmd/dpa_tools/data/convert.py
  deepmd/dpa_tools/data/formula.py
  deepmd/main.py
  tests/test_dpa_tools.py
Due: Python

fix(formula): auto-detect CSV delimiter (tab or comma)
  deepmd/dpa_tools/data/formula.py
Due: Python

fix:UT and lazy compile
  deepmd/pt/utils/compile_utils.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/test_training.py
Due: Python

docs: remove redundant formula_to_npy example in README
  deepmd/dpa_tools/README.md
Due: Python

docs(finetuner): rewrite DPAFineTuner class docstring — all 4 strategies + MFT params
  deepmd/dpa_tools/finetuner.py
Due: Python

fix: detach
  deepmd/pt/utils/compile_utils.py
Due: Python

docs: update demo path to examples/dpa_tools
  doc/dpa_tools/README.md
Due: none

refactor: promote dpa from dp subcommand to standalone CLI
  deepmd/entrypoints/main.py
  deepmd/main.py
  doc/dpa_tools/README.md
  dpa_tools/__init__.py
  dpa_tools/cli.py
  dpa_tools/data/__init__.py
  dpa_tools/main.py
  pyproject.toml
  source/tests/dpa_tools/test_cli_smoke.py
Due: Python

docs: remove stale dpa_tools section from top-level README
  README.md
Due: none

Address review feedback for the dE/dN provider path
  source/api_c/src/c_api.cc
  source/lmp/compute_deepmd_fparam_dedn.cpp
  source/lmp/pair_base.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_fparam_from_fix_dedn.py
Due: C API, LAMMPS

Address review feedback for the dE/dN provider path
  source/api_c/src/c_api.cc
  source/lmp/compute_deepmd_fparam_dedn.cpp
  source/lmp/tests/test_lammps_fparam_from_fix_dedn.py
Due: C API, LAMMPS

Fix cboamd output header
  source/lmp/fix_cboamd.cpp
Due: LAMMPS

fix(pt): freeze and eval fixes for se_a_vg and aparam output gate
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/env_mat_vg.py
  deepmd/pt/model/descriptor/se_a_vg.py
  deepmd/pt/model/task/fitting.py
  source/tests/pt/model/test_aparam_output_gate.py
  source/tests/pt/model/test_se_a_vg.py
Due: Python

fix(pt): fix serialize/deserialize and apply mask in population loss
  deepmd/pt/loss/population.py
  deepmd/pt/model/task/population.py
Due: Python

fix: include dpa_tools in wheel.packages so pip install ships it
  pyproject.toml
Due: none

docs(pt): use loss-operator notation in formula; document mask normalization
  deepmd/pt/loss/population.py
  doc/model/train-fitting-population.md
Due: Python

test(pt): add serialize/deserialize and DeepPopulation.eval() integration tests
  source/tests/pt/test_loss_population.py
Due: none

test(pt): fix ntypes/type_map inconsistency in integration tests
  source/tests/pt/test_loss_population.py
Due: none

docs(pt): fix trailing space in forward() docstring
  deepmd/pt/loss/population.py
Due: Python

docs: add input_formats.md for dpa data convert; test: add formula pipeline tests
  doc/dpa_tools/input_formats.md
  source/tests/dpa_tools/test_convert.py
Due: none

test(pt_expt): tolerance for test_default_fallback (CUDA scatter nondeterminism)
  source/tests/pt_expt/utils/test_neighbor_list.py
Due: none

feat(DPATrainer): add _validate_fparam for per-frame condition input
  dpa_tools/trainer.py
Due: none

feat(DPAFineTuner): accept and forward fparam_dim to DPATrainer / MFTFineTuner
  dpa_tools/finetuner.py
Due: none

feat(MFTFineTuner): add fparam_dim support with validation and fitting-net injection
  dpa_tools/config/manager.py
  dpa_tools/mft.py
Due: none

feat(cli): add --fparam-dim argument to dpa fit subcommand
  dpa_tools/cli.py
Due: none

test(fparam): add 14 tests for fparam support across all strategies
  source/tests/dpa_tools/test_fparam.py
Due: none
