Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix: UTs
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/test_model_se_r.py
  source/tests/tf/test_model_se_t.py
Due: none

fix: UTs
  source/tests/tf/data_modifier/dipole.json
  source/tests/tf/test_data_modifier_shuffle.py
Due: none

fix: UTs
  deepmd/tf/fit/dipole.py
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_dipole.py
Due: Python

fix: UTs
  source/tests/consistent/fitting/test_dipole.py
Due: none

fix: UTs
  source/tests/consistent/fitting/common.py
Due: none

add tests
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/fit/ener.py
  deepmd/tf/utils/serialization.py
  source/tests/consistent/io/__init__.py
  source/tests/consistent/io/test_io.py
Due: Python

add tests; fix bugs
  deepmd/pt/utils/serialization.py
  deepmd/tf/utils/serialization.py
  source/tests/consistent/io/test_io.py
Due: Python

fix tests
  source/tests/common/dpmodel/test_network.py
Due: none

add examples
  deepmd/main.py
Due: Python

fix: UTs
  deepmd/pt/model/task/fitting.py
Due: Python

fix: UTs
  source/tests/consistent/common.py
Due: none

store model_param when getting the model
  deepmd/pt/model/model/__init__.py
Due: Python

fix: UTs
  deepmd/pt/model/task/fitting.py
  source/tests/consistent/common.py
Due: Python

chore: move atom_ener to energyfitting
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  source/tests/consistent/common.py
Due: Python

fix: UTs
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/fitting.py
  source/tests/consistent/common.py
Due: Python

fix: UTs
  deepmd/dpmodel/fitting/polarizability_fitting.py
  source/tests/consistent/common.py
Due: Python

reformat spin model
  deepmd/dpmodel/utils/spin.py
  deepmd/pt/model/model/dp_spin_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/exclude_mask.py
  deepmd/pt/utils/spin.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_stat.py
Due: Python

fix cuda error
  deepmd/pt/model/task/ener.py
Due: Python

rename model_param to model_def_script
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/utils/serialization.py
  source/tests/consistent/io/test_io.py
Due: Python

support serialize .pt file
  deepmd/pt/utils/serialization.py
Due: Python

address comments
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
Due: Python

add a test
  source/tests/pt/model/test_deeppot.py
Due: none

store type in descriptor serialization data
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/descriptor/base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/model/model.py
Due: Python

import AlmaLinux GPG key
  pyproject.toml
Due: none

fix: UTs
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  source/tests/tf/data_modifier/dipole.json
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
Due: Python

chore: refactor
  deepmd/tf/fit/dipole.py
Due: Python

fix: se_r, se_t
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
Due: Python

chore: refactor
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
Due: none

chore: typo
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
Due: Python

fix AlmaLinux GPG key error (#3326)
  pyproject.toml
Due: none

pt: fix se_e2_a precision cast (#3315)
  deepmd/pt/model/descriptor/se_a.py
  source/tests/consistent/common.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

chore: refactor
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
Due: Python

chore: typo
  deepmd/tf/model/multi.py
Due: Python

pt: export `model_output_type` instead of `model_output_def` (#3318)
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
  source/tests/pt/model/test_deeppot.py
Due: Python

feat: add polar consistency test
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/tf/fit/polar.py
  deepmd/utils/argcheck.py
  source/tests/consistent/fitting/test_polar.py
Due: Python

fix memory leak and nlist dim
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/commonPT.cc
Due: Python, C++ API

feat: convert model files between backends (#3323)
  deepmd/backend/backend.py
  deepmd/backend/dpmodel.py
  deepmd/backend/pytorch.py
  deepmd/backend/tensorflow.py
  deepmd/dpmodel/utils/network.py
  deepmd/entrypoints/convert_backend.py
  deepmd/entrypoints/main.py
  deepmd/main.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/utils/serialization.py
  source/tests/common/dpmodel/test_network.py
  source/tests/consistent/io/__init__.py
  source/tests/consistent/io/test_io.py
Due: Python

rename all get_class_by_data to get_class_by_type
  deepmd/common.py
  deepmd/dpmodel/descriptor/base_descriptor.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
