Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(pt): fix not used `sys_probs` (#4353)
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  source/tests/pt/test_sampler.py
Due: Python

docs: improve docs, examples, and error messages (#4338)
  deepmd/dpmodel/model/model.py
  deepmd/jax/model/model.py
  deepmd/pt/model/model/__init__.py
  deepmd/tf/model/model.py
  deepmd/utils/argcheck.py
  doc/data/system.md
  doc/freeze/compress.md
  doc/model/dpa2.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  examples/water/dpa2/README.md
  examples/water/dpa2/input_torch_compressible.json
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_small.json
  source/tests/common/test_examples.py
Due: Python

feat(pt): pass mapping from LAMMPS to PT (#4351)
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

workaround for bfloat16
  deepmd/dpmodel/utils/network.py
Due: Python

throw error if both are provided
  deepmd/tf/model/model.py
Due: Python

chore(cc): merge get backend codes
  source/api_cc/include/common.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepSpin.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
Due: C++ API

chore(pt): Delete deepmd/pt/utils/cache.py
  deepmd/pt/utils/cache.py
Due: Python

feat(jax): add options to use TensorFlow C library to build the JAX backend
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/cmake/FindTensorFlowC.cmake
Due: C++ API

fix python
  source/CMakeLists.txt
Due: none

fix typo
  source/cmake/FindTensorFlowC.cmake
Due: none

fix input in `test_network.py`
  source/tests/common/dpmodel/test_network.py
Due: none

set to the interface library
  source/cmake/FindTensorFlowC.cmake
Due: none

use alias
  source/cmake/FindTensorFlowC.cmake
Due: none

fix tabs
  doc/install/easy-install.md
Due: none

feat(jax): add options to use TensorFlow C library to build the JAX backend (#4357)
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/cmake/FindTensorFlowC.cmake
Due: C++ API

use custom format_training_message
  deepmd/pd/train/training.py
Due: Python

restore pre-commit
  .pre-commit-config.yaml
Due: none

fix(dpmodel): fix precision (#4343)
  .github/workflows/test_python.yml
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/env.py
  source/tests/common/dpmodel/test_network.py
Due: Python

fix(tf): fix model out_bias deserialize (#4350)
  deepmd/tf/model/model.py
  source/tests/consistent/model/test_ener.py
Due: Python

chore(pt): Delete deepmd/pt/utils/cache.py (#4356)
  deepmd/pt/utils/cache.py
Due: Python

chore(cc): merge get backend codes (#4355)
  source/api_cc/include/common.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepSpin.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
Due: C++ API

Update source/tests/universal/pt/loss/test_loss.py
  source/tests/universal/pt/loss/test_loss.py
Due: none

Update utils.py
  source/tests/universal/common/cases/loss/utils.py
Due: none

fix pre-commit ci fail
  deepmd/pd/utils/utils.py
  source/tests/pd/model/test_model.py
Due: Python

feat(pt): add universal test for loss (#4354)
  deepmd/dpmodel/common.py
  deepmd/pt/loss/dos.py
  source/tests/universal/common/cases/loss/__init__.py
  source/tests/universal/common/cases/loss/loss.py
  source/tests/universal/common/cases/loss/utils.py
  source/tests/universal/dpmodel/loss/__init__.py
  source/tests/universal/dpmodel/loss/test_loss.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/loss/__init__.py
  source/tests/universal/pt/loss/test_loss.py
Due: Python

fix bug: cannot set property `default_mesh` o `DeepmdDataSystem`
  deepmd_utils/utils/data_system.py
Due: none

prune redundant files
  deepmd/pd/__init__.py
  deepmd/pd/cxx_op.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/cache.py
  deepmd/pd/utils/learning_rate.py
  deepmd/pd/utils/plugin.py
  source/tests/pd/requirements.txt
Due: Python

fix unitest import
  pyproject.toml
  source/tests/pd/model/test_model.py
  source/tests/pd/test_lr.py
Due: none

chore: fix typo
  deepmd/pt/model/atomic_model/dipole_atomic_model.py
Due: Python

feat: try add dos consistent UT
  source/tests/consistent/model/test_dos.py
Due: none

fix: UT para
  source/tests/consistent/model/test_dos.py
Due: none

fix: UT res extract
  deepmd/dpmodel/model/model.py
  source/tests/consistent/model/test_dos.py
Due: Python

fix(jax): handle DPA-2 pbc/nopbc no mapping
  deepmd/jax/jax2tf/serialization.py
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
Due: Python, C++ API

[r2] CI: fix Python workflow
  .github/workflows/test_python.yml
Due: none

chore(deps): bump scikit-build-core to 0.10
  pyproject.toml
Due: none

better error handling
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

Remove redundant mpi4py installation command
  .github/workflows/test_python.yml
Due: none

tf_function_not_found
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

[r2] CI: fix Python workflow (#4364)
  .github/workflows/test_python.yml
Due: none

fix:fix LAMMPS MPI tests with mpi4py 4.0.0 (#4032)
  source/lmp/tests/run_mpi_pair_deepmd.py
Due: LAMMPS

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
