Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

chore: bump LAMMPS to stable_29Aug2024_update1
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

fix(tf): throw errors when loc_cellnum is 0
  source/lib/src/coord.cc
Due: Core

fix: unpin h5py on aarch64 (#4176)
  backend/find_tensorflow.py
  pyproject.toml
Due: none

chore: bump LAMMPS to stable_29Aug2024_update1 (#4179)
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Due: none

Update deep_pot.py
  deepmd/infer/deep_pot.py
Due: Python

Update deepmd/entrypoints/test.py
  deepmd/entrypoints/test.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Update test.py
  deepmd/entrypoints/test.py
Due: Python

Update ener_hess.py
  deepmd/pt/loss/ener_hess.py
Due: Python

Update wrapper.py
  deepmd/pt/train/wrapper.py
Due: Python

Update test_dp_hessian_model.py
  source/tests/pt/model/test_dp_hessian_model.py
Due: none

Update input.json
  examples/hessian/single-task/input.json
Due: none

breaking: drop Python 3.8 support
  .github/workflows/test_python.yml
  doc/development/coding-conventions.rst
  doc/install/easy-install.md
  doc/install/install-from-source.md
  pyproject.toml
Due: none

remove py38 condition
  .github/workflows/test_python.yml
Due: none

fix(tf): set visible_device_list for TF C++ (#4172)
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensorTF.cc
Due: C++ API

fix(tf): throw errors when loc_cellnum is 0 (#4180)
  source/lib/src/coord.cc
Due: Core

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  doc/getting-started/quick_start.ipynb
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Due: Core

skip ipynb files
  .pre-commit-config.yaml
Due: none

chore: use `functools.cached_property` for cached properties
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/data_system.py
Due: Python

fix missing import
  deepmd/tf/infer/deep_eval.py
Due: Python

docs: add documentation for installation requirements of DPA-2 (#4178)
  deepmd/pt/model/descriptor/repformers.py
  doc/model/dpa2.md
Due: Python

docs: document more for multiprocessing
  doc/third-party/lammps-command.md
  doc/troubleshooting/howtoset_num_nodes.md
Due: none

chore: ensure GPU is available in GPU tests
  source/tests/pt/__init__.py
  source/tests/tf/__init__.py
Due: none

fix imports
  source/tests/pt/__init__.py
  source/tests/tf/__init__.py
Due: none

show detailed logs
  .github/workflows/test_cuda.yml
Due: none

run ruff
  deepmd/jax/utils/network.py
  source/tests/array_api_strict/utils/network.py
Due: Python

chore: use `functools.cached_property` for cached properties (#4187)
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/data_system.py
Due: Python

docs: document more for multiprocessing (#4190)
  doc/third-party/lammps-command.md
  doc/troubleshooting/howtoset_num_nodes.md
Due: none

fix: zbl mix type model
  examples/water/zbl/input.json
Due: none

feat: add linear model
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_linear_model.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
