Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(pt_expt): a coordinate-independent output also yields a zero Hessian
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

test(pt-expt): pass empty LR edge placeholders to compiled graph lower in DPA2 tests
  source/tests/pt_expt/model/test_dpa2_graph_lower.py
Due: none

fix(pt): name installable packages when no neighbor-list backend is importable (#6037)
  deepmd/pt/model/model/sezm_model.py
  source/tests/pt/test_neighbor_backend_missing.py
Due: Python

fix(pt): close review round on density eval, statistics, and loader checks
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/charge.py
  deepmd/pt/model/atomic_model/density_atomic_model.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/common/test_deepmd_data_grid_density.py
  source/tests/pt/test_dp_test_density.py
Due: Python

test: avoid subclass __init__ bypass flagged by CodeQL in data test double
  source/tests/common/test_deepmd_data_grid_density.py
Due: none

fix(data): require exact ndof for 3D frame_major arrays
  deepmd/utils/data.py
  source/tests/common/test_deepmd_data_grid_density.py
Due: Python

fix(pt_expt): recognise wrapped out-of-memory errors in Hessian fallback
  deepmd/pt_expt/model/make_model.py
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix(pt_expt): keep the batch the Hessian OOM ladder discovers
  deepmd/pt_expt/model/make_model.py
  doc/env.md
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix(pt_expt): price the Hessian batch per frame
  deepmd/pt_expt/model/make_model.py
  doc/env.md
  source/tests/pt_expt/model/test_hessian_hvp_batch.py
Due: Python

fix(pt): import e3nn lazily so it stays an optional dependency (#6036)
  deepmd/pt/model/descriptor/sezm_nn/projection.py
  source/tests/pt/test_optional_e3nn_import.py
Due: Python

fix(lammps): restore serial builds and PT2 virial capabilities
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/lmp/pair_deepmd.cpp
Due: C++ API, LAMMPS

perf(pt): pass is_inference to compile_fx_inner for compiled eval graphs
  deepmd/pt/model/model/sezm_model.py
Due: Python

Rewrite of int->int function
  source/op/pt/dpa4c/graph_compress_launch.h
Due: OP

fix(pt_expt): preserve numb_dos for exported DOS models
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/dos_model.py
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/infer/test_deep_eval_dos.py
Due: Python

perf(lmp): GPU-accelerated edge tensor construction for DPA4/SeZM LAMMPS inference
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

refactor: rename createEdgeTensorsGPU → createEdgeTensorsDevice
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

fix: preserve row_centers mapping in createEdgeTensorsDevice
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
Due: C++ API

test(lmp): cover device edge topology parity
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

test(lmp): assert device edge vector direction
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

test(pt-expt): cover ragged charge-spin export replay
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: none

fix: preserve graph payload and validate GPU owners
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

fix(pt): stabilize full-batch fitting GEMM reductions
  doc/env.md
  source/op/pt/graph_fitting.cu
  source/op/pt/graph_fitting_gemm.h
  source/tests/pt_expt/descriptor/test_graph_fitting_batch_invariant.py
Due: OP

fix(pt): invalidate fitting layout cache before shape checks
  source/op/pt/graph_fitting_gemm.h
Due: OP

test: cover CUDA edge topology parity
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

docs(skills): address latest DPA4 review findings
  skills/deepmd-python-inference/references/held-out-evaluation.md
  skills/deepmd-train/models/dpa4c.md
  source/tests/common/test_agent_skills.py
Due: none

ci(docs): use C++20 for RTD PyTorch builds
  .readthedocs.yml
Due: none

ci(docs): pass RTD CMake standard setting
  .readthedocs.yml
Due: none

ci(docs): skip custom operators in RTD build
  .readthedocs.yml
Due: none

fix(pt): align density data layout, forward charge_spin, and loader cross-checks
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/charge.py
  deepmd/pt/model/atomic_model/density_atomic_model.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  examples/density/dataset/qm9/C7H15NO_train/set.000/density.npy
  examples/density/dataset/qm9/C7H15NO_train/set.000/grid.npy
  examples/density/dataset/qm9/C7H15NO_val/set.000/density.npy
  examples/density/dataset/qm9/C7H15NO_val/set.000/grid.npy
  source/tests/common/test_deepmd_data_grid_density.py
Due: Python

fix(data): guard frame-major extents across sets and align the density doc
  deepmd/utils/data.py
  doc/model/train-fitting-density.md
  source/tests/common/test_deepmd_data_grid_density.py
Due: Python

docs(skills): make DPA4 presets the default path
  examples/water/dpa4/README.md
  examples/water/dpa4/input_preset.json
  examples/water/dpa4c/README.md
  skills/deepmd-finetune-dpa4/SKILL.md
  skills/deepmd-train/SKILL.md
  skills/deepmd-train/models/dpa4.md
  skills/deepmd-train/models/dpa4c.md
  source/tests/common/test_agent_skills.py
Due: none

build(pt): reduce the CUDA compile time of the PyTorch operators
  .github/workflows/test_cuda.yml
  deepmd/pt_expt/kernels/cuda/dpa4/so2_conv_train.py
  doc/install/install-from-source.md
  source/op/pt/CMakeLists.txt
  source/op/pt/dpa1_graph_common.cuh
  source/op/pt/dpa1_graph_compress.cu
  source/op/pt/dpa1_graph_descriptor.cu
  source/op/pt/dpa1_graph_energy_force.cu
  source/op/pt/dpa4/edge_radial.cu
  source/op/pt/dpa4/grid_pair.cu
  source/op/pt/dpa4/mixing_train.cu
  source/op/pt/dpa4/rotate_mix_train.cu
  source/op/pt/dpa4/rotate_mix_train/instantiate.cuh
  source/op/pt/dpa4/rotate_mix_train/kernels.cuh
  source/op/pt/dpa4/sezm_train_ops.cuh
  source/op/pt/dpa4/sezm_types.cuh
  source/op/pt/dpa4/so2_conv.cu
  source/op/pt/dpa4/so2_conv_train.cu
  source/op/pt/dpa4/so2_conv_train/instantiate.cuh
  source/op/pt/dpa4/so2_conv_train/kernels.cuh
  source/op/pt/dpa4/wigner_dense.cu
  source/op/pt/dpa4/zonal_scatter.cu
  source/op/pt/dpa4c/graph_compress.cu
  source/op/pt/edge_force_virial.cu
  source/op/pt/fitting_plan.h
  source/op/pt/graph_fitting.cu
  source/op/pt/graph_ops.h
  source/tests/pt_expt/kernels/test_so2_value_train.py
Due: Python, OP

fix(bridging): repair test collection and guard radius lookups
  doc/model/dpa4.md
  source/op/pt/dpa4c/graph_compress.cuh
  source/op/pt/dpa4c/graph_compress_kernel.cuh
  source/tests/pt/model/test_sezm_nvalchemi.py
  source/tests/pt_expt/descriptor/test_dpa4c_cuda.py
Due: OP

fix(bridging): correct spin construction and CI runtime setup
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/model/model_factory.py
  deepmd/pt/model/model/__init__.py
  deepmd/utils/spin.py
  pyproject.toml
  source/lmp/tests/dpa4_spin_harness.py
  source/lmp/tests/python_reference.py
  source/lmp/tests/test_lammps_dpa4_chg_spin_deepspin_pt2.py
  source/lmp/tests/test_lammps_dpa4_zbl_pt2.py
  source/lmp/tests/test_lammps_model_devi_pt2.py
  source/lmp/tests/test_python_reference.py
  source/tests/common/test_dpmodel_train.py
  source/tests/common/test_spin.py
  source/tests/pt_expt/model/test_dpa4_interop.py
  source/tests/pt_expt/model/test_dpa4c_zbl_bridging.py
Due: Python, LAMMPS

fix: pass charge_spin to the DPA4 backbone
  deepmd/dpmodel/atomic_model/unimol_dpa_atomic_model.py
  source/tests/common/dpmodel/test_unimol_dpa.py
Due: Python

fix: keep a molecule whose SMILES RDKit cannot parse
  deepmd/utils/unimol_data.py
  source/tests/common/dpmodel/test_unimol_data.py
Due: Python

docs(pt): sync DPA4 compile compatibility docs
  deepmd/pt/model/model/sezm_model.py
  deepmd/utils/argcheck.py
  doc/model/dpa4.md
Due: Python

fix(deps): pin warp-lang<1.18
  backend/find_pytorch.py
Due: none
