Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

feat: plain text model format
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/utils/serialization.py
  doc/backend.md
  source/tests/common/dpmodel/test_network.py
Due: Python

fix(c): call C++ interface without atomic properties when they are not requested (#4010)
  source/api_c/src/c_api.cc
Due: C API

fix(pt): fix `get_dim` for `DescrptDPA1Compat` (#4007)
  deepmd/tf/descriptor/se_atten.py
  source/tests/consistent/descriptor/common.py
Due: Python

fix(cc): fix message passing when nloc is 0 (#4021)
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/tests/infer/deeppot_dpa.pth
  source/tests/infer/deeppot_dpa_sel.pth
  source/tests/infer/deeppot_sea.pth
  source/tests/infer/fparam_aparam.pth
Due: C++ API, LAMMPS

fix(pt): use user seed in `DpLoaderSet` (#4015)
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
Due: Python

style: enable N804 and N805 (#4024)
  .pre-commit-config.yaml
  deepmd/pt/model/task/ener.py
  deepmd/utils/plugin.py
  pyproject.toml
  source/tests/tf/test_adjust_sel.py
  source/tests/tf/test_finetune_se_atten.py
  source/tests/tf/test_model_compression_se_a.py
  source/tests/tf/test_model_compression_se_a_ebd.py
  source/tests/tf/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/tf/test_model_compression_se_a_type_one_side_exclude_types.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_compression_se_r.py
  source/tests/tf/test_model_compression_se_t.py
  source/tests/tf/test_transfer.py
Due: Python

feat: plain text model format (#4025)
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/utils/serialization.py
  doc/backend.md
  source/tests/common/dpmodel/test_network.py
Due: Python

first commit
  deepmd/pt/infer/deep_eval.py
  source/tests/infer/__init__.py
  source/tests/infer/case.py
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/deeppot.yaml
  source/tests/infer/deeppot_descpt.txt
  source/tests/infer/test_models.py
  source/tests/tf/test_deeppot_a.py
  source/tests/tf/test_dp_test.py
Due: Python

attrs
  source/tests/infer/case.py
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/test_models.py
Due: none

add gitignore
  source/tests/infer/.gitignore
Due: none

add nopbc case
  deepmd/driver.py
  source/tests/infer/case.py
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/test_models.py
Due: Python

fix: fix nopbc in dpdata driver
  deepmd/driver.py
Due: Python

fix: fix nopbc in dpdata driver (#4027)
  deepmd/driver.py
Due: Python

fix zero inputs
  deepmd/tf/descriptor/se_a.py
  source/tests/infer/test_models.py
Due: Python

remove old tests
  source/tests/infer/test_models.py
  source/tests/tf/test_deeppot_a.py
Due: none

update TestFrozen
  source/tests/consistent/model/test_frozen.py
  source/tests/infer/case.py
  source/tests/infer/deeppot.dp
Due: none

explicit keys
  source/tests/infer/test_models.py
Due: none

fix tests
  deepmd/tf/descriptor/se_a.py
Due: Python

add fparam_aparam.yaml
  source/tests/infer/fparam_aparam.yaml
Due: none

add tests for fparam and aparam
  deepmd/pt/utils/serialization.py
  deepmd/tf/utils/serialization.py
  source/tests/infer/case.py
  source/tests/infer/fparam_aparam-testcase.yaml
  source/tests/infer/test_models.py
Due: Python

remove old tests
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
Due: none

add deeppot-1 and deeppot-r
  source/tests/infer/deeppot-1-testcase.yaml
  source/tests/infer/deeppot-1.yaml
  source/tests/infer/deeppot-r-testcase.yaml
  source/tests/infer/deeppot-r.yaml
  source/tests/infer/test_models.py
  source/tests/tf/test_deeppot_r.py
Due: none

I failed to reproduce deeppot-1.pb, unclear what the training param is
  source/tests/infer/deeppot-1-testcase.yaml
  source/tests/infer/deeppot-1.yaml
Due: none

basic torch version
  deepmd/pt/descriptor/_se_a.py
  deepmd/pt/descriptor/compressed_se_a.py
  deepmd/pt/model/descriptor/se_a_compressed.py
  deepmd/pt/utils/tabulate.py
  deepmd/pt/utils/type_embed.py
Due: Python

fix se_e2_r prod_force_virial zero input
  deepmd/tf/descriptor/se_r.py
Due: Python

cherry-pick #3993
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/frozen.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
Due: Python

fix(pt): invalid type_map for multitask training
  deepmd/pt/entrypoints/main.py
Due: Python

fix ut
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
Due: Python

fix:fix LAMMPS MPI tests with mpi4py 4.0.0
  source/lmp/tests/run_mpi_pair_deepmd.py
Due: LAMMPS

Update hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Due: Python

fix:fix LAMMPS MPI tests with mpi4py 4.0.0 (#4032)
  source/lmp/tests/run_mpi_pair_deepmd.py
Due: LAMMPS

update from devel
  .github/workflows/build_wheel.yml
  .github/workflows/test_cuda.yml
  source/lmp/tests/run_mpi_pair_deepmd.py
Due: LAMMPS

fix(pt): invalid type_map when multitask training (#4031)
  deepmd/pt/entrypoints/main.py
Due: Python

chore(deps): bump scikit-build-core to 0.9.x
  pyproject.toml
Due: none

chore(deps): bump scikit-build-core to 0.9.x (#4038)
  pyproject.toml
Due: none

fix: manage testing models in a standard way (#4028)
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/utils/serialization.py
  source/tests/consistent/model/test_frozen.py
  source/tests/infer/.gitignore
  source/tests/infer/__init__.py
  source/tests/infer/case.py
  source/tests/infer/deeppot-r-testcase.yaml
  source/tests/infer/deeppot-r.yaml
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/deeppot.dp
  source/tests/infer/deeppot.yaml
  source/tests/infer/deeppot_descpt.txt
  source/tests/infer/fparam_aparam-testcase.yaml
  source/tests/infer/fparam_aparam.yaml
  source/tests/infer/test_models.py
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
  source/tests/tf/test_dp_test.py
Due: Python

fix: fix PT AutoBatchSize OOM bug and merge execute_all into base
  deepmd/pt/utils/auto_batch_size.py
  deepmd/utils/batch_size.py
  source/tests/common/test_auto_batch_size.py
Due: Python

bump minimal numpy version
  doc/backend.md
  doc/install/install-from-source.md
  pyproject.toml
Due: none

Use key in dict instead of key in dict.keys()
  deepmd/utils/batch_size.py
Due: Python

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
