Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix link
  doc/model/precision.md
Due: none

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

support old nlist api
  source/api_cc/src/DeepPotPT.cc
  source/op/pt/comm.cc
Due: OP, C++ API

add tests
  source/api_cc/tests/test_deeppot_dpa_pt.cc
Due: C++ API

insert links to doc
  deepmd/utils/argcheck.py
Due: Python

fix(pt): set `weights_only=True` for `torch.load` (#4147)
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/infer/inference.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/serialization.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
Due: Python

Update main.py
  deepmd/pt/entrypoints/main.py
Due: Python

enhance code robustness
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/utils/tabulate.py
Due: Python

ci: limit downloaded files in build_docker
  .github/workflows/build_wheel.yml
Due: none

Update training.py
  deepmd/pt/train/training.py
Due: Python

fix pre-commit
  deepmd/pt/utils/tabulate.py
Due: Python

Update deep_eval.py
  deepmd/infer/deep_eval.py
Due: Python

Update deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python

Update test.py
  deepmd/entrypoints/test.py
Due: Python

fix rcut/rcut_smth in all descriptors
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  source/tests/pt/model/test_jit.py
Due: Python

Update test_jit.py
  source/tests/pt/model/test_jit.py
Due: none

fix(tf): fix compress suffix in DescrptDPA1Compat
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/utils/compress.py
  deepmd/tf/utils/tabulate.py
  source/tests/tf/test_model_compression_dpa1_compat_suffix_only.py
Due: Python

docs: fix parameter links (#4239)
  deepmd/utils/argcheck.py
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/overall.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  doc/train/finetuning.md
  doc/train/gpu-limitations.md
  doc/train/training-advanced.md
Due: Python

Update se_atten.py
  deepmd/tf/descriptor/se_atten.py
Due: Python

fix(cc): fix message passing when nghost is 0 and send list is empty (#4237)
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/op/pt/comm.cc
Due: OP, C++ API, LAMMPS

Resolving conversations
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/pt/infer/deep_eval.py
  examples/hessian/multi_task/input.json
  examples/hessian/single_task/input.json
  source/tests/common/test_examples.py
Due: Python

Chore(pt): slim uts for dpa1
  source/tests/consistent/descriptor/test_dpa1.py
Due: none

Update source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa1.py
Due: none

Remove jax2tf
  deepmd/jax/env.py
Due: Python

Chore(pt): fix warning in `test_training`
  source/tests/pt/test_training.py
Due: none

feat(pt): support CPU parallel training with PT (#4224)
  deepmd/pt/entrypoints/main.py
Due: Python

fix general_fitting, add xp type dict
  deepmd/dpmodel/common.py
  deepmd/dpmodel/fitting/general_fitting.py
  source/tests/common/test_common.py
Due: Python

Update system.md
  doc/data/system.md
Due: none

Update train-energy-hessian.md
  doc/model/train-energy-hessian.md
Due: none

Update index.rst
  doc/model/index.rst
Due: none

Update overall.md
  doc/model/overall.md
Due: none

Update source/tests/common/test_common.py
  source/tests/common/test_common.py
Due: none

raise exception
  deepmd/dpmodel/fitting/general_fitting.py
Due: Python

revert suffix of ntypes
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/utils/tabulate.py
  source/tests/tf/test_model_compression_dpa1_compat_suffix_only.py
Due: Python

support `use_aparam_as_mask` for pt backend
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_property.py
  source/tests/pt/model/test_ener_fitting.py
Due: Python

Update input.json
  examples/hessian/multi_task/input.json
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
