Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(lammps): support serial MPI stubs
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_compact.py
Due: LAMMPS

fix(tabulate): preserve SE-T polynomial cache (#5931)
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_t.cc
Due: Core

test(pt): use backend device for hessian loss
  source/tests/common/dpmodel/test_loss_padding.py
Due: none

fix(dpmodel): build the neighbor representation the atomic model declares
  deepmd/dpmodel/atomic_model/base_atomic_model.py
Due: Python

perf(test): stream dp test so a system need not fit in memory
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/entrypoints/test.py
  deepmd/infer/model_test/__init__.py
  deepmd/infer/model_test/base.py
  deepmd/infer/model_test/dos.py
  deepmd/infer/model_test/ener.py
  deepmd/infer/model_test/property.py
  deepmd/infer/model_test/tensor.py
  deepmd/utils/data.py
  deepmd/utils/weight_avg.py
  source/tests/common/test_dp_test_ener_split.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_weighted_avg.py
Due: Python

fix(lammps): distinguish model and Coulomb cutoffs
  source/lmp/pair_base.cpp
  source/lmp/tests/test_dplr.py
Due: LAMMPS

fix(dpmodel): use graph forward for output statistics
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  source/tests/pt_expt/model/test_dpa1_graph_lower.py
Due: Python

fix(jax): add hessian energy loss (#5607)
  deepmd/dpmodel/loss/ener.py
  deepmd/dpmodel/loss/reduction.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/jax/train/trainer.py
  deepmd/pd/loss/ener.py
  deepmd/pd/train/training.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  doc/model/train-energy-hessian.md
  source/tests/common/dpmodel/test_loss_ener.py
  source/tests/common/dpmodel/test_loss_padding.py
  source/tests/common/test_argcheck_backend_docs.py
  source/tests/common/test_argcheck_loss.py
  source/tests/common/test_data_system_hessian.py
  source/tests/jax/test_make_hessian_model.py
  source/tests/jax/test_training.py
  source/tests/pd/test_loss.py
  source/tests/pt/model/test_make_hessian_model.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/test_change_bias.py
  source/tests/pt/test_loss.py
Due: Python

fix(pt_expt): bridging is a composition, so `standard` must reject it
  deepmd/pt_expt/model/get_model.py
  source/tests/pt_expt/model/test_get_model_bridging.py
Due: Python

docs(backend): address remaining review feedback
  doc/backend.md
  doc/development/create-a-model-pt.md
  doc/freeze/compress.md
  doc/freeze/freeze.md
  doc/inference/python.md
  doc/model/change-bias.md
  doc/model/dpa2.md
  doc/model/dpa3.md
  doc/model/dpa4.md
  doc/model/dprc.md
  doc/model/linear.md
  doc/model/overall.md
  doc/model/pairtab.md
  doc/model/sel.md
  doc/model/train-energy-hessian.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-population.md
  doc/model/train-fitting-property.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  doc/third-party/ase.md
  doc/train/parallel-training.md
  doc/train/training-advanced.md
  doc/train/training.md
  doc/troubleshooting/howtoset_num_nodes.md
Due: none

ci: stabilize optional backend workflows
  .github/workflows/build_wheel.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  source/tests/consistent/common.py
Due: none

docs: refresh project landing pages
  README.md
  doc/index.rst
Due: none

fix(docs): restore theme-aware logo
  README.md
Due: none

fix(docs): restore homepage citations
  doc/index.rst
Due: none

fix(docs): restore citation badges
  README.md
Due: none

fix(docs): preserve landing page behavior
  README.md
  doc/index.rst
Due: none

fix(docs): direct installs to documentation
  README.md
Due: none

fix(docs): restore dp1s quick install
  README.md
Due: none

fix(docs): restore logo guide link
  README.md
Due: none

ci: stabilize optional backend workflows (#5945)
  .github/workflows/build_wheel.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  source/tests/consistent/common.py
Due: none

fix(dpmodel): filter DeepEval model inputs
  deepmd/dpmodel/infer/deep_eval.py
  source/tests/infer/test_dpmodel_deep_eval_spin.py
Due: Python

fix(tf): trim DeepSpin atomic outputs
  source/api_cc/src/DeepSpinTF.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
Due: C++ API

fix(jax): complete fparam input coverage
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/deeppot_universal_test_common.h
  source/api_cc/tests/test_deeppot_universal.cc
  source/tests/infer/gen_fparam_aparam.py
Due: C++ API

test(dpmodel): broaden neighbor type layout coverage
  source/tests/common/dpmodel/test_nlist.py
Due: none

perf(lammps): accelerate compact selection
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_lammps_compact.py
Due: LAMMPS

fix(tf2): support DPA4 random gamma training
  deepmd/dpmodel/array_api.py
  deepmd/tf2/descriptor/dpa4.py
  deepmd/tf2/train/trainer.py
  source/tests/tf2/test_dpa4.py
Due: Python

fix(data): refresh stale conversion caches
  deepmd/utils/data_system.py
  source/tests/common/test_data_system_conversion.py
Due: Python

fix(infer): complete parameter shorthand coverage
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/infer/deep_eval.py
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
  source/tests/consistent/io/test_io.py
  source/tests/pd/test_deep_eval_parameter_shorthand.py
  source/tests/pt/model/test_embedding.py
  source/tests/pt_expt/infer/test_parameter_shorthand.py
Due: Python

fix(descriptor): complete virtual type remapping
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  deepmd/pt_expt/descriptor/se_t_tebd.py
  source/tests/common/dpmodel/test_type_embedding_virtual.py
  source/tests/pt/model/test_virtual_type_embedding.py
  source/tests/pt_expt/descriptor/test_dpa1.py
Due: Python

test(dpmodel): validate magnetic mask output
  source/tests/infer/test_dpmodel_deep_eval_spin.py
Due: none

test(lammps): avoid implicit command concatenation
  source/lmp/tests/test_lammps_compact.py
Due: LAMMPS

fix(data): harden LMDB conversion validation
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/utils/data_system.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/common/test_data_system_conversion.py
Due: Python

test(nlist): add independent type-aware reference
  source/tests/common/dpmodel/test_nlist.py
Due: none

fix(descriptor): sanitize virtual center statistics
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  deepmd/pt_expt/descriptor/se_t_tebd.py
  source/tests/common/dpmodel/test_dpa1_call_graph_block.py
  source/tests/pt/model/test_virtual_type_embedding.py
  source/tests/pt_expt/descriptor/test_dpa1.py
Due: Python

test(dpmodel): honor global neighbor candidate cap
  source/tests/common/dpmodel/test_nlist.py
Due: none

test(pt_expt): cover fused virtual center statistics
  source/tests/pt_expt/descriptor/test_dpa1.py
Due: none

fix(lammps): reject compact neighbor exclusions
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_compact.py
Due: LAMMPS

fix(tf): normalize descriptor parameters before batching
  deepmd/tf/infer/deep_eval.py
  source/tests/tf/test_deep_eval_parameter_shorthand.py
Due: Python

test(dpmodel): cover parameter shorthand batching
  source/tests/infer/test_dpmodel_deep_eval_params.py
Due: none

perf(lammps): pack compact subsystem before inference
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_lammps_compact.py
Due: LAMMPS

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
