Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  deepmd_utils/model_format/output_def.py
Due: none

Revert "Update deepmd_utils/model_format/output_def.py"
  deepmd_utils/model_format/output_def.py
Due: none

add definition for the output of fitting and model (#3128)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Due: none

lmp: fix evflag initialization (#3133)
  source/lmp/pair_deepmd.cpp
Due: LAMMPS

init
  source/api_cc/src/DeepPot.cc
Due: C++ API

update paddle2 url
  README.md
Due: none

Update deepmd/train/trainer.py
  deepmd/train/trainer.py
Due: Python

cc: refactor DeepPotModelDevi, making it framework-independent (#3134)
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
Due: C++ API

refine code
  deepmd/descriptor/se_a_mask.py
Due: Python

add __call__ for NativeOP. model check assumes __call__ as the forward method
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/common.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Due: none

support fitting net
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  source/tests/test_model_format_utils.py
Due: none

fix typo
  deepmd_utils/model_format/network.py
Due: none

fix: model check assumes __call__ as the forward method (#3136)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/common.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Due: none

support fitting net (#3137)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  source/tests/test_model_format_utils.py
Due: none

refactorize NativeLayer, interface does not relies on platform
  deepmd_utils/model_format/network.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Due: none

[Paddle Backend] Add zinc protein (#3135)
  deepmd/descriptor/se_a_mask.py
  deepmd/fit/ener.py
  deepmd/train/trainer.py
  examples/zinc_protein/zinc_se_a_mask.json
  source/lib/paddle_src/custom_op_install.py
  source/lib/paddle_src/custom_op_test.py
  source/lib/paddle_src/paddle_descrpt_se_a_mask.cc
  source/lib/paddle_src/paddle_prod_force_se_a_mask.cc
  source/lib/paddle_src/paddle_prod_force_se_a_mask_grad.cc
Due: Python, Core

[Paddle Backend] Deprecate old paddle branch (#3130)
  README.md
Due: none

move utility to `deepmd_utils`
  deepmd/common.py
  deepmd/env.py
  deepmd/loggers.py
  deepmd/model/model_stat.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/pair_tab.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  deepmd/utils/random.py
  deepmd/utils/weight_avg.py
  deepmd_utils/common.py
  deepmd_utils/env.py
  deepmd_utils/loggers/__init__.py
  deepmd_utils/loggers/loggers.py
  deepmd_utils/utils/__init__.py
  deepmd_utils/utils/argcheck.py
  deepmd_utils/utils/argcheck_nvnmd.py
  deepmd_utils/utils/compat.py
  deepmd_utils/utils/data.py
  deepmd_utils/utils/data_system.py
  deepmd_utils/utils/model_stat.py
  deepmd_utils/utils/pair_tab.py
  deepmd_utils/utils/path.py
  deepmd_utils/utils/plugin.py
  deepmd_utils/utils/random.py
  deepmd_utils/utils/weight_avg.py
Due: Python

fix Literal
  deepmd_utils/common.py
Due: none

fix import
  deepmd/common.py
  deepmd_utils/common.py
Due: Python

fix
  deepmd/loggers/__init__.py
  deepmd/loggers/loggers.py
  deepmd/model/model_stat.py
Due: Python

avoid using import *
  deepmd/loggers/loggers.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/pair_tab.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  deepmd/utils/random.py
  deepmd/utils/weight_avg.py
Due: Python

x
  deepmd/utils/data_system.py
Due: Python

add list_to_doc
  deepmd/utils/argcheck.py
Due: Python

refactorize NativeLayer, interface does not rely on the platform (#3138)
  deepmd_utils/model_format/network.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Due: none

refactorize networks, now can be used cross platform
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
Due: none

refactorize networks, now can be used cross platform (#3141)
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
Due: none

cc: refactor DeepPot to support multiple backends
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

move utility to `deepmd_utils` (without modifaction) (#3140)
  deepmd/common.py
  deepmd/env.py
  deepmd/loggers/__init__.py
  deepmd/loggers/loggers.py
  deepmd/model/model_stat.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/pair_tab.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  deepmd/utils/random.py
  deepmd/utils/weight_avg.py
  deepmd_utils/common.py
  deepmd_utils/env.py
  deepmd_utils/loggers/__init__.py
  deepmd_utils/loggers/loggers.py
  deepmd_utils/utils/__init__.py
  deepmd_utils/utils/argcheck.py
  deepmd_utils/utils/argcheck_nvnmd.py
  deepmd_utils/utils/compat.py
  deepmd_utils/utils/data.py
  deepmd_utils/utils/data_system.py
  deepmd_utils/utils/model_stat.py
  deepmd_utils/utils/pair_tab.py
  deepmd_utils/utils/path.py
  deepmd_utils/utils/plugin.py
  deepmd_utils/utils/random.py
  deepmd_utils/utils/weight_avg.py
Due: Python

resolve alerts
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

add cross-platform AutoBatchSize
  deepmd/utils/batch_size.py
  deepmd_utils/utils/batch_size.py
Due: Python

fix virtual destructor
  source/api_cc/include/DeepPot.h
Due: C++ API

resolve alerts and comments
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

move deepmd.entrypoints.{doc,gui} to deepmd_utils.entrypoints.{doc,gui}
  deepmd/entrypoints/doc.py
  deepmd/entrypoints/gui.py
  deepmd_utils/entrypoints/__init__.py
  deepmd_utils/entrypoints/doc.py
  deepmd_utils/entrypoints/gui.py
Due: Python

fix: start_gui->start_dpgui
  deepmd/entrypoints/gui.py
Due: Python

improve doc
  source/api_cc/include/DeepPot.h
Due: C++ API

add cross-platform AutoBatchSize (#3143)
  deepmd/utils/batch_size.py
  deepmd_utils/utils/batch_size.py
Due: Python

move deepmd.entrypoints.{doc,gui} to deepmd_utils.entrypoints.{doc,gui} (#3144)
  deepmd/entrypoints/doc.py
  deepmd/entrypoints/gui.py
  deepmd_utils/entrypoints/__init__.py
  deepmd_utils/entrypoints/doc.py
  deepmd_utils/entrypoints/gui.py
Due: Python

cc: merge `DeepPotBase` members functions
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
Due: C++ API

cc: refactor DeepPot to support multiple backends (#3142)
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
Due: C++ API
