Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix jax
  .github/workflows/test_cc.yml
Due: none

skip model devi when tf is used and unavailable
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_jax.py
  source/lmp/tests/test_lammps_pd.py
  source/lmp/tests/test_lammps_pt.py
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
Due: LAMMPS

update UT flag strategy
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  source/tests/pd/test_multitask.py
Due: none

fix skipif
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/lmp/tests/test_lammps_jax.py
  source/lmp/tests/test_lammps_pd.py
  source/lmp/tests/test_lammps_pt.py
  source/lmp/tests/test_lammps_spin_nopbc_pt.py
  source/lmp/tests/test_lammps_spin_pt.py
Due: LAMMPS, i-Pi

change to stable paddle version
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

copy only when enabling paddle
  .github/workflows/test_cc.yml
Due: none

change stable version to a fix develop version
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

add xla,mlir to suppr
  .github/workflows/suppr.txt
Due: none

fix url
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
Due: none

disable FLAGS_use_stride_kernel only when on cpu
  source/tests/pd/test_multitask.py
Due: none

fix(pd): adapting code for hardware compatibility (#5047)
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  deepmd/pd/entrypoints/main.py
  deepmd/pd/utils/auto_batch_size.py
  deepmd/pd/utils/env.py
  deepmd/pd/utils/utils.py
  source/tests/pd/conftest.py
  source/tests/pd/test_multitask.py
Due: Python

fix(script): standardize conditional syntax in test_cc_local.sh
  source/install/test_cc_local.sh
Due: none

CI: bump Python maximum test version to 3.13
  .github/workflows/test_python.yml
Due: none

Update Python version in CI workflow
  .github/workflows/test_python.yml
Due: none

add Python 3.13 classifier
  pyproject.toml
Due: none

breaking: stop providing CUDA 11 pre-built wheels (#5080)
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  backend/find_pytorch.py
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  pyproject.toml
  source/install/docker/Dockerfile
Due: none

CI: bump Python maximum test version to 3.13 (#5086)
  .github/workflows/test_python.yml
  pyproject.toml
Due: none

fix(pt/pd): fix type hints of `DeepEval.get_model_def_script()`
  deepmd/pd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
Due: Python

fix: test and fix `DeepEval.get_model_def_script()` for all backends
  deepmd/dpmodel/infer/deep_eval.py
  source/tests/consistent/io/test_io.py
Due: Python

fix model_def_script in HLO
  deepmd/jax/infer/deep_eval.py
Due: Python

add missing seed for descriptors in examples
  examples/water/dpa2/input_torch_compressible.json
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/input_torch_dynamic.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e3_tebd/input_torch.json
  examples/water_multi_task/pytorch_example/input_torch.json
  examples/water_multi_task/pytorch_example/input_torch_sharefit.json
  examples/water_multi_task/pytorch_example/input_torch_with_alias.json
Due: none

Chore (examples): add missing seed for descriptors in examples (#5098)
  examples/water/dpa2/input_torch_compressible.json
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
  examples/water/dpa3/input_torch.json
  examples/water/dpa3/input_torch_dynamic.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e3_tebd/input_torch.json
  examples/water_multi_task/pytorch_example/input_torch.json
  examples/water_multi_task/pytorch_example/input_torch_sharefit.json
  examples/water_multi_task/pytorch_example/input_torch_with_alias.json
Due: none

fix(jax): setattr case_embd
  deepmd/jax/fitting/fitting.py
Due: Python

array api strict
  source/tests/array_api_strict/fitting/fitting.py
Due: none

fix(dpmodel): fix rmse_* in more_loss
  deepmd/dpmodel/loss/ener.py
Due: Python

Fix pt model loading with non-matching state dictionaries (init from tf2pt model)
  deepmd/pt/train/training.py
Due: Python

add unit test for pb2pth model
  deepmd/pt/train/training.py
  source/tests/pt/model/models/se_e2_a.json
  source/tests/pt/model/models/se_e2_a.pbtxt
  source/tests/pt/test_init_frz_model.py
Due: Python

revise err capture in loading stat_dict
  deepmd/pt/train/training.py
Due: Python

adapt coderabbit comment about adding explict assertion of trainer init in UT
  source/tests/pt/test_init_frz_model.py
Due: none

fix(dpmodel): fix `rmse_*` in `more_loss` (#5105)
  deepmd/dpmodel/loss/ener.py
Due: Python

feat(pt): allow `--init-frz-model` for pt model converted from tf model (#5091)
  deepmd/pt/train/training.py
  source/tests/pt/model/models/se_e2_a.json
  source/tests/pt/model/models/se_e2_a.pbtxt
  source/tests/pt/test_init_frz_model.py
Due: Python

bump cuda to 12.9.1
  .github/workflows/test_cuda.yml
Due: none

eliminate code inconsistency raised by coderabbit
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

skip tests when the backend to test is unavailable
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_polar.py
Due: none

add UT for pt2tf model.deserialize
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_polar.py
Due: none

fix bug in setting sel_type of pt model
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  source/tests/pt/model/test_get_model.py
Due: Python

fix bug: reinit_exclude if fitting has this method
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Due: Python

add fitting.reinit_exclude for dpmodel; add UT
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
Due: Python

minor revision according to coderabbit
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/tf/model/model.py
  source/tests/pt/model/test_get_model.py
Due: Python
