Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

fix(dpa1): harden higher-order moment support
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/dpa1_graph_common.cuh
  source/op/pt/dpa1_graph_compress_kernel.cuh
  source/op/pt/dpa1_moment_basis.cuh
  source/tests/common/dpmodel/test_descriptor_dpa1.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_dpa1.py
Due: Python, OP, Core

fix(lmdb): keep a lost decoder from stranding the training run
  deepmd/dpmodel/utils/lmdb_data.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

test(pt): cover DPA4 exclusions and retry synchronization
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/test_multitask.py
Due: none

fix(lmdb): keep batch grouping and collation consistent with parallel decode
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

fix(lmdb): synchronize distributed batch scheduling
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/lmdb_dataset.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/pt/test_lmdb_dataloader.py
  source/tests/pt_expt/test_lmdb_training.py
  source/tests/pt_expt/utils/test_env.py
Due: Python

test(lmdb): make decoder failure injection deterministic
  source/tests/common/dpmodel/test_lmdb_data.py
Due: none

fix(pair-tab): use a scale-aware tolerance for the grid spacing check
  deepmd/utils/pair_tab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
Due: Python

docs(backend): document tf2 and exportable backends
  doc/backend.md
  doc/freeze/compress.md
  doc/freeze/freeze.md
  doc/train/training.md
Due: none

docs(jax): document training and hessian freeze
  doc/backend.md
  doc/freeze/freeze.md
  doc/model/overall.md
  doc/model/train-energy-hessian.md
  doc/train/training.md
Due: none

docs(model): update backend support icons
  doc/backend.md
  doc/freeze/compress.md
  doc/freeze/freeze.md
  doc/model/dpa2.md
  doc/model/dpa3.md
  doc/model/dpa4.md
  doc/model/dprc.md
  doc/model/linear.md
  doc/model/pairtab.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-property.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  doc/train/training.md
Due: none

docs(argcheck): address backend support review
  deepmd/utils/argcheck.py
  source/tests/common/test_argcheck_backend_docs.py
Due: Python

docs(argcheck): fix remaining support labels
  deepmd/utils/argcheck.py
  source/tests/common/test_argcheck_backend_docs.py
Due: Python

fix(pt_expt): harden training runtime setup
  deepmd/pt/utils/compile_compat.py
  deepmd/pt_expt/train/training.py
  deepmd/pt_expt/utils/graph_builder.py
  source/tests/pt/test_hybrid_muon.py
  source/tests/pt_expt/compile_utils.py
  source/tests/pt_expt/model/test_graph_builder_dispatch.py
  source/tests/pt_expt/test_multitask.py
  source/tests/pt_expt/test_training.py
  source/tests/pt_expt/test_training_ddp.py
Due: Python

docs(backend): address review feedback
  doc/backend.md
  doc/model/train-fitting-dos.md
Due: none

fix(pt): sort compressed se_atten lower nlist
  deepmd/pt/model/descriptor/se_atten.py
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/model/test_compressed_se_atten_forward_lower.py
  source/tests/pt/test_model_compression_se_atten.py
  source/tests/pt/test_tabulate_fusion_se_atten.py
Due: Python, OP

docs(backend): clarify DPA4 spin ABI
  doc/backend.md
Due: none

fix(train): scope statistics cache lifecycle (#5883)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/train/data.py
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/dpmodel/utils/stat.py
  deepmd/jax/common.py
  deepmd/jax/train/trainer.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/sezm_atomic_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/pt_expt/train/training.py
  deepmd/tf2/entrypoints/train.py
  deepmd/tf2/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/stat_file.py
  source/tests/common/dpmodel/test_train_data.py
  source/tests/common/stat_file.py
  source/tests/common/test_stat_file.py
  source/tests/jax/test_model_factory.py
  source/tests/jax/test_training.py
  source/tests/pt/test_stat_file_mode.py
  source/tests/pt_expt/test_entrypoint.py
  source/tests/pt_expt/test_training.py
  source/tests/tf2/test_training.py
Due: Python

refactor(descriptor): split needs-exchange from supports-edge-parallel
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt/model/model/sezm_model.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
Due: Python

feat(dpmodel): promote export-time questions to atomic-model capabilities
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/descriptor/dpa2.py
  source/tests/common/dpmodel/test_atomic_model_capabilities.py
Due: Python

refactor(pt_expt): hoist graph with-comm exportable into make_model
  deepmd/pt_expt/model/ener_model.py
  deepmd/pt_expt/model/make_model.py
  deepmd/pt_expt/train/training.py
Due: Python

fix(tabulate): address sorted-padding review feedback
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

refactor(pt_expt): serialization consumes atomic-model capabilities
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/model/test_export_with_comm.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

fix(pt_expt): composition-safe ntypes/compile/bridging config paths
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/model/get_model.py
  deepmd/pt_expt/model/native_spin_model.py
  deepmd/pt_expt/train/training.py
  source/tests/pt_expt/model/test_get_model_bridging.py
Due: Python

feat(pt_expt): autograd for border_op_backward (transpose of border_op)
  deepmd/pt_expt/utils/comm.py
  source/tests/pt_expt/utils/test_border_op_backward.py
Due: Python

feat(dpmodel): SFPG gate accepts a cross-rank partial-completion hook
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
Due: Python

feat(pt_expt): complete the SFPG gate across ranks via border-op pair
  deepmd/pt_expt/descriptor/dpa4.py
  source/tests/pt_expt/model/test_dpa4_zbl_parallel.py
Due: Python

fix(tabulate): handle empty SE-A neighbors
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_a.cc
Due: Core

fix(rocm): keep tabulation barriers uniform
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_r.cc
  source/lib/tests/test_tabulate_se_t.cc
Due: Core

fix(ops): validate tabulation tensor shapes
  source/lib/include/tabulate_validation.h
  source/op/pt/tabulate_multi_device.cc
  source/op/tf/tabulate_multi_device.cc
  source/tests/pt/test_tabulate_fusion_se_atten.py
  source/tests/tf/test_tabulate_shape_validation.py
Due: OP, Core

fix(tabulate): preserve SE-T polynomial cache
  source/lib/src/gpu/tabulate.cu
  source/lib/tests/test_tabulate_se_t.cc
Due: Core

feat(pt_expt): bridged DPA4 compositions export the with-comm artifact
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/common/dpmodel/test_atomic_model_capabilities.py
  source/tests/common/dpmodel/test_descrpt_dpa4.py
  source/tests/infer/gen_dpa4_zbl.py
  source/tests/pt_expt/model/test_dpa4_zbl_parallel.py
  source/tests/pt_expt/model/test_export_with_comm.py
  source/tests/pt_expt/model/test_zbl_bridging.py
Due: Python

feat(pt): SFPG cross-rank completion on the pt edge path
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt/model/descriptor/sezm_nn/edge_cache.py
  deepmd/pt/model/model/sezm_model.py
  source/tests/pt/model/test_sezm_parallel.py
  source/tests/pt/model/test_sezm_parallel_bridging_parity.py
Due: Python

fix(docs): resolve re-exported linkcode members
  doc/github_linkcode.py
  pyproject.toml
  source/tests/test_doc_linkcode.py
Due: none

docs(tf): clarify ProdForceGrad raw-op contract
  source/op/tf/prod_force_grad.cc
Due: OP

fix(tf2): isolate SavedModel neighbor-list test
  deepmd/tf2/infer/deep_eval.py
  source/tests/tf2/test_deep_eval.py
Due: Python

fix(tf): clamp NaN NVNMD map inputs
  source/op/tf/map_flt_nvnmd.cc
  source/tests/tf/test_nvnmd_op.py
Due: OP

fix(tf2): preserve optional list sentinels
  deepmd/tf2/common.py
  source/tests/tf2/test_dpa4.py
Due: Python

test(pt): cover tabulation gradient size guards
  source/tests/pt/test_tabulate_gpu_size_validation.py
Due: none

style(loss): remove trailing spaces from errors
  deepmd/dpmodel/loss/ener.py
  deepmd/pt/loss/ener.py
Due: Python
