Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

skip no balance test
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

docs: fix convert svg error on RTD (#3688)
  .readthedocs.yml
Due: none

ci: format bibtex (#3687)
  .pre-commit-config.yaml
  CITATIONS.bib
Due: none

docs: replace apidoc with autoapi
  doc/conf.py
  doc/index.rst
  pyproject.toml
Due: none

require sphinx-autoapi>=3.0.0; will it work?
  pyproject.toml
Due: none

remove duplicated extension
  doc/conf.py
Due: none

exhale pin should not be required
  doc/requirements.txt
  pyproject.toml
Due: none

rm sphinx_markdown_tables
  pyproject.toml
Due: none

why the latest sphinx doesn't work?
  doc/requirements.txt
Due: none

only build PDF in addition to HTML
  .readthedocs.yml
Due: none

set the proper title
  doc/index.rst
Due: none

docs: fix RTD timeout issue (#3694)
  .readthedocs.yml
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
  pyproject.toml
Due: none

ci(build): use uv for cibuildwheel
  pyproject.toml
Due: none

fix OSError on win
  pyproject.toml
Due: none

update lmp test data
  source/lmp/tests/test_lammps_dpa_pt.py
Due: LAMMPS

Reformat DPA1
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa1_bk.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/network/layernorm.py
  deepmd/pt/model/network/network.py
  deepmd/tf/descriptor/se.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/env.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/network.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  examples/water/se_atten/input_torch.json
  node_modules/.cache/prettier/.prettier-caches/9be9545d53bb64e65febe2ff48926b4145285f3a.json
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/water/se_atten.json
Due: Python

remove bk files
  deepmd/dpmodel/descriptor/dpa1_bk.py
  node_modules/.cache/prettier/.prettier-caches/9be9545d53bb64e65febe2ff48926b4145285f3a.json
Due: Python

Fix typo in `smooth_type_embdding`
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_se_atten.py
Due: Python

fix typo
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/pt/model/test_dpa1.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_se_atten.py
Due: Python

Update source/op/pt/comm.cc
  source/op/pt/comm.cc
Due: OP

throw error when compiled with mpi without cuda support
  source/op/pt/comm.cc
Due: OP

support mpich
  source/op/pt/comm.cc
Due: OP

include errors.h
  source/op/pt/comm.cc
Due: OP

add alias
  deepmd/utils/argcheck.py
Due: Python

Cleanup params to be consistent
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/env.py
  source/tests/consistent/descriptor/test_dpa1.py
Due: Python

Update dpa1.py
  deepmd/dpmodel/descriptor/dpa1.py
Due: Python

Add trainable option for layernorm
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/network/layernorm.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/utils/network.py
  deepmd/utils/argcheck.py
Due: Python

Updated docstr
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa1.py
Due: Python

remove DPDescrptDPA1 test from pt/model/test_dpa1
  source/tests/pt/model/test_dpa1.py
Due: none

rm default value for version check
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten.py
Due: Python

Update ut model
  source/tests/pt/model/models/dpa1.pth
  source/tests/pt/model/models/dpa2.pth
  source/tests/pt/model/models/dpa2_hyb.json
Due: none

Fix numeric tests for layernorm
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_model_se_atten.py
Due: none

Fix typo in `smooth_type_embdding` (#3698)
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_se_atten.py
Due: Python

chore: move save_dp_model and load_dp_model to a seperated module
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/serialization.py
Due: Python

update docs
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
Due: Python
