Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix XLA_FLAGS
  deepmd/jax/env.py
Due: Python

add doc
  doc/env.md
  doc/troubleshooting/howtoset_num_nodes.md
Due: none

I don;t understand why the tests fail randomly agter I add some tests...
  source/tests/jax/jax2tf/__init__.py
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

typo
  source/tests/jax/jax2tf/__init__.py
Due: none

Add pt compression doc (#4299)
  doc/freeze/compress.md
Due: none

release memory?
  source/tests/conftest.py
Due: none

--cov-append
  .github/workflows/test_python.yml
Due: none

feat(pt): DPA-2 repinit compress
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/utils/tabulate.py
  source/tests/pt/model/test_compressed_descriptor_dpa2.py
Due: Python

try scope module
  source/tests/conftest.py
Due: none

set compress attr
  deepmd/pt/model/descriptor/dpa2.py
Due: Python

feat(pt): calculate stat during compression if `--skip-neighbor-stat`
  deepmd/pt/entrypoints/compress.py
  deepmd/pt/entrypoints/main.py
  source/tests/pt/test_model_compression_se_a.py
Due: Python

Revert "try scope module"
  source/tests/conftest.py
Due: none

Revert "release memory?"
  source/tests/conftest.py
Due: none

Revert "typo"
  source/tests/jax/jax2tf/__init__.py
Due: none

Revert "I don;t understand why the tests fail randomly agter I add some tests..."
  source/tests/jax/jax2tf/__init__.py
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

Revert "set NPROC"
  source/tests/__init__.py
Due: none

Revert "set xla flags before any imports"
  source/tests/__init__.py
  source/tests/jax/__init__.py
Due: none

Revert "limit threads during tests"
  source/tests/jax/__init__.py
  source/tests/jax/jax2tf/__init__.py
Due: none

Revert "try to resolve OOM issue"
  source/tests/consistent/io/test_io.py
Due: none

move the time-comsuming test out of main test
  source/tests/consistent/io/test_io.py
Due: none

fix typo in docstring
  deepmd/pt/model/descriptor/dpa2.py
Due: Python

update code as devel and fix typo
  deepmd/dpmodel/model/make_model.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/inference.py
  deepmd/pd/loss/loss.py
  deepmd/pd/model/__init__.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/backbone/__init__.py
  deepmd/pd/model/backbone/backbone.py
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/model/dp_model.py
  deepmd/pd/model/model/frozen.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/transform_output.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/model/task/ener.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/model/task/invar_fitting.py
  deepmd/pd/train/training.py
  deepmd/pd/train/wrapper.py
  deepmd/pd/utils/env_mat_stat.py
  deepmd/pd/utils/learning_rate.py
  deepmd/pd/utils/neighbor_stat.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/preprocess.py
  deepmd/pd/utils/region.py
  deepmd/pd/utils/serialization.py
  deepmd/pd/utils/stat.py
  source/tests/consistent/common.py
  source/tests/consistent/model/test_ener.py
  source/tests/consistent/test_neighbor_stat.py
  source/tests/pd/model/test_descriptor.py
  source/tests/pd/model/test_embedding_net.py
  source/tests/pd/model/test_jit.py
  source/tests/pd/test_lr.py
Due: Python

fix pth -> json
  deepmd/pd/entrypoints/main.py
Due: Python

fix: fix for `__array__` removal from array-api-strict (#4325)
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  pyproject.toml
  source/tests/common/dpmodel/array_api/test_env_mat.py
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/test_activation.py
  source/tests/consistent/test_type_embedding.py
Due: Python

try
  source/tests/jax/jax2tf/test_nlist.py
  source/tests/jax/jax2tf/test_region.py
Due: none

chore: avoid unnecessary deepcopy (#4327)
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_linear_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/property.py
  deepmd/tf/model/model.py
  source/tests/consistent/io/test_io.py
Due: Python

update unitest and training
  deepmd/pd/train/training.py
  source/tests/pd/model/test_region.py
Due: Python

install paddle when test_cuda
  .github/workflows/test_cuda.yml
Due: none

try to move jax2tf_tests to a different directory
  .github/workflows/test_python.yml
  pyproject.toml
  source/jax2tf_tests/__init__.py
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
Due: none

clean up
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
Due: none

fix unitest
  .pre-commit-config.yaml
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/task/invar_fitting.py
  source/tests/consistent/model/common.py
Due: Python

feat(pt): calculate stat during compression if `--skip-neighbor-stat` (#4330)
  deepmd/pt/entrypoints/compress.py
  deepmd/pt/entrypoints/main.py
  source/tests/pt/test_model_compression_se_a.py
Due: Python

add eta in logging message for convenient
  .pre-commit-config.yaml
  deepmd/loggers/training.py
  deepmd/pd/train/training.py
Due: Python

update ntypes_spin
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepSpinTF.cc
Due: C++ API

Update test_deepspin_a_hpp_tf.cc
  source/api_c/tests/test_deepspin_a_hpp_tf.cc
Due: C API

remove hybrid code and enable one unitest
  deepmd/pd/train/wrapper.py
  source/tests/pd/test_finetune.py
Due: Python

add uts
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deepspin_a_hpp_tf.cc
  source/api_c/tests/test_deepspin_model_devi_hpp.cc
  source/api_cc/include/DeepSpin.h
  source/api_cc/src/DeepSpin.cc
  source/api_cc/tests/test_deepspin_model_devi.cc
Due: C++ API, C API

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
