Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

codecov.yml:

ignore:
  - "source/**/tests"
  - "source/3rdparty"
coverage:
  status:
    project:
      default:
        threshold: 100%
    patch:
      default:
        threshold: 100%
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 100%
  individual_components:
    - component_id: module_python
      name: Python
      paths:
        - deepmd/**
        - deepmd_cli/**
    - component_id: module_op
      name: OP
      paths:
        - source/op/**
    - component_id: module_core
      name: Core
      paths:
        - source/lib/**
    - component_id: module_cpp
      name: C++ API
      paths:
        - source/api_cc/**
    - component_id: module_c
      name: C API
      paths:
        - source/api_c/**
    - component_id: module_lammps
      name: LAMMPS
      paths:
        - source/lmp/**
    - component_id: module_ipi
      name: i-Pi
      paths:
        - source/ipi/**

debug memory leak
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

add LAMMPS test
  source/lmp/tests/test_lammps_jax.py
Due: LAMMPS

delete accidentally added files
  source/lmp/tests/data.si
  source/lmp/tests/dump
  source/lmp/tests/in.read
  source/lmp/tests/pytest.yml
  source/lmp/tests/test_dplr/01.xyz
  source/lmp/tests/test_dplr/data.si
  source/lmp/tests/test_dplr/in.lammps
  source/lmp/tests/test_dplr/lmp.py
  source/lmp/tests/test_dplr/out.py
  source/lmp/tests/test_idx.py
  source/lmp/tests/test_write_full.py
  source/lmp/tests/write.out
Due: LAMMPS

fix memory leak in add_input
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

pass reference
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

delete function and retvals
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

fix(cmake): Replace deprecated FetchContent_Populate with FetchContent_MakeAvailable
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

no need to skip the test
  .github/workflows/test_cc.yml
Due: none

add limitation
  doc/backend.md
Due: none

fix tf string parse
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

bump cmake_minimum_required
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

Update source/api_cc/tests/test_deeppot_jax.cc
  source/api_cc/tests/test_deeppot_jax.cc
Due: C++ API

cast void*
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

handle zero atom
  source/api_cc/src/DeepPotJAX.cc
Due: C++ API

add test for lower
  source/tests/consistent/model/test_ener.py
Due: none

add pt command line end-to-end test
  source/tests/pt/common.py
  source/tests/pt/model_compression/data/set.000/box.npy
  source/tests/pt/model_compression/data/set.000/coord.npy
  source/tests/pt/model_compression/data/set.000/energy.npy
  source/tests/pt/model_compression/data/set.000/force.npy
  source/tests/pt/model_compression/data/type.raw
  source/tests/pt/model_compression/data/type_map.raw
  source/tests/pt/model_compression/input.json
  source/tests/pt/test_model_compression_se_a.py
Due: none

fix(cmake): Replace deprecated `FetchContent_Populate` with `FetchContent_MakeAvailable` (#4309)
  source/lmp/plugin/CMakeLists.txt
Due: LAMMPS

fix env code
  deepmd/pd/utils/env.py
Due: Python

add main for test
  source/tests/pt/test_model_compression_se_a.py
Due: none

fix(jax): calculate virial in `call_lower` (#4304)
  deepmd/jax/model/base_model.py
  source/tests/consistent/model/test_ener.py
Due: Python

fix memory leak
  source/api_c/include/deepmd.hpp
Due: C API

add virtual methods
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/lmp/pair_base.h
Due: C API, LAMMPS

Update deepmd.hpp
  source/api_c/include/deepmd.hpp
Due: C API

rename compute_spin to compute
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepSpin.h
  source/api_cc/src/DeepSpin.cc
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
  source/api_cc/tests/test_deeppot_tf_spin.cc
  source/lmp/pair_deepspin.cpp
Due: C++ API, C API, LAMMPS

fix(pt): store `min_nbor_dist` in the state dict
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/model.py
Due: Python

fix: make sure `head` can be used in `DeepPot`"
  deepmd/calculator.py
Due: Python

fix(lmp): add `pair_deepmd_index` key to `is_key` function in `fix_dplr.cpp`
  source/lmp/fix_dplr.cpp
  source/lmp/tests/test_dplr.py
Due: LAMMPS

update nopbc test
  source/api_cc/tests/test_deeppot_dpa_pt_spin.cc
Due: C++ API

make delete a func
  deepmd/pt/train/training.py
  source/tests/pt/test_training.py
Due: Python

deal with triclinic case for rebuilding neighborlist in setup_post_neighbor
  source/lmp/fix_dplr.cpp
Due: LAMMPS

clean up
  source/lmp/fix_dplr.cpp
Due: LAMMPS

delete unused lines
  source/lmp/fix_dplr.cpp
Due: LAMMPS

add test
  source/lmp/tests/test_dplr.py
Due: LAMMPS

check atom_map
  source/lmp/fix_dplr.cpp
Due: LAMMPS

feat(jax): DPA-2 for LAMMPS
  .pre-commit-config.yaml
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepPotJAX.cc
  source/lib/include/neighbor_list.h
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_dpa_jax.py
  source/tests/infer/deeppot_dpa.savedmodel/.gitignore
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
  source/tests/infer/deeppot_dpa.savedmodel/variables/variables.data-00000-of-00001
  source/tests/infer/deeppot_dpa.savedmodel/variables/variables.index
Due: Core, C++ API, C API, LAMMPS

fix(jax): fix several serialization and jit issues
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/model/ener_model.py
Due: Python

use the cpu model
  source/tests/infer/deeppot_dpa.savedmodel/fingerprint.pb
  source/tests/infer/deeppot_dpa.savedmodel/saved_model.pb
Due: none

fix function name
  source/api_c/include/c_api.h
Due: C API
