Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(pt): sort nlist for compressed se_e2_a in forward_lower
  deepmd/pt/model/descriptor/se_a.py
  source/tests/pt/model/test_compressed_se_a_forward_lower.py
Due: Python

fix(pt_expt): address review findings on DPA4 PR (trainable=False freeze, component type validation)
  deepmd/pt_expt/descriptor/dpa4.py
  deepmd/pt_expt/model/get_model.py
  source/tests/pt_expt/descriptor/test_dpa4.py
  source/tests/pt_expt/model/test_get_model_dpa4.py
Due: Python

fix(pt): HybridMuon ZeRO checkpoint slowdown
  deepmd/pt/optimizer/hybrid_muon.py
  deepmd/pt/train/training.py
Due: Python

fix
  deepmd/pt/train/training.py
  deepmd/pt/train/utils.py
  source/tests/pt/test_train_utils.py
Due: Python

feat(pt/ptexpt): Filter LAMMPS neighbor lists by model cutoff
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/api_cc/tests/test_deeppot_ptexpt.cc
  source/api_cc/tests/test_neighbor_list_data.cc
Due: C++ API

Update dpa_adapt scripts and docs
  doc/dpa_adapt/README.md
  examples/dpa_adapt/scripts/prepare_data.py
  examples/dpa_adapt/scripts/run_evaluate.py
Due: none

Handle path-like pretrained model paths
  dpa_adapt/_backend.py
  dpa_adapt/trainer.py
Due: none

Update dpa_adapt README example
  doc/dpa_adapt/README.md
Due: none

refactor(jax): auto-convert dpmodel modules
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
  deepmd/jax/common.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/descriptor/dpa2.py
  deepmd/jax/descriptor/dpa3.py
  deepmd/jax/descriptor/hybrid.py
  deepmd/jax/descriptor/repflows.py
  deepmd/jax/descriptor/repformers.py
  deepmd/jax/descriptor/se_atten_v2.py
  deepmd/jax/descriptor/se_e2_a.py
  deepmd/jax/descriptor/se_e2_r.py
  deepmd/jax/descriptor/se_t.py
  deepmd/jax/descriptor/se_t_tebd.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/model/dp_model.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/utils/exclude_mask.py
  deepmd/jax/utils/network.py
  deepmd/jax/utils/type_embed.py
Due: Python

refactor(tests): auto-convert array-api-strict modules
  source/tests/array_api_strict/common.py
  source/tests/array_api_strict/descriptor/__init__.py
  source/tests/array_api_strict/descriptor/dpa1.py
  source/tests/array_api_strict/descriptor/dpa2.py
  source/tests/array_api_strict/descriptor/dpa3.py
  source/tests/array_api_strict/descriptor/hybrid.py
  source/tests/array_api_strict/descriptor/repflows.py
  source/tests/array_api_strict/descriptor/repformers.py
  source/tests/array_api_strict/descriptor/se_atten_v2.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_r.py
  source/tests/array_api_strict/descriptor/se_t.py
  source/tests/array_api_strict/descriptor/se_t_tebd.py
  source/tests/array_api_strict/fitting/__init__.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/array_api_strict/utils/exclude_mask.py
  source/tests/array_api_strict/utils/network.py
  source/tests/array_api_strict/utils/type_embed.py
Due: none

feat(dpa_adapt): auto-read fparam.npy for all strategies, remove conditions= param
  doc/dpa_adapt/README.md
  dpa_adapt/config/manager.py
  dpa_adapt/finetuner.py
  dpa_adapt/predictor.py
  dpa_adapt/trainer.py
Due: none

fix(jax): support older flax nnx imports
  deepmd/jax/common.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/dp_zbl_model.py
Due: Python

test(pt): add compressed se_r forward_lower regression guard
  source/tests/pt/model/test_compressed_se_r_forward_lower.py
Due: none

test(pt): compare compressed se_r vs uncompressed on the same nlist
  source/tests/pt/model/test_compressed_se_r_forward_lower.py
Due: none

docs(test): correct se_r forward_lower rationale (format_nlist pad branch)
  source/tests/pt/model/test_compressed_se_r_forward_lower.py
Due: none

fix(test): unpack charge_spin in test_pt2_dual_artifact_for_gnn (#5523)
  source/tests/pt_expt/model/test_export_with_comm.py
Due: none

fix(pt,dpmodel): drop out-of-rcut neighbors in _format_nlist pad branch
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
  source/tests/pt/model/test_format_nlist_overcut.py
Due: Python

docs(dpa_adapt): clarify group_by usage for cross-validation
  doc/dpa_adapt/README.md
Due: none

docs: move fparam derivative compute to standalone section
  doc/third-party/lammps-command.md
Due: none

refactor(api_cc): load backends as plugins
  source/api_c/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/BackendPlugin.h
  source/api_cc/include/common.h
  source/api_cc/include/commonTF.h
  source/api_cc/src/BackendPlugin.cc
  source/api_cc/src/BackendPluginFactory.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAXPlugin.cc
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/DeepPotPDPlugin.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotPTExpt.cc
  source/api_cc/src/DeepPotPTExptPlugin.cc
  source/api_cc/src/DeepPotPTPlugin.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepPotTFPlugin.cc
  source/api_cc/src/DeepSpin.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/DeepSpinPTExpt.cc
  source/api_cc/src/DeepSpinTF.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorPT.cc
  source/api_cc/src/DeepTensorTF.cc
  source/api_cc/src/common.cc
Due: C++ API, C API

ci: speed up slow test workflows
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  source/install/test_cc_local.sh
Due: none

test(dpmodel): cover _format_nlist pad-branch rcut filter
  source/tests/common/dpmodel/test_format_nlist_overcut.py
Due: none

refactor(jax): auto-convert dpmodel modules (#5527)
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/atomic_model/linear_atomic_model.py
  deepmd/jax/atomic_model/pairtab_atomic_model.py
  deepmd/jax/common.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/descriptor/dpa2.py
  deepmd/jax/descriptor/dpa3.py
  deepmd/jax/descriptor/hybrid.py
  deepmd/jax/descriptor/repflows.py
  deepmd/jax/descriptor/repformers.py
  deepmd/jax/descriptor/se_atten_v2.py
  deepmd/jax/descriptor/se_e2_a.py
  deepmd/jax/descriptor/se_e2_r.py
  deepmd/jax/descriptor/se_t.py
  deepmd/jax/descriptor/se_t_tebd.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/dp_model.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/utils/exclude_mask.py
  deepmd/jax/utils/network.py
  deepmd/jax/utils/type_embed.py
Due: Python

perf(dpa4): opt so3grid
  deepmd/pt/model/descriptor/sezm_nn/grid_net.py
Due: Python

Add tensor unit options to fix cboamd
  source/lmp/fix_cboamd.cpp
  source/lmp/fix_cboamd.h
Due: LAMMPS

refactor(tests): auto-convert array-api-strict modules (#5528)
  source/tests/array_api_strict/common.py
  source/tests/array_api_strict/descriptor/__init__.py
  source/tests/array_api_strict/descriptor/dpa1.py
  source/tests/array_api_strict/descriptor/dpa2.py
  source/tests/array_api_strict/descriptor/dpa3.py
  source/tests/array_api_strict/descriptor/hybrid.py
  source/tests/array_api_strict/descriptor/repflows.py
  source/tests/array_api_strict/descriptor/repformers.py
  source/tests/array_api_strict/descriptor/se_atten_v2.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_r.py
  source/tests/array_api_strict/descriptor/se_t.py
  source/tests/array_api_strict/descriptor/se_t_tebd.py
  source/tests/array_api_strict/fitting/__init__.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/array_api_strict/utils/exclude_mask.py
  source/tests/array_api_strict/utils/network.py
  source/tests/array_api_strict/utils/type_embed.py
Due: none

fix
  deepmd/dpmodel/descriptor/dpa4_nn/block.py
  deepmd/dpmodel/descriptor/dpa4_nn/ffn.py
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

fix(dpa4): convert rebuilt index buffers via to_numpy_array in deserialize (CUDA)
  deepmd/dpmodel/descriptor/dpa4_nn/activation.py
  deepmd/dpmodel/descriptor/dpa4_nn/norm.py
  deepmd/dpmodel/descriptor/dpa4_nn/so2.py
  deepmd/dpmodel/descriptor/dpa4_nn/so3.py
Due: Python

fix(api_cc): route pbtxt conversion through backend plugin
  source/api_cc/include/BackendPlugin.h
  source/api_cc/src/BackendPlugin.cc
  source/api_cc/src/DeepPotTFPlugin.cc
  source/api_cc/src/common.cc
Due: C++ API

fix(dpa4): convert mean/stddev/wigner buffers via to_numpy_array in serialize (CUDA)
  deepmd/dpmodel/descriptor/dpa4.py
Due: Python

fix(tests/dpa_adapt): update tests for removed conditions= param and numb_fparam key
  source/tests/dpa_adapt/test_conditions.py
  source/tests/dpa_adapt/test_fparam.py
Due: none

Fix CBOAMD photon output and force units
  source/lmp/fix_cboamd.cpp
  source/lmp/fix_cboamd.h
Due: LAMMPS

Fix CBOAMD force unit constant
  source/lmp/fix_cboamd.h
Due: LAMMPS

fix(api_cc): keep tensorflow cc linked in backend plugin
  source/api_cc/CMakeLists.txt
Due: C++ API

feat(pt_expt): DPA4 descriptor and fitting (training + export) (#5522)
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/dpmodel/descriptor/dpa4_nn/activation.py
  deepmd/dpmodel/descriptor/dpa4_nn/edge_cache.py
  deepmd/dpmodel/descriptor/dpa4_nn/embedding.py
  deepmd/dpmodel/descriptor/dpa4_nn/grid_net.py
  deepmd/dpmodel/descriptor/dpa4_nn/indexing.py
  deepmd/dpmodel/descriptor/dpa4_nn/norm.py
  deepmd/dpmodel/descriptor/dpa4_nn/projection.py
  deepmd/dpmodel/descriptor/dpa4_nn/radial.py
  deepmd/dpmodel/descriptor/dpa4_nn/so2.py
  deepmd/dpmodel/descriptor/dpa4_nn/so3.py
  deepmd/dpmodel/descriptor/dpa4_nn/wignerd.py
  deepmd/dpmodel/fitting/dpa4_ener.py
  deepmd/pt_expt/common.py
  deepmd/pt_expt/descriptor/__init__.py
  deepmd/pt_expt/descriptor/dpa4.py
  deepmd/pt_expt/fitting/__init__.py
  deepmd/pt_expt/fitting/dpa4_ener.py
  deepmd/pt_expt/model/get_model.py
  source/tests/consistent/descriptor/test_dpa4.py
  source/tests/consistent/fitting/test_dpa4_ener.py
  source/tests/pt/model/test_dpa4_ptexpt_grad_parity.py
  source/tests/pt_expt/descriptor/test_dpa4.py
  source/tests/pt_expt/fitting/test_dpa4_ener.py
  source/tests/pt_expt/model/test_get_model_dpa4.py
  source/tests/pt_expt/test_training.py
Due: Python

feat(dpa4): use edge force and atomic virial (#5518)
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/descriptor/sezm_nn/edge_cache.py
  deepmd/pt/model/descriptor/sezm_nn/utils.py
  deepmd/pt/model/model/sezm_model.py
  deepmd/pt/model/model/transform_output.py
  source/tests/pt/model/test_sezm_model.py
  source/tests/pt/model/test_sezm_spin_model.py
Due: Python

feat(pt/ptexpt): freeze parameters when infer only (#5512)
  deepmd/pt/optimizer/KFWrapper.py
  deepmd/pt/train/wrapper.py
  deepmd/pt_expt/train/wrapper.py
  source/tests/pt/test_wrapper.py
  source/tests/pt_expt/test_wrapper.py
Due: Python

feat(pt): avoid grad clip sync (#5519)
  deepmd/pt/train/training.py
  deepmd/pt/train/utils.py
  source/tests/pt/test_train_utils.py
Due: Python

fix(api_cc): address backend plugin review comments
  doc/env.md
  doc/inference/cxx.md
  source/api_cc/CMakeLists.txt
  source/api_cc/src/BackendPlugin.cc
Due: C++ API

docs(api_cc): document no-backend plugin build
  doc/inference/cxx.md
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
