Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

Update argcheck.py
  deepmd/utils/argcheck.py
Due: Python

Update ener_hess.py
  deepmd/pt/loss/ener_hess.py
Due: Python

Update __init__.py
  deepmd/pt/loss/__init__.py
Due: Python

Update training.py
  deepmd/pt/train/training.py
Due: Python

Update test.py
  deepmd/entrypoints/test.py
Due: Python

simplify code and only support json and pd
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/model/frozen.py
  deepmd/pd/model/network/init.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/model/network/mlp.py
  deepmd/pd/model/network/network.py
  deepmd/pd/optimizer/KFWrapper.py
  deepmd/pd/optimizer/LKF.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/init.py
  deepmd/pd/utils/serialization.py
  deepmd/pd/utils/utils.py
  source/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
Due: Python, C++ API

Fix get_generator
  deepmd/pd/utils/utils.py
Due: Python

Update train-energy-hessian.md
  doc/model/train-energy-hessian.md
Due: none

set default NUM_WORKERS to 0
  deepmd/pd/utils/env.py
Due: Python

fix LOCAL_RANK
  deepmd/pd/utils/env.py
Due: Python

feat(pt): support `DeepEval.eval_descriptor` (#4214)
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/dp_model.py
  source/tests/infer/test_models.py
Due: Python

fix: fix average training time for restart (#4212)
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
Due: Python

fix(pt): keep mapping not none during lmp steps when nghost == 0 (#4209)
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Due: C++ API

Update c_api.h
  source/api_c/include/c_api.h
Due: C API

feat(jax/array-api): se_e2_a
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

feat(jax/array-api): DOS fitting
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/jax/fitting/fitting.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_dos.py
Due: Python

chore: move `LearningRateExp` to `deepmd.utils.learning_rate`
  deepmd/pt/utils/learning_rate.py
  deepmd/utils/learning_rate.py
Due: Python

Apply suggestions from code review
  source/tests/consistent/fitting/test_dos.py
Due: none

nopbc mpi test
  source/lmp/tests/run_mpi_pair_deepmd.py
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
Due: LAMMPS

fix filename
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
Due: LAMMPS

Update deepmd/dpmodel/utils/nlist.py
  deepmd/dpmodel/utils/nlist.py
Due: Python

Apply suggestions from code review
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: none

skip
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
Due: LAMMPS

Update deepmd/utils/learning_rate.py
  deepmd/utils/learning_rate.py
Due: Python

fix(pt): make PT training step idx consistent with TF
  deepmd/pt/train/training.py
Due: Python

Update deepmd/pt/train/training.py
  deepmd/pt/train/training.py
Due: Python

feat(jax/array-api): se_e2_a (#4217)
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Due: Python

feat(jax/array-api): DOS fitting (#4218)
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/jax/fitting/fitting.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_dos.py
Due: Python

fix(pt): make int `rcut` safe after jit op
  deepmd/pt/utils/neighbor_stat.py
Due: Python

Chore(pt):rm old pt implementation
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/backbone/__init__.py
  deepmd/pt/model/backbone/backbone.py
  deepmd/pt/model/backbone/evoformer2b.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/repformer_layer_old_impl.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/atten_lcc.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/model/test_se_e2_a.py
Due: Python

feat(pt): support CPU parallel training with PT
  deepmd/pt/entrypoints/main.py
Due: Python

Chore(pt): refactor the command function interface
  deepmd/pt/entrypoints/main.py
Due: Python

fix ut
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/test_init_frz_model.py
Due: none

fix(pt): make PT training step idx consistent with TF (#4221)
  deepmd/pt/train/training.py
Due: Python

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
