Repository deepmodeling/deepmd-kit: changes, and which Codecov flags are due for each by the changed paths.
All: Python, OP, Core, C++ API, C API, LAMMPS, i-Pi

fix(lammps): register Kokkos plugin styles (#5988)
  source/lmp/plugin/deepmdplugin.cpp
Due: LAMMPS

fix(pt_expt): read DEVICE at call time in the auto batch size
  deepmd/pt_expt/utils/auto_batch_size.py
Due: Python

test(pt_expt): import the compress module one way
  source/tests/pt_expt/test_compress_min_nbor_dist.py
Due: none

fix(ci): stabilize DPA4 acceleration coverage
  deepmd/pt/utils/compile_compat.py
  source/tests/pt/model/test_descriptor_sezm_train_paths.py
  source/tests/pt/test_compile_compat.py
  source/tests/pt_expt/descriptor/test_dpa4_train_paths.py
Due: Python

fix(pt): serialize grouped property fitting state
  deepmd/pt/model/task/group_property.py
  source/tests/pt/test_group_property_fitting_net.py
  source/tests/pt/test_group_property_hardening.py
Due: Python

fix(tf): validate inferred protobuf prefix
  source/cmake/Findtensorflow.cmake
Due: none

refactor(data): use dpdata transactional LMDB writer
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  pyproject.toml
  source/tests/common/test_data_system_conversion.py
Due: Python

fix(data): harden dpdata LMDB conversion
  deepmd/dpmodel/utils/lmdb_data.py
  deepmd/entrypoints/test.py
  deepmd/jax/entrypoints/train.py
  deepmd/pd/entrypoints/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt_expt/entrypoints/main.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf2/entrypoints/train.py
  deepmd/utils/data_system.py
  source/tests/common/dpmodel/test_lmdb_data.py
  source/tests/common/test_data_system_conversion.py
  source/tests/pt_expt/test_lmdb_training.py
Due: Python

fix(pt): stabilize accelerated execution paths
  deepmd/pt/entrypoints/freeze_pt2.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/descriptor/sezm_nn/wignerd.py
  deepmd/pt/utils/compile_compat.py
  deepmd/pt_expt/descriptor/dpa1.py
  deepmd/pt_expt/kernels/triton/env_mat.py
  source/op/pt/cpu/graph_fitting_cpu.cc
  source/tests/pt/model/test_descriptor_sezm_triton.py
  source/tests/pt/model/test_env_mat_triton.py
  source/tests/pt/model/test_sezm_export.py
  source/tests/pt/test_compile_compat.py
  source/tests/pt_expt/descriptor/test_dpa1.py
  source/tests/pt_expt/descriptor/test_dpa4c_cpu.py
  source/tests/pt_expt/kernels/conditioning.py
  source/tests/pt_expt/kernels/test_so2_value_train.py
  source/tests/pt_expt/utils/test_edge_env_mat_triton.py
  source/tests/pt_expt/utils/test_serialization_kernel_levels.py
Due: Python, OP

fix(pt-expt): map PT SeZM lower ABI to graph
  deepmd/pt_expt/utils/serialization.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python

fix(pt_expt): run cell graph search on CPU
  deepmd/pt_expt/infer/deep_eval.py
  deepmd/pt_expt/utils/cell_graph_builder.py
  source/tests/pt_expt/infer/test_deep_eval_pt_checkpoint.py
Due: Python

fix(pt): harden fused DPA4 edge cases
  deepmd/pt/model/descriptor/sezm_nn/block.py
  deepmd/pt/model/descriptor/sezm_nn/so2.py
  deepmd/pt_expt/kernels/cuda/dpa4/so2_conv.py
  deepmd/pt_expt/kernels/cuda/dpa4/so2_conv_train.py
  deepmd/pt_expt/kernels/triton/sezm/flash_atten.py
  deepmd/pt_expt/kernels/triton/sezm/grid_pair.py
  deepmd/pt_expt/kernels/triton/sezm/so2_value_path.py
  source/op/pt/dpa4/mixing_train.cu
  source/op/pt/dpa4/so2_conv.cu
  source/op/pt/dpa4/so2_conv_kernel.cuh
  source/tests/pt/model/test_descriptor_sezm_cuda.py
  source/tests/pt/model/test_descriptor_sezm_triton.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
  source/tests/pt_expt/kernels/test_grid_pair_train.py
  source/tests/pt_expt/kernels/test_so2_value_train.py
  source/tests/pt_expt/utils/test_cell_graph_builder.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
Due: Python, OP

refactor(dpmodel): clarify nopbc mesh semantics
  deepmd/dpmodel/utils/batch.py
  source/tests/common/test_batch_nopbc.py
Due: Python

test(common): make EMA schema fixture valid
  source/tests/common/test_argcheck_training.py
Due: none

fix(pt-expt): resolve lower ABI by target capability
  deepmd/backend/backend.py
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/utils/serialization.py
  deepmd/entrypoints/convert_backend.py
  deepmd/pt_expt/utils/serialization.py
  doc/backend.md
  source/tests/common/dpmodel/test_serialization.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
  source/tests/test_convert_backend.py
Due: Python

feat(dpa4): split edge_norm into per-site [radial, film, focus] switches
  deepmd/dpmodel/descriptor/dpa4.py
  deepmd/pt/model/descriptor/sezm.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_descriptor_sezm.py
  source/tests/pt/model/test_dpa4_dpmodel_parity.py
Due: Python

feat(dpa4): fold the focus competition norm into the fused value kernel
  deepmd/pt_expt/kernels/cuda/dpa4/so2_conv_train.py
  source/op/pt/dpa4/so2_conv_train.cu
  source/op/pt/dpa4/so2_conv_train/instantiate.cuh
  source/op/pt/dpa4/so2_conv_train/kernels.cuh
  source/tests/pt_expt/kernels/test_so2_value_train.py
Due: Python, OP

fix(pt-expt): support frozen DPA4C compression
  deepmd/kernels/cuda/dpa4c/graph_compress.py
  deepmd/pt_expt/descriptor/dpa4c.py
  source/tests/pt_expt/descriptor/test_dpa4c.py
Due: Python

test(pt-expt): verify frozen DPA4C parameters
  source/tests/pt_expt/descriptor/test_dpa4c.py
Due: none

fix(pt-expt): preserve lower semantics in backend conversion (#5975)
  deepmd/backend/backend.py
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/utils/serialization.py
  deepmd/entrypoints/convert_backend.py
  deepmd/jax/utils/serialization.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/utils/serialization.py
  deepmd/pt_expt/utils/serialization.py
  deepmd/tf/utils/serialization.py
  deepmd/tf2/utils/serialization.py
  doc/backend.md
  source/tests/common/dpmodel/test_serialization.py
  source/tests/consistent/io/test_io.py
  source/tests/jax/test_hlo.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt_expt/utils/test_graph_pt2_metadata.py
  source/tests/test_convert_backend.py
  source/tests/tf2/test_serialization.py
Due: Python

fix(pt-expt): harden Neo CuTe integration
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt_expt/kernels/cute/sezm/k1.py
  deepmd/pt_expt/kernels/cute/sezm/k1_kernels/cute_neo_phase_a_radial_forward.py
  deepmd/pt_expt/kernels/cute/sezm/k1_kernels/cute_neo_phase_c_onepass.py
  deepmd/pt_expt/kernels/cute/sezm/k1_kernels/cute_neo_radial_phase_a_backward_node.py
  deepmd/pt_expt/kernels/cute/sezm/k1_message_grid_packed.py
  deepmd/pt_expt/kernels/cute/sezm/k1_radial_phase_a_node.py
  deepmd/pt_expt/kernels/cute/sezm/message_grid_gaunt_sm90.py
  deepmd/pt_expt/kernels/cute/sezm/output_grid_kernels/cute_readout_l0.py
  deepmd/pt_expt/kernels/cute/sezm/sm90_k1/final_phase_c.py
  deepmd/pt_expt/kernels/cute/sezm/sm90_k1/phase_a_backward.py
  deepmd/pt_expt/kernels/cute/sezm/sm90_k1/phase_c_attention_backward.py
  deepmd/pt_expt/kernels/cute/sezm/sm90_k1/runner.py
  doc/install/easy-install.md
  source/tests/pt/model/test_descriptor_sezm_block_ffn_grid_fusion.py
  source/tests/pt/model/test_descriptor_sezm_cute_k1_manual_adjoints.py
  source/tests/pt/model/test_descriptor_sezm_cute_k1_phase_c_inplace_adjoint.py
  source/tests/pt/model/test_descriptor_sezm_cute_k1_radial_focus_fusion.py
  source/tests/pt/model/test_descriptor_sezm_cute_k1_radial_pitch68_safe.py
  source/tests/pt/model/test_sezm_model.py
Due: Python

fix(pt): remove stale CuTe metadata re-export
  deepmd/pt/model/descriptor/sezm.py
  deepmd/pt/model/descriptor/sezm_nn/edge_cache.py
  source/tests/pt/model/sezm_cute/test_so2_dst_ptr.py
Due: Python

fix(pt): pass device and dtype in SeZMDeNSFittingNet.deserialize
  deepmd/pt/model/descriptor/sezm_nn/dens.py
Due: Python

fix(pt-expt): support Neo CuTe without focus normalization
  deepmd/pt_expt/kernels/cute/sezm/so2/kernels/focus_source_backward.py
  deepmd/pt_expt/kernels/cute/sezm/so2/kernels/phase_c_backward.py
  deepmd/pt_expt/kernels/cute/sezm/so2/operation.py
  deepmd/pt_expt/kernels/cute/sezm/so2/phase_c.py
  deepmd/pt_expt/kernels/cute/sezm/so2/runner.py
  deepmd/pt_expt/kernels/cute/sezm/so2/sm90/phase_c_attention_backward.py
  deepmd/pt_expt/kernels/cute/sezm/so2/sm90/runner.py
  source/tests/pt/model/sezm_cute/test_so2.py
  source/tests/pt_expt/descriptor/test_dpa4_accelerated.py
Due: Python

fix(pt-expt): support frozen DPA4C compression (#6005)
  deepmd/pt_expt/descriptor/dpa4c.py
  deepmd/pt_expt/kernels/dpa4c/graph_compress.py
  source/tests/pt_expt/descriptor/test_dpa4c.py
Due: Python

fix(pair-tab): store the validated grid step instead of the first interval
  deepmd/utils/pair_tab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
Due: Python

docs(pair-tab): document the uniform distance grid requirement
  doc/model/pairtab.md
Due: none

fix(dpmodel): handle zero-node DPA4C spin graphs
  deepmd/dpmodel/descriptor/dpa4c_nn/spin.py
  source/tests/common/dpmodel/test_descriptor_dpa4c.py
  source/tests/pt_expt/descriptor/test_dpa4c.py
Due: Python

fix(dpmodel): map DPA4 charge-spin conditions to ragged frames
  deepmd/dpmodel/descriptor/dpa4.py
  source/tests/common/dpmodel/test_dpa4_call_graph.py
  source/tests/pt_expt/descriptor/test_dpa4.py
  source/tests/pt_expt/model/test_dpa4_graph_lower.py
Due: Python

feat: add named model presets for DPA4 and DPA4C
  deepmd/dpmodel/train/entrypoint.py
  deepmd/pd/entrypoints/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  deepmd/utils/model_preset.py
  doc/model/dpa4.md
  doc/model/dpa4c.md
  doc/model/overall.md
  examples/water/dpa4/README.md
  examples/water/dpa4/input_preset.json
  examples/water/dpa4c/README.md
  source/tests/common/test_examples.py
  source/tests/common/test_model_preset.py
Due: Python

fix(test): exclude virtual atoms from force and Hessian metrics
  deepmd/infer/model_test/ener.py
  source/tests/common/test_dp_test_virtual_atoms.py
  source/tests/pt/test_dp_test_virtual_atoms.py
Due: Python

fix(preset): honor top-level model regions in multi-task expansion
  deepmd/utils/model_preset.py
  source/tests/common/test_model_preset.py
Due: Python

feat(preset): expand multi-task shared entries from the top-level preset
  deepmd/utils/model_preset.py
  doc/model/dpa4.md
  examples/water/dpa4/README.md
  examples/water/dpa4/input_multitask_preset.json
  source/tests/common/test_examples.py
  source/tests/common/test_model_preset.py
Due: Python

fix(test): exclude padding from spin force metrics
  deepmd/infer/model_test/ener.py
  source/tests/common/test_dp_test_spin_virtual_atoms.py
  source/tests/pt/test_dp_test_spin_virtual_atoms.py
Due: Python

docs(test): describe virtual-atom regression cases
  source/tests/common/test_dp_test_virtual_atoms.py
  source/tests/pt/test_dp_test_virtual_atoms.py
Due: none

Path conditions:
  Python: any of: deepmd/**, deepmd_cli/**, but not: source/**/tests, source/3rdparty
  OP: any of: source/op/**, but not: source/**/tests, source/3rdparty
  Core: any of: source/lib/**, but not: source/**/tests, source/3rdparty
  C++ API: any of: source/api_cc/**, but not: source/**/tests, source/3rdparty
  C API: any of: source/api_c/**, but not: source/**/tests, source/3rdparty
  LAMMPS: any of: source/lmp/**, but not: source/**/tests, source/3rdparty
  i-Pi: any of: source/ipi/**, but not: source/**/tests, source/3rdparty
